[2020-10-02 07:21] przemyslavic opened #1729 "[BUG] Vault fails to install after changing helm to use localhost"
**Describe the bug**
Vault installation fails after recent changes to `helm` and `kubectl` now executed locally.

**To Reproduce**
Deploy a new cluster from develop branch with the configuration given below: `epicli apply -f test.yml`
**Config files**

[code]

**Expected behavior**
The cluster with Vault enabled has been deployed successfully

**OS (please complete the following information):**
 -

[2020-10-02 07:25] przemyslavic commented on #1672
The installation fails after introducing local `helm`.
The role should be refactored according to the latest changes to use **local `helm`** and **local `kubectl`**.
Issue reported: [[BUG] Vault fails to install after changing helm to use localhost #1729](https://github.com/epiphany-platform/epiphany/issues/1729)

[2020-10-02 08:20] mkyc commented on #1729
It should be dependent on https://github.com/epiphany-platform/epiphany/pull/1713/files#diff-159f36a47f14363d0d5c1a05e2504f9cR124

[2020-10-02 08:31] sk4zuzu commented on #1298
Update:
1. First of all we decided to 86 kerberos, we don't want to look at it again (ever).
2. NFS could be useful in some cases, but probably "CNS" is the way to go here.
3. Despite 1. and 2. the idea is still valid. The simplest example is that `apt` manager in Ubuntu may stop working if time is incorrect (difference is too large). I had this issue couple of times in my local libvirt infrastruc

[2020-10-02 08:42] rpudlowski93 commented on #64
We should still take into consideration changing filebeat to something else. In epiphany 0.8 we are going to release AKS and EKS option, and we need something cloud native, running for example as DaemonSet. We can run filebeat as DaemonSet but right now we use filebeat as sysem service with auditd module installed manually for audit logs what won't work in case of DaemonSets and autoscaling option

[2020-10-02 08:45] erzetpe commented on #1729
Yes, this is dependend on PR #1713.

[2020-10-02 09:13] mkyc commented on #1700
We should also have a look at [this](https://github.com/epiphany-platform/m-azure-basic-infrastructure/pull/17) PR from @seriva if it solves OS problems.

[2020-10-02 09:14] mum0l commented on #1513
After creating VPC basing on those docs: https://docs.aws.amazon.com/eks/latest/userguide/create-public-private-vpc.html I was able to successfully deploy the EKS cluster using previously created VPC. After cluster deletion my VPC has been not deleted, so everything works properly.

[2020-10-02 09:14] ar3ndt commented on #1316
LGTM

[2020-10-02 10:10] przemyslavic commented on #1530
I can't reproduce the problem on the current develop branch. It's quite possible that updating the version of kubernetes and network plugins may have fixed it.

[2020-10-02 10:12] mkyc commented on #64
@rpudlowski93 we should change this task into spike instead of feature-request.

[2020-10-02 10:47] atsikham commented on #1622
Verified that infrastructure created without any issues. But I would like to see how to destroy created resources in readme:

[code]

[2020-10-02 11:04] ar3ndt commented on #1729
installation of Vault Helm chart needs helm binary installed on kubernetes master. I will add it.
it doesn't require helm repository itself as installation uses download_file task independently though it uses docker image from repository
quick fix already tested

[2020-10-02 11:17] mkyc commented on #1622
Sure, I added separate task for this, not to stop that issue in pipeline.

[2020-10-02 11:22] plirglo commented on #1721
Description says it all

[2020-10-02 12:58] atsikham commented on #1624
Can be tested together wit this task - https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/m-azure-kubernetes-service/3

[2020-10-02 14:12] rpudlowski93 commented on #1670
- FIlebeat as DaemonSet for "k8s as cloud service" using Helm and archived chart file - Done in PR #1730

[2020-10-02 14:18] przemyslavic commented on #1640
Tested:
- single machine
- multi master

on:
- `Ubuntu`/`RHEL` x `AWS`/`Azure`

**Requires additional testing with Vault enabled after bugfix for [#1729](https://github.com/epiphany-platform/epiphany/issues/1729/) which @ar3ndt  is working on (due to planned changes in the repository/helm roles).**

[2020-10-05 10:40] atsikham commented on #1624
Verified in different regions, but for some regions there is an error related to resource unavailability in the region. Probably we need some mention in documentation about supported regions.

[code]

[2020-10-05 23:34] sk4zuzu commented on #1715
POC: https://github.com/sk4zuzu/m-classic-epiphany-on-aks/pull/1 :+1::innocent:

[2020-10-06 00:31] sunshine69 commented on #1702
- Surely we want to make things right for everybody forever.

You can set the behavior what hosts the ASG will kill off when downsizing

There are complexity we need to address in order to make it work for most cases (not all as you may never be able to achieve it anyway). The AWS ASG one is an example.

However using hostname sort we can still do it. What I did before is that modifying the Launch

[2020-10-06 01:55] sunshine69 commented on #1702
Let me know the way I propose for the ASG LC is OK so I can go ahead and implement it?

[2020-10-06 06:39] rafzei commented on #1224
@przemyslavic is this still valid? Could you provide more details like:
- is AWS, other cni plugins also affected?
- it appeared only with one instance of logging vm?

[2020-10-06 08:10] rafzei commented on #1539
I've put estimates to '2', if you disagree, please change it.

[2020-10-06 08:17] mkyc commented on #1224
Looks like duplicate of #922

[2020-10-06 08:18] #1289 closed

[2020-10-06 08:19] erzetpe commented on #1289
Task done already.

[2020-10-06 08:34] sk4zuzu commented on #1189
Judging from this comment and from the title of the issue `Add offline repository creation for helm charts and installation of helm charts from local repository` this feature is actually currently implemented for the "system" repo. :female_detective:

1. Is the above statement correct? :thinking:
2. Can we change the title so it includes "system repo" and close the issue? :thinking:

@ar3ndt @erze

[2020-10-06 08:48] mum0l commented on #1224
Yup, looks like duplicate. We need to get answers for Rafal comments first, and then we can start the investigation.

[2020-10-06 08:52] mkyc commented on #1719
This task fixes issue introduced in #1140

[2020-10-06 08:57] mkyc commented on #1672
PR related to #1729 is already merged

[2020-10-06 09:05] #1513 closed

[2020-10-06 09:09] #1654 closed

[2020-10-06 09:16] #1316 closed

[2020-10-06 09:20] #1622 closed

[2020-10-06 09:21] #1721 closed

[2020-10-06 09:25] #1624 closed

[2020-10-06 09:40] to-bar commented on #922
We need to fix this issue before releasing 0.5.5, 0.6.1 and 0.7.2.

[2020-10-06 09:59] to-bar commented on #1224
The root cause of this issue is that in `epirepo` we have `elasticsearch-oss` package in version 6.x.y and 7.v.z as well, and the latter obsoletes the former, i.e. `yum` "implicitly" installs 7.v.z instead of 6.x.y.
Closing as duplicate of #922.

[2020-10-06 09:59] #1224 closed

[2020-10-06 10:03] to-bar commented on #1224
Duplicate of #922

[2020-10-06 10:05] mkyc commented on #922
@to-bar can you create backport issues? We should not solve all those with one issue.

[2020-10-06 10:50] to-bar opened #1735 "[BACKPORT] [RHEL/CentOS] Elasticsearch v6 stops working after epicli upgrade - 0.5.x backport"
We need to backport task #922 to version 0.5.x

[2020-10-06 10:55] to-bar opened #1736 "[BACKPORT] [RHEL/CentOS] Elasticsearch v6 stops working after epicli upgrade - 0.6.x backport"
We need to backport task #922 to version 0.6.x

[2020-10-06 10:57] to-bar opened #1737 "[BACKPORT] [RHEL/CentOS] Elasticsearch v6 stops working after epicli upgrade - 0.7.x backport"
We need to backport task #922 to version 0.7.x

[2020-10-06 11:07] atsikham commented on #1724
It's possible to reproduce initial issue with tag `v0.7.0`. Verified on `v0.7` branch.

[2020-10-06 11:20] sk4zuzu opened #1739 "[FEATURE REQUEST] Use built-in Prometheus exporter in HAProxy 2.2"
**Is your feature request related to a problem? Please describe.**
We recently upgraded HAProxy in Epiphany. We still use old solution for exporting HAProxy metrics to Prometheus though... :'C

**Describe the solution you'd like**
BLOG POST: https://www.haproxy.com/blog/haproxy-exposes-a-prometheus-metrics-endpoint/

Our new HAProxy solution seems to have Prometheus plugin compiled-in https://gith

[2020-10-06 12:26] mum0l commented on #1673
This ticket is related to EKS/AWS integration, so this must be completed before testing.

To test it, use the following variable in YAML config file, to enable node-exported installation as Daemonset.
`  cloud:
    k8s_as_cloud_service: False`

[2020-10-06 12:30] mkyc commented on #1715
I left first review. This PR is huge but very valuable! Good job @sk4zuzu :+1:

[2020-10-06 12:55] mkyc commented on #1006
@toszo as we are releasing 0.8.0 in couple next days, it looks like we no longer support 0.4.x versions. Shall we close this issue then without resolution as outdated?

[2020-10-06 13:07] mkyc commented on #1446
@sk4zuzu can you help me with that issue? In theory it is no longer required and eventually it will be modules dependency mechanism what would be responsible for that. But AFAIK there is still possibility to install Epiphany on AzBI and AzKS and deploy Kubernetes-master and Kubernetes-nodes on AzBI provided machines ... and in result have two kubernetes clusters in environment.

[2020-10-06 13:16] mkyc commented on #1447
As this is solved with modules mechanism and local kubernetes was introduced in #1654 it should be closed.

[2020-10-06 13:17] mkyc commented on #1448
As this is solved with modules mechanism and local kubernetes was introduced in #1654 it should be closed.

[2020-10-06 14:53] toszo commented on #1006
Yes, close it.

[2020-10-06 14:56] atsikham opened #1741 "[BUG] Upgrade doesn't work with ERROR epicli - No such attribute: cloud"
**Describe the bug**
Upgrade process finishes with an error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy v0.6 cluster on Azure.
2. Run upgrade from `develop` branch.

**Expected behavior**
Successful upgrade.

**Config files**
[code]

**OS (please complete the following information):**
 - OS: Ubuntu, but it doesn't matter

**Cloud Environment (please complete the following

[2020-10-06 14:57] atsikham commented on #1647
Unable to upgrade, bug #1741 is created.

[2020-10-06 15:04] mkyc commented on #1590
@mum0l what is output of this task?

[2020-10-06 15:06] mkyc commented on #1322
Is there any PR to be connected to this issue?

[2020-10-06 15:17] mkyc commented on #1006
Closing as outdated.

[2020-10-06 15:17] #1006 closed

[2020-10-06 15:34] to-bar commented on #1741
It seems to be similar case to #909

[2020-10-06 16:48] to-bar opened #1742 "[BUG] [RHEL/CentOS] [v0.5.x] epicli apply fails on task 'postgresql : Install pgaudit package'"
**Describe the bug**
The 'postgresql : Install pgaudit package' task fails on RHEL when `specification.extensions.pgaudit.enabled` is set as `true`.
[code]

**OS:**
- RHEL7/CentOS7

**Cloud Environment (please complete the following information):**
 - Azure/AWS

**Additional context**
It seems only 0.5.x Epiphany versions are affected. Since 0.6.x PostgreSQL is not installed from Software Collecti

[2020-10-06 18:30] sk4zuzu opened #1743 "[BUG] Virtual machine "kind" mismatch"
**Describe the bug**
In the cluster config we use `infrastructure/machine` documents to define virtual machines:
https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/any/defaults/configuration/minimal-cluster-config.yml#L50

But the `infrastructure/machine.yml` template seems to have different "kind":
https://github.com/epiphany-platform/epiphany/blob/develop/core/src/ep

[2020-10-07 07:10] rafzei commented on #1719
On block because of https://github.com/epiphany-platform/epiphany/issues/1741

[2020-10-07 07:38] rpudlowski93 opened #1745 "[BUG] Wrong condition in Vault installation process"
**Describe the bug**
There is a wrong condition in this PR: #1731. Flag: k8s_as_cloud_service is defined always so right now we always skip vault installation on master node.

[code]

**To Reproduce**
Deploy Your cluster with enabled vault:
[code]

**Expected behavior**
Install vault on master node when vault is enabled

It is necessary to change the condition in vault role to the following:
[code

[2020-10-07 08:15] to-bar commented on #849
Work on this tasks was stopped but for sure have to be continued. I have old feature branch `fix/os-firewall` with not merged changes, however they are not completed.

[2020-10-07 09:07] rpudlowski93 commented on #1729
@mkyc Yes, we tested it but as I noticed today morning, not enough. I found bug related to the PR and reported it here #1745.
With the change reported in the bug I tested it and it works properly, @ar3ndt should fixed it very fast (small change)

[2020-10-07 09:23] mum0l commented on #1322
@mkyc yes it is: https://github.com/epiphany-platform/epiphany/pull/1717

[2020-10-07 10:17] plirglo commented on #1635
Unable to test - getting error during upgrade:
[code]

Similar issue what we have with task: #1647

Bug already created: #1741

[2020-10-07 11:09] rafzei opened #1747 "[BUG] epicli upgrade failed on filebeat upgrade"
**Describe the bug**
Error during an upgrade. Filebeat task file not found.

**To Reproduce**
Steps to reproduce the behavior:
1. epicli apply (v0.6)
2. epicli upgrade (develop branch)

**Expected behavior**
Successfully upgraded environment.

**OS (please complete the following information):**
 - all

**Cloud Environment (please complete the following information):**
 - all

**Additional context*

[2020-10-07 11:48] atsikham commented on #1729
Could someone please add correct dependencies to this task in dependencies section and move to correct state? It's not ready for test.

[2020-10-07 11:56] rpudlowski93 commented on #1729
@atsikham - sure! It will be ready to test after marge the PR realted to #1745 :)

[2020-10-07 13:37] rpudlowski93 commented on #1745
Tested - works fine.
I install the vault on kubernetes master when the flag k8s_as_cloud_service is false without any errors.
Vault works fine and I tested it using the following scenario: [link](https://github.com/epiphany-platform/epiphany/issues/1338#issuecomment-651687655)

[2020-10-07 13:52] rpudlowski93 commented on #1729
PR #1748 merged

Using the following configuation with enabled vault:
[code]

installation process finished without any errors. Helm was installed properly on master node and all necessary files were downloaded correctly from separated repository.

Tested on **Azure** and **single master node**.

[2020-10-07 14:04] rpudlowski93 commented on #1640
Bugfix #1729 fixed.

I installed the vault on kubernetes master when the flag k8s_as_cloud_service was false without any errors.
Vault works fine with the seperated repository and I tested the vault using the following scenario: [link](https://github.com/epiphany-platform/epiphany/issues/1338#issuecomment-651687655)

All necessary binaries/files were downloaded properly from separated repository t

[2020-10-07 14:05] to-bar opened #1751 "[BUG] [v0.6] epicli upgrade from Epiphany v0.5 fails on K8s part"
**Describe the bug**
It seems there are two issues:

1) Task [upgrade : upgrade-master | Upgrade K8s cluster to v1.16.7 (using kubeadm-config.yml file)] fails with error: [ERROR CoreDNSMigration]
[code]
This issue was fixed in version 0.7.1, see related PR #1431

2) TASK [kubernetes_master : Run secrets encryption] fails with error "The connection to the server 10.1.1.7:6443 was refused", after up

[2020-10-07 17:06] rpudlowski93 commented on #1747
Fixed in PR #1752
Upgrade tested and works fine

[2020-10-08 07:31] rafzei commented on #1635
Fix merged into develop [#1750](https://github.com/epiphany-platform/epiphany/pull/1750)

[2020-10-08 07:43] #1747 closed

[2020-10-08 07:44] rafzei commented on #1647
Fix merged into develop [#1750](https://github.com/epiphany-platform/epiphany/pull/1750)

[2020-10-08 08:06] #1737 closed

[2020-10-08 08:07] #1724 closed

[2020-10-08 08:10] #1447 closed

[2020-10-08 08:10] #1448 closed

[2020-10-08 08:18] #1542 closed

[2020-10-08 08:19] #1722 closed

[2020-10-08 08:23] #1742 closed

[2020-10-08 08:24] #1735 closed

[2020-10-08 08:25] #1745 closed

[2020-10-08 08:26] #1729 closed

[2020-10-08 08:32] #1637 closed

[2020-10-08 09:40] to-bar opened #1754 "[BUG] epicli apply fails on task [vault : Run configuration script] for K8s HA"
**Describe the bug**
Vault Agent Helm chart is installed on all K8s masters but only on one the installation succeeds.

**Expected behavior**
Build should not fail. Vault installed on one master.

**Config file snippets**
[code]

**OS (please complete the following information):**
 - OS: All

**Cloud Environment (please complete the following information):**
 - Azure and AWS

**Additional context*

[2020-10-08 10:26] mkyc commented on #1672
Task #1754 is also fix for this general one. @erzetpe and @atsikham should we close this one as to general?

[2020-10-08 11:23] sk4zuzu opened #1756 "[FEATURE REQUEST] Separate role vars and manifest vars generation during upgrades"
**Is your feature request related to a problem? Please describe.**
In this PR https://github.com/epiphany-platform/epiphany/pull/1619 a helper mechanism was introduced to make it possible during upgrades to re-use role config docs taken from manifest.

Currenly it's not enabled for all roles. Also currently enabling manifest vars implies generation of default vars as well. This may cause some issu

[2020-10-08 13:28] mkyc commented on #1641
[AzBI 0.0.1 release](https://github.com/epiphany-platform/m-azure-basic-infrastructure/releases/tag/v0.0.1)

Pull:
[code]

Run:
[code]

[2020-10-08 13:29] to-bar commented on #1754
For 0.8.0-RC1 we have working fix, for GA we should take into account that Vault can be configured to be installed on different host than `kubernetes_master` since it doesn't require K8s. I'm going to test such scenario.

[2020-10-08 13:31] mkyc commented on #1641
[AzKS 0.0.1 release](https://github.com/epiphany-platform/m-azure-kubernetes-service/releases/tag/v0.0.1)

Pull:
[code]

Run:
[code]

[2020-10-08 13:33] mkyc commented on #1641
[AwsBI 0.0.1 release](https://github.com/epiphany-platform/m-aws-basic-infrastructure/releases/tag/v0.0.1)

Pull:
[code]

Run:
[code]

[2020-10-08 13:36] mkyc commented on #1641
[AwsKS 0.0.1 release](https://github.com/epiphany-platform/m-aws-kubernetes-service/releases/tag/v0.0.1)

Pull:
[code]

Run:
[code]

[2020-10-08 14:28] erzetpe commented on #1707
We also have no authentication for our registry.

[2020-10-08 15:05] to-bar opened #1758 "[FEATURE REQUEST] Allow RC versions for cli.engine.schema.SchemaValidator"
**Is your feature request related to a problem? Please describe.**
SchemaValidator doesn't allow `rc` suffix in version name.

`ERROR cli.engine.schema.SchemaValidator - '0.8.0rc1\n' does not match '^((\\d+\\.)(\\d+\\.)(\\d))$'`

**Describe the solution you'd like**
Versions like `0.8.0rc1` should be allowed.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2020-10-08 17:13] mkyc opened #1760 "Pipeline to test AzBI module"
**Is your feature request related to a problem? Please describe.**
Create pipeline to run tests on PR merge

**Describe the solution you'd like**
Pipeline should invoke tests already prepared in #1674

[2020-10-08 17:16] mkyc commented on #1760
This was separated from #1642

[2020-10-08 17:19] mkyc opened #1761 "Pipeline to test AwsBI module"
**Is your feature request related to a problem? Please describe.**
Create pipeline to run tests on PR merge
**Describe the solution you'd like**
Pipeline should invoke tests prepared in #1676
**Describe alternatives you've considered**
No.
**Additional context**
Check #1641 for information how t was done for AZBI module.

[2020-10-08 17:22] mkyc commented on #1761
This task was separated from #1643

[2020-10-08 17:35] mkyc commented on #1760
@plirglo I believe this one is what you already did in #1641

[2020-10-09 06:37] atsikham commented on #1672
I think we can close this one, but we need to have some task about vault deployment in AKS/EKS.

[2020-10-09 09:20] seriva commented on #1700
After a bit of research I think that we should **NOT** try and make testing/developing the modules OS independent. Linux and Mac should work fine and on Windows there are some easy ways to work around the issues.

For development I think we should add a VSCode devcontainer to every module (Already added to 3 of 5 we have now). This is not only useful on Windows but can also aid during development

[2020-10-09 09:27] erzetpe opened #1764 "[FEATURE REQUEST] TLS support for docker repository"
**Is your feature request related to a problem? Please describe.**
We need to have protected TLS communication with docker repository.

**Describe the solution you'd like**
Add TLS support as an option to our docker repository and add capability for it's usage for services that are using this.

**Describe alternatives you've considered**
None.

**Additional context**
No.

[2020-10-09 09:32] erzetpe opened #1765 "[FEATURE REQUEST] Add authentication support to docker repository"
**Is your feature request related to a problem? Please describe.**
We need to have authentication option for  communication with docker repository.

**Describe the solution you'd like**
Add authentication support as an option to our docker repository and add capability for its usage for services that are using this.

**Describe alternatives you've considered**
None.

**Additional context**
No.

--

[2020-10-09 10:35] sk4zuzu commented on #1765
IMHO, things to consider:
1. client certificates
2. password authentication
:)

[2020-10-09 10:58] atsikham commented on #1707
Verified [PR](https://github.com/epiphany-platform/epiphany/pull/1732/files) with latest `develop` changes by deploying `rabbitmq` app. Templates are processed correctly according to [settings](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/applications/tasks/deploy-k8s-app.yml#L66-L76).

[2020-10-09 11:11] atsikham commented on #1760
@plirglo shoudn't this task be closed or moved to DoD?
https://abb-epiphany.visualstudio.com/epiphany/_build/results?buildId=3637&view=logs&j=275f1d19-1bd8-5591-b06b-07d489ea915a&t=29b11093-f299-52c9-fc3e-b4e81abf4ac1

[2020-10-09 12:40] atsikham commented on #1567
Repo was moved, references updated.

[2020-10-09 13:11] atsikham commented on #1741
will be tested by @to-bar together with #1647

[2020-10-09 13:51] to-bar commented on #1647
With PR #1718 we have introduced Jinja template for jvm.options file. This file defines JVM heap size (`Xmx`). The default is 1 GB but Elasticsearch doc says:

So it is very likely that one could increase the JVM heap size. But for `epicli upgrade` we do not support defining custom values for new configuration settings. The setting `specification.jvm_options` has been introduced in 0.8.0rc1.
Curre

[2020-10-09 14:07] to-bar commented on #1719
With PR #1718 we have introduced Jinja template for jvm.options file. This file defines JVM heap size (`Xmx`). The default is 1 GB but Elasticsearch doc says:

So it is very likely that one could increase the JVM heap size. But for `epicli upgrade` we do not support defining custom values for new configuration settings. The setting `specification.jvm_options` has been introduced in v0.8.0rc1.
Curr

[2020-10-09 16:06] to-bar commented on #1741
Test OK (from 0.7.2 to develop).

[2020-10-09 16:14] to-bar commented on #1647
Test OK (upgrade from v0.7.2 to develop). Additional changes planned as #1719.

[2020-10-12 07:58] rpudlowski93 commented on #1647
Tested from my side. Upgrade completed properly.

[2020-10-12 08:13] mkyc commented on #1760
Yeah, it should together with #1641 @plirglo please do things with this task.

[2020-10-12 08:56] rpudlowski93 commented on #846
@to-bar Shouldn't we consider upgrading filebeat to the lastest version 7.9.2? For AKS/EKS I already added filebeat as daemonset in the latest version 7.9.2 ( don't want to add new feature in old version ). It could be nice to have the same version in both scenarios.

[2020-10-12 09:00] atsikham commented on #1674
@mkyc what I found, can be fixed in other tasks:
* Test report file name is `repot.xml`, shouldn't it be `report.xml`?
* No description about dependencies that should be installed to run tests, such as `go`, `go-junit-report`, `yq`.
* Licenses information is not updated according to the point above.

[2020-10-12 09:16] rafzei commented on #846
We will upgrade elasticsearch-oss to version 7.9.1 (#1719) as we have to upgrade ODFE to 1.10.1 ([7.9.1 is 1.10.1](https://opendistro.github.io/for-elasticsearch-docs/version-history/))
AFAIK its not recomended to have version mismatch so we should upgrade filebeat-oss to 7.9.1 as well.

[2020-10-12 14:00] plirglo commented on #1760
I'm moving it to "ready to test" phase since it's already in use but maybe someone ( @przemyslavic ) should look at this before close:

https://abb-epiphany.visualstudio.com/epiphany/_build?definitionId=87

[2020-10-12 14:25] plirglo commented on #1465
Also having the same error with online installation.

Machine config:
[code]

[2020-10-12 14:27] plirglo commented on #1635
Tested on Ubuntu / Azure.

[2020-10-12 14:27] sk4zuzu commented on #1715
Repository have been renamed and moved here https://github.com/epiphany-platform/m-generic-epiphany-on-aks.

[2020-10-12 14:37] mkyc commented on #1760
Ok, I added correct PR to this task. @plirglo please assign yourself because in fact it was you who did it.

[2020-10-12 15:07] mum0l commented on #921
I was able to deploy epiphany, with separated HA PostgreSQL machine. To enable pgbouncer log rotation, we need to add the following code into our main build YAML file:
`yaml
---
kind: configuration/postgresql
title: PostgreSQL
name: default
specification:
  config_file:
    parameter_groups:
(...)
  extensions:
    pgaudit:
      enabled: yes
(...)
    pgbouncer:
      enabled: yes
    replication

[2020-10-13 08:12] #1758 closed

[2020-10-13 08:15] #1707 closed

[2020-10-13 08:18] #1647 closed

[2020-10-13 08:21] #1670 closed

[2020-10-13 08:24] atsikham commented on #1642
Discussed with @plirglo how to create pipelines in Azure Devops. At this moment this task is blocked by https://github.com/epiphany-platform/m-azure-kubernetes-service/pull/2 and changes requested there.

[2020-10-13 08:26] #1673 closed

[2020-10-13 08:29] #1694 closed

[2020-10-13 08:33] #1695 closed

[2020-10-13 08:43] #1674 closed

[2020-10-13 08:48] #1567 closed

[2020-10-13 10:07] mum0l commented on #921
PGBouncer log rotation, and sending logs into ELK stack works properly on Ubuntu host.
Will check the RedHat deployment now.

[2020-10-13 10:28] to-bar commented on #1754
Tested installation with the following changes (only parts of docs):

[code]

and got error:
[code]

[2020-10-13 10:46] to-bar commented on #1754
/azp run

[2020-10-13 11:12] mkyc commented on #1641
I tested it on my own while releasing modules.

[2020-10-13 11:22] mkyc commented on #1641
Releases modules directory:

![Modules releases directory](https://user-images.githubusercontent.com/28505782/95853870-5b987a00-0d56-11eb-8b91-8498bad86ce9.png)

Example part of DockerHub release task:

![DockerHub release tast](https://user-images.githubusercontent.com/28505782/95854004-97334400-0d56-11eb-9252-380f5dc0b69e.png)

Example part of GitHub release task:

![GitHub release task](https:/

[2020-10-13 13:01] mkyc commented on #1700
@atsikham can you validate what @seriva wrote? Some comment how you configured your environment would be also helpful.

[2020-10-13 13:02] mkyc commented on #1636
@sk4zuzu would you add some comment on that? I believe we tested it, so maybe we can move it further?

[2020-10-13 13:08] mkyc commented on #1760
I can confirm that it works on merge web hook. I was checking it while doing PR's for release.

![automatic tests](https://user-images.githubusercontent.com/28505782/95864621-ed5bb380-0d65-11eb-9397-4ae8a1ac51e4.png)

[2020-10-13 14:09] to-bar commented on #846
IMHO in this case we can upgrade Filebeat to 7.9.2 (having Elasticsearch 7.9.1) since according to [7.9.2 release notes]( https://www.elastic.co/guide/en/beats/libbeat/7.9/release-notes-7.9.2.html) it contains one nice to have [bugfix](https://github.com/elastic/beats/pull/21048) and other changes seem to be acceptable for Epiphany.

[2020-10-13 14:40] mum0l commented on #921
Checked on Azure - logs can be rotated, and they're pushed into ELK. Kibana is able to access those logs.

[2020-10-13 15:26] DaOsie commented on #1446
In my opinion, having strict rule for supporting only one configuration of kubernetes would be a good idea - less edge cases, clarity in config file and users input validation. Although, more expirienced person than me should look at this task.

[2020-10-14 07:05] plirglo commented on #1635
Blocked on RedHat (see blockers)

[2020-10-14 07:18] atsikham commented on #1700
@mkyc to use WSL2, every time I switch to the laptop that supports it. It took a long time with WSL1, so I decided not to proceed with that (finally it started to launch, but then issues with docker volumes started occur). Example of issue I met on WSL1: https://github.com/microsoft/WSL/issues/5125. In general, working on Windows with modules is possible, but for me it's not convenient.

[2020-10-14 07:38] to-bar commented on #1635
Upgrading Kibana also fails for v0.4.5 since there is no `opendistroforelasticsearch-kibana` package but legacy `kibana-oss`.
[code]

[2020-10-14 10:22] mkyc commented on #1446
Yes, I believe that in usage with epiphany single-kubernetes approach is correct.

[2020-10-14 10:43] atsikham commented on #1760
@plirglo @mkyc latest pipeline fails. What is this error about?
https://abb-epiphany.visualstudio.com/epiphany/_build/results?buildId=3705&view=logs&j=275f1d19-1bd8-5591-b06b-07d489ea915a&t=29b11093-f299-52c9-fc3e-b4e81abf4ac1

[2020-10-14 10:49] mkyc commented on #1760
It says nothing. I'm not sure why it says "succeeded with issues" and does not fail. There is visible problem with bash tests ... I think we need to rewrite them ASAP.

[2020-10-14 11:43] plirglo commented on #1760
I re-run test pipeline and here is result:
https://abb-epiphany.visualstudio.com/epiphany/_build/results?buildId=3711&view=results

Regarding "succeeded with issues" i've unchecked "Continue on error" in "Run tests" task to fail whole pipeline when script's output will not be 0

[2020-10-14 14:56] mum0l commented on #1273
I just validate the described issue, and it looks that hot_standby option is working as expected.
I suppose, that above grep command executed on PostgreSQL config file, was performed on master server, and this behavior is valid, as hot_standby option should be activated only on slave host. Master host should have this option disabled.
The hot_standby mode support replication in ReadOnly mode, what

[2020-10-14 15:02] rafzei commented on #846
It's fine, I will update the issue description.

[2020-10-14 15:13] rafzei opened #1770 "[FEATURE REQUEST] Upgrade Filebeat to the latest version (7.9.2)"
**Is your feature request related to a problem? Please describe.**
For AKS/EKS we have Filebeat (as daemonset) in version 7.9.2. It could be nice to have the same version for both scenarios.

_Originally posted by @to-bar in https://github.com/epiphany-platform/epiphany/issues/846#issuecomment-707765171_

**Additional context**
According to [this table](https://www.elastic.co/support/matrix#matrix

[2020-10-14 16:27] przemyslavic commented on #1273
@mum0l check on RedHat, not Ubuntu

[2020-10-15 08:04] #1641 closed

[2020-10-15 08:07] #1760 closed

[2020-10-15 08:08] #1723 closed

[2020-10-15 08:09] #1741 closed

[2020-10-15 08:12] rpudlowski93 commented on #1218
I already upgraded pgpool image to the latest version (4.1.4) and I tested upgrade cluster from 0.6 to develop. Nothing changed and the issue still exists. I'm looking for some workaround, since it looks like a bug (similar open issues reported in official bitnami repository)

[2020-10-15 09:11] sk4zuzu commented on #1636
Yes initial test showed problems with internet connectivity in vms. It was later fixed in those PRs https://github.com/epiphany-platform/m-aws-kubernetes-service/issues/12 and https://github.com/epiphany-platform/m-aws-basic-infrastructure/issues/17.
I have seen issues with destroying EKS resources, but we'll deal with it in specific issues later.
So IMO for now it's all OK we can move forward. :+

[2020-10-15 09:16] ar3ndt commented on #1640
Default disk size for repository machine is increased. 64gb by default for both aws and azure.

[2020-10-15 09:48] plirglo commented on #1635
Tested on RedHat / Azure - OK

Before upgrade:
![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f7f1c83e8/0f819bbb-033b-453e-ba51-eaf1de06d300)

After upgrade:
![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f7f1c83e8/55cd0704-af8d-4102-b5f5-39ec05522feb)

[2020-10-15 10:00] mum0l commented on #1286
All good, the only thing which we could add here, is to put list of all places where we use helm, just to be sure, that everything was included in those checks.

[2020-10-15 10:22] to-bar commented on #922
Test OK (upgrade from 0.4.5 to develop)

[2020-10-15 10:28] plirglo opened #1773 "[FEATURE REQUEST] Verify OS requirements in Epiphany documentation"
**Is your feature request related to a problem? Please describe.**
Basically we don't support all systems mentioned in documentation. For RedHat Azure we support only 7-RAW version of OS, and:

[code]
is the latest one.

**Describe the solution you'd like**
Modify documentation part for all releases to ad disclaimer for Azure images

**Describe alternatives you've considered**
In next releases con

[2020-10-15 10:34] plirglo commented on #1465
After investigation i found that for Red Hat Azure images we don't support images which are:
- RedHat:RHEL:7-RAW-CI:7.7.2019081601
- have lvm partitioning
- are connected to EUS repositories

see images description:
https://docs.microsoft.com/pl-pl/azure/virtual-machines/workloads/redhat/redhat-images

In this task extend repository parser to handle EUS repositories

[2020-10-15 10:36] mkyc commented on #1736
#1751 has to be done to allow tests of this task. Unfortunately this task hangs are already merged and released as 0.6.1 and another one is still not started and planned for 0.6.2.

[2020-10-15 11:48] to-bar opened #1774 "[BUG] [epicli upgrade] Filebeat stops working when legacy Elasticsearch (v6) is used for storing logs"
**Describe the bug**
Before Epiphany v0.5 there was no `logging` role but `elasticsearch` role was used for storing logs.
After running `epicli upgrade` on Epiphany cluster v0.4.5 Filebeat was upgraded to 7.8.1 and service stopped working because `groups.logging` was undefined. There was the following error in syslog:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run `epicli upgrade` f

[2020-10-15 12:31] to-bar commented on #846
Related issue to test together: #1774

[2020-10-15 18:03] to-bar commented on #1465
Successfully tested `RedHat:RHEL:7-RAW-CI:7.6.2019072418` so it looks like SKU `7-RAW-CI` is also supported.

[2020-10-15 19:13] to-bar commented on #1754
Test OK for:
- K8s single master
- K8s HA (Vault installed only on the first master from Ansible inventory)
- cluster without K8s (custom feature-mapping with Vault on `repository` host)

[2020-10-15 21:21] atsikham commented on #1636
@sk4zuzu But the issue with internet connectivity was not in this module. I've also seen some issues there, one is described in readme, and hopefully we will not have such issues when get rid of [used](https://github.com/terraform-aws-modules/terraform-aws-eks) terraform module.

[2020-10-16 07:35] plirglo commented on #1530
Please run and verify tests if kubernetes upgrade solved this issue and/or confirm with @przemyslavic actual status

[2020-10-16 07:54] to-bar commented on #1736
Test OK (tested half-manually without upgrading K8s)

[2020-10-16 09:33] DaOsie commented on #1436
@martamercury I wasn't able to reproduce your problem, therefore I would need more information about:
- docker and docker-engine version
- file owners and its permissions after starting epicli container
From the kernel version, I assume that your on prem machine was running ubuntu 18.04?

[2020-10-16 10:18] rafzei commented on #1176
[GH Actions](https://github.com/marketplace/actions/ansible-lint) is also an option. Anyway, first thing is to create a list of roles as in issue description.

[2020-10-16 11:26] to-bar commented on #1189
Renamed task title while grooming it.

[2020-10-16 14:01] rpudlowski93 commented on #1218
Problem resolved. PR #1775.

We need to upgrade CoreDNS during every single k8s version upgrade, not only during the latest part of update for latest version of k8s. Until now, we upgraded CoreDNS only during last part of upgrade so epiphany upgrade process works finally fine, but If someone run the upgrade with flag "wait-for-pods", the upgrade stopped after first upgrade of k8s version (we need

[2020-10-20 07:41] przemyslavic opened #1776 "[BUG] Only 32 GB mounted on the root directory when the disk size of the repository machine is 64 GB"
**Describe the bug**
The root partition shows only 32 GB mounted on "/" when the disk size is 64 GB (applies to **Azure/RedHat** configuration).

**To Reproduce**
Deploy a new cluster from develop branch with the configuration given below: `epicli apply -f test.yml`
**Config files**

[code]

**Expected behavior**
There should be ~64GB available mounted on a root directory.

**OS (please complete t

[2020-10-20 07:43] przemyslavic commented on #1640
Blocked by: [[BUG] Only 32 GB mounted on the root directory when the disk size of the repository machine is 64 GB](https://github.com/epiphany-platform/epiphany/issues/1776).

[2020-10-20 08:30] przemyslavic commented on #1640
- `Azure/RedHat`: available 32 GB - investigated in #1776
- `Azure/Ubuntu`: available 62 GB
- `AWS/RedHat`: available 64 GB
- `AWS/Ubuntu`: available 62 GB

[2020-10-20 08:39] rafzei opened #1777 "[BUG] [v0.7] Grafana dashboard deployment failed"
**Describe the bug**
Downloading Grafana dashboard from public repository failed during `epicli apply`
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Provide Grafana configuration like below
2. epicli apply

**Expected behavior**
1. Successfull download of specified Grafana dashboard.
2. The dashboard should be imported into Grafana dashboards.

**Config files**
Sample config:
[code]

[2020-10-20 09:07] #1140 closed

[2020-10-20 09:08] #1636 closed

[2020-10-20 09:10] #1635 closed

[2020-10-20 09:14] #922 closed

[2020-10-20 09:16] #1640 closed

[2020-10-20 09:19] #1754 closed

[2020-10-20 09:22] #1736 closed

[2020-10-20 09:24] #1189 closed

[2020-10-20 14:58] przemyslavic commented on #1774
Checked:

- upgrade from 0.4.5: filebeat update was skipped :heavy_check_mark:

- upgrade from 0.5.5: filebeat updated to 7.8.1 :heavy_check_mark:

[2020-10-20 17:03] rpudlowski93 opened #1778 "[BUG] Upgrade cluster pipelines failed when flag "wait-for-pods" is used. Insufficient CPU resources on worker nodes."
**Describe the bug**
Upgrade cluster failed when flag "wait-for-pods" is used. Problem exists only on Azure with Canal network plugin.
When one of worker nodes is drained, pods located there go into pending state due to insufficient CPU resources on worker nodes. Pods can't recreate on another worker nodes due to the limits.

- Azure worker nodes are too small (1vcpu) and Canal pods need at least

[2020-10-20 17:11] rpudlowski93 commented on #1218
During this task, new bug was discovered: task #1778

[2020-10-20 17:44] przemyslavic commented on #1778
If it is enough to increase the number of worker nodes, I wouldn't consider it a bug.  Nobody said that we can only have 3 nodes ;) and probably other resource-consuming applications are also being deployed here.  I would just modify the pipeline increasing the number of worker nodes.

[2020-10-20 18:20] rpudlowski93 commented on #1778
It consider only the scenario where we add the flag "—wait-for-pods” which is not added by default in our pipelines. So maybe we should change this task into feature task where we should create new pipelines with the flag? We shouldn’t add the flag to every upgrade pipelines since it will extend time of every upgrade pipeline. Indeed I can agree that resource-consuming application can just need mo

[2020-10-21 10:09] atsikham commented on #1675
@plirglo and I used created tests in pipelines. Confirm that it works.

[2020-10-21 10:14] atsikham commented on #1700
Will we move this task forward?

[2020-10-21 11:29] rafzei opened #1781 "[FEATURE REQUEST] Improve Elasticsearch cluster status checking during an upgrade"
**Is your feature request related to a problem? Please describe.**
Currently, during an upgrade we checking if cluster status is yellow **or** green.

**Describe the solution you'd like**
During an upgrade procedure, verify if we have **single** instance of Elasticsearch or **instance>1** and check cluster state in proper way.

Proper status:
One node = yellow
More than one node = green

**Additio

[2020-10-21 11:37] rafzei commented on #1781
Things to improve as well:
- tests
- documentation

[2020-10-21 15:56] mkyc commented on #1677
Some first implementation done by @sk4zuzu in https://github.com/sk4zuzu/m-aws-kubernetes-service/tree/feature/integration-tests

[2020-10-21 17:22] mkyc commented on #1675
So does it mean that you tested it and you can move it to next phases?

[2020-10-21 17:23] mkyc commented on #1700
Yeah, I believe everyone who is interested already got familiar with this.

[2020-10-21 18:43] atsikham commented on #1675
@mkyc the question is if @przemyslavic or @to-bar want to test it themselves. IMO it can be moved to DoD.

[2020-10-22 07:17] przemyslavic commented on #1218
The upgrade from v0.6 to develop has been tested with pgpool and pgbouncer deployments enabled. It works correctly.

[2020-10-22 08:47] mkyc commented on #1436
@przemyslavic or @to-bar can you guys say if you have any problem of this kind even on 0.6.x clusters?

[2020-10-22 09:09] erzetpe commented on #1743
In this task we also need to clarify where we should have `infrastructure/machine` and where `infrastructure/virtual-machine`.

[2020-10-22 09:10] #1700 closed

[2020-10-22 09:10] przemyslavic commented on #1436
@mkyc it looks like this was fixed in 0.7 [#1378](https://github.com/epiphany-platform/epiphany/pull/1378)

[2020-10-22 09:11] seriva commented on #1322
Tested with the configurations provided and everything works as expected.

[2020-10-22 09:22] #1218 closed

[2020-10-22 09:23] #1774 closed

[2020-10-22 09:25] #1322 closed

[2020-10-22 10:14] mkyc commented on #737
@pprach there was some discussion about requirements for SP, can you comment more about those requirements? @rpudlowski93 can you verify how it applies to previous researches you've been doing?

[2020-10-22 10:17] mkyc commented on #139
There is [task](https://github.com/epiphany-platform/m-azure-basic-infrastructure/issues/13) in another repo for this in azure. We should probably have similar in aws module and consider it to be closed?

[2020-10-22 10:25] mkyc commented on #1544
Also consider if we should support it in modules?

[2020-10-22 10:37] rpudlowski93 opened #1786 "[SPIKE] Ensuring zero-downtime cluster upgrade"
**Describe the spike**

We have to consider some things related to zero-downtime upgrade in epiphany:

- Should we stay with the flag "wait-for-pods" for cluster's upgrade with zero-downtime?

- Should we improve our documentation with some description and requirements which should be provided in order to have real zero-downtime. (eg. at least two pods application etc..)? Right now we ensure in ou

[2020-10-22 10:50] mkyc commented on #1416
@sk4zuzu and @to-bar can you provide some more comment what dis task is dependent to? Can we do it now?

[2020-10-22 12:49] mkyc commented on #1436
Yeah it definitely looks like. I'm closing this one.

[2020-10-22 12:49] #1436 closed

[2020-10-22 16:02] to-bar opened #1789 "[FEATURE REQUEST] [Ubuntu] Add retry feature for downloading packages in download-requirements.sh"
**Is your feature request related to a problem? Please describe.**
download-requirements.sh occasionally fails (failing deployment) from many different reasons (such as network issue, repo not available, repo sync in progress).

Example of error to handle:

[code]

**Describe the solution you'd like**
- Increase script verbosity
- Catch error message from `apt` commands and retry
- Generic functio

[2020-10-22 21:11] atsikham commented on #1642
Please check: https://abb-epiphany.visualstudio.com/epiphany/_build?definitionId=101&_a=summary

[2020-10-22 22:49] mkyc commented on #1642
Both of them, in `Tests` section have one failing test:

![Screenshot 2020-10-23 at 00 43 23](https://user-images.githubusercontent.com/28505782/96937687-03394900-14c9-11eb-82f0-011caf9b94aa.png)

Error is:

My opinion is that it should make tests fail in PR but it's [very misleading right now](https://github.com/epiphany-platform/m-azure-kubernetes-service/pull/22/checks?check_run_id=1293371495).

[2020-10-23 03:22] sunshine69 commented on #1702
Team, any directions on this? Please let me know so I can proceed to get it fixed and merged.

[2020-10-23 03:29] sunshine69 commented on #1137
I made a PR https://github.com/epiphany-platform/epiphany/pull/1790 to address the issues.

To add one more BUG of the current version and we are spending huge time to fix/work around - please see
https://issues.apache.org/jira/browse/KAFKA-9133

[2020-10-23 07:09] seriva commented on #1702
Moving forward its probably best to remove the ASG for AWS so it works the same as Azure. There are more issues related to ASG and we don't need them as we are not going to support this kind of scaling they are meant for.

[2020-10-23 09:05] atsikham commented on #1642
@mkyc fixed in new PR - https://github.com/epiphany-platform/m-azure-kubernetes-service/pull/24

![image.png](https://images.zenhubusercontent.com/5f29188b6ef7c40936a17a24/cea0430c-5bd3-47c5-9dbb-51590e2f7ef3)

[2020-10-23 10:02] sk4zuzu opened #1791 "[FEATURE REQUEST] Make offline package handling smarter"
**Is your feature request related to a problem? Please describe.**

Let's consider following scenario:
1. user has an older offline package that was working perfectly in the past
2. user decides to upgrade epiphany and create new cluster using offline package
3. user updates the package "in the same directory" to conserve time
4. new httpd server is added to the package, but previous one remains
[

[2020-10-23 10:48] mkyc commented on #1642
Verified runs.

[2020-10-23 13:28] to-bar commented on #1416
Tasks to be done before (in order):

1. Add time synchronization service (NTP) to Epiphany #1298
2. NFS storage for Epiphany #1233 (with Stunnel TLS encryption)

[2020-10-23 13:30] rpudlowski93 commented on #737
Summing up our conversation with @pprach I would recommend to use managed identity which can resolve the metioned problem. Why? Managed identity manages the creation and automatic renewal of a service principal on our behalf and it is highly recommended by azure. There are two kind of managed identity, system-assigned and user-assigned. System-assigned is tied directly to a resource and is automat

[2020-10-23 13:35] to-bar commented on #1233
The solution with Kerberos has failed due to permissions issue (manual ownership mapping or LDAP required).
The new approach is to use [Stunnel](https://www.linuxjournal.com/content/encrypting-nfsv4-stunnel-tls). PoC succeded.

[2020-10-23 14:48] to-bar opened #1792 "[BUG] Not possible to debug failures in applications role"
**Describe the bug**
There is no right error message on K8s deployment failure.

Example scenario:
1) Task "Get existing erlang cookie" failed since there was no erlang cookie. This task is inside Ansible `block` and `rescue` section generates erlang cookie.
[code]

2) Deployment of RabbitMQ, Ignite, Auth Service and Pgpool succeeded.

3) Deployment of PgBouncer failed.

[code]

4) The reason of f

[2020-10-23 15:57] mkyc commented on #63
@rafzei and @to-bar can you please check if this is still relevant?

[2020-10-23 16:02] mkyc commented on #86
@plirglo can you please check if that is not done already?

[2020-10-23 16:03] mkyc commented on #87
@plirglo can you please check if that isn't already done?

[2020-10-23 16:05] mkyc commented on #856
@rafzei @to-bar and @przemyslavic please have look at this issue once more if it wasn't solved already?

[2020-10-23 16:06] mkyc commented on #857
@to-bar and @przemyslavic can you please check if that is not already implemented?

[2020-10-23 16:07] mkyc commented on #858
@to-bar and @przemyslavic can you please check if that task isn't already implemented?

[2020-10-23 16:10] mkyc commented on #834
@rafzei and @to-bar please have look here if that is not already implemented.

[2020-10-23 16:14] mkyc commented on #1294
@sk4zuzu can you please confirm that this is still valid task?

[2020-10-23 16:24] mkyc commented on #1177
It doesn't look like task for me but rather section in "code quality" document and part of DoD Check.

[2020-10-23 16:27] mkyc commented on #1421
@DaOsie can you please comment here if you were researching something in here?

@toszo @pprach can you please tell me if that task should be in this repo?

[2020-10-23 16:30] mkyc commented on #737
My concern is this sentence from provided link:

[2020-10-23 16:37] mkyc commented on #1151
@DaOsie @toszo and @pprach I know this task is being currently under development. Should it be here or in build-system repo?

[2020-10-23 17:29] to-bar commented on #846
Test OK (verified on Ubuntu and RHEL)

[2020-10-25 11:17] fabrixx opened #1794 ""Settings schema 'org.gnome.Epiphany.web' does not contain a key named 'enable-itp'[BUG] Short description of the bug"
If i install an old version with ninja and after overwrite with my new package manager version i have the error:
`"Settings schema 'org.gnome.Epiphany.web' does not contain a key named 'enable-itp'`

I try to add that key but not fix.

I reinstalled new source by ninja to readd that key and work again

After the Aur version (/usr/bin epiphany) say:
[code]
And the ninja build version work (/usr/loc

[2020-10-25 11:22] erzetpe commented on #1794
Hi,

Your request probably concenrs different project than ours. :) We are platform related mainly to orchestration of PAAS deployments, not tool related to gnome (but we like gnome, we are using this). That's why we are closing your ticket.

Thanks,
Pawel

[2020-10-25 11:22] #1794 closed

[2020-10-25 11:31] toszo commented on #1151
@mkyc Yes, it should be.

[2020-10-25 11:32] toszo commented on #1421
@mkyc Yes, this one as well should go to Build System repo.

[2020-10-26 07:24] plirglo commented on #86
No, it's not done. Currently we support only one secondary node.

[2020-10-26 07:36] plirglo commented on #87
Yes, we already support primary - secondary configuration with automatic failover. We also have configuration with pgpool and pgbouncer to avoid connection issues to database. So i think it's already done.

[2020-10-26 07:46] rafzei commented on #1719
@przemyslavic @to-bar Was it tested? If so, please move it to the correct column.

[2020-10-26 07:51] przemyslavic commented on #1719
Tested mainly by @to-bar.

[2020-10-26 10:07] mkyc commented on #1674
Changes in resources during test run:

![Screenshot 2020-10-26 at 10 30 33](https://user-images.githubusercontent.com/28505782/97159172-c2685b00-177a-11eb-8b36-bbe7f8298503.png)

![Screenshot 2020-10-26 at 10 32 36](https://user-images.githubusercontent.com/28505782/97159209-d01de080-177a-11eb-816a-9578b2c1669c.png)

Output:

[code]

And output report file:

[code]

[2020-10-26 12:55] plirglo opened #1797 "[FEATURE REQUEST] Upgrade KeyCloak to at least V10"
**Is your feature request related to a problem? Please describe.**

We are seeing a problem with Keycloak and AAD integration.  When we are adding a user to groups in AAD the users roles are not automatically added in Keycloak.  We are currently going into to Keycloak and manually adding roles.  We having seen that at minimum Keycloak V10 that it adds a option to Sync with the identity provider.

[2020-10-26 13:39] plirglo opened #1798 "[FEATURE REQUEST] Additional alerts for Prometheus"
Consider to create additional alerts for Prometheus

**Describe the solution you'd like**
Request based on internal request - ask @plirglo for details

**Describe alternatives you've considered**
Create template and documentation to easy create / import alerts configuration

[2020-10-27 07:56] rafzei commented on #1544
I've closed the PR due to not sufficient time by the team created it. It's low priority for them. The feature-request remains open.

[2020-10-27 09:19] mkyc commented on #107
@toszo do you know what is this about?

[2020-10-27 09:20] seriva commented on #107
I would think something about monitoring.

[2020-10-27 09:22] sk4zuzu commented on #1786
IMO. We have to definitely fix documentation (current one is confusing), also it would be good to add comprehensive guide howto design applications in Kuberentes to make them "zero-downtime". I think this flag will stay in the codebase in the end and if it does I think we need to mitigate "Note: that this can also cause the upgrade to hang indefinitely.", so it's a bit smarter and we dont have to

[2020-10-27 09:33] rafzei commented on #1765
That's the right order, first, we should consider to use certs.
I've found also [to-do comment](https://github.com/epiphany-platform/epiphany/blob/bea20d7385c6362a49a2d80f295e4f429ea256ff/core/src/epicli/data/common/ansible/playbooks/roles/image_registry/tasks/main.yml#L50) in our code

[2020-10-27 10:07] #1642 closed

[2020-10-27 10:10] #846 closed

[2020-10-27 10:11] #1719 closed

[2020-10-27 12:37] to-bar commented on #63
There is no description so hard to say.

If this task is about ownership of Filebeat configuration file, then there is nothing to do and can be closed.

I've checked (on RHEL) that the config file's attributes after deployment are the same as defined in rpm package:
[code]

Furthermore, installing the rpm package does not create dedicated user:
[code]

If this task is about running filebeat proces

[2020-10-27 12:52] mkyc commented on #1544
@rafzei AFAIU it should be added to modules, shouldn't it? Maybe we should add grooming-needed label back and then refactor it to required stories in other repos?

[2020-10-27 13:07] to-bar commented on #856
This task is still valid. We have only indirect tests for Filebeat, i.e. in `postgresql` group and only if PGAudit is enabled.

Moreover, we should tests existence of K8s metadata, i.e. container logs are enriched (custom config) with fields like `kubernetes.pod.name` and this functionality is important. Such tests would allow us to detect a regression.

[2020-10-27 13:33] sk4zuzu opened #1804 "[FEATURE REQUEST] Introduce versioning for the offline package"
**Is your feature request related to a problem? Please describe.**
Epiphany has no way of validating if an offline package at hand is compatible with ansbile code.

**Describe the solution you'd like**
Offline package should contain some kind of information from which commit or requirement.txt file it was constructed. It should be by default enabled and verified by epicli before any provisioning h

[2020-10-27 14:14] to-bar commented on #857
Still valid. Currently we only check if Elasticsearch cluster health is `yellow` or `green` regardless of the number of nodes.

[2020-10-27 14:23] to-bar commented on #858
Still valid. We have only indirect tests, i.e. for `logging` role that is based on `opendistro_for_elasticsearch`.

[2020-10-27 14:30] to-bar commented on #834
Still valid. Audit rules are hard-coded in audit-epi.rules.j2.

[2020-10-27 14:58] mkyc commented on #63
@toszo can you please decide what is this task about? Is it about running filebeat process as a non-root user?

[2020-10-27 15:05] to-bar commented on #1177
It is a task since some existing Ansible tasks are missing the name property. For improving code quality there is separate task (#1176 ). Introducing Ansible Lint we can likely ensure DoD check in this area automatically (with pipelines).

[2020-10-28 08:32] ar3ndt commented on #1776
From configuration perspective it looks all good. For other scenarios (non Azure/RHEL it does not occur).
Hold on until introducing lvm.

[2020-10-28 08:34] rafzei opened #1805 "[FEATURE REQUEST] Improve modules.md"
**Is your feature request related to a problem? Please describe.**
Improve modules how-to documentation.

**Describe the solution you'd like**
- add separate section for AWS modules
- add section how to remove cluster

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-10-28 08:36] to-bar commented on #1176
Useful article: https://medium.com/faun/linting-your-ansible-playbooks-and-make-a-continuous-integration-ci-solution-bcf8b4ea4c03

[2020-10-28 08:44] ar3ndt commented on #139
Similar task in aws module created:
https://github.com/epiphany-platform/m-aws-basic-infrastructure/issues/27

[2020-10-28 09:01] mkyc commented on #139
@erzetpe do you agree that we close this one?

[2020-10-28 09:28] mkyc commented on #139
Actually this task is about disk sizes, and ones mentioned in 2 previous comments are about vm sizes. My mistake. In fact more related issue is [this one](https://github.com/epiphany-platform/m-azure-basic-infrastructure/issues/28).

[2020-10-28 14:13] toszo opened #1806 "[FEATURE REQUEST] Filebeat to log to different indexes based on log_type property"
**Is your feature request related to a problem? Please describe.**
Applications that logs data to console output need to distinguish "Audit logs" from other logs.

**Describe the solution you'd like**
Configure Filebeat to push logs to different indexes based on `log_type`
https://www.elastic.co/guide/en/beats/filebeat/current/elasticsearch-output.html#index-option-es

**Additional context**
Audit

[2020-10-28 21:11] toszo commented on #63
Yes, it is about running Filebeat service as non-root user. Let's discuss risk vs effort here.

[2020-10-29 10:04] rafzei commented on #1696
The initial version is well described.
I've created a new issue to improve it a bit: [#1805](https://github.com/epiphany-platform/epiphany/issues/1805).

[2020-10-29 10:51] mkyc commented on #139
We should think about upgrade process before we start this task. It looks like we need spike to test upgrade process and probably later number of followup tasks.

[2020-10-29 14:22] mkyc commented on #889
@toszo can you add bit more description here about what is it about?

[2020-10-29 14:25] mkyc commented on #1232
What would be use case? Do we agree that we would need DNS records available to automation?

[2020-10-29 14:26] mkyc commented on #1247
@toszo can you add bit more description here?

[2020-10-29 15:09] przemyslavic commented on #1770
Tested configurations:
:white_check_mark: `epicli apply`: `AWS/Azure` x `RedHat/Ubuntu`
:white_check_mark: `epicli upgrade` from 0.7 to develop: `AWS/Azure` x `RedHat/Ubuntu`
:white_check_mark: filebeat as DaemonSet
No problems encountered :heavy_check_mark:

[2020-10-29 17:40] to-bar opened #1809 "[BACKPORT] [v0.5] Epicli does not create PostgreSQL SET_BY_AUTOMATION values correctly"
We need to back port issue #1372 (fixed in v0.7.0) to v0.5 branch.

[2020-10-29 17:47] to-bar opened #1810 "[BACKPORT] [v0.6] Epicli does not create PostgreSQL SET_BY_AUTOMATION values correctly"
We need to back port issue #1372 (fixed in v0.7.0) to v0.6 branch.

[2020-10-29 18:37] rpudlowski93 commented on #1675
Tested - works fine.
Small necessary fixes were needed. Fixes done in PR #27

[2020-10-30 12:00] atsikham commented on #1680
Please also test limits for `expiration_days`. Schema validation should work with that.

[2020-10-30 12:01] atsikham commented on #1679
Please also test limits for `expiration_days`. Schema validation should work with that.

[2020-10-30 12:01] atsikham commented on #1678
Please also test limits for `expiration_days`. Schema validation should work with that.

[2020-10-30 13:52] przemyslavic commented on #1273
Tested configurations:
:white_check_mark: `epicli apply`: `AWS/Azure` x `RedHat/Ubuntu` - 1 PostgreSQL vm
:white_check_mark: `epicli apply`: `AWS/Azure` x `RedHat/Ubuntu` - 2 PostgreSQL vms clustered

No problems encountered :heavy_check_mark:

[2020-10-30 15:30] przemyslavic commented on #1809
Tested configurations:
:white_check_mark: `epicli init -p aws -n testaws --full`
:white_check_mark: `epicli init -p azure -n testazure --full`

Output:
[code]
:white_check_mark: `epicli apply` with PostgreSQL vms
No problems encountered :heavy_check_mark:

[2020-10-30 21:53] rpudlowski93 commented on #26
Regarding to our conception with modules, we introduce autoscaling in the new approach (autoscaling in AKS/EKS) and the ticket can be closed.

[2020-10-30 21:53] #26 closed

[2020-11-02 13:08] mkyc commented on #1428
Current templates are good enough and I'm not going to try to make them better.

[2020-11-02 13:08] #1428 closed

[2020-11-03 10:05] #1809 closed

[2020-11-03 10:09] #1273 closed

[2020-11-03 10:12] #1696 closed

[2020-11-03 10:25] #1770 closed

[2020-11-03 10:27] #1675 closed

[2020-11-03 12:30] mkyc commented on #1455
This Epic is on hold now because of persistence layer not being in top priorities

[2020-11-03 12:41] mkyc opened #1816 "[Epic]Y20Q4 Upgrades"

[2020-11-03 12:50] mkyc commented on #1548
All remaining upgrades were moved to Q4 related epic.

[2020-11-03 12:50] #1548 closed

[2020-11-03 13:53] mkyc opened #1817 "[Epic] introduce "Self-managed kubernetes services" module"
This Epic will be used to gather all the tasks performed before some "m-self-managed-kubernetes" repository is created and related tasks will be created there

[2020-11-03 13:53] mkyc opened #1818 "[SPIKE] Research of kubernetes installing tools"
**Describe the solution you'd like**
We want to make a research of Kubernetes installing tools and decide which option is the best for our purposes.

**Additional context**
Generally on the market are three solutions which are supported and maintained by the Kubernetes community:
- Kops
- Kubeadm
- Kubespray

Each of them has some pros and cons and we need to decide based od our experience and res

[2020-11-03 13:54] mkyc opened #1819 "[SPIKE] Decide expected types of cluster installation"
**Describe the solution you'd like**
Decide how to proceed with developing self-managed kubernetes services module.

1.  standard (1 * master + x * nodes)
2.  single node
3. ha (x * masters + y * nodes)

For now we agreed, that first scenario is the most important so It has to be done first. For details please refer to comments.

**Additional context**
 The goal of this issue is: create a new issu

[2020-11-03 14:00] mkyc commented on #1819
In this task we should identify all required scenarios for this module to perform. My initial thinking would be that we want to have separate modules for:
 - standard (1 * master + x * nodes)
 - single node
 - ha (x * masters + y * nodes)
I would focus just on standard scenario in this module.

[2020-11-03 14:26] mkyc commented on #1818
In this task we should perform some simple comparison of solutions available on the market. I found this: https://github.com/kubernetes-sigs/kubespray/blob/master/docs/comparisons.md and it sounds reasonable enough but having just one opinion too little.

[2020-11-03 14:31] mkyc opened #1820 "[Epic] Introduce new "Istio" module"
This epic should gather tasks related to some "m-istio" repository tasks before it will be created with some initial code. Later related tasks should be moved to that repo.

[2020-11-03 14:32] mkyc opened #1821 "[SPIKE] - Research on Istio installations in different scenarios (modules)"
**Describe the solution you'd like**
We want Istio as a separate module for Epiphany.
This issue is about doing a reasearch on how we can implement it.

**Additional context**
Proposed module name: m-istio
We would need to test two scenarios here:
- installation on managed kubernetes cluster using cloud provided public IP mechanisms
- installation behind HAProxy and Istio using node port

This can

[2020-11-03 14:33] mkyc opened #1822 "Decide Istio module scope"
**Is your feature request related to a problem? Please describe.**
Right now we don't have scenarios and haven't agreed scope for Istio module.

**Describe the solution you'd like**
Based on spike [1821](https://app.zenhub.com/workspace/o/epiphany-platform/epiphany/issues/1821) we need to agree clear scope for Istio module initial development.

**Describe alternatives you've considered**
None.

**

[2020-11-03 14:46] mkyc commented on #1821
IMHO we should test at least two scenarios when planning Istio module:
 * installation on managed kubernetes cluster using cloud provided public IP mechanisms
 * installation behind HAProxy and Istio using node port

[2020-11-03 15:59] mkyc commented on #1590
It looks like I missed some comment from @mum0l and it should be just verified and moved to DoD.

[2020-11-04 05:13] mum0l commented on #1590
Unfortunatelly I cannot reproduce it now. What I did was simply downscale the app, and looked into gui + CLI if disks are removed.

[2020-11-04 08:10] przemyslavic commented on #1678
Tested:
:white_check_mark: single machine
:white_check_mark: single master + nodes
:white_check_mark: offline mode
:white_check_mark: parameter values: `renew: true`, `renew: false`
:white_check_mark: different `expiration_days`, including default, custom and maximum (24855 days ~ 68 years)
:white_check_mark: new installations using running `epicli apply` for the second time after changing paramet

[2020-11-04 08:32] przemyslavic opened #1824 "[BUG] offline installation fails with error 'yum lockfile is held by another process' (Azure/RHEL)"
**Describe the bug**
Epicli: offline installation fails with error `yum lockfile is held by another process` on Azure/RHEL environment.
Reproduced on version **0.5.x** and **develop**, so probably it also applies to all other versions. The problem occurs unpredictably in various tasks.

**To Reproduce**
Run offline installation on Azure RedHat:
1. Prepare offline requirements: `epicli prepare --os

[2020-11-05 08:44] ar3ndt commented on #1590
Disks are removed properly during downscale.

[2020-11-05 09:03] #1678 closed

[2020-11-05 09:03] #1590 closed

[2020-11-05 09:51] rpudlowski93 opened #1833 "[BUG] DaemonSets of Node Exporter and Filebeat deploy in default namespace"
**Describe the bug**
DaemonSets of Node Exporter and FileBeat in case of flag k8s_as_cloud_service: true, will deploy in default namespace which should be clear for user usages.

**To Reproduce**
Create Epiphany cluster with flag k8s_as_cloud_service: true

**Expected behavior**
Deploy DaemonSets of Node Exporter and FileBeat in custom namespaces (epi-monitoring and epi-logging)

**OS (please comp

[2020-11-05 13:13] mkyc commented on #1798
Team requesting it already added those alerts to their infrastructure.

[2020-11-05 14:09] atsikham commented on #139
@toszo @to-bar @erzetpe @plirglo @rafzei I think we need a common discussion and I mention you as involved in support and as you are might be familiar with details.

How I would proceed with this issue (still being a bit out of context):
_Split this task into separate ones:_
1. Add support for disks/volumes customization in modules part.
2. Introduce new parameters in epicli (don't know in module

[2020-11-05 14:14] plirglo opened #1834 "[BUG] Kafka - Disable debug logging and make this option configurable"
**Describe the bug**
Epiphany delivers Kafka with KAFKA_OPTS=-Djavax.net.debug=all set as default in [service configuration](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/kafka/templates/kafka.service.j2)

That means debug logging is enabled by default and may impact machine performance (when SSL communication between brokers enabled

[2020-11-05 14:50] to-bar opened #1835 "[BUG] Automated tests may give false negative result for PGAudit"
**Describe the bug**
Test `Checking if the Elasticsearch logs contain queries from the PostrgeSQL database` occasionally fails (randomly) .

**To Reproduce**
1. Use config with enabled PGAudit.
2. Create cluster.
3. Run tests for `postgresql` group many times (`eoicli test` with `-g postgresql`).

**Expected behavior**
Tests should pass.

**OS:**
 - RHEL7

**Cloud Environment:**
 - AWS

**Addition

[2020-11-09 09:24] sunshine69 opened #1838 "[BUG] grafana dashboard load error because of self signed cert"
**Describe the bug**
grafana dashboard load error because of self signed cert.

It might be another operations as well but currently I can identify two files - `datasources.yml` and `dashboard.yml`.

When we set `grafana_use_provisioning` to false these task will use ansible module `uri` and  `grafana_datasource`. By default these modules will use the parameter `validate_certs` to true.

However w

[2020-11-09 09:26] sunshine69 commented on #1838
Please let me know which direction you want to fix then I can create a patch.

[2020-11-09 09:26] ar3ndt commented on #1761
PR [#32](https://github.com/epiphany-platform/m-aws-basic-infrastructure/pull/32)

[2020-11-09 09:27] ar3ndt commented on #921
PR [#1823](https://github.com/epiphany-platform/epiphany/pull/1823)

[2020-11-09 09:29] przemyslavic commented on #1810
Tested configurations:
:white_check_mark: `epicli init -p aws -n testaws --full`
:white_check_mark: `epicli init -p azure -n testazure --full`
:white_check_mark: `epicli init -p any -n testany --full`

Output:
[code]
:white_check_mark: `epicli apply` with PostgreSQL vms and Pgpool deployment enabled
No problems encountered :heavy_check_mark:

[2020-11-09 10:00] sunshine69 commented on #1838
Also my work mate identify another file which should be fix as well
`core/src/epicli/data/common/ansible/playbooks/roles/grafana/tasks/notifications.yml`

[2020-11-09 11:40] rpudlowski93 commented on #1833
Added draft of PR [link](https://github.com/epiphany-platform/epiphany/pull/1839)
- We need to discuss how the upgrade process should works for the patch

[2020-11-09 12:07] sk4zuzu opened #1840 "[BUG] Ansible fails while switching from offline to online mode in Ubuntu"
**Describe the bug**
Ansible fails while switching from offline to online mode in Ubuntu. Deploying Epiphany from offline package results in renamed `/etc/apt/sources.list` file which is later missing while trying to switch to online mode (apt sources are incomplete).

**To Reproduce**
1. deploy new cluster using offline package `epicli apply ... --offline-requirements ...`
2. run `epicli apply ..

[2020-11-09 14:04] przemyslavic opened #1841 "[BUG] v0.6 Re-running single machine installation fails"
**Describe the bug**
Re-running single machine installation fails with error:
`020-11-09T11:51:25.7815801Z 31;21m11:51:25 ERROR epicli - ControlPlane downscale is not supported yet. Please revert your kubernetes_master count to previous value or increase it to scale up kubernetes.
`

**To Reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f testsingle.yml`
2. execute `epicli ap

[2020-11-10 08:15] przemyslavic commented on #1679
Tested:
:white_check_mark: single machine
:white_check_mark: single master + nodes
:white_check_mark: HA installation
:white_check_mark: parameter values: `renew: true`, `renew: false`
:white_check_mark: different `expiration_days`, including default, custom and maximum (24855 days ~ 68 years)
:white_check_mark: running `epicli apply` for the second time after changing parameters

No problems enco

[2020-11-10 10:07] #1810 closed

[2020-11-10 10:09] #1679 closed

[2020-11-12 08:33] przemyslavic commented on #1680
Tested:
:white_check_mark: single machine
:white_check_mark: single master + nodes
:white_check_mark: HA installation
:white_check_mark: parameter values: `renew: true`, `renew: false`
:white_check_mark: different `expiration_days`, including default, custom and maximum (24855 days ~ 68 years)
:white_check_mark: running `epicli apply` for the second time after changing parameters

No problems enco

[2020-11-12 08:39] erzetpe opened #1843 "[FEATURE REQUEST] Missing Authentication in Zookeeper"
**Is your feature request related to a problem? Please describe.**
Right now you can access Zookeeper without any authentication. The good thing is that Zookeeper is by default not accessible from the outside network, so this is only a concern for misconfiguration or man in the middle attacks.

**Describe the solution you'd like**
We want to add authentication to Zookeeper.

**Describe alternative

[2020-11-12 08:44] erzetpe opened #1844 "[BUG] Default Password in Open Distro Elasticsearch, Filebeat, Kibana and Grafana"
**Describe the bug**
We have default passwords on Elasticsearch, Grafana and  Kibana after installation. This can be changed later on, but we should avoid such situation.

**To Reproduce**
Login to any of the services just after installation.

**Expected behavior**
Usage of provided or automatically generated passwords for those services.

**Config files**
No.

**OS (please complete the following

[2020-11-12 09:05] #1680 closed

[2020-11-12 10:13] toszo commented on #1677
@seriva please define why this task is "Blocked"

[2020-11-12 10:37] toszo commented on #139
1. Ok
2. 3. Lets focus on backup-restore so we can easily apply such changes and restore data.

[2020-11-12 13:33] atsikham commented on #139
Created tasks for the first point, see links above. About the 2nd and the 3rd points, I think that there should be an epic created for backup/restore of each component (who will identify/provide the list?) and we should make this task dependent on the whole epic and  tasks https://github.com/epiphany-platform/m-azure-basic-infrastructure/issues/42 and https://github.com/epiphany-platform/m-aws-bas

[2020-11-12 14:05] sk4zuzu commented on #1409
Some short extra research is required. There is an issue with the redundant repository vm in cloud environments. What we need to understand is how much work it's requiring to conidtionally remove/create unneeded repository vm and how easy we can fix/workaround this in configuration.

[2020-11-12 14:32] przemyslavic commented on #1792
Tested scenario:
- `epicli apply` with broken pgpool deployment to check the log contents

Output:
[code]
The presence and contents of the file `/shared/build/devawsubuflannel/vault//applications/pgpool/debug.yml` have been checked.

[2020-11-12 14:43] atsikham commented on #1773
@plirglo what is necessary to test in the scope of this task?

[2020-11-12 17:18] to-bar opened #1846 "[BUG] epicli apply fails when rerun for cluster on which 'repmgr standby switchover' was performed"
**Describe the bug**
Epiphany assumes and requires for PostgreSQL cluster that the first inventory host is always primary node and the second standby. If roles are switched, it fails with error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create cluster with PostgreSQL replication enabled.
2. Switchover database nodes, see [how-to doc](https://github.com/epiphany-platform/epiphan

[2020-11-12 17:46] to-bar opened #1847 "[BUG] Non fatal ERROR: unable to execute CHECKPOINT when running 'repmgr standby switchover'"
**Describe the bug**
When following steps from [how-to-switchover-database-nodes](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/DATABASES.md#how-to-switchover-database-nodes) doc, there is non fatal error when running `repmgr standby switchover` command.

[code]

Failing step with increased verbosity:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2020-11-12 18:18] to-bar opened #1848 "Update Ansible to v2.8.17"
**Is your feature request related to a problem? Please describe.**
We use Ansible v2.8.8. The latest available for 2.8 branch is v2.8.17.
See changelog: https://github.com/ansible/ansible/blob/v2.8.17/changelogs/CHANGELOG-v2.8.rst

**Describe the solution you'd like**
We already have feature branch with updated version (created when trying to solve issue with yum).

**Additional context**
n/a

[2020-11-13 11:09] atsikham commented on #737
Hi @mkyc @rpudlowski93
I looked into both types of managed identities and it seems that system-managed identity is not something that we need. Example when it can be useful: we have an Azure function app that needs `Contributor` access to resource group. In that case we don't need to create any identity, (in case of UI) we do following steps:
1. enable system-managed identity for function app

![S

[2020-11-13 12:15] przemyslavic commented on #1835
The tests work fine after the fix is made.

[2020-11-13 12:45] atsikham commented on #737
After some investigation of this topic, reviewing and reading different documents/articles, I don't understand how you are going to do that the same way as now with managed identities. In  fact I see 2 options:

1. Use resource group `scopes` option when create service principal. To do that resource group should be created before applying main Terraform configuration.
Example: `az ad sp create-for

[2020-11-13 14:37] przemyslavic commented on #1848
Full installation tested, everything works fine.

[2020-11-13 15:37] to-bar commented on #921
Some suggestions after reverting the PR.

**RHEL**
1. We have rotation configured out of the box (provided by rpm package), the config file is: `/etc/logrotate.d/pgbouncer`. I think we can keep it as is without making it configurable.
2. The log file path is different than on Ubuntu, i.e `/var/log/pgbouncer/pgbouncer.log`. It's not handled by filebeat, so we need add it to `filebeat.yml.j2` as it

[2020-11-16 09:15] mkyc commented on #737
I would go with first option as well. My opinion is that we should:
 - fix documentation
 - ensure that current code - which creates RG right now - works ok in this scenario
 - create followup task in _CLI_ repo to initialise service principal and resource group (probably in some way connected with [this task](https://github.com/epiphany-platform/cli/issues/14))

[2020-11-16 09:52] mkyc commented on #139
We can convert this task to epic, but I'd need some more detailed plan for this epic. AFAIU going with backup-restore way we would need to:
 - add support for separate disks in infrastructure creating VM's (my opinion is that this should be default and I do not need to configure anything to have separate disk used for "data")
 - ensure (for each component we have in classic epiphany) backup proces

[2020-11-16 10:05] atsikham commented on #139
We discussed that there should be possibility to configure, as each component requires different space amount and probably different mount points.

IMO that's correct.

I think that it's enough to make it possible via classic Epiphany.

@sk4zuzu @to-bar @toszo Could you write your thoughts on that? I remember that last time you participated in discussion.

[2020-11-16 10:13] atsikham commented on #737
Created https://github.com/epiphany-platform/cli/issues/16 task.

[2020-11-16 19:18] rafzei opened #1853 "[UPGRADE] Upgrade component to the latest version: Zookeeper"
**Is your feature request related to a problem? Please describe.**
- End of support for 3.4.12 version (06.2020).
- [CVE-2019-0201](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Aapache&cpe_product=cpe%3A%2F%3Aapache%3Azookeeper&cpe_version=cpe%3A%2F%3Aapache%3Azookeeper%3A3.4.12)

**Describe the solution you'd like**
- upgr

[2020-11-16 19:38] rafzei opened #1854 "[UPGRADE] Upgrade component to the latest version: RabbitMQ"
**Is your feature request related to a problem? Please describe.**
- [CVE-2020-5419 & CVE-2018-11087](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Avoxpupuli&cpe_product=cpe%3A%2F%3A%3Arabbitmq&cpe_version=cpe%3A%2F%3Apivotal_software%3Arabbitmq%3A3.8.3) - Epiphany v0.7, v0.8
- End of support for version 3.7.10 (Epiphany v0

[2020-11-16 20:04] rafzei opened #1855 "[UPGRADE] Upgrade Docker to v19.03.14"
**Is your feature request related to a problem? Please describe.**
- Docker-ce 18.09.9 end of support (11.2020)
- [CVE-2019-5736 & CVE-2019-13139 & CVE-2019-16884 & CVE-2019-13509](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Adocker&cpe_product=cpe%3A%2F%3Adocker%3Adocker&cpe_version=cpe%3A%2F%3Adocker%3Adocker%3A18.09.0)

[2020-11-17 08:54] toszo commented on #737
The thing about this item is: Currently when we create a service principal (in contributor role for sub) we need to have an "owner" role in the subscription. It is very problematic when user doesn't have owner rights.
So the problem has two folds:
1. SP being "contributor" on sub level have to be created by user with "owner" rights.
2. SP is having too wide permission (to all resources within subs

[2020-11-17 09:07] atsikham commented on #737
So there is an ability to provide a list of resource groups in the scope and necessary roles for that. It's still a question for me if steps that Mateusz listed should be applied only for modules or also in classic Epiphany.

[2020-11-17 10:14] #1792 closed

[2020-11-17 10:19] #1835 closed

[2020-11-17 10:23] mkyc commented on #1848
Please update Components.md.

[2020-11-17 10:23] plirglo commented on #1773
The output of this task are documentation pages created in linked PRs

[2020-11-17 10:30] #1773 closed

[2020-11-17 10:37] #1805 closed

[2020-11-17 11:07] sk4zuzu commented on #139
For me it's clear, we make the backup/restore process work flawlessly for every component and it has to be battle tested with big volumes of data. We have to know how much time it may take and what to do if restore process fails for some reason after let's say 3 hours and there are 5 hours left. During `epicli upgrade` we create and mount data disks, restore all backups and reconfigure all applica

[2020-11-17 11:11] atsikham commented on #737
Discussed with @przemyslavic. Let's keep this issue for Epiphany classic and create other ones for modules. For Epiphany classic we have a few options to implement this task.
1. Create SP with necessary role/scopes before running epicli and update documentation with information about how to do that.
2. Modify automatic SP creation, make it configurable.
3. Both options above.

Context:
* How to us

[2020-11-17 12:02] przemyslavic commented on #1409
Testing in progress.
Checked:
✔ `epicli apply` Ubuntu
✔ `epicli apply` RHEL
✔ `epicli apply` CentOS

[2020-11-17 13:12] to-bar commented on #1848
Updated in PR #1856

[2020-11-17 13:31] sk4zuzu opened #1857 "[SPIKE] Daisy-chain Epiphany's repositories"
**Describe the solution you'd like**
For the purpose of the custom repository implementation/fix I wrote this code https://github.com/sk4zuzu/epiphany-offline :+1::innocent:, but it should be also possible to reuse repository/image_registry from another/existing Epiphany cluster. That could prove much simpler idea for Epiphany's users. This spike is about finding out optimal configuration for sing

[2020-11-17 21:29] ar3ndt commented on #921
new [PR](https://github.com/epiphany-platform/epiphany/pull/1858) created

[2020-11-17 21:37] rafzei opened #1859 "[UPGRADE] Upgrade component to the latest version: Elasticsearch OSS"
**Is your feature request related to a problem? Please describe.**
- [CVE-2020-7020](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Aelastic&cpe_product=cpe%3A%2F%3A%3Aelasticsearch&cpe_version=cpe%3A%2F%3Aelastic%3Aelasticsearch%3A7.6.2)

**Describe the solution you'd like**
- Update to 7.9.3 or newer if available

[2020-11-17 21:44] rafzei opened #1860 "Upgrade Grafana (7.3.5)"
**Is your feature request related to a problem? Please describe.**
- Grafana version 6.5.2 has 10 voulnerabilities: [CVE-2020-13379, CVE-2019-15043, CVE-2019-19499, CVE-2020-24303, CVE-2020-12245, CVE-2020-11110, CVE-2020-13430, CVE-2020-12052, CVE-2020-12459, CVE-2020-12458](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Agr

[2020-11-17 21:51] rafzei opened #1861 "[UPGRADE] Upgrade PostgreSQL to v13"
**Is your feature request related to a problem? Please describe.**
- PostgreSQL v10 has 20 vulnerabilities : [CVE-2019-10211, CVE-2018-16850, CVE-2018-1115, CVE-2019-10208, CVE-2019-10164, CVE-2018-1058, CVE-2018-10925, CVE-2018-10915, CVE-2020-10733, CVE-2020-14350,CVE-2019-9193,
CVE-2020-14349, CVE-2019-10210, CVE-2018-1053, CVE-2018-1052, CVE-2017-15099, CVE-2020-1720, CVE-2019-10130](https://n

[2020-11-17 21:59] rafzei opened #1862 "[UPGRADE] Upgrade Ignite (2.9.1)"
**Is your feature request related to a problem? Please describe.**
- [CVE-2020-1963](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Aapache&cpe_product=cpe%3A%2F%3A%3Aignite&cpe_version=cpe%3A%2F%3Aapache%3Aignite%3A2.5.0)

**Describe the solution you'd like**
- Upgrade to version 2.9.0  or newer if available
- Backport to su

[2020-11-17 22:05] rafzei opened #1863 "[UPGRADE] Upgrade component to the latest version: Apache2"
**Is your feature request related to a problem? Please describe.**
- Apache2 has 40 vulnerabilities: [full list](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&seach_type=all&query=cpe:2.3:a:apache:http_server:2.4.29:*:*:*:*:*:*:*)

**Describe the solution you'd like**
- Update to version 2.4.46 or newer if available
- Backport to supported Epiphany versions (ple

[2020-11-17 22:10] rafzei opened #1864 "[UPGRADE] Upgrade component to the latest version: Hashicorp Vault"
**Is your feature request related to a problem? Please describe.**
In epiphany we use version of Hashicorp Vault where some vulnerabilities were found:
[CVE-2020-25816, CVE-2020-16251, CVE-2020-16250, CVE-2020-12757,CVE-2020-13223](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&seach_type=all&query=cpe:2.3:a:hashicorp:vault:1.4.0:*:*:*:enterprise:*:*:*)

**Descri

[2020-11-18 11:54] przemyslavic opened #1865 "[BUG] Epicli fails on helm installation when using a custom image registry and local repository"
**Describe the bug**
Epicli fails on helm installation when using a custom image registry and local repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `epicli apply -f testcustomrepo.yml` using the configuration given below.

**Expected behavior**
The cluster has been deployed successfully.

**Config files**
[code]
**OS (please complete the following information):**
 - OS: [

[2020-11-18 12:05] mkyc commented on #139
Just reminded myself that we have #1545 epic for backup/restore topics.

Maybe we use this current task (139) only to implement option to add disks to VMs in classic epiphany?

[2020-11-19 07:52] rafzei commented on #1819
Currently, modules are prepared for the 'standard' scenario. @toszo do we have to take care of single node and ha options as well?

[2020-11-19 08:41] rpudlowski93 commented on #1833
- Changes done in PR #1839
- Now, the daemonsets will be installed in custom namespaces

[2020-11-19 09:21] #1848 closed

[2020-11-19 10:08] toszo commented on #1819
Yes, a single node is important because of the large number of installations in prod.
HA is less popular but is also a must-have.

[2020-11-19 10:23] mkyc commented on #1819
I believe that it's impossible to finish all scenarios in reasonable time. Can agree on order how we want to work on that? Is one node more important than standard? What you want to see as result of first task? Master + 3 nodes, or single-node?

My opinion is master + 3 nodes is most standard think we want. I'd like to have it as first version.

[2020-11-19 11:55] toszo commented on #1819
Hmm but currently we support all 3 scenarios with epicli, are we going to drop some functionality?

[2020-11-19 12:30] mkyc commented on #1819
Not drop, but order.

I believe we should start with "1master + X nodes" scenario in this module. During development of this scenario we will be able to see if single-node scenario is simple to add with some parameter or not. Then we will be able to decide if we want to move this single-node scenario into separate module. The same with HA: we will be able to judge during development if it's easy t

[2020-11-19 13:12] pprach commented on #1798
Check created prometheus alerts and decide which should be used in epiphany.

[2020-11-19 13:15] erzetpe commented on #1676
PR [#26](https://github.com/epiphany-platform/m-aws-basic-infrastructure/issues/26)

[2020-11-19 13:53] mkyc commented on #1764
This is about just internal communication.

[2020-11-19 14:59] rafzei commented on #1853
Please verify if:
- latest Kafka version contains embedded Zookeeper
- we need a standalone Zookeeper (ask other teams)

[2020-11-19 18:31] toszo commented on #1819
Ok, since we will still have the possibility to run epicli in "old fashioned" way I'm fine with go with it in this module.

[2020-11-19 18:38] to-bar opened #1866 "[BUG] [Filebeat] [AKS/EKS] No logs from K8s apps in Elasticsearch"
**Describe the bug**
Pod logs are not shipped by Filebeat (deployed in K8s) to Elasticsearch.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Epiphany on AKS/EKS cluster (`k8s_as_cloud_service: true`).
2. Browse Filebeat index in Elasticsearch.

**Expected behavior**
Pod logs should be present in ES (with K8s fields such as `kubernetes.pod.name`).

**Config files**
[code]
**Cloud Envi

[2020-11-20 08:36] przemyslavic commented on #1854
Due to the vulnerabilities mentioned above, we need to update RabbitMQ to the latest versions (at the moment it is RabbitMQ 3.8.9 release). This applies to both standalone installation and deployment on Kubernetes.

[2020-11-20 08:41] sk4zuzu commented on #139
@mkyc agreed. We make this task about adding optional disks to classic Epiphany clusters without moving any data. This mechanism should:
1. be generic enough to allow defining extra disks per component
2.

[2020-11-20 09:20] sk4zuzu commented on #1855
I believe we should upgrade docker only to versions supported by Kubernetes cluster at hand and not newer.

[2020-11-20 10:13] plirglo commented on #1844
Result of this task should be disabled default password in these services since it's unacceptable from security perspective.

[2020-11-20 11:32] atsikham commented on #1861
* After Postgres upgrading related components have to be checked: `repmgr, pgpool, pgbouncer, pgaudit`. So this task may be large, especially with testing part.
* Let's discuss backporting tasks after implementation, during DoD.

[2020-11-20 11:41] sk4zuzu opened #1868 "[BUG] Repository host runs Ubuntu on Azure/RHEL cluster"
**Describe the bug**
While looking at #1824 I used config snippets designed for Epiphany 0.5 with epicli built from develop branch. After this PR #1687 snippets in question are not compatible with current code, but we don't assert that in any way! :scream:

In result `epcli apply` on Azure/RHEL without explicitly defined `infrastructure/virtual-machine` for repository VM fails because default conf

[2020-11-20 11:56] przemyslavic commented on #1280
Now it works fine after fixing.
Checked:
✔ `epicli apply` with 2 PostgreSQL vms clustered on `AWS`/`Azure` x `Ubuntu`/`RHEL`

[2020-11-20 12:28] przemyslavic commented on #1868
Note that the user may not explicitly specify all components and then [default values](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/defaults/epiphany-cluster.yml) are used, which are not always set to 0, so validating only the input yaml file  may not be sufficient unless we force the user to explicitly specify all components or we validate the manifest fi

[2020-11-20 13:35] mkyc commented on #1822
In this task we should decide scope of Istio module. We have to do basic research what are use cases and identify order of work. Similarly as in #1819 but in that other task, we know scenarios because we already use Kubernetes heavily, and with Istio we're not that skilled.

[2020-11-20 13:40] rafzei commented on #1819
I see we have agreement here so I will push it to to-do.
The goal of this issue is: create a new issues with well described steps to create such module.
(Consider as reference: Epic K8s Autoscaler)

[2020-11-20 13:47] mkyc commented on #1819
@rafzei please update description of that issue as well.

[2020-11-24 08:23] przemyslavic commented on #1865
Fixed. The conditions for enabling/disabling helm tunnel have been changed.

[2020-11-24 09:39] atsikham commented on #1863
* Updating Apache version does not seem to be a complex change, like we had with HAproxy last time.
* Let's discuss backporting tasks during DoD.

[2020-11-24 09:57] to-bar commented on #1715
- Added support for running on Windows (under Git Bash)
- Tests OK (checked k8s dashboard, Keycloak, Kibana, pod statuses)
- During testing found and reported issue [#1866 [Filebeat] [AKS/EKS] No logs from K8s apps in Elasticsearch](https://github.com/epiphany-platform/epiphany/issues/1866)

[2020-11-24 09:59] plirglo commented on #1853
Please see task #1137 - Kafka Upgrade.
We need upgrade Zookeeper to version supported by Kafka latest version:
Kafka 2.6.0 -> Zookeeper 3.5.8

After Kafka 3.0 release Zookeeper probably will not be needed for Kafka.

[2020-11-24 10:15] #1715 closed

[2020-11-24 10:28] #1409 closed

[2020-11-24 10:28] #1865 closed

[2020-11-24 10:36] #1280 closed

[2020-11-24 12:01] sk4zuzu commented on #195
Hi there! :+1::innocent:

Here's my research about validation, a proof-of-concept very simple functional-style DSL https://github.com/sk4zuzu/RESEARCH/blob/master/jsonschema%2Bjmespath/main.py#L431-L448 that could be added to our schema documents and provide declarative dynamic validation of Epiphany's manfest (it's a working prototype).

You can see here that on top of the normal jsonchema valida

[2020-11-24 14:36] ar3ndt commented on #1761
related [PR](https://github.com/epiphany-platform/m-aws-basic-infrastructure/pull/41)

[2020-11-24 16:00] to-bar opened #1870 "[BUG] [AKS/EKS] Do not install Filebeat when there is no Elasticsearch"
**Describe the bug**
Filebeat is installed even when `specification.components.logging.count: 0`.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Epiphany on AKS/EKS cluster (`k8s_as_cloud_service: true`) with no `logging` component.
2. Check status of filebeat pods.

**Expected behavior**
Skip Filebeat installation when `logging` group doesn't exist or is empty.

**OS (please complet

[2020-11-24 16:52] to-bar opened #1872 "[BUG] pythonPath in launch.json is not supported"
**Describe the bug**
VSCode informs that "Property pythonPath is not allowed".

**To Reproduce**
Steps to reproduce the behavior:
Open file `core\src\epicli\.vscode\launch.json` in VSCode.

**Expected behavior**
No problem detected.

**Additional context**
https://code.visualstudio.com/docs/python/debugging#_python

[2020-11-25 09:07] atsikham commented on #1863
Apache server is used only for repository part, it's not a Epiphany main component. We already install the latest available version for RHEL 7 and Ubuntu 18.04:

* https://access.redhat.com/solutions/445713
* https://packages.ubuntu.com/search?keywords=apache2

Comment from @erzetpe:

Comment from @to-bar:

gunzip --force /usr/share/doc/apache2/changelog.Debian.gz
grep -Po 'CVE-2020-\d+' /usr/shar

[2020-11-25 11:41] to-bar opened #1875 "[BUG] epicli upgrade fails when there is no kubernetes_master group in inventory"
**Describe the bug**
`epicli upgrade` requires `kubernetes_master` group. For AKS/EKS clusters there is no such group.

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy Epiphany cluster without k8s or with k8s as cloud service (`k8s_as_cloud_service: true`).
2. Run `epicli upgrade`.

**Expected behavior**
Upgrade succeeded.

**Environment**
- Cloud provider: All
- OS: All

*

[2020-11-25 16:33] to-bar commented on #1833
Checked:
❌ `epicli upgrade` (for cluster in v0.8.0):
[code]

[2020-11-26 08:58] #1872 closed

[2020-11-26 09:03] mkyc commented on #1863
@rafzei and @plirglo please talk to @toszo what to do with it. We need to know how to handle this kind of situations.

[2020-11-26 10:01] to-bar opened #1877 "[FEATURE REQUEST] Upgrade skopeo to v1.2.0 or newer"
**Is your feature request related to a problem? Please describe.**
We use skopeo v0.1.40-dev and occasionally get network related errors such as `Invalid status code returned when fetching blob 502 (Bad Gateway)`. We do not have retry functionality so deployment fails.

The latest skopeo supports [retries on commands](https://github.com/containers/skopeo/issues/918) and includes many [improvements

[2020-11-26 10:34] mkyc commented on #1853
Lets upgrade to 3.5.8.

[2020-11-26 10:35] sk4zuzu commented on #1355
What we need to understand here is what is required to for fully customizing and updating LVM config inside the VM. We can use cloud-init for example but we should check first if modifications of config templates are destructive in Azure (and also in AWS in case we would like to do the same in AWS). @to-bar WDYT?

[2020-11-26 10:37] mkyc commented on #1137
While releasing please make sure that it was tested together with #1853

[2020-11-26 11:59] to-bar commented on #1855
The source of true for validated Docker version is:
https://github.com/kubernetes/kubernetes/blob/release-1.18/vendor/k8s.io/system-validators/validators/docker_validator.go
[code]
19.03 is validated since 1.17, see [PR](https://github.com/kubernetes/kubernetes/pull/84476).

Backporting this issue we can also [try to use 19.03](https://github.com/kubernetes/kubernetes/issues/82326#issuecomment-548

[2020-11-26 15:04] przemyslavic commented on #1868
✅ An assertion has been added to check whether all components specified explicitly in the yaml configuration file and those enabled implicitly in the defaults, have the same operating system defined.

[2020-11-26 23:49] rpudlowski93 commented on #1833
Additional changes done in PR #[1878](https://github.com/epiphany-platform/epiphany/pull/1878). Please repeat tests

[2020-11-27 15:41] to-bar commented on #1355
I've done a spike. This task seems to be really difficult.
I've prepared the following working steps but this is a PoC (not a final script) to be evaluated and maybe implemented. During the procedure ssh connection is closed twice (because of killing spree logic) so further improvements may be needed.

Source: https://systemd.io/ROOT_STORAGE_DAEMONS/

[code]

**Tested with:**

[code]

[2020-11-27 16:09] sk4zuzu commented on #1355
:hugs:

[2020-11-27 18:44] rpudlowski93 commented on #1821
Summary of my spike:

Istio - Open source platform which allow us run service mesh for distributed microservice architecture. It allows to connect, manage and run secure connections between microservices and bring us a lot of features such as load balancing, monitoring, service-to-service authentication without any changes in service code. Read more about Istio [here]((https://istio.io/latest/docs

[2020-12-01 08:16] przemyslavic commented on #1875
✅ The installation of the cluster without K8s has been checked and the upgrade now works fine.

[2020-12-01 10:01] atsikham commented on #1859
Take a look into similar task #1140 that we had previously and its changes. Check ODFE compatibility and upgrade if necessary - https://www.elastic.co/support/matrix#matrix_compatibility.

[2020-12-01 10:09] plirglo commented on #1863
@sk4zuzu Could you please comment this task since you've got some idea for this.

[2020-12-01 10:15] #1875 closed

[2020-12-01 10:19] #1868 closed

[2020-12-01 11:26] to-bar opened #1880 "[BACKPORT to v0.8] epicli upgrade fails when there is no kubernetes_master group in inventory"
Backport fix for #1875 to v0.8 support branch.

[2020-12-01 12:13] rafzei opened #1881 "[BUG] epicli: wrong informations in help messages"
**Describe the bug**
We have some discrepancies in epicli <command> --help messages.
Example:
[code]
`--os` argument is not optional, it's required to run `epicli prepare`:
[code]
Second example:
[code]
--file is required, epicli looking nowhere for a file if we don't specify it and error appears:
`12:02:11 ERROR epicli - expected str, bytes or os.PathLike object, not NoneType`

**How to reproduce

[2020-12-01 14:27] sk4zuzu commented on #1818
@mkyc is this for "on-prem" usage (without cloud provider) ? :thinking:

[2020-12-01 14:59] mkyc commented on #1818
Just on-prem. Directly on "bare metal" machines.

[2020-12-02 14:31] przemyslavic commented on #1833
Checked:
✔️ epicli upgrade (from 0.8.0 to develop):
[code]
Namespaces for DaemonSets have been changed to dedicated ones.

[2020-12-02 14:37] to-bar commented on #1833
Checked:
✔️ epicli apply
[code]

[2020-12-02 15:17] przemyslavic opened #1884 "[BUG] Prometheus is not able to scrape metrics from AKS/EKS nodes."
**Describe the bug**
Prometheus is not able to scrape metrics from AKS/EKS nodes .

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy the AKS / EKS cluster with monitoring enabled.

**Expected behavior**
Prometheus configuration allows you to scrape metrics from node exporters installed as DaemonSets.

**Config files**
You can use the `m-generic-epiphany-on-aks` module with the follo

[2020-12-03 09:03] #1833 closed

[2020-12-03 13:08] rpudlowski93 commented on #1821
- We should also check how it works using internal loadbalancer since teams are going to use the service mesh in private cluster.
- We should check how upgrade proces looks and how it works ( specially how envoy proxy will behave )

[2020-12-03 18:34] to-bar opened #1887 "[BUG] epicli upgrade of cluster created by Epiphany v0.6 fails on [preflight_facts : Store preflight facts] task"
**Describe the bug**
Error message:
`PermissionError: [Errno 1] Operation not permitted: /shared/build/06hatodevawrhcalico/vault//../preflight_facts.yml`

Cause:
[code]

PR #1825 added the `mode` parameter to the `Store preflight facts` task:

[code]

and the `become` parameter has been added in v0.7.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy cluster using epici v0.6
2. Run

[2020-12-03 18:56] to-bar opened #1888 "[BUG] epicli upgrade of cluster created by Epiphany v0.5 may fail on [kubernetes_master : Patch deployment: coredns] task"
**Describe the bug**

The issue appeared on AWS after upgrading Docker and is non-deterministic.

Error message:
[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Create cluster with Epiphany v0.5
2. Run `epicli upgrade` using code from a branch with upgraded Docker to v19.03.14.

**Expected behavior**
Upgrade should succeed.

**Environment**
- Cloud provider: AWS
- OS: Ubuntu, RHEL

[2020-12-04 09:07] mkyc commented on #1076
Check if that is related to #1706

[2020-12-04 12:53] mkyc commented on #1863
@sk4zuzu to add comment about runc and docker approach and why.

[2020-12-04 12:58] przemyslavic commented on #1761
The pipeline has been tested and works properly. The test results are visible in the dashboard in Azure DevOps.

[2020-12-04 13:13] przemyslavic commented on #1676
Added tests for: `init`, `plan`, `apply`, `destroy plan`, `destroy`.
Tests can be run with `make test` or `go test` command.

[2020-12-04 13:14] to-bar commented on #1884
After solving this issue, the fix should be backported to v0.8 branch.

[2020-12-04 13:15] to-bar commented on #1866
After solving this issue, the fix should be backported to v0.8 branch.

[2020-12-04 13:17] to-bar commented on #1870
After solving this issue, the fix should be backported to v0.8 branch.

[2020-12-04 13:33] mkyc commented on #1332
We should handle it in basic infrastructure modules.

[2020-12-04 13:58] sk4zuzu commented on #1765
To even consider client cert auth we need to have TLS support fist. :thinking:

[2020-12-06 20:28] toszo commented on #1822
Create an Istio module that will:
1. Install Istio on Managed and unmanaged K8s - Must Have
1.1 Istio by default will use Third party tokens for authentication - which is not enabled on all platform, using istioctl this will be detected automatically (https://istio.io/latest/docs/ops/best-practices/security/#configure-third-party-service-account-tokens) or we may "ask K8s" if it is supported befor

[2020-12-06 23:58] mkyc commented on #1821
Another topic to check is offline installation, but that what I read looks good enough to start designing requirements for module.

[2020-12-07 09:11] rpudlowski93 commented on #1076
Yes, it looks that the PR is releated to the task. Moreover as seriva metioned here : https://github.com/epiphany-platform/epiphany/issues/1702, we should removed ASG for AWS. So in my opinion the task can be connected to #1706, and a new task should be created for removing the ASG for AWS.

[2020-12-07 10:13] atsikham commented on #1822
I've read what was done in #1821. There is just a few steps to install/update/uninstall Istio with operator, but we plan to wrap even that with modules. We are going to create an additional level of complexity, when it's not necessary.

[2020-12-07 10:44] mkyc commented on #1822
👍

That I would plan when we reach observability modules.

👍

[2020-12-07 12:07] sk4zuzu commented on #1818
Please take a look into specific readme files.

Spike results:
- kops: cannot be used since it's cloud-exclusive
- kubicorn: cannot be used since it's cloud-exclusive
- rke: https://github.com/sk4zuzu/RESEARCH/tree/master/k8s-engines-on-prem/rke
- kubespray: https://github.com/sk4zuzu/RESEARCH/tree/master/k8s-engines-on-prem/kubespray
- kubeone: https://github.com/sk4zuzu/RESEARCH/tree/master/k8s-

[2020-12-07 12:07] rpudlowski93 commented on #1821
Update:
I executed Istio updated using Istio Operator from 1.7.5 to 1.8.0:
 - We can execute the update in two ways: canary update and in-place update. I chose the in-place update. It is really easy to do it using operator since operator will update control plane automatically.
- We just need to execute using kubectl - rolling update of our application's deployment in order to update envoy proxy (

[2020-12-07 12:22] mkyc commented on #1818
Those researches should be moved to https://github.com/epiphany-platform/epiphany/tree/develop/docs/design-docs/k8s-installs-tools or at least some independent extraction should be made.

[2020-12-07 12:26] sk4zuzu commented on #1818
I don't think it's the proper place to keep so much source code completely unrelated to Epiphany. Also extraction looks like some extra work. I can create another repo and move / rebase commits there.

[2020-12-07 12:27] toszo commented on #1818
@sk4zuzu could you add similar doc for kubelo?

[2020-12-07 12:31] sk4zuzu commented on #1818
Haha, makes no sense it's just a silly example ;). If you want something similar then maybe this would be better https://github.com/kairen/kube-ansible :) (although almost no activity)

[2020-12-07 12:36] rpudlowski93 commented on #1822
I've just updated #1821 about upgrade process and I can confirm once again that installing Istio using operator and upgrading/uninstalling is super easy.

- Using Istioctl and operator looks like the best connection for us 👍
- I'm really curious of opinion from @atsikham that maybe we don't need to wrap it to module, @mkyc can You comment it?
- Support Observability - it can be done using Mixer co

[2020-12-07 12:54] plirglo commented on #1331
Ubuntu 18.04 LTS Support will end in 04.2023 -  we have some time, but we should start thinking about upgrade to 20.04 since it was released in Q2 2020.

- all packages compatibility needs to be check and tested
- we have to create upgrade role (including offline)
- tests will be very time consuming

[2020-12-07 12:56] mkyc commented on #1822
In general modules approach is designed to remove different ways to operate different components.

As far as I can imagine now, we would enclose Istio installation steps into some Ansible script. As I just found during [this PR](https://github.com/epiphany-platform/m-azure-basic-infrastructure/pull/47) terraform modules will be very similar to each other and will be easy to abstract, but still tes

[2020-12-07 12:57] przemyslavic commented on #1880
✅ I successfully upgraded a cluster with no Kubernetes from version 0.7.2 to 0.8.x

[2020-12-07 13:23] toszo opened #1892 "[FEATURE REQUEST] Add ansible-lint to epicli devcontainer"
**Is your feature request related to a problem? Please describe.**
Currently there is no linting, styling for our Ansible suite.

**Describe the solution you'd like**
Add Ansible-lint to the devcontainer and enable it and add a task to generate junit based output so we can run it later in our build infra.

**Describe alternatives you've considered**
None

**Additional context**
https://github.com/

[2020-12-07 14:39] mkyc commented on #1313
how is it related to #139?

[2020-12-07 15:28] atsikham commented on #1822
`Istioctl itself is additional level of complexity` - It's not true, as it's created to simplify Istio management and actually It does that.
Ok, let's see how things will go with that module.

[2020-12-07 18:17] toszo opened #1894 "[FEATURE REQUEST] Kafka Module"
**Is your feature request related to a problem? Please describe.**
Currently upgrading Epiphany means - all or nothing, users need to update all components which sometimes can be problematic (like libraries in apps used for Kafka connectivity may not be fully compatible with never version). But in the same time want to update other components - or may update just Kafka.

**Describe the solution yo

[2020-12-08 08:58] sk4zuzu commented on #1863
For the purpose of completing this task https://github.com/epiphany-platform/epiphany/issues/1764 I wanted to switch our implementations of repository and registry to runc-based solution. The idea is that since these are our internal services it's beneficial to make them identical in every possible registry and simplify the code. After this operations httpd will be installed from latest alpine-bas

[2020-12-08 10:07] #1676 closed

[2020-12-08 10:12] #1761 closed

[2020-12-08 10:14] #1880 closed

[2020-12-08 11:42] sk4zuzu commented on #1819
All the k8s installation engines I have checked in the Spike https://github.com/epiphany-platform/epiphany/pull/1893 are HA by default. There should be no obvious distinction between `1:N` or `M:N` or even `1:1`, because all the tools likely support all the scenarios.
I wondered from where this confusion came from and maybe this is because in Epiphany for historical reasons we have to set special

[2020-12-08 12:50] sk4zuzu commented on #1355
This is quite crazy it's in todo just like that after the spike :) It's a complex and dangerous procedure, IMO it requires further research and maybe some working ansible POC first? :thinking:

[2020-12-08 13:41] sk4zuzu commented on #1415
@toszo this issue lacks information about which CNI was used to reproduce the problem. If you take a look here http://apache-ignite-users.70518.x6.nabble.com/Ignite-on-RBAC-enabled-K8s-cluster-tp22165p22269.html there is some discussion about similar issue, it does not show the exact solution, but mentions that miscofigured CNI was causing it. We support canal, flannel and calico which one is it ?

[2020-12-08 15:50] toszo commented on #1822
@mkyc @atsikham is this conversation enough to start working on Istio Module?
To sum up:
1. Install Istio on managed and unmanaged K8s. <- that is where we start
It means - create a module that will install Istio Operator which will allow us to maintain Istio config (routing, ingresses, certs) using CR's.

[2020-12-08 16:12] przemyslavic commented on #921
I found an issue with duplicate log entries for PgBouncer on Ubuntu. This is because in the filebeat configuration for PostgreSQL the path `/var/log/postgresql/*.log*` was specified first, and then `/var/log/postgresql/pgbouncer.log*` for PgBouncer, and the second path is included in the first, which leads to multiplication.

[code]

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f7

[2020-12-08 16:36] toszo commented on #1415
This is request is external - I do not have an information about cni used - I assume flannel (most of usacases is flannel).
The problem may be related to K8s service discovery used in Ignite. @pyrkamarcin configured Ignite with Zookeeper and it worked without problems.

[2020-12-08 17:24] to-bar commented on #921
The issue with duplicate log entries for PgBouncer on Ubuntu fixed in PR #1896.

[2020-12-08 18:16] pyrkamarcin commented on #1415
@toszo @sk4zuzu I was decided to use ZK for service discovery because K8s as lost connection and lost info about instances. I don't remember exactly the issue, but as @toszo mention, it was some similar.

Ignite discovery config with ZK looks like:
[code]
I have tested both cases: in K8s (also ZK) and on VM.

[2020-12-08 20:25] ar3ndt commented on #921
@przemyslavic Can we move this to test again?

[2020-12-08 20:48] toszo commented on #1853
@mkyc why 3.5.8 and not 3.6.2 - the latest one?

[2020-12-09 08:17] rafzei commented on #1863
well, shall we put this on-hold or add a dependency to another task?

[2020-12-09 08:39] przemyslavic commented on #921
In test.

[2020-12-09 08:59] mkyc commented on #1853
Hmmmm ... there was some reason @plirglo gave that version in discussion, but I do not remember that reason.

[2020-12-09 09:10] rpudlowski93 commented on #1853
Upgraded to 3.5.8 done in PR #1897

[2020-12-09 09:22] rpudlowski93 commented on #1853
@plirglo Can You comment why to version 3.5.8 not to latest one? I think that the information in kafka release was leading the decision : [link](https://downloads.apache.org/kafka/2.6.0/RELEASE_NOTES.html)kafka in latest version 3.6.2 could be nice (some workaround implemented in upgrading zookeeper to 3.5.8 version was needed). @plirglo Do You have any significant knowledge about it? If not I can

[2020-12-09 09:25] rpudlowski93 commented on #1137
Tested, upgrade from 0.7.2 to develop finished with success. Kafka works properly after the changes.
Tested with #1853 (upgrade zookeeper to 3.5.8)

[2020-12-09 10:07] przemyslavic commented on #1888
Upgrade to develop tested automatically in the pipeline.
✔️ `AWS`/`Azure` x `RHEL`/`Ubuntu` x `flannel`/`calico`/`canal`

[2020-12-09 12:53] toszo commented on #1818
@sk4zuzu - How about certificates on those tools? (like the generation of certs for a longer period than 1y).

[2020-12-09 15:01] sk4zuzu commented on #1818
rke - https://rancher.com/docs/rke/latest/en/cert-mgmt/

kubespray - https://github.com/kubernetes-sigs/kubespray/blob/master/docs/upgrades.md#upgrade-considerations "some manual steps may be required" :thinking:

kubeone - couldn't find valid documentation for it, but both kubespray and kubeone use kubeadm, so standard kubeadm procedures would apply I guess :thinking:

@toszo is this enough or wo

[2020-12-09 15:33] toszo commented on #1818
It is enough, thank you!

[2020-12-09 16:26] sk4zuzu opened #1900 "[SPIKE] Make Epiphany maintenance-free as much as possible"
One of our business goals is to make Epiphany maintenance-free to the point where we could leave an on-prem cluster working for years without any crash.

There are many scenarios to consider here, like expiring k8s certificates, overflowing filesystems or faulty hardware. In this spike we would like to first understand what should be such scenarios, then later having this knowledge we would create

[2020-12-09 16:49] sk4zuzu opened #1901 "[SPIKE] Make Epiphany upgrades selective (Kafka)"
**Description**

In this spike we want to consider an option with selective Kafka upgrades by Epicli.

It should be relatively simple (likely requires no changes in upgrade procedures themselves) to refactor Epiphany upgrades and make it possible for the user to control what components will be upgraded. That may bring value not only to users with legacy clusters but also to the process of testing.

[2020-12-10 08:03] przemyslavic commented on #1855
Tested automatically in the pipeline with @to-bar.
✔️ `epicli apply`
✔️ `epicli upgrade` from 0.4.x, 0.5.x, 0.6.x, 0.7.x, 0.8.x to develop

[2020-12-10 09:03] #1137 closed

[2020-12-10 09:08] #1888 closed

[2020-12-10 09:11] #921 closed

[2020-12-10 09:13] #1855 closed

[2020-12-10 13:24] sk4zuzu commented on #1355
We discussed this in a team meeting and decided that implementing this procedure is not something that we really want to do. It's better just to resize specific logical volumes based on the real usage. Later we will introduce additional data disks into our clusters then this problem will no longer be a problem.

[2020-12-10 14:12] erzetpe commented on #1821
Both scenarios look okay in my opinion. We should this what Mateusz mentioned.

[2020-12-10 14:25] seriva commented on #1822
For unmanaged K8s we want to use the module to just deploy it on top of our current old stack EpiCLI cluster correct?

[2020-12-11 08:43] to-bar opened #1904 "[Backport to v0.8] Upgrade Docker to v19.03.14"
Backport #1855 to v0.8 branch.

Requires backporting #1888.

[2020-12-11 08:45] to-bar opened #1905 "[Backport to v0.7] Upgrade Docker to v19.03.14"
Backport #1855 to v0.7 branch.

Requires backporting #1888.

[2020-12-11 08:47] to-bar opened #1906 "[Backport to v0.5] Upgrade Docker to v19.03.14"
Backport #1855 to v0.5 branch.

Requires backporting #1888.

[2020-12-11 08:47] to-bar opened #1907 "[Backport to v0.6] Upgrade Docker to v19.03.14"
Backport #1855 to v0.6 branch.

Requires backporting #1888.

[2020-12-11 09:31] seriva commented on #1821
Looks good to me, I would agree with: `Finally, in my opinion, we should create new m-istio module, which could be use on the top of epiphany cluster, and using kubectl and istioctl we should deploy the Istio.` Dont think we should waste time implementing this in old Epiphany.

As for offline we need to check how to achieve this as it will be important.

[2020-12-11 11:05] to-bar commented on #1821
I think we should take into account offline mode.
1. Identify all needed binaries (requirements).
2. Decide how to provide requirements, some options to consider:
a) build them into m-istio module's Docker image - need to check sizes and licenses
b) add them to epirepo created by `epicli` - by default the service is stopped after `epicli` completes but loaded images are available in Docker registr

[2020-12-11 11:09] to-bar commented on #1822
Added some [comments](https://github.com/epiphany-platform/epiphany/issues/1821#issuecomment-743130070) in #1821.

[2020-12-11 11:19] mkyc commented on #1822
Yeah, we should also have decision here if we are required to provide offline mode in first version.

[2020-12-11 11:27] mkyc commented on #1821
Please remember that @seriva did [some Ansible image already](https://github.com/seriva/component-cli/tree/master/component1). My opinion is that it's bit of overhead to use Ansible here (we just need simple retry of command) but if we want to go with Ansible it's definitely too early do decide what we want to extract to some base image. Also please remember that for this topic - docker images str

[2020-12-11 11:32] plirglo commented on #1332
1. Upgrade process:
Upgrade should include two steps process:
- Update to latest available RHEL 7 version (as mentioned in upgrade requirements)
- Major upgrade to RHEL 8

We need to confirm this since in Azure the latest with RAW partitioning is 7.7: https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#note-for-rhel--centos-azure-images

2. Starting RHEL version 8

[2020-12-11 11:32] sk4zuzu commented on #1821
I'm afraid deciding what should go into the module and how it should be designed that's difficult question to answer. To make local/private docker registry usable in Kubernetes we not only need to provide credentials but also proper certificates/domain or set insecure registry in docker. We most likely shouldn't be using insecure registiries (especially in managed k8s).

There are 2 cases I can im

[2020-12-11 11:40] rpudlowski93 commented on #1821
Looking briefly at the possibilites, offline installation in my opinion can be possible. We can get all artefacts from:
- https://gcsweb.istio.io/gcs/istio-release/releases/1.8.1/docker/

We can use: `istioctl operator init` with flag `--hub ` which will point to the local registry.

All possible flags : [link](https://istio.io/latest/docs/reference/commands/istioctl/#istioctl-operator-init)

[2020-12-11 11:55] mkyc commented on #1821
I agree here with @sk4zuzu.

I believe we could omit that scenario in first version. @toszo can you comment?

Yeah, and I believe it's first "offline" scenario we want to hit. Again, not sure if required in first version (@toszo ?). If we imagine it as separate m-istio-registry it becomes:
 * relatively small
 * similar to other m-*-registry modules in future

[2020-12-11 13:27] atsikham commented on #1821
Agree with @mkyc that using Ansible for Istio module might be an overhead. Managing own PKI infrastructure for the internal registry looks to be not the most important thing for the first time, but should be taken into account. @sk4zuzu is it related to #1764 and could be re-used from that task?

[2020-12-11 13:29] atsikham commented on #1332
Are there tasks for that?

[2020-12-11 14:10] to-bar commented on #1821
About using Ansible - IMO it depends on flow and the flow seems to be not decided yet. I would almost always prefer "smart" Ansible than "limited" Bash, especially when network operations are needed (more than one host).

Each component can have its own repository/registry module (or embedded logic to create/update it) or we can have `m-repository` **generic module** that is used by other modules

[2020-12-11 15:00] sk4zuzu opened #1908 "[SPIKE] Research why Epiphany nodes hang when memory is overcommited"
**Is your feature request related to a problem? Please describe.**
It seems that when k8s resource limits are incorrectly defined and memory is overcommited by applications user loses all ssh access to Epiphany VMs. This indicates that operating system is not protected from memory and cpu overusage. Usually it's not possible to debug such machines, restart is required and cluster becomes unstable.

[2020-12-11 18:04] erzetpe commented on #1332
Do we really want to perform automatic upgrade from RHEL 7.x to 8.x? Maybe it will be better to support 8.x but leave whole procedure of upgrade to user and just give instruction/links how to perform this manually?

[2020-12-14 00:04] ar3ndt commented on #1866
looks as easy fix - like mentioned in additional context it should be enough just add another 'or' condition checking flag `k8s_as_cloud_service`

[2020-12-14 08:35] przemyslavic commented on #1884
✔️ Tested. It works fine now - Prometheus is able to scrape metrics from managed k8s nodes.
✔️ The backport to v0.8.x was also tested here.

[2020-12-14 10:38] mkyc commented on #1821
I believe this task is done correctly and could be moved to DoD phase.

[2020-12-14 11:03] seriva opened #1910 "[FEATURE REQUEST] Module to deploy Istio on managed clusters (Azure AKS and AWS EKS)"
**Is your feature request related to a problem? Please describe.**
We would like to have [Istio](https://istio.io/) as our service mesh on managed clusters (Azure AKS and AWS EKS)

**Describe the solution you'd like**
A standalone module that will use the [Istio Operator](https://istio.io/latest/docs/setup/install/operator/) to deploy it on Azure AKS and AWS EKS clusters deployed with:

- [m-aws-k

[2020-12-14 11:10] seriva opened #1911 "[FEATURE REQUEST] Deploy Istio on unmanaged clusters installed with Epicli"
**Is your feature request related to a problem? Please describe.**
We would like to have [Istio](https://istio.io/) as our service mesh on unmanaged clusters deployed with Epicli

**Describe the solution you'd like**
An additional application using [Istio Operator](https://istio.io/latest/docs/setup/install/operator/) to deploy [Istio](https://istio.io/) on unmanaged clusters.

Should support offl

[2020-12-14 11:45] seriva commented on #1821
Agreed.

[2020-12-14 12:15] przemyslavic commented on #1887
The fix for handling a permission issue on `preflight_facts.yml` works correctly.
The cluster has been successfully upgraded to develop.
Tested:
✔️ 0.6 -> develop
✔️ 0.6 HA -> develop

[2020-12-14 13:37] seriva commented on #1822
So as discussed, we are moving forward like so:

- Use Istio operator
- For managed clusters for now Istio will be implemented in classic Epicli/Epiphany as an additional application deployment. Offline mode should work like other components: #1911
- For EKS and AKS we will create an additional module doing the same. Offline mode will be semi supported by using the flag [`--hub `](https://istio.io

[2020-12-14 13:41] mkyc commented on #1822
I believe we have decisions and we can proceed to DoD.

[2020-12-14 14:23] erzetpe opened #1912 "[SPIKE] Assess possibility of using RKE instead of existing Epiphany solution in new Kubernetes module"
**Is your feature request related to a problem? Please describe.**
Right now we have assessed RKE, Kubespray and other possible solutions to be used in Epiphany in new Kubernetes module realized in task [Research of kubernetes installing tools](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/1818) we need to assess possibility of using

[2020-12-15 09:04] seriva commented on #1294
Yes its a problem, no I dont think we should spend time on fixing this in legacy Epiphany. @toszo @sk4zuzu @mkyc what do you think? Close it?

[2020-12-15 10:07] #1884 closed

[2020-12-15 10:08] #1821 closed

[2020-12-15 10:10] #1887 closed

[2020-12-15 10:12] #1818 closed

[2020-12-15 13:29] rafzei opened #1914 "[FEATURE REQUEST] Add Kibana reports for Open Distro for Elasticsearch"
**Is your feature request related to a problem? Please describe.**
Add reports plugin for Kibana ODFE.
The release of [kibana-reports (v.1.12)](https://github.com/opendistro-for-elasticsearch/kibana-reports/releases) is tagged as pre-release.
This should be done along with #1859

**Additional context**
Internal request

[2020-12-15 21:12] rafzei commented on #1853
After the discussion about the target version, can we backport this change to previous Epi versions?

[2020-12-16 10:20] toszo commented on #1912
I added grooming-needed label because this does not look clear to me.

What does it mean? It does not clearly specify what is to do.

Same here.

Is it not covered by spile that @sk4zuzu  did?

process of upgrade of existing Kubernetes clusters deployed by Epiphany, possibility of work with already deployed applications (e.g. Keycloak)
IMO this thing should be tested (maybe in another spike?) is t

[2020-12-16 12:32] mkyc commented on #87
@przemyslavic can you please confirm and provide some information that it is covered in our test scenarios?

[2020-12-16 13:28] erzetpe opened #1916 "Add checking in preflight if hostnames of machines where Epiphany is installed are propery set."
**Is your feature request related to a problem? Please describe.**
We don't have hostname validation prior to Epiphany installation.

**Describe the solution you'd like**
We need to check in preflight if hostnames are meeting the rule: hostnames must be static and transient names consists only of 7 bit ASCII lower-case characters, no spaces or dots, and limits itself to the format allowed for DNS

[2020-12-16 20:50] atsikham commented on #1916
I was finally able to create SP with following steps:

* `e environment new`
* `az account clean`
* `az login`
* `e az sp create --name atsikham-test --subscriptionID <subscription-id> --tenantID <subscription-id>`

Created new issues #22, #23, #24, #25

[2020-12-17 08:40] przemyslavic commented on #1854
Checked:
✅`epicli apply`: vm installation + k8s deployment
✅`epicli upgrade`: vm installation
It was agreed (@atsikham @sk4zuzu) not to update the k8s deployment during the upgrade process.

[2020-12-17 08:42] rpudlowski93 commented on #1313
In my opinion this task can be closed since we already don't have repository on master node but on separated repository machine and there is already task for additional disks with defined sizes to VMs.

@rafzei  Can You agree?

[2020-12-17 09:10] plirglo commented on #1853
@rpudlowski93 I just based on Kafka documentation [link](https://kafka.apache.org/downloads), where stands that Kafka 2.6.0 goes with Zookeeper 3.5.8. Maybe Zookeeper 3.6.2 also will be compatible, but 'm not sure and we need additional test if we want to use this version.

[2020-12-17 09:13] #1854 closed

[2020-12-17 09:15] #1388 closed

[2020-12-17 09:25] rpudlowski93 commented on #1853
In my opinion, we can stay with 3.5.8 how the documentation say, PR for the upgrade was already merged.
If we would love to have the latest version it could be a easy/fast change but we would need some additional tests for it.

@rafzei Yes, we can backport it to previous version of epiphany but only when upgrade Kafka is backported. It should go together. Kafka 2.6.0 must work with Zookeeper in at

[2020-12-17 09:43] rafzei commented on #1136
Looks like it's duplicated with already merged https://github.com/epiphany-platform/epiphany/issues/1853. @toszo can we close this issue?

[2020-12-17 09:46] rafzei commented on #1853
@rpudlowski93 I will create issues to backport Kafka.

[2020-12-17 09:48] rafzei opened #1919 "[Backport to v0.8] Upgrade Kafka to 2.6.0"
Backport #1137 to v0.8 branch.

[2020-12-17 09:49] przemyslavic opened #1920 "[BUG] RabbitMQ installation fails on Ubuntu - changed erlang dependencies"
**Describe the bug**
Starting from today there is an issue with installing RabbitMQ on Ubuntu vm. Looks like a problem with erlang dependencies.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster with RabbitMQ component enabled.

**Expected behavior**
The cluster has been deployed successfully.

**Actual behavior**
Installation fails on RabbitMQ playbook.

**Environment**
-

[2020-12-17 09:50] rafzei opened #1921 "[Backport to v0.7] Upgrade Kafka to 2.6.0"
Backport #1137 to v0.7 branch.

[2020-12-17 09:55] rafzei opened #1922 "[Backport to v0.6] Upgrade Kafka to 2.6.0"
Backport #1137 to v0.6 branch.

[2020-12-17 11:34] mkyc commented on #1824
@sk4zuzu can you please write why is it blocked?

[2020-12-17 11:37] mkyc commented on #1136
@toszo can you respond to @rafzei ?

[2020-12-17 11:41] toszo commented on #1136
Yes, lets close it.

[2020-12-17 12:02] sk4zuzu commented on #1824
Well, I created a workaround for this issue (only partial solution) in a PR, but I didn't like what I did. If we'd upgrade ansible to at least 2.9 (we use 2.8) this code would simplify greatly. On top of it this issue is not something critical, I believe it can wait. We can do 2 things: I could revisit latest changes in develop and adjust the PR then we merge it now or we could upgrade ansible and

[2020-12-17 13:48] przemyslavic opened #1923 "[BUG] RabbitMQ installation fails on re-run with the stop_service parameter value changed from true to false"
**Describe the bug**
There is an issue with RabbitMQ installation/configuration when running `epicli apply` for the second time with the `stop_service` parameter value changed from `true` to `false`.
More information on the use of the parameter can be found [here](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/SECURITY.md#how-to-use-tlsssl-certificate-with-rabbitmq).

*

[2020-12-17 14:48] #1136 closed

[2020-12-18 09:04] sk4zuzu commented on #1921
@toszo could you clarify to which branches should we backport security upgrades that we've done lately?

[2020-12-18 09:28] mkyc commented on #1764
@sk4zuzu can you describe why is it in blocked phase?

[2020-12-18 11:41] sk4zuzu commented on #1920
Fully confirmed on dev environemnts.

[2020-12-18 13:17] sk4zuzu commented on #1920
We should reconsider our ubuntu repository code. As you can see below it downloads more packages that we relly need. This is not a bug in that sense that something fails during epicli apply, but rather just a waste of space and time.

[code]

[2020-12-21 15:30] przemyslavic commented on #1853
Checked:
✅ `epicli apply`
✅ `epicli upgrade`

[2020-12-21 16:16] rpudlowski93 commented on #1911
Aibility to deploy istio implemented in PR #1925

[2020-12-21 23:10] ar3ndt commented on #1834
tested - ok

[2020-12-22 09:24] #1853 closed

[2020-12-22 09:28] #1822 closed

[2020-12-22 09:45] #1834 closed

[2020-12-22 12:50] rpudlowski93 opened #1926 "[Backport to v0.8] Upgrade Zookeeper to 3.5.8"
Backport #1853 to v0.8 branch.

It should be synchronised, done and tested together with #1919

[2020-12-22 12:52] rpudlowski93 opened #1927 "[Backport to v0.7] Upgrade Zookeeper to 3.5.8"
Backport #1853 to v0.7 branch.

It should be synchronised, done and tested together with #1921

[2020-12-22 12:54] rpudlowski93 opened #1928 "[Backport to v0.6] Upgrade Zookeeper to 3.5.8"
Backport #1853 to v0.6 branch.

It should be synchronised, done and tested together with #1922

[2020-12-22 15:09] przemyslavic commented on #1920
✅ Fixed by explicitly specifying dependencies in a given version.

[2020-12-22 22:51] ar3ndt commented on #1643
dummy [PR](https://github.com/epiphany-platform/m-aws-kubernetes-service/pull/34)

[2020-12-23 09:27] sk4zuzu commented on #1908
I was basically unable to reproduce the issue in a generic way. I tried Ubuntu and JVM versions exactly as on the faulty environment:
[code]
[code]
Epiphany's Kubernetes behaved well in every attempt to crash node VMs. I think the next step would be to work closely with the team that experienced the issue and carefuly observe what their software does. :thinking:

@to-bar thank you for very nice me

[2021-01-04 12:28] sk4zuzu commented on #1923
Issue confirmed on-prem:
[code]

[2021-01-04 15:14] przemyslavic commented on #1866
Fixed. Now logs from containers are visible in Kibana.

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/91686d14-23c3-498e-9f7c-0c12610b62e7)

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/54cd4632-663d-4c72-82b0-fb92ca3c4190)

[2021-01-04 16:43] rpudlowski93 opened #1931 "[FEATURE REQUEST] Implement monitoring for Istio"
**Is your feature request related to a problem? Please describe**.
We would like to monitor parameters of Istio (control plane and envoy proxy) on unmanaged clusters deployed with Epicli.
In compare to managed cluster (AKS/EKS) Istio pods are working in internal cluster network which is not accessible by external prometheus server win epiphany.

**Describe the solution you'd like**
We would like t

[2021-01-05 09:09] sk4zuzu commented on #1294
If the general consensus would be that we focus on new things, then considering this is not so easy to implement it in a generic way and we have been living without it since he beginning of time (:D), we can close it IMO.

[2021-01-05 09:30] sk4zuzu commented on #1313
@rpudlowski93 this is really much more complex :) because we support [this](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-enabledisable-epiphany-repository-vm). In theory we should have some kind of mechanism that would calculate partition sizes basing on defaults for each role or user input. :thinking:

[2021-01-05 09:34] sk4zuzu commented on #1313
IMO #139 should be implemented first and then reused to provide persistence for the repository/image_registry role. :)

[2021-01-05 09:40] sk4zuzu commented on #992
I think we should close this on in favor of #1313, #139 and #1355. This one is just reacting in the most basic way and does not capture the subtleness of the problem.. :hand_over_mouth:

[2021-01-05 10:06] #1920 closed

[2021-01-05 10:07] rpudlowski93 commented on #1911
Added new task for monitoring the Istio in Prometheus : #1931

[2021-01-05 10:07] atsikham opened #1933 "[Backport to v0.8] Upgrade rabbitmq to v3.8.9"
Following changes should be backported and tested:
* https://github.com/epiphany-platform/epiphany/pull/1886
* https://github.com/epiphany-platform/epiphany/pull/1889
* https://github.com/epiphany-platform/epiphany/pull/1903
* https://github.com/epiphany-platform/epiphany/pull/1924
* https://github.com/epiphany-platform/epiphany/pull/1932
* https://github.com/epiphany-platform/epiphany/pull/1938
*

[2021-01-05 10:08] atsikham opened #1934 "[Backport to v0.7] Upgrade rabbitmq to v3.8.9"
Following changes should be backported and tested:
* https://github.com/epiphany-platform/epiphany/pull/1889
* https://github.com/epiphany-platform/epiphany/pull/1903
* https://github.com/epiphany-platform/epiphany/pull/1924
* https://github.com/epiphany-platform/epiphany/pull/1932
* https://github.com/epiphany-platform/epiphany/pull/1938
* https://github.com/epiphany-platform/epiphany/pull/1957
*

[2021-01-05 10:09] atsikham opened #1935 "[Backport to v0.6] Upgrade rabbitmq to v3.8.9"
Following changes should be backported and tested:
* https://github.com/epiphany-platform/epiphany/pull/1889
* https://github.com/epiphany-platform/epiphany/pull/1903
* https://github.com/epiphany-platform/epiphany/pull/1924
* https://github.com/epiphany-platform/epiphany/pull/1932
* https://github.com/epiphany-platform/epiphany/pull/1938
* https://github.com/epiphany-platform/epiphany/pull/1957
*

[2021-01-05 10:10] #1866 closed

[2021-01-05 10:59] atsikham commented on #1912
Additional comments were left.

I suppose that the goal of this task is to create an initial module configuration with an ability to deploy k8s cluster on prem

Probably the idea is to check main components installation, "applications" Ansible role, with epicli in the k8s cluster that is created by a new module

@sk4zuzu could you comment that?

I see that there is an ability to import existing cl

[2021-01-05 14:11] sk4zuzu commented on #1912
Offline mode - it's not fully supported in the sense that Epiphany provides it, RKE supports "airgapped" clusters, but does not provide automatic collection of packages and images (none of the known solutions supports full Epiphany-like offline mode). But with RKE it's really basic and simple to implement all that (just look at the research here https://github.com/sk4zuzu/RESEARCH/blob/master/k8s-

[2021-01-07 08:58] sk4zuzu commented on #1036
@erzetpe @rafzei can you describe the reason we want this? :)

[2021-01-07 10:29] erzetpe commented on #1313
We will create a new issue if needed after [#992](https://app.zenhub.com/workspace/o/epiphany-platform/epiphany/issues/992).

[2021-01-07 10:30] #1313 closed

[2021-01-07 11:59] erzetpe opened #1937 "[FEATURE REQUEST] Add support for configurable PodSecurityPolicy setting for Kubernetes"
**Is your feature request related to a problem? Please describe.**
Right now we have PodSecurityPolicy with defaults for flannel.

**Describe the solution you'd like**
We need to have configurable PodSecurityPolicy setting with configurable policy and also review our current settings for flannel.

**Describe alternatives you've considered**
None.

**Additional context**
https://kubernetes.io/docs/

[2021-01-08 08:34] przemyslavic commented on #1860
Tested:
✅`epicli apply`
✅`epicli upgrade`
Grafana is installed/upgraded to version 7.3.5

[2021-01-11 09:17] sk4zuzu commented on #1139
Closing because of #1862

[2021-01-11 09:17] #1139 closed

[2021-01-11 12:14] przemyslavic commented on #1923
✅ Fixed.

[2021-01-11 12:15] diwa2508 opened #1940 "Unable to pass arguments"
**Describe the bug**

Am trying to pass debug arguments to the epicli, but getting the below error.

==========================================================================
12:13:14 ERROR epicli - 'Namespace' object has no attribute 'func'
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/cli/epicli.py", line 127, in main
    return args.func(args)
AttributeError

[2021-01-11 14:10] toszo commented on #1756
Currently, upgrade overwrites role vars (as far as I remember) and this FR will fix it? Do I understand that correctly?

[2021-01-11 15:03] sk4zuzu commented on #1756
Yes, upgrade still overwrites role vars with defaults for specific roles, but we've also added an optional file `vars/manifest.yml` that is placed next to `vars/main.yml` (not instead of it). This extra file contains settings from the real manifest and is not loaded by default. Later (during upgrade) we can call a role with manifest vars instead of default vars (or just load them to a dictionary)

[2021-01-12 00:05] sk4zuzu commented on #1756
I'm sorry I got maybe a little ahead of myself, but the implementation was extremely short and straightforward #1942. I believe this could help with the grooming... :hand_over_mouth:

[2021-01-12 08:35] #992 closed

[2021-01-12 09:09] sk4zuzu commented on #914
@erzetpe can you describe why we need this? :) In what way will it help us debugging repository problems? :thinking:

[2021-01-12 09:34] erzetpe commented on #1036
Because we had users that were requiring non-standard configuration because of using NAT connection to their environment with SSH ports exposed on different ports.

[2021-01-12 10:05] toszo commented on #107
This task is to introduce Prometheus Exporter that will monitor linux process (like ElasticSearch, PostgreSQL, etc.). The more generic the better.

[2021-01-12 10:06] #1860 closed

[2021-01-12 10:09] #1923 closed

[2021-01-12 13:36] przemyslavic commented on #1911
It works fine with `flannel` network plugin.
There are issues with istio-proxy when using Istio with `canal` and `calico`: `Readiness probe failed: HTTP probe failed with statuscode: 503`.
@rpudlowski93 is currently investigating this issue.

[2021-01-13 09:30] rpudlowski93 commented on #1911
I investigated the problem and it looks that there is required to do one additional step from user side.
Envoy must be able to communicate with the istio-pilot.istio-system service. If in cluster are applied any egress policies to application pods, we must enable access for the namespace where the application is running.

So, in our case if we have by default deny all ingress and all egress traffi

[2021-01-13 11:24] przemyslavic commented on #1911
After applying the solution above (for the default namespace) everything seems to work fine. When deploying the application to a dedicated namespace, no network traffic problem was noticed at all.

[2021-01-13 12:51] toszo commented on #1765
Correct - and this issue is blocked by #1764

[2021-01-13 13:26] sk4zuzu commented on #1910
Some minor coding-style fixes needed (Dockerfile syntax):
[code]

[2021-01-13 13:32] sk4zuzu commented on #1910
Yaml syntax could be improved: https://github.com/epiphany-platform/m-istio/blob/develop/resources/templates.mk#L15-L19

[2021-01-13 13:48] to-bar opened #1945 "[BUG] RabbitMQ automated tests fail after upgrading to 3.8.9"
**Describe the bug**
RabbitMQ automated tests are not adjusted to changes made in #1889.
Failing test: `Checking RabbitMQ version Command "rabbitmqctl version" stdout is expected to match /^$/`

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy cluster with RabbitMQ
2. Execute `epicli test -b <BUILD_DIR> -g rabbitmq`

**Expected behavior**
Tests succeeded.

**Additional context**
Def

[2021-01-13 15:00] sk4zuzu commented on #1910
`examples/basic_flow_eks` gave me these errors:
[code]

So the first one is obvious and fixable in config, but the second one is fatal as I cannot destroy resources automatically in this situation.

[2021-01-13 15:45] rpudlowski93 commented on #1910
I tested the m-istio on the top of awsBI and awsKS module. For testing purposes I used booking application from official istio documentation and everything works enough fine for me.

I checked the application from instance in the same VPC like EKS:
`[root@ip-10-1-2-64 ~]# curl -s "http://10.1.14.6:30998/productpage" | grep -o "<font color=.*"
<font color="black">
<font color="black">
[root@ip-10-1

[2021-01-13 15:58] sk4zuzu commented on #1910
with latest awsbi and awsks I'm unable to get LB to work:
[code]

[2021-01-13 16:04] sk4zuzu commented on #1910
Results of my tests:

I used azbi, azks, awsbi, awsks, and https://github.com/istio/istio/tree/master/samples/helloworld for testing.

1. AKS - everything seems to be working fine. I also tested update of the virtual service and used external domain name. :+1:
2. EKS - could not get gateway to work due to LB problem (looks like awsbi/awsks problem) + I had issue with `make destroy`. Istio itself d

[2021-01-13 16:11] mkyc commented on #1818
Results from this spike can be found here: https://github.com/epiphany-platform/epiphany/blob/develop/docs/design-docs/k8s-engines-on-prem/k8s-engines-on-prem.md

[2021-01-13 16:37] mkyc commented on #1910
Tested Azure path:
 * init, plan, apply AzBI 0.0.1 ✅
 * init, plan, apply AzKS 0.0.2 ✅
 * build Istio module locally ✅
 * init, plan, apply Istio module with local image ✅
 * access AKS cluster ✅
 * play with Istio resources a bit ✅  (all ok here, but that was me "playing" not real testing - too new topic for me).
 * plan-destroy, destroy Istio module with local image ✅
 * plan-destroy, destroy Az

[2021-01-13 16:54] mkyc opened #1947 "[Epic] Introduce "Kafka" module"
This Epic will be used to gather all the tasks performed before some "m-kafka" repository is created and related tasks will be created there.

[2021-01-13 16:58] mkyc commented on #1820
With close of #1910 this should be closed as well.

[2021-01-13 16:59] to-bar opened #1948 "[BUG] ZooKeeper automated tests fail after upgrading to 3.5.8"
**Describe the bug**
ZooKeeper automated tests are not adjusted to changes made in #1897.

Failed tests: 9 for each host

Errors:
[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy cluster with ZooKeeper
2. Execute `epicli test -b <BUILD_DIR> -g zookeeper`

**Expected behavior**
Tests succeeded.

[2021-01-13 18:28] sk4zuzu opened #1949 "[Backport to v0.8] Upgrade Grafana to v7.3.5"
Backport #1860 to v0.8 branch.

[2021-01-13 18:29] sk4zuzu opened #1950 "[Backport to v0.7] Upgrade Grafana to v7.3.5"
Backport #1860 to v0.7 branch.

[2021-01-13 18:31] sk4zuzu opened #1951 "[Backport to v0.6] Upgrade Grafana to v7.3.5"
Backport #1860 to v0.6 branch.

[2021-01-13 18:46] sk4zuzu opened #1952 "[FEATURE REQUEST] Upgrade ansible to 2.10.x"
**Is your feature request related to a problem? Please describe.**
We're currently using ansible 2.8.x in Epiphany and we'd like to have it upgraded to 2.10.x. I strongly believe we have to constantly modernize our tools. Also PRs like https://github.com/epiphany-platform/epiphany/pull/1879 would greatly simplify.

**Describe the solution you'd like**
Upgrade and test, that's it.

**Describe alter

[2021-01-13 19:03] sk4zuzu opened #1953 "[FEATURE REQUEST] Replace Pipenv with Poetry"
**Is your feature request related to a problem? Please describe.**
We have problems keeping our docker builds deterministic with pipenv. Poetry seems to have much better algorithms and works faster.

**Describe the solution you'd like**
Remove pipenv, add poetry.

**Describe alternatives you've considered**
This issue can be considered as a bugfix really, so NO. :hand_over_mouth:

**Additional con

[2021-01-13 19:52] sk4zuzu commented on #1953
Here's the proof, that we are currently unable to casually regenerate `Pipfile.lock` file (on the other hand poetry works without issues!) :fearful: :
[code]

[2021-01-14 01:07] sunshine69 opened #1955 "[BUG] Elasticsearch Curator version out of date"
**Describe the bug**
Elastic Curator version out of date for Ubuntu/Redhat/Centos (5.8.1)
We should upgrade Elasticsearch Curator to version which is available on all supported os distributions (5.8.3)

**How to reproduce**
Run the normal build regression test daily

**Expected behavior**
Build passed

**Additional context**
PR has been created please see https://github.com/epiphany-platform/epiph

[2021-01-14 08:31] przemyslavic opened #1956 "[BUG] RabbitMQ upgrade fails on Ubuntu - changed erlang dependencies"
**Describe the bug**
There is an issue with upgrading RabbitMQ component on Ubuntu. It looks like a problem with erlang dependencies.
Recently there was a [fix](https://github.com/epiphany-platform/epiphany/pull/1924/) for RabbitMQ installation, but it didn't affect the upgrade process.
As for me, the upgrade role requires some refactoring, so that during the upgrade it uses the installation tasks

[2021-01-14 08:46] ar3ndt commented on #127
In grafana default configuration the dashboard part is commented:

[code]

We either remove this part as no needed anymore or comment it out and set with some defaults

[2021-01-14 09:08] #1911 closed

[2021-01-14 09:10] #1910 closed

[2021-01-14 09:53] przemyslavic opened #1959 "[BUG] No traffic allowed from load balancer subnet to Kubernetes subnet in AWS"
**Describe the bug**
[AWS] Traffic from the load balancer subnet to the Kubernetes subnet is not allowed, resulting in the HAProxy not being able to forward requests to the backend server.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster with:
- Kubernetes master
- Kubernetes node
- load balancer
- sample application that will be load balanced

2. Try to reach the applica

[2021-01-14 12:39] #1820 closed

[2021-01-14 12:54] mkyc opened #1963 "[SPIKE] Compare K8s options"
**Is your feature request related to a problem? Please describe.**
We want to have additional comparison of our solution and tools analyzed in #1818

**Describe the solution you'd like**
In this spike, we should compare all of tools from task #1818 and our k8s code in one table. We should consider at least what was researched in previous task, and also:
 * Installation
* Maintenance
 * Troubleshoo

[2021-01-14 13:27] rpudlowski93 opened #1964 "[Backport to v0.8] Upgrade Elasticsearch Curator to v5.8.3"
Backport #1960 to v0.8 branch.

Requires backporting #1955.

[2021-01-14 13:28] rpudlowski93 opened #1965 "[Backport to v0.7] Upgrade Elasticsearch Curator to v5.8.3"
Backport #1960 to v0.7 branch.

Requires backporting #1955.

[2021-01-14 13:29] rpudlowski93 opened #1966 "[Backport to v0.6] Upgrade Elasticsearch Curator to v5.8.3"
Backport #1960 to v0.6 branch.

Requires backporting #1955.

[2021-01-14 13:31] mkyc commented on #1908
@sk4zuzu what is next step here in this task? Why is it blocked?

[2021-01-14 13:42] mkyc commented on #1355
@to-bar why did it went back to "ToDo"?

[2021-01-14 13:53] sk4zuzu commented on #1908
I got vpn access, I'm looking at the cluster when it all happened because "generic" tests showed no issues. I can move it to in progress now I think and continue examining the cluster.

[2021-01-14 14:06] rpudlowski93 opened #1970 "[Backport to v0.5] Upgrade Elasticsearch Curator to v5.8.3"
Backport #1960 to v0.5 branch.

Requires backporting #1955.

[2021-01-14 14:14] mkyc opened #1972 "[Epic] Y21Q1 Test improvements"
This epic gathers all the tasks related to tests is should contain:

- increase visibility of test results
- introduce at least one new test kind
- ensure tests automation

[2021-01-14 14:18] #1470 closed

[2021-01-14 14:21] mkyc opened #1973 "[Epic]Y21Q1 Upgrades"

[2021-01-14 14:31] mkyc commented on #1764
I just found this: https://discuss.kubernetes.io/t/aks-on-prem-registry-self-signed-cert/9308

[2021-01-14 14:45] #1816 closed

[2021-01-15 08:10] alajmo opened #1974 "Azure Files Persistent Volume Support"
**Is your feature request related to a problem? Please describe.**
We don't have support for Azure Storage solutions.

**Describe the solution you'd like**
We want to provide solution for Azure Storage that can be mounted for deployments.

**Describe alternatives you've considered**
None.

**Additional context**

Original issue - reformated to the form of our issues.

Does Epiphany have or plan to

[2021-01-15 11:54] przemyslavic commented on #1955
✅ Installation with enabled `elasticsearch-curator` component tested. No issues found.

[2021-01-15 11:55] przemyslavic commented on #1956
✅ Upgrade from 0.8 tested. No more issues with installing RabbitMQ packages were found.

[2021-01-15 11:56] przemyslavic commented on #1945
✅ RabbitMQ tests fixed.

[2021-01-15 16:14] przemyslavic opened #1975 "[BUG] RabbitMQ service does not work properly after upgrading in Azure (an issue with using long names)"
**Describe the bug**
There is an issue with RabbitMQ service not working properly after upgrading to v3.8.9.
The problem occurs only in Azure and is related to the use of long names (`RABBITMQ_USE_LONGNAME=True` in `/etc/rabbitmq/rabbitmq-env.conf`). Till v0.9.0 the default for `specification.rabbitmq_use_longname` was `true`.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a 0.8

[2021-01-15 16:18] erzetpe opened #1976 "[SPIKE] Check available solutions for providing/deploying Kafka"
**Is your feature request related to a problem? Please describe.**
Right now we are installing kafka directly from tar.gz file and perform its configuration.

**Describe the solution you'd like**
Do research on available Kafka installer and compare them. Opensource solutions managed 'outside' are preferred, but also we want to provide guidance when to choose commercial solution, because of potenti

[2021-01-15 20:45] to-bar commented on #1948
Tests passed.

[2021-01-18 08:31] przemyslavic opened #1979 "[BUG] RabbitMQ fails on upgrade when 2 nodes are specified that are not clustered."
**Describe the bug**
There is an issue with RabbitMQ upgrade process failing during upgrade to v3.8.9.
The failing configuration is at least 2 non clustered nodes.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a 0.8 cluster with RabbitMQ component enabled (al least 2 vms)
2. Upgrade the cluster to the develop branch.

**Expected behavior**
The cluster has been upgraded successfu

[2021-01-18 11:10] atsikham commented on #1819
@sk4zuzu @toszo @mkyc @rafzei Does anyone think that at the moment there should be other tasks created than #1912? The goal there is to create initial RKE module for cluster installation and as a result also  to create tasks for improvements.

[2021-01-19 06:11] atsikham commented on #1933
Need to fix https://github.com/epiphany-platform/epiphany/issues/1979 before backporting

[2021-01-19 08:23] przemyslavic commented on #1975
Now works fine. Tested:
✅ `epicli apply`: `Azure`/`AWS` x `RHEL`/`Ubuntu`
✅ `epicli upgrade`: `Azure`/`AWS` x `RHEL`/`Ubuntu`

[2021-01-19 08:33] przemyslavic commented on #1756
Looks good. Roles tested:
✅repository, image_registry, node_exporter, haproxy

[2021-01-19 09:10] atsikham commented on #1979
Verified that the option with no clustering is not checked in the upgrade role. Previously added this task as a dependency for backporting - #1933, #1934, #1935.

[2021-01-19 09:13] sk4zuzu commented on #1901
To clarify this one is about preparing some Kafka solution for very old releases of Epiphany :). For customers that do not want or it's not easy for them to upgrade to newer versions.

[2021-01-19 09:16] sk4zuzu commented on #1901
It looks like this is the same really as #1894 :hand_over_mouth:

[2021-01-19 10:03] #1955 closed

[2021-01-19 10:08] #1956 closed

[2021-01-19 10:11] #1756 closed

[2021-01-19 10:15] #1975 closed

[2021-01-19 10:21] #1948 closed

[2021-01-19 10:22] #1945 closed

[2021-01-19 14:54] to-bar commented on #1355
@mkyc Moved to ToDo temporarily, just to reflect the fact I stopped working on this task in order to handle urgent ones. Going to continue this sprint.

[2021-01-19 16:07] przemyslavic opened #1984 "[BUG] RabbitMQ 3.7.10 fails on upgrade to 3.8.9: 'rabbitmqctl version' command not found."
**Describe the bug**
There is an issue with RabbitMQ upgrade process failing when upgrading from v3.7.10 (that was used up to epicli 0.6) to v3.8.9 (current develop branch).
The issue is that during the upgrade, the command `rabbitmqctl version` is called which was not implemented in RabbitMQ 3.7.10

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a 0.6 cluster with RabbitMQ compon

[2021-01-20 16:28] DaOsie commented on #1901
In my opinion there are 3 separate spikes "secretly" coded in the description:
 - checking whether selective upgrades of components are possible in the legacy versions of epiphany
 - checking whether modules will be able to be used in previous epiphany versions that do not use modules yet
 - find the best way to introduce kafka for older releases of Epiphany

At first sight, they seem to be connec

[2021-01-21 15:04] przemyslavic commented on #1959
✅ Load balancing checked. The application deployed on Kubernetes is now accessible from lb machine.
Tested on `AWS`: `Ubuntu` + `RHEL`
Azure was not affected by the issue.

[2021-01-22 09:21] ar3ndt commented on #1643
[PR](https://github.com/epiphany-platform/m-aws-kubernetes-service/pull/34)

[2021-01-22 14:10] rafzei commented on #1710
Consider doing two kotlets on one fire #1789

[2021-01-22 16:27] sk4zuzu opened #1991 "[BUG] When custom repo is used backup/recovery stops working"
**Describe the bug**
Backup/recovery uses `resolved_repository_hostname` which does not point to the correct VM when custom repository is used.

**How to reproduce**
Steps to reproduce the behavior:
1. use custom repository during `epicli apply`
2. enable something (anything really) to backup and run `epicli backup`

**Expected behavior**
No error, ansible stores backup artifacts correctly on a pr

[2021-01-25 00:48] ar3ndt commented on #1526
Additional tools worth consideration:
https://sematext.com/blog/kafka-open-source-monitoring-tools/#toc-cruise-control-3 (Cruise Control)

[2021-01-25 12:49] #1864 closed

[2021-01-26 08:41] przemyslavic commented on #1979
Tested together with #1984.
✅ upgrade from 3.7.10 to 3.8.9
✅ upgrade from 3.8.3 to 3.8.9
✅ 1 RabbitMQ node
✅ 2 RabbitMQ nodes
✅ 2 RabbitMQ nodes clustered
✅ `Azure`/`AWS` x `Ubuntu`/`RHEL`

[2021-01-26 08:41] przemyslavic commented on #1984
Tested together with #1979.
✅ upgrade from 3.7.10 to 3.8.9
✅ upgrade from 3.8.3 to 3.8.9
✅ 1 RabbitMQ node
✅ 2 RabbitMQ nodes
✅ 2 RabbitMQ nodes clustered
✅ `Azure`/`AWS` x `Ubuntu`/`RHEL`

[2021-01-26 08:56] toszo commented on #889
Looking at https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/kafka/templates/server.properties.j2 I see we have two ways of defining data retention `log.retention.hours` and `log.retention.bytes` - it is to be verified.

[2021-01-26 08:58] atsikham commented on #1979
PR #1989

[2021-01-26 08:58] mkyc commented on #1901
This one probably depends on #1976

[2021-01-26 10:11] #1959 closed

[2021-01-26 10:13] #1984 closed

[2021-01-26 10:13] #1979 closed

[2021-01-26 13:38] przemyslavic commented on #1953
I rebuilt the devcontainer, everything was fine.
I managed to deploy the cluster without any problems using vscode.

[2021-01-26 13:44] mkyc commented on #1976
Regarding Kafka on Kubernetes I noticed once [this article](https://blog.usejournal.com/kafka-on-kubernetes-a-good-fit-95251da55837). It's almost 2 years old, but I believe that it still provides some good base to start our own research.

[2021-01-26 14:16] przemyslavic commented on #1870
Fixed. Filebeat installation as DaemonSet is skipped if there is no logging component.

[2021-01-26 14:59] przemyslavic opened #1997 "[BUG] Ignite automated tests fail after upgrading to 2.9.1"
**Describe the bug**
Ignite automated tests are not adjusted to changes made in #1939 .

Failed tests: 18 for 2 clustered nodes

Errors:
[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy cluster with Ignite
2. Execute `epicli test -b <BUILD_DIR> -g ignite`

**Expected behavior**
Tests succeeded.

[2021-01-27 14:04] atsikham commented on #1677
Testing of this task is on hold until Pipeline issues are resolved in the scope of #1643 task.

Problems that have been already found:
1. Usage of default region for AWSBI execution, so infrastructure resources are not removed. Need to explicitly pass "M_REGION" parameters for both modules in integration tests.
2. Need to pass module name during test execution to have unique resource names. At the

[2021-01-27 15:38] rpudlowski93 commented on #1963
Small update: First version of the comparison done [here](https://github.com/rpudlowski93/research/blob/rke-vs-epiphany/rke-vs-epiphany/rke-vs-epiphany.md). Generally we focused on comparing RKE with our code but in order to have clear score of the spike we just need to add to the table other tools such as: kubeone and kubespray. After that I will create PR in Epiphany repo.

[2021-01-28 07:12] sunshine69 opened #2001 "[BUG] Need special deal with azure subscription name if it has slash"
**Describe the bug**
If you subscription name has a slash and even you set it in your service principal yaml epicli will fail at terraform stage.

The problems coming from Azure API itlself, while it allows to use slash `/` in the subscription name however the endpoint URI will not respect that. PLease see the comment in the PR for more information.

PR included (or a suggestion of the fix)

https

[2021-01-28 09:21] #1953 closed

[2021-01-28 09:23] #1870 closed

[2021-01-28 09:37] ar3ndt opened #2002 "Do not install Filebeat when there is no Elasticsearch (Backport to 0.8)"
Related [task ](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/1941)to be backported.

[2021-01-28 15:44] to-bar commented on #1306
Today I was asked about such functionality so it's really needed.

[2021-01-28 16:31] atsikham commented on #1677
Tests are in place and work fine itself, but there are 2 tasks created:
* [41](https://github.com/epiphany-platform/m-aws-kubernetes-service/issues/41) - improvement
* [42](https://github.com/epiphany-platform/m-aws-kubernetes-service/issues/42) - fix resources removal

[2021-01-29 08:13] atsikham commented on #1643
Checked that pipeline works, tests run, image is pushed to Azure registry (at the moment of testing the latest image version is 0.0.1.4892).
Notes:
* Pipeline is moved to yaml-pipelines dir in Azure
* AWSBI image tag is set explicitly in pipeline ENV variables to `epiphanyregistry.azurecr.io/epiphanyplatform/awsbi:0.0.1.4701`
* 85.71% tests are passed, as "apply" test is skipped because of the [is

[2021-01-29 08:47] przemyslavic commented on #1824
✔Offline installation tested. No issues found.

[2021-01-29 08:49] przemyslavic commented on #1908
Tested
✔ `epicli apply`
✔ `epicli upgrade` from 0.6, 0.7 HA, 0.8 to develop
After patching cgroup driver (switching from `cgroupfs` to `systemd`) it looks to be working properly.

[2021-01-29 08:55] przemyslavic commented on #1952
Tested:
✔ `epicli apply` with all components enabled
✔ `epicli upgrade` from 0.6, 0.7 HA, 0.8 to develop

[2021-01-29 09:47] mkyc commented on #1776
This might be solved by #1355. It should be checked again after another one is closed.

[2021-01-29 09:50] mkyc commented on #1415
It's still existing issue.

[2021-01-29 11:42] atsikham commented on #106
As this is a spike, please consider other tools:
* [Serverspec](https://serverspec.org/) [[1](http://web.archive.org/web/20201027092511/https://debian-administration.org/article/703/A_brief_introduction_to_server-testing_with_serverspec)] [[2](https://www.slideshare.net/MartinEtmajer/testing-ansible-roles-with-test-kitchen-serverspec-and-rspec-48185017)] [[3](https://vincent.bernat.ch/en/blog/2014

[2021-01-29 13:45] to-bar commented on #106
Our automated tests currently use Serverspec 😉 But it is for testing state of deployed VMs,
At first glance, Goss seems to be similar but the example tests in yaml look really compact, simple and easy to write. IMO definitely worth to try! :star:
Rolespec seems to have some [Ansible related functionalities](https://github.com/nickjj/rolespec#ansible-actions-and-assertions) worth to check.

[2021-01-29 14:24] mkyc commented on #1963
Is this research focused on RKE or RKE2?

[2021-02-01 08:49] rpudlowski93 commented on #1963
@mkyc - RKE :)

[2021-02-02 09:06] #1677 closed

[2021-02-02 09:09] #1643 closed

[2021-02-02 09:12] #1824 closed

[2021-02-02 09:13] #1952 closed

[2021-02-02 09:13] #1908 closed

[2021-02-02 10:10] atsikham commented on #1976
My thoughts for now:

* We cannot start with the Kafka module while we don't know about offline/upgrade parts - this is important as we will implement that. As this spike is only about installation (and I think it's ok as otherwise this task is huge), new tasks have to be created. _For upgrades the ability to work with already installed Kafka has to be checked_.
* It's better to start with offline

[2021-02-02 10:24] atsikham commented on #1901
As I described in [this](https://github.com/epiphany-platform/epiphany/issues/1976#issuecomment-771525428) comment, we still have to investigate a lot related to the Kafka module. All things related to modules including comparison with Kafka component of epicli will be done in the scope of #1976 and other tasks that will be created after #1976 is done.

This task is only about selective upgrades f

[2021-02-02 16:02] przemyslavic commented on #1997
✅ Ignite tests fixed.

[2021-02-02 16:10] przemyslavic commented on #1862
Tested:
✔ `epicli apply` with 1 and 2 Ignite nodes + k8s deployment
✔ `epicli upgrade` with 2 Ignite nodes (k8s stateless deployment is not updated during the upgrade process)

[2021-02-03 06:56] rafzei commented on #2002
Nothing fancy here, just backport [changes](https://github.com/epiphany-platform/epiphany/pull/1941/files).

[2021-02-03 07:09] atsikham commented on #889
I've read docs about Kafka data retention policies and it seems that usage of default Kafka values in Epiphany is the best option.
There are 2 retention policies that can be configured on the broker or topic levels: by time and by size. We [use](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/defaults/configuration/kafka.yml) the same defult value for size re

[2021-02-03 09:32] atsikham commented on #889
Moved back for grooming for someone else to take a look.

[2021-02-03 09:44] plirglo opened #2011 "[Backport to v0.8] Patch cgroup drivers (switch to systemd)"
Issue description: [spike] #1908

Please backport into 0.8 changes made in PR #1988

[2021-02-03 09:48] plirglo opened #2012 "[Backport to v0.9] Patch cgroup drivers (switch to systemd)"
Issue description: [spike] #1908

Please backport into 0.9 changes made in PR #1988

[2021-02-03 09:49] plirglo opened #2013 "[Backport to v0.7] Patch cgroup drivers (switch to systemd)"
Issue description: [spike] #1908

Please backport into 0.7 changes made in PR #1988

[2021-02-03 09:50] plirglo opened #2014 "[Backport to v0.6] Patch cgroup drivers (switch to systemd)"
Issue description: [spike] #1908

Please backport into 0.6 changes made in PR #1988

[2021-02-03 14:31] mkyc commented on #106
This might be helpful site: https://github.com/ansible-community/molecule/discussions

[2021-02-03 15:32] przemyslavic commented on #1964
✅ Tested. It works fine.

[2021-02-03 15:38] przemyslavic commented on #1919
Tested:
✔ `epicli apply` with 2 Kafka nodes
✔ `epicli upgrade` with 2 Kafka nodes: upgraded Kafka from v2.3.1 (epicli v0.7) to v2.6.0 (epicli v0.8)

[2021-02-03 15:41] przemyslavic commented on #1926
Tested:
✔ `epicli apply` with 2 Kafka nodes
✔ `epicli upgrade` with 2 Kafka nodes: upgraded ZooKeeper from v3.4.12 (epicli v0.7) to v3.5.8 (epicli v0.8)
Test fixes were also backported here.

[2021-02-04 08:30] rpudlowski93 commented on #1963
Update: RKE2 also added to the table :) PR #[2017](https://github.com/epiphany-platform/epiphany/pull/2017)

SPIKE done :)
- https://github.com/epiphany-platform/epiphany/blob/develop/docs/design-docs/k8s-engines-on-prem/k8s-engines-on-prem-table.md

[2021-02-04 08:59] #1964 closed

[2021-02-04 09:01] #1919 closed

[2021-02-04 09:21] atsikham commented on #2011
Discussed with @to-bar that Docker upgrade will be backported first.

[2021-02-04 12:33] atsikham commented on #889
Probably at least [this](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/RETENTION.md) document can be updated.

[2021-02-05 12:56] mkyc opened #2022 "[FEATURE REQUEST] Create GH Issue Template for with release checklist"
**Is your feature request related to a problem? Please describe.**
We do not have checklist template to be created for each release in GH. Due to this we miss some important points.

**Describe the solution you'd like**
Discuss and add GH Issue Template with Checklist inside.

**Describe alternatives you've considered**
We also discussed internal Confluence list, but that sounds less visible.

**A

[2021-02-05 12:59] mkyc commented on #2022
After it's decided we should reflect this Checklist into another repositories.

[2021-02-05 13:05] mkyc opened #2023 "[FEATURE REQUEST] Design doc about VMs naming convention"
**Is your feature request related to a problem? Please describe.**
We have different naming conventions in different places.

**Describe the solution you'd like**
Create naming convention document to stick to it in all the modules creating machines and also in tests.

**Describe alternatives you've considered**
Nope.

**Additional context**
New modules use different naming convention than epicli.

[2021-02-05 13:06] to-bar commented on #633
@erzetpe - please groom this task.

[2021-02-05 13:07] mkyc commented on #2023
After design doc is created it should probably be added to release checklists.

[2021-02-05 13:33] mkyc opened #2024 "[FEATURE REQUEST] Introduce "post provisioning chores module""
**Is your feature request related to a problem? Please describe.**
Data disks is new AzBI module’s feature. They are created but not ready to use without manual actions.

**Describe the solution you'd like**
Create partitions on data disks and mount them automatically.

**Describe alternatives you've considered**
No. We need to mount them :)

**Additional context**
It was discussed during developm

[2021-02-05 13:41] mkyc opened #2025 "[FEATURE REQUEST] Populate output from modules to epicli automatically"
**Is your feature request related to a problem? Please describe.**
Currently you need to populate epicli configuration file with output from modules manually.

**Describe the solution you'd like**
Prepare Design Doc and discuss what is preferred way to generate epicli configuration file in transition period.

**Describe alternatives you've considered**
No.

**Additional context**
No.

[2021-02-08 11:13] rpudlowski93 commented on #1963
Moving to DoD since there is nothing more what what we can add right now.

[2021-02-08 12:55] rpudlowski93 commented on #1991
- Tested, works as expected ✅

I created new cluster with custom repository and postgresql + load balancer machines and after that I executed backup of the postgresql and load balancer instances and everything passed well, backups are stored on master node.

[2021-02-08 14:58] przemyslavic commented on #1904
Tested automatically in the pipeline.
✔️ `epicli apply`
✔️ `epicli upgrade` from v0.7 to v0.8
No issues found.

[2021-02-08 15:15] przemyslavic commented on #1949
Tested with the monitoring component enabled:
✔️ `epicli apply`
✔️ `epicli upgrade` from v0.7 to v0.8
In both cases, Grafana v7.3.5 is installed.

[2021-02-08 16:15] przemyslavic commented on #2002
✔️ Fixed. Filebeat installation as DaemonSet is skipped if there is no logging component.

[2021-02-08 16:28] przemyslavic commented on #2011
Tested:
✔ `epicli apply`
✔ `epicli upgrade` from v0.7 to v0.8
After patching cgroup driver (switching from cgroupfs to systemd) it seems to be working properly.

[2021-02-09 10:08] rpudlowski93 commented on #1963
Documentation temporarily moved to confluence :

https://pgga-es.atlassian.net/wiki/spaces/EPI/pages/1415448563/ON-PREM+KUBERNETES+AUTOMATION+RESEARCH+RESULTS

[2021-02-09 10:11] #1904 closed

[2021-02-09 10:12] #2011 closed, assigned to atsikham, przemyslavic

[2021-02-09 10:16] #1963 closed

[2021-02-09 10:22] #1997 closed, assigned to przemyslavic

[2021-02-09 10:23] #1862 closed

[2021-02-09 10:25] #1926 closed

[2021-02-09 10:26] #1991 closed, assigned to sk4zuzu, rpudlowski93, przemyslavic

[2021-02-09 10:28] #2002 closed, assigned to rpudlowski93, przemyslavic

[2021-02-09 10:28] plirglo opened #2028 "[FEATURE REQUEST] Refactor Grafana upgrade role"
**Is your feature request related to a problem? Please describe.**
We keep grafana_version in two places (Grafana role defaults and hardcoded in grafana upgrade task)

**Describe the solution you'd like**
We need to refactor these roles to use in upgrade role grafana_version from grafana defaults. This should not be hardcoded in upgrade task.

[2021-02-09 10:29] mkyc commented on #1949
#2028 was created as followup task for this.

[2021-02-09 10:29] #1949 closed

[2021-02-09 12:01] przemyslavic commented on #1933
Tested:
✅`epicli apply`: vm installation (1 node; 2 nodes; 2 clustered nodes) + k8s deployment
✅`epicli upgrade`: vm installation (2 nodes; 2 clustered nodes)
Test fixes were also backported here.

[2021-02-09 13:40] mkyc opened #2029 "Remove old “architectures” leftover code"
**Is your feature request related to a problem? Please describe.**
Previously Epiphany had a support of ARM architecture, but after introducing "offline" mode it was deprecated. There are still a few [places](https://github.com/epiphany-platform/epiphany/search?q=architecture_map) with architecture references. Now we have a requirement to support ARM and the idea is to remove all related configura

[2021-02-09 13:40] atsikham commented on #1764
I contacted Michal about this task and below is his answer. We need to decide how to proceed with this task.

[code]

[2021-02-09 13:40] mkyc opened #2030 "[Spike] Discuss if we want to introduce “architecture” variable or new OS (CentosARM64)"
**Is your feature request related to a problem? Please describe.**
Right now we have the new requirement to support ARM architecture, due to this we need to discuss how we want to introduce distinction between different architectures.

**Describe the solution you'd like**
There are several different options possible. It would be good to write down pros and cons of possible options.

**Describe alt

[2021-02-09 13:41] mkyc opened #2031 "ensure final set of requirements"
**Is your feature request related to a problem? Please describe.**
We need to collect all the requirements for that epic. We currently know following:
 * ARMv8 ARM64
 * components: ELK, Grafana, Prometheus, Kibana, Kafka, K8s, HAProxy, Keycloak (with PostgreSQL)
 * Centos 7
 * provider any (we do not want to provide ARM infrastructure here)

It's required to collect any other requirements soon.

*

[2021-02-09 13:41] mkyc opened #2032 "Ensure that there are packages for all required components available for ARM architecture"
- Analyze all packages required during Epiphany deployment process and confirm that ARM architecture is supported by them.
- Find replacement for not supported packages (if any)
- Use requirements.txt files as base

[2021-02-09 13:41] mkyc opened #2033 "[FEATURE REQUEST] Add arm64 support to 'repository' component"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```repository``` component on an arm64 machine running CentOS.
- The download-requirment.sh scripts (CentOS-7, Ubuntu-18.04, Redhat-7) will be modified to support requir

[2021-02-09 13:41] mkyc opened #2034 "Install and test all Epiphany components on ARM architecture"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want to install and test all Epiphany components we need to support on an Arm64 based cluster with CentOS 7. The following components need to work:
    1. Kubernetes
    2. Kafka
    3. HAProxy
    5.

[2021-02-09 13:42] mkyc opened #2035 "[ARM] Create a documentation"
After the solution is ready...
Create a documentation consist of:
- requirements (what components, os etc.. are supported)
- how to prepare configuration manifest (if there will be any changes in comparison to a 'standard')
- how to run the deployment

[2021-02-09 13:42] mkyc opened #2036 "CI pipelines: add ARM testing"
**Is your feature request related to a problem? Please describe.**
We don't have CI pipeline to test deployments on ARM architecture, so we need to create environments based on ARM architecture.

**Describe the solution you'd like**
We need to create pipeline to test environments based on ARM architecture

**Describe alternatives you've considered**
No.

**Additional context**
First of all we need

[2021-02-09 13:42] mkyc opened #2037 "CI pipelines: add upgrade tests for ARM architecture"
**Is your feature request related to a problem? Please describe.**
We don't have CI pipeline to test upgrade deployments on ARM architecture

**Describe the solution you'd like**
We need to create pipeline to test upgrade process based on ARM architecture.

**Describe alternatives you've considered**
No.

**Additional context**
First of all we need to do: #2036

[2021-02-09 13:42] mkyc opened #2038 "Test with external contacts that their load works correctly on provided environment"
This task is about going through all ARM supported components and final check with teams that everything works as expected.

The list of components:

- [x] Repository
- [x] Kubernetes
- [x] Load Balancer
- [x] Kafka
- [x] Keycloak
- [x] PostgreSQL
- [x] Monitoring
- [x] Logging
- [x] RabbitMQ

[2021-02-09 13:42] mkyc opened #2039 "[EPIC] ARM support"
Due to customer request we need to introduce ARM support. Requirements so far are:
- ARMv8/ARM64 architecture
- Centos 7
- "any" provider as we do not want to provide ARM infrastructure on any cloud providers yet through Terraform
- Epiphany components needed ordered by priority:
    1. Kubernetes
    2. Kafka
    3. HAProxy
    5. Keycloak (This is the only deployment we need to support from the

[2021-02-10 09:23] to-bar opened #2041 "[Backport to v0.8] Pgpool not showing Replication State on RedHat"
Backport of #1280.

[2021-02-10 09:26] to-bar opened #2042 "[Backport to v0.8] PostgreSQL replication with repmgr: hot_standby not set in config file"
Backport of #1273.

[2021-02-10 14:27] przemyslavic commented on #2041
Now it works fine after fixing.
Tested:
✔ `epicli apply` with 2 PostgreSQL vms clustered on `AWS`/`Azure` x `Ubuntu`/`RHEL`

[2021-02-10 14:30] przemyslavic commented on #2042
Tested configurations:
✅ `epicli apply`: `AWS`/`Azure` x `RedHat`/`Ubuntu` - 2 PostgreSQL vms clustered
Now it works as expected.

[2021-02-10 17:03] to-bar opened #2046 "[BUG] Failing test: /etc/prometheus is expected to be owned by root"
**Describe the bug**
Automated test fails with error message:

`/etc/prometheus` is expected to be owned by `root` but it's owned by `prometheus` user.

Change introduced by #1990.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy cluster with `monitoring` component.
2. Run `epicli test` for `prometheus` group.

**Expected behavior**
No failed tests.

**Environment**
All

**Addition

[2021-02-11 09:00] #1933 closed

[2021-02-11 09:02] #2041 closed, assigned to przemyslavic, to-bar

[2021-02-11 09:02] #2042 closed, assigned to przemyslavic, to-bar

[2021-02-11 09:32] erzetpe commented on #2031
- Check system resources available - CPU, RAM, disk - to be able to choose proper solution k8s vs. k3s for example

[2021-02-11 13:54] to-bar commented on #2031
- Consider newer OS than CentOS 7, for example CentOS 8 would bring:
  - Python 3.6 as the default platform Python instead of Python 2.7 (system tools in CentOS 8 use Python 3.6 provided by the internal `platform-python` package. Red Hat advises customers to use `python36` package instead or newer)
  - Bash 4.4 (4.2 in CentOS 7.9), bash 4.4 brings a lot of improvements, for example:
    - in bash

[2021-02-12 08:38] przemyslavic commented on #889
I agree with @atsikham. I would be in favor of the default settings as described in the official documentation. This is what we have now in Epiphany. The user now has the option of changing these parameters by modifying the specification and overwriting the original values. Disk monitoring could help solve possible problems here.

[2021-02-12 08:53] przemyslavic opened #2049 "[BUG] Elasticsearch-curator installation fails on RedHat"
**Describe the bug**
There is an issue with elasticsearch-curator installation failing on `elasticsearch_curator : Check test results` task after upgrading to v5.8.3.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a RedHat cluster with the logging component enabled with a modified feature mapping:
[code]

**Expected behavior**
The cluster has been deployed successfully and elasti

[2021-02-12 09:52] mkyc commented on #1861
we should split in 3 tasks:
 - installation
 - spike about upgrade
 - upgrade

[2021-02-12 09:54] mkyc commented on #1797
We should check if that makes sense to wait for version 13.

[2021-02-12 10:56] erzetpe opened #2051 "[SPIKE] Review existing Kafka deployment architecture"
**Is your feature request related to a problem? Please describe.**
Right now we have relatively simple Kafka architecture. After our findings [1526](https://github.com/epiphany-platform/epiphany/issues/1526) we can apply some changes to improve reliability.

**Describe the solution you'd like**
We need to update our architecture to improve scalability and reliability of our Kafka deployment soluti

[2021-02-12 11:11] rpudlowski93 commented on #2051
About monitoring, right now we use only JMX and Kafka exporter and Prometheus and Grafana for scapping metrics and visualize them. There are some section which we can improve - maintenance, analysis, rebalancing based on tracking resource utilization, anomaly detection, showing statistics etcs.. . In our solution there are some things which are missing, we could apply additioinal tools and replace

[2021-02-12 11:19] rpudlowski93 commented on #2051
https://banzaicloud.com/blog/kafka-alert/ - scenario used in this article looks really nice :)

[2021-02-12 12:20] erzetpe opened #2053 "[SPIKE] Spike installation of Kafka on Kubernetes"
**Is your feature request related to a problem? Please describe.**
After we will choose solutions that we want to use in modules we want to check solution for Kubernetes deployment.

**Describe the solution you'd like**
We want to perform installation of PoC for chosen solution of deployment on Kubernetes. We want to check possible options of configuration and possibility of automated installation

[2021-02-12 15:52] przemyslavic commented on #2046
Tests have been adjusted to development: `/etc/prometheus` directory is now owned by `prometheus` user.

[2021-02-12 15:57] przemyslavic commented on #2049
After the fix, everything works fine.
For testing purposes, I modified the feature-mapping to enable `elasticsearch` and `elasticsearch-curator` components and performed the installation and configuration.
Tested on: `AWS`/`Azure` x `RHEL`/`Ubuntu`

**Requires backporting to all branches.**

[2021-02-15 10:27] przemyslavic opened #2059 "[Backport to v0.9] Set LANG for testing curator_cli commands"
Issue description: #2049

Please backport into 0.9 changes made in PR #2054

[2021-02-15 10:28] przemyslavic opened #2060 "[Backport to v0.8] Set LANG for testing curator_cli commands"
Issue description: #2049

Please backport into 0.8 changes made in PR #2054

[2021-02-15 14:03] przemyslavic commented on #1970
For testing purposes, I modified the `feature-mapping` to enable `elasticsearch` and `elasticsearch-curator` components and performed the installation and configuration with no issues.
Tested on: `AWS`/`Azure` x `RHEL`/`Ubuntu`.

[2021-02-15 14:08] przemyslavic commented on #1966
For testing purposes, I modified the `feature-mapping` to enable `elasticsearch` and `elasticsearch-curator` components and was able to perform the installation and configuration without any issues.
Tested on: `AWS`/`Azure` x `RHEL`/`Ubuntu`.

[2021-02-15 15:16] przemyslavic commented on #1965
For testing purposes, I modified the `feature-mapping` to enable `elasticsearch` and `elasticsearch-curator` components and was able to perform the installation and configuration without any issues.
Tested on: `AWS`/`Azure` x `RHEL`/`Ubuntu`.

[2021-02-15 15:41] przemyslavic commented on #2060
For testing purposes, I modified the `feature-mapping` to enable `elasticsearch` and `elasticsearch-curator` components and was able to perform the installation and configuration without any issues.
Tested on: `AWS`/`Azure` x `RHEL`/`Ubuntu`.

[2021-02-16 08:22] przemyslavic commented on #2059
For testing purposes, I modified the `feature-mapping` to enable `elasticsearch` and `elasticsearch-curator` components and was able to perform the installation and configuration without any issues.
Tested on: `AWS`/`Azure` x `RHEL`/`Ubuntu`.

[2021-02-16 10:03] #889 closed

[2021-02-16 10:05] #2046 closed, assigned to przemyslavic, to-bar

[2021-02-16 10:09] #1965 closed

[2021-02-16 10:09] #1966 closed

[2021-02-16 10:09] #1970 closed

[2021-02-16 10:09] #2049 closed, assigned to przemyslavic, to-bar

[2021-02-16 10:09] #2059 closed, assigned to przemyslavic

[2021-02-16 10:09] #2060 closed, assigned to przemyslavic

[2021-02-16 11:46] mkyc commented on #1976
I reviewed document in internal location (Epiphany->Development->Spikes/PoCs->Kafka Deployment Options) and it looks good as first review of available options.

[2021-02-16 12:56] rpudlowski93 commented on #1526
SPIKE done in the PR: https://github.com/epiphany-platform/epiphany/pull/2063

[2021-02-16 13:59] atsikham commented on #1976
I also reviewed the document, LGTM.
If we choose Strimzi, it's not clear if we are going to integrate it somehow with modules.

[2021-02-17 10:50] przemyslavic commented on #1881
Help messages verified for:

- `epicli init`
- `epicli prepare`
- `epicli apply`
- `epicli delete`
- `epicli upgrade`
- `epicli test`
- `epicli backup`
- `epicli recovery`

The messages appear to reflect the actual state and correctly describe the required and optional parameters for each `epicli` command.

[2021-02-17 11:24] to-bar opened #2066 "[BUG] [CentOS] download-requirements.sh fails on extracting tar with backed up repos"
**Describe the bug**
download-requirements.sh fails with error:

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Run `epicli prepare --os centos-7`
2. Run container with CentOS, for example: `winpty docker run -it --rm -v c:\\github\\epiphany\\core\\src\\epicli://shared centos:7.6.1810`
3. Run `/shared/prepare_scripts/download-requirements.sh /tmp`

**Environment**
- Cloud provide

[2021-02-17 11:34] to-bar opened #2067 "[BUG] epicli fails on task "repository : Wait for yum lock to be released" on CentOS Minimal"
**Describe the bug**
epicli apply fails with error:

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Prepare VM using CentOS-7-x86_64-Minimal-1810.iso
2. Run `epicli apply` (provider: any)

**Environment**
- Cloud provider: None
- OS: CentOS 7.6 minimal

**Additional context**
Issue introduced recently in #1879.

[2021-02-17 11:54] to-bar opened #2068 "[BUG] Preflight role requires sudoer user"
**Describe the bug**
epicli apply fails with error:
[code]
when user was not added to sudoers manually before.

**How to reproduce**
Steps to reproduce the behavior:
1. Prepare VM with non-root user and not added to sudoers.
3. Run`epicli apply` using the user from 1.

**Expected behavior**
Normal user added to sudoers automatically and this behavior described in documentation.

**Environment**
-

[2021-02-17 12:03] to-bar opened #2069 "[BUG] [CentOS] epicli fails on task [repository : Create epirepo repository]"
**Describe the bug**
epicli apply fails with error:

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Prepare VM using CentOS-7-x86_64-Minimal-1810.iso
2. Download requirements for offline installation (`epicli prepare --os centos-7`)
3. Run epicli apply (provider: any)

**Expected behavior**
epirepo created.

**Environment**
- Cloud provider: None
- OS: CentOS 7.6

**Additional co

[2021-02-18 08:56] #1976 closed

[2021-02-18 08:57] #1881 closed

[2021-02-18 10:29] mkyc commented on #2032
Here is script to setup ARM machine in AWS: https://github.com/mkyc/aws-arm-simple-setup

[2021-02-18 11:08] mkyc opened #2073 "[spike] design ansible based module"
There is need to design and describe parts and process of creation of software modules based on ansible.

Result of this task should be a design-doc describing a way to produce module.

[2021-02-19 09:58] erzetpe opened #2074 "[UPGRADE] Upgrade repmgr to 5.2.1"
**Is your feature request related to a problem? Please describe.**
We need to upgrade Replication Manager if possible and needed to the newer version.

**Describe the solution you'd like**
We want to upgrade if possible and needed to the newer version of Replication Manager.

**Describe alternatives you've considered**
None.

**Additional context**
This task can be done before upgrading PostgreSQL

[2021-02-19 10:00] erzetpe opened #2075 "[UPGRADE] Upgrade of pgpool"
**Is your feature request related to a problem? Please describe.**
We need to upgrade pgpool if possible and needed to the newer version. This task should be done after we will upgrade PostgreSQL to v13.

**Describe the solution you'd like**
We want to upgrade if possible and needed to the newer version of pgpool.

**Describe alternatives you've considered**
None.

**Additional context**
This task

[2021-02-19 10:06] erzetpe opened #2076 "[UPGRADE] Upgrade of PgBouncer [Kubernetes]"
**Is your feature request related to a problem? Please describe.**
We need to upgrade PgBouncer if possible and needed to the newer version. This task should be done after we will upgrade PostgreSQL to v13.
This task applies to K8s application

**Describe the solution you'd like**
We want to upgrade if possible and needed to the newer version of PgBouncer.

**Describe alternatives you've considere

[2021-02-19 10:09] erzetpe opened #2077 "[UPGRADE] Upgrade of PGAudit"
**Is your feature request related to a problem? Please describe.**
We need to upgrade PGAudit if possible and needed to the newer version. This task should be done after we will upgrade PostgreSQL version (probably to v12).

**Describe the solution you'd like**
We want to upgrade if possible and needed to the newer version of PGAudit.

**Describe alternatives you've considered**
None.

**Additiona

[2021-02-19 12:43] erzetpe commented on #2031
@to-bar The problem with starting right now with CentOS 8 is that it's add another part of uncertainty to totally new field for us. Probably the safer solution even if it has many drawback is do first support on Centos 7 on ARM architecture, to avoid additional issues.

[2021-02-19 13:31] erzetpe commented on #1819
@atsikham For this moment I think that we can have additionally to [#1912](https://github.com/epiphany-platform/epiphany/issues/1912) task related to check if/how much of the code from existing solution we can move into the module.

I think no matter if we will port our existing code for Kubernetes or we will start with the new development split into three parts the result should be as described b

[2021-02-19 17:47] to-bar commented on #2031
@erzetpe agree that this would increase uncertainty so I opt for doing a spike in order to test whether it is possible to deploy Epiphany cluster on CentOS 8 and if not, what kind of issues we would have.

CentOS 8 was released in 2019 so we are not up to date. IMO before releasing the `extended support` version of Epiphany, we should at least try to abandon RHEL/CentOS 7 for new clusters. The LVM

[2021-02-23 21:07] ar3ndt commented on #2032
Not all packages are available. These are missing:

elasticsearch-curator-5.8.3
opendistroforelasticsearch-kibana-1.10.1*
pgbouncer-1.10.*
rh-haproxy18
rh-haproxy18-haproxy-syspaths
repmgr10-4.0.6

epel that works for aarch64:

`[epel]
name=Epel for arm
baseurl=http://dl.fedoraproject.org/pub/epel/7/aarch64
enabled=1
gpgcheck=0`

[2021-02-24 15:03] ar3ndt commented on #2032
other [PR](https://github.com/epiphany-platform/epiphany/pull/2079) includes changes from this task

[2021-02-24 16:44] to-bar opened #2080 "[FEATURE REQUEST] Update RHEL images in CI pipelines and docs"
**Is your feature request related to a problem? Please describe.**
Until resolving #1355 Epiphany is limited to support RHEL images on Azure only with versions up to 7.7.
So CI pipelines use quite old images (`RedHat:RHEL:7-RAW:7.7.2019090418`).

There are also references to old images in docs (in OS_PATCHING.md and CLUSTER.MD).

**Describe the solution you'd like**
1) Update CI pipelines to use R

[2021-02-24 20:24] rafzei commented on #2080
Does this error regarding disk size ( 32 instead of 64 ) appear when disk size is set to 64 and root partition shows still 32?

If we change our docs & pipelines at first - we have to immediately fix the disk size issue because deployments will fail, am I right?

[2021-02-24 22:38] rafzei commented on #2038
If I understand the title correctly, we have to perform some tests & checks (maybe setup some pipelines?) on target environments based on ARM. Am I right @mkyc ?

[2021-02-24 22:49] rafzei commented on #2035
@mkyc  please put some more words here. Is this task for creating documentation about which Epiphany components have to be supported or something different?

[2021-02-25 07:58] seriva commented on #2035
I think we are waiting for @toszo to define that in this task: #2031

[2021-02-25 08:41] mkyc commented on #2038
In general, after we test that Epiphany itself installs, starts, upgrades, etc. we need to help our users to install and run their applications on top of Epiphany. So all the tests and checks for Epiphany itself should be already done in previous tasks in epic. Here we want to focus on our clients.

[2021-02-25 08:43] mkyc commented on #2035
This task is for documentation. As mentioned in #2039 we know about 8 or 9 components required by our customers. So after we do all the work, we need to document exactly what is supported not to mislead someone that all the features are supported on ARM.

[2021-02-25 09:04] #1526 closed

[2021-02-25 11:59] to-bar commented on #2080
The error will occur when you set for OS disk less than 64GB. Currently the Epiphany default is `disk_size_gb: 32` so this default should be changed in the scope of this task. However, it's possible to overwrite the default - but this has to be done for each component, which is not convenient and error prone.

[2021-02-25 12:11] przemyslavic commented on #2029
This was just to clean up the code from unused ARM references.

[2021-02-25 12:17] przemyslavic commented on #2022
For next releases, we have to follow the checklist provided in the `Release version` template.

[2021-02-25 12:54] rafzei commented on #2035
Ok, I've updated it a little bit, feel free to add something if it came to your mind ;)

[2021-02-26 08:42] seriva opened #2081 "[FEATURE REQUEST] Replace Skopeo with Crane"
**Is your feature request related to a problem? Please describe.**
Currently we use an older version of [Skopeo](https://github.com/containers/skopeo) to download Docker image requirements for our repository. However upgrading to a newer version of Skopeo in #1877 presents the following problems:

1. No support for universal Go binaries anymore. Each OS would need to have each own build version we

[2021-02-26 08:42] seriva commented on #1877
Closing this issue as a new issue was created for replacing Skopeo with Crane here: #2081.

In short, newer versions of Skopeo present the following issues:

1. No support for universal Go binaries anymore. Each OS would need to have each own build version we need to ship instead of the single multi OS binary we use now.
2. With the additional requirement to support ARM we need to be able to downl

[2021-02-26 09:12] erzetpe opened #2082 "[SPIKE] Check possibility of downloading packages for offline installation on different architecture than targeted one"
**Is your feature request related to a problem? Please describe.**
Right now architecture where we are downloading dependencies for offline installation must match the environment where Epiphany will be installing.

**Describe the solution you'd like**
We need to check if it is possible to download for Ubuntu and Centos/Red Hat packages for offline installation on architecture that is not matching

[2021-02-26 09:13] #1877 closed

[2021-02-26 09:32] rpudlowski93 commented on #1927
Done in PR : https://github.com/epiphany-platform/epiphany/pull/2083

[2021-02-26 09:45] esurio commented on #2024
exactly what you need is in the internal jira, expect PR soon.
EP-268

[2021-02-26 09:48] esurio commented on #2024
this might be partially or fully resolved by out internal jira: EP-269
lets talk - we probably can deliver what you need fairly easy.

[2021-02-26 10:16] mkyc commented on #2074
isn't it duplicate off #1081 ?

[2021-02-26 10:17] przemyslavic opened #2084 "[RELEASE] v0.10.0-rc1"
#### Release checklist

* [ ] Default OS cloud images updated
* [x] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [ ] Promote k8s to

[2021-02-26 10:32] mkyc commented on #2033
divide into buckets of components

[2021-02-26 10:32] mkyc commented on #2034
divide into buckets of components in correlation to #2033

[2021-02-26 11:27] seriva opened #2086 "[FEATURE REQUEST] Add Crane for ARM architecture"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architecture but moving forward we also need to support the ARM architecture. We only have Crane for x86_64 architecture so we have add the Crane ARM binary which allows us to  download image requirements on ARM.

**Describe the solution you'd like**
- Add the Crane ARM binary to the repository

[2021-02-26 15:08] przemyslavic commented on #2069
Fixed.
Successfully created epirepo in offline mode using CentOS minimal image.

[2021-02-26 15:20] przemyslavic commented on #2066
Fixed.
Successfully extracted repository backups using CentOS image.

[2021-02-26 18:43] to-bar opened #2087 "[SPIKE] Test whether it is worth to switch to Gen 2 VMs on Azure"
**Is your feature request related to a problem? Please describe.**
There are two generations of Hyper-V virtual machines – Generation 1 and Generation 2.
By default Epiphany uses Gen 1.

Generation 2 VMs use the new UEFI-based boot architecture instead of the BIOS-based architecture used by generation 1 VMs. According to MS docs, generation 2 VMs might have improved boot and installation times.

T