[2021-03-01 12:06] przemyslavic commented on #2067
Actually this is for `RedHat` `Azure`, not `CentOS`.
@to-bar restoring cron job doesn't work at all.
The command `/var/tmp/rhui-update-client mv /etc/cron.daily/rhui-update-client` does not appear to be correct 😏
Moving this task back to TODO.

[2021-03-02 08:35] rpudlowski93 commented on #1921
Done in PR #2089

[2021-03-02 08:45] przemyslavic opened #2090 "[FEATURE REQUEST] Add support for alternative file URLs to download-requirements"
**Is your feature request related to a problem? Please describe.**
The download speed of Ignite binary from current [link](https://archive.apache.org/dist/ignite/2.9.1/apache-ignite-2.9.1-bin.zip) is very slow ~100KB/s,  therefore it takes about an hour just to download a 400MB file.

**Describe the solution you'd like**
Mirrors are available only for the latest version (and alpha):
https://dist.a

[2021-03-02 10:11] #2029 closed, assigned to seriva, przemyslavic

[2021-03-02 10:15] plirglo opened #2092 "[FEATURE REQUEST] [Modules] Check GH Issue Template for with release / issue / feature request checklist"
See #2022

**Is your feature request related to a problem? Please describe.**
We do not have checklist template to be created for each release in GH. Due to this we miss some important points.

**Describe the solution you'd like**
Discuss and add GH Issue Template with Checklist inside.

**Describe alternatives you've considered**
We also discussed internal Confluence list, but that sounds less vi

[2021-03-02 10:18] #2022 closed, assigned to przemyslavic, to-bar

[2021-03-02 10:20] #2030 closed, assigned to seriva

[2021-03-02 10:21] #2069 closed, assigned to przemyslavic, to-bar

[2021-03-02 10:24] #2066 closed, assigned to przemyslavic, to-bar

[2021-03-02 12:54] przemyslavic commented on #1355
@to-bar I encountered a problem with the read-only file system.
[code]
As we discussed today, we have to wait for the `epiphany-lvm-merge` process to finish and then continue with the Ansible.

edit:
I have reproduced the problem on another cluster. The init script finished at 13:05:28 and Ansible failed at 13:05:17.

Moving this task back to TODO.

[2021-03-02 13:45] rafzei opened #2093 "[UPGRADE] Upgrade Kubernetes to 1.19.x"
**Is your feature request related to a problem? Please describe.**
Officially K8s 1.18.x end of support was 31.01.2021 but the newer version was released (1.18.16).
Our current version has a few vulnerabilities:
[CVE-2020-8566](https://nvd.nist.gov/vuln/detail/CVE-2020-8566)
[CVE-2020-8565](https://nvd.nist.gov/vuln/detail/CVE-2020-8565)
[CVE-2020-8564](https://nvd.nist.gov/vuln/detail/CVE-2020-85

[2021-03-02 15:31] to-bar commented on #2067
@przemyslavic great shot! :dart:
Fixed in #2095.

[2021-03-03 07:58] seriva commented on #2090
Moved back to grooming after this PR discussion here about speed and redundancy for download links:

https://github.com/epiphany-platform/epiphany/pull/2091

[2021-03-03 08:41] to-bar commented on #1355
Fixed in #2096.

[2021-03-03 08:42] przemyslavic commented on #2090
As commented in [PR](https://github.com/epiphany-platform/epiphany/pull/2091#issuecomment-789538829), the download speed seems to be back to normal now :)

![image](https://user-images.githubusercontent.com/43173646/109777169-b4808600-7c03-11eb-9c2b-639893a900ff.png)

[2021-03-03 12:10] seriva commented on #2031
Additional confirmed information so far:

1. OS: Centos 7

2. Only ```any``` provider needed as they are looking at bare metal hardware.

3. Needed components:
-	Kubernetes,
-	Kafka
-	HAProxy
-	ELK (Logging)
-	Prometheus + Grafana + Exporters (Monitoring)
-	PostgreSQL
-	Keycloak
-	RabbitMQ

4. Priority of components:
- Kubernetes, Kafka, HAProxy
- KeyCloak + PostgreSQL
- RabbitMQ
- ELK + Prometheu

[2021-03-03 13:14] przemyslavic commented on #2067
:heavy_check_mark: Fixed. Now restoring `rhui-update-client` works properly.

[2021-03-03 13:32] przemyslavic commented on #1355
✔️ Fixed.
Now Ansible waits for `epiphany-lvm-merge.service` to finish.
[code]
[code]
Tested with the image `RedHat:RHEL:7-LVM:7.9.2020111202` and the following config (had to increase the disk size to 64GB).
[code]

Partitioning for a 64GB disk is as follows:
[code]

[2021-03-03 14:57] atsikham commented on #1415
So far I was able to reproduce the error message stated in the description only by scaling coredns deployment down to 0 pods:

[code]

This will result to the following Ignite log message in one of the instances that is a "coordinator":

[code]

At the same moment control script shows the same information for both pods, cluster is active and the number of nodes is still the same:

[code]

[code]

[2021-03-04 08:21] przemyslavic commented on #2081
Looks good. I have successfully deployed 10 clusters with all components turned on.
Tested on `AWS`/`Azure` x `Ubuntu`/`RHEL` x `flannel`/`calico`/`canal`.

[2021-03-04 08:32] rpudlowski93 commented on #2090
@seriva  Should we close the task? As I can see, the download mirror was changed in the mentioned PR or we want something else here?

[2021-03-04 08:39] przemyslavic commented on #2086
Crane v0.4.1 ARM binary can be found under [this](https://github.com/google/go-containerregistry/releases) link.

[2021-03-04 08:59] #2067 closed, assigned to przemyslavic, to-bar

[2021-03-04 09:11] #2081 closed, assigned to seriva, przemyslavic

[2021-03-04 09:58] mkyc commented on #2090
PR was not merged but closed, so I assume this task is intended to be changed into something more like "allow multiple download urls".

[2021-03-04 09:59] rpudlowski93 opened #2098 "[BUG] The default values can't be changed in cluster config file for virtual machine."
**Describe the bug**
It is not possible to change default values in configuration section for infrastructure/virtual-machine such as:
- disk_size_gb
- offer
- sku
etc... in cluster config file. Terraform use always default ones.

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli init ... (with params)`
2. edit config file and change default os_disk_size or os image
3. execut

[2021-03-04 10:04] rpudlowski93 commented on #1776
Summary:
- The task can be closed, the main issue of the task is resolved by #1355.
- We need to increase os disk size from 32GB to 64GB in case of using LVM version of RHEL (7.7, 7.8, 7.9) on Azure. We need to add the information to our documentation (#2080).
- Additional output of the task is the bug: #2098.

[2021-03-04 10:17] atsikham commented on #1415
Update:

I figured out that it's not possible to configure Ignite deployment resource quotas via epicli and probably they are not configured in the cluster where this issue happens. Requested configuring deployment's resource quotas as it may lead to frequent pod restarts.

---
K8s cluster configuration where the issue occurs:

* Is it HA cluster or not (single or multiple K8s control plain nodes)

[2021-03-04 10:20] przemyslavic commented on #2098
@rpudlowski93
For now, the only option to change these parameters is to provide the configuration for each vm like this:
[code]

[2021-03-04 16:36] seriva opened #2099 "[FEATURE REQUEST] Remove the Crane binary from the repo."
**Is your feature request related to a problem? Please describe.**
Currently the crane binary is stored inside the repository: ```data\common\ansible\playbooks\roles\repository\files\crane```
After some discussion it was decided that the repository is not the best place for binaries, so we want to make it available in a different manner.

**Describe the solution you'd like**
Let the ```download-re

[2021-03-05 04:24] ks4225 opened #2100 "[BUG] Java not installed as pre-requisite of opendistro-for-elasticsearch"
**Describe the bug**
Using Epiphany 0.9, it looks like opendistro-for-elasticsearch machines are created without any Java runtime.

**How to reproduce**
Any standard cluster build with Epiphany 0.9.

**Expected behavior**
Java is used in some ElasticSearch scripts (e.g. securityadmin.sh). However, on the Epiphany 0.9 clusters we have built, Java is not being installed as a prerequisite of opendist

[2021-03-05 08:42] przemyslavic commented on #1901
@ar3ndt We urgently need these fixes:

1. The when conditions are invalid. Regardless of what components we select for the upgrade, all of them will be upgraded, because the conditions are always resolved as true.

Instead of the condition ```when: ('"kafka" in upgrade_components') or upgrade_components|length == 0```
the condition ```when: "'kafka' in upgrade_components or upgrade_components|leng

[2021-03-05 09:15] przemyslavic opened #2102 "[BUG] Epicli fails on upgrade from develop to develop: quay.io/coreos/flannel:v0.11.0-amd64 image is missing"
**Describe the bug**
There is an issue with epicli upgrade process failing when upgrading from **develop** to **develop**.
It fails on task `image_registry : Tag image quay.io/coreos/flannel:v0.11.0-amd64` with error `No such image: quay.io/coreos/flannel:v0.11.0-amd64` when loading legacy version images to registry when upgrading.
For sure this is related to the introduction of the crane.
There i

[2021-03-05 11:29] atsikham commented on #1306
Optional, but with that feature we can skip following step in `data/common/ansible/playbooks/roles/image_registry/tasks/load-image.yml` if there is an upgrade to the same version:

[code]

[2021-03-05 14:52] przemyslavic commented on #1901
1, 2, 3 Fixed.
User can run the upgrade command with an optional argument `--upgrade-components` providing the list of components to be updated.
Running the command without this argument will update all components.

[2021-03-07 22:53] ks4225 commented on #2100
I now realise this isn't strictly required as there is a JDK bundled with ElasticSearch.
We are able to use the bundled JDK when running `securityadmin.sh`

[2021-03-08 08:50] rafzei commented on #2100
Hello @ks4225,
yes. That's, why we decided to get rid of it. Can I close this issue or there is something more?

[2021-03-09 08:09] toszo commented on #1859
I just received a request to upgrade to version 7.10+

[2021-03-09 08:25] plirglo commented on #1323
At this moment Opendistro for Elasticsearch [does not support](https://github.com/opendistro-for-elasticsearch/sample-code/issues/77) [ILM](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-lifecycle-management.html), log rotation is possible only by configuration created in ISM

[2021-03-09 09:32] ks4225 commented on #2100
Yes, that's fine, I'll close this now.

[2021-03-09 09:32] #2100 closed, assigned to nobody

[2021-03-09 10:05] #1776 closed

[2021-03-09 10:10] #1901 closed

[2021-03-09 11:17] atsikham commented on #2098
This is a bug as specifying "default" virtual-machine type should affect/override parameters of other virtual machine types that are not specified explicitly. Doing this way it should be possible to specify common parameters in the single place.

@seriva will check and post here the configuration that was working in previous versions.

Important notes:
1. There is [based_on](https://github.com/epi

[2021-03-09 11:44] seriva commented on #2098
I tested the following config from 0.6.x and up to 0.9.x and it seems to be broken everywhere (or never worked;)):

[code]

Like @atsikham mentioned: This should make every disk 128gb, except for the K8s master machine which should be 256gb

[2021-03-09 14:30] seriva commented on #2086
Closing this issue as this is pretty much done in #2099. We only need to add the custom proper [Crane binary](https://github.com/google/go-containerregistry/releases)  in the requirements.txt for ARM.

[2021-03-09 14:30] #2086 closed, assigned to nobody

[2021-03-09 17:15] mkyc commented on #2024
New [m-host-init module with initialisation PR](https://github.com/epiphany-platform/m-host-init/pull/1) was created. I will have additional look at resources provided by @esurio in internal jira to have some idea what was proposed there.

[2021-03-10 08:41] seriva opened #2109 "[FEATURE REQUEST] Add arm64 support to 'kubernetes_master' and 'kubernetes_node' components"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```kubernetes_master``` and  ```kubernetes_node``` components on arm64 machines running CentOS.
- We want to focus on the single master with 1..n nodes scenario.
- Only

[2021-03-10 10:03] seriva opened #2110 "[FEATURE REQUEST] Add arm64 support to 'kafka' component"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```kafka``` component on arm64 machines running CentOS.
- We want to support 1-n node scenario.
- Only the latest versions we support.
- Any requirements missing or not

[2021-03-10 10:19] seriva opened #2111 "[FEATURE REQUEST] Add arm64 support to 'load_balancer' component"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```load_balancer``` component on arm64 machines running CentOS.
- Only the latest versions we support.
- Any requirements missing or not added in #2033 will be added for

[2021-03-10 10:22] seriva opened #2112 "[FEATURE REQUEST] Add arm64 support to 'postgresql' component"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```postgresql``` on arm64 machines running CentOS.
- We only want to support the single master node configuration. Any additional configuration (replication, Pgpool etc)

[2021-03-10 10:32] seriva opened #2113 "[FEATURE REQUEST] Add arm64 support to 'applications' Ansible role to install 'Keycloak'"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install ```keycloak``` on K8s running on arm64 machines running CentOS.
- Use the following multi-arch image: https://hub.docker.com/repository/docker/epiphanyplatform/keycloak
- On

[2021-03-10 10:34] seriva opened #2114 "[FEATURE REQUEST] Add arm64 support to 'rabbitmq' component"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```rabbitmq``` component on arm64 machines running CentOS.
- We want to support 1-n node scenario.
- Only the latest versions we support.
- Any requirements missing or n

[2021-03-10 10:45] przemyslavic opened #2115 "[BUG] Epicli hangs on importing GPG keys for kubernetes repository on RHEL"
**Describe the bug**
There is an issue with importing GPG keys for kubernetes repository on RedHat. Ansible hangs for ~10 hours on download-requirements task and then fails with error `Failed to connect to the host via ssh: Shared connection to xx.xx.xx.xx closed."`

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply` (repository component is enough to reproduce)

**Exp

[2021-03-10 10:51] seriva opened #2116 "[FEATURE REQUEST] Add arm64 support to 'logging' component"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```logging``` component on an arm64 machine running CentOS.
- Only the latest versions we support.
- Any requirements missing or not added in #2033 will be added for the

[2021-03-10 10:55] seriva opened #2117 "[FEATURE REQUEST] Add arm64 support to 'monitoring' component"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the logging component on an arm64 machine running CentOS.
- Only the latest versions we support.
- Any requirements missing or not added in #2033 will be added for the effec

[2021-03-10 15:07] seriva opened #2118 "[FEATURE REQUEST] Block the install of unsupported components/roles on arm64"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to block the install of unsupported roles on arm64 machines running CentOS. More information [here](https://github.com/epiphany-platform/epiphany/blob/develop/docs/design-docs/arm/arm.

[2021-03-11 08:03] przemyslavic commented on #2102
What has been tested:
✅ `epicli apply` (dev)
✅ `epicli upgrade` (0.6 to dev)
✅ `epicli upgrade` (0.9 to dev)
✅ `epicli upgrade` (dev to dev)

[2021-03-11 08:13] rafzei commented on #807
Is this issue still valid @to-bar ?

[2021-03-11 08:15] przemyslavic commented on #2099
What has been tested:
✅ `epicli apply` (dev)
✅ `epicli upgrade` (0.6 to dev)
✅ `epicli upgrade` (0.9 to dev)
✅ `epicli upgrade` (dev to dev)

The `repository` role works fine.

[2021-03-11 09:00] #1355 closed

[2021-03-11 09:05] #2102 closed, assigned to atsikham, przemyslavic

[2021-03-11 09:08] #2099 closed, assigned to seriva, przemyslavic

[2021-03-11 13:39] przemyslavic opened #2121 "[BUG] Erlang package versions specified in the requirements are missing from the external repository (RedHat/CentOS)."
**Describe the bug**
Erlang packages in the version specified in the `requirements.txt` file are missing from the RabbitMQ Erlang repository.
It looks like new patches have been uploaded and old packages have been removed.
The script `download-requirements.sh` fails with error `ERROR: repoquery failed: package erlang-23.1.4 not found`.
Older epicli versions are also affected: `ERROR: repoquery fai

[2021-03-11 14:19] to-bar commented on #807
Yes, there is at least:

[2021-03-11 14:32] atsikham commented on #2121
Discussed this issue with @to-bar and assigned it to him.

[2021-03-11 21:34] to-bar opened #2124 "[FEATURE REQUEST] Add Internet connection test to download-requirements.sh"
**Is your feature request related to a problem? Please describe.**
Misleading error messages when download-requirements.sh is run on host without Internet access.

**Describe the solution you'd like**
Before running commands that require Internet access, test whether external URL is accessible.

Basic solution:
Test external (e.g. GitHub) URL with `curl` or `wget`.

Comprehensive solution:
Test In

[2021-03-11 21:51] to-bar opened #2125 "[FEATURE REQUEST] Create CI pipeline for CentOS 7 based deployment"
**Is your feature request related to a problem? Please describe.**
Epiphany supports CentOS based deployment but the support is not automatically tested.

**Describe the solution you'd like**
Create at least one CI QA pipeline to verify whether it is possible to deploy Epiphany cluster on CentOS.
It will be nice to have pipeline to test upgrades.

**Describe alternatives you've considered**
Testin

[2021-03-12 08:11] to-bar opened #2127 "[FEATURE REQUEST] Allow to specify configuration to be used in upgrade mode"
**Is your feature request related to a problem? Please describe.**
Sometimes upgrade process requires additional settings. For example, when upgraded component has new configurable functionality (such as AdminServer in ZooKeeper) we want to be able to specify non-default configuration, like port number.
Another use case is accessing APIs, when credentials are needed for authentication (e.g., upgra

[2021-03-12 08:30] przemyslavic commented on #2115
✅ The original issue seems to be gone, but this fix brings additional improvements anyway, so it's worth applying.

[2021-03-12 08:39] to-bar opened #2128 "[BUG] [upgrade] Configuration in elasticsearch.yml is overwritten"
**Describe the bug**
Settings from /etc/elasticsearch/elasticsearch.yml are overwritten by the defaults during `epicli upgrade`.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy Epiphany cluster with logging component enabled.
2. Change the default configuration (for example specification.cluster_name)
3. Run `epicli upgrade`

**Expected behavior**
Custom settings should be preserv

[2021-03-12 08:45] to-bar opened #2129 "[FEATURE REQUEST] [Upgrade] Add migration from ODFE demo certificates to generated ones"
**Is your feature request related to a problem? Please describe.**
We should remove demo certificates and replace them with self-generated.

**Describe the solution you'd like**
Using admin certificate is convenient for authentication to API. Installation of ODFE creates demo certificates and one of them is for admin user (kirk). This certificate can be used in `apply` mode but at the end it shoul

[2021-03-12 12:29] przemyslavic commented on #2032
It looks like a spike result. Nothing to test at this point.

[2021-03-15 08:26] przemyslavic commented on #2084
[Epicli v0.10.0-rc1 released.](https://github.com/epiphany-platform/epiphany/releases/tag/v0.10.0rc1)

[2021-03-15 09:06] mkyc commented on #2039
Additional confirmed information so far:

1. OS: Centos 7

2. Only ```any``` provider needed as they are looking at bare metal hardware.

3. Needed components:
-	Kubernetes,
-	Kafka
-	HAProxy
-	ELK (Logging)
-	Prometheus + Grafana + Exporters (Monitoring)
-	PostgreSQL
-	Keycloak
-	RabbitMQ

4. Priority of components:
- Kubernetes, Kafka, HAProxy
- KeyCloak + PostgreSQL
- RabbitMQ
- ELK + Prometheu

[2021-03-15 16:13] mkyc commented on #1481
# Offline installation with modules
## Preface
Due to ongoing modularization process and slow introduction of middleware modules we need to decide how modules would obtain required binaries for “offline” mode.

## Assumptions
Each module has access to the “/shared” directory. Most wanted way to use modules is via “e” CLI app.

## Options
### Option 1
Each module docker image has all required binar

[2021-03-16 08:47] przemyslavic commented on #2121
Packages changed to version `23.1.5`, repository changed to `bintray`.
Tested `epicli apply` and `epicli upgrade`. After the fix it works fine.

**It requires backporting to all previous epicli versions.**

[2021-03-16 09:08] rpudlowski93 commented on #2109
@mkyc Do You think that we should add new flag in cluster specification in order to add ability to switch between amd or arm architecture? (similar to 'k8s_as_cloud_service')

[2021-03-16 09:37] seriva commented on #1481
Few comments:

1. I would not dismis 1..3 before doing some spiking and talking to the BDS people as there can be a few benefits to this approach:
   - We control the download locations as in, if we want we could even host all of this stuff on our own docker repo on Azure/AWS and make E configurable.
   - People will only download what they require.

   However 2 and 3 I think we could dismis as:

[2021-03-16 09:39] mkyc commented on #2109
I'm not sure if that wasn't already decided that we introduce new "as-if-OS". @seriva can you help about this one? Also should it be visible in configuration yaml? And should "single_machine" be commented out?

[2021-03-16 10:13] #2023 closed, assigned to atsikham

[2021-03-16 10:20] #2032 closed, assigned to ar3ndt, seriva, przemyslavic

[2021-03-16 10:26] #2084 closed, assigned to przemyslavic, to-bar

[2021-03-16 10:30] #2121 closed, assigned to przemyslavic, to-bar

[2021-03-16 10:31] #2073 closed, assigned to mkyc

[2021-03-16 10:39] mkyc opened #2130 "[RELEASE] v0.10.0"
#### Release checklist

* [x] Default OS cloud images updated
* [x] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [x] Upgrade for V-3
  * [x] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-03-16 10:58] przemyslavic opened #2131 "[Backport to v0.9] Fix missing erlang-23.1.4 package for RHEL/CentOS"
Backport #2121 [PR #2123] to v0.9 branch.

[2021-03-16 10:58] przemyslavic opened #2132 "[Backport to v0.8] Fix missing erlang-23.1.4 package for RHEL/CentOS"
Backport #2121 [PR #2123] to v0.8 branch.

[2021-03-16 10:58] przemyslavic opened #2133 "[Backport to v0.7] Fix missing erlang-23.1.4 package for RHEL/CentOS"
Backport #2121 [PR #2123] to v0.7 branch.

[2021-03-16 11:03] przemyslavic opened #2134 "[Backport to v0.6] Fix missing erlang-21.3.8.7 package for RHEL/CentOS"
Backport #2121 [PR #2123] to v0.6 branch.
Please note that there is a different version of RabbitMQ (3.7.10) and Erlang (21.3.8.7) in v0.6.

[2021-03-16 11:03] przemyslavic opened #2135 "[Backport to v0.5] Fix missing erlang-21.3.8.7 package for RHEL/CentOS"
Backport #2121 [PR #2123] to v0.5 branch.
Please note that there is a different version of RabbitMQ (3.7.10) and Erlang (21.3.8.7) in v0.5.

[2021-03-16 12:40] mkyc commented on #2031
I believe it's good enough for now.

[2021-03-16 13:13] plirglo opened #2136 "[BUG] Replace Bintray Repository"
**Describe the bug**
Bintray repository will be switched off on 1st May 2021:
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/
We still use this repo in Epiphany configuration

**Expected behavior**
- find and use replacement.
- backport

**Config files**
https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/r

[2021-03-16 13:39] rpudlowski93 commented on #2080
CI pipelines updated by @przemyslavic, I only updated documentation and checked if RHEL version is the latest one - yes it it.

RHEL:7-LVM:7.9.2020111202, (kernel 3.10.0-1160.el7.x86_64) - used.

PR for the task: #2137

[2021-03-16 13:54] seriva commented on #2109
@rpudlowski93 Pretty sure the user will be aware on which architecture he will be setting up his Epi cluster and as we can detect which Arch is beeing used we should have no need for an additional flag. Also we wont support multi arch cluster, or x86_64 or Arm64.

@mkyc This config is not for a single machine but for 1 master + 2 nodes and the repo machine. Single machine is irrelevant at this poi

[2021-03-16 14:00] rpudlowski93 commented on #2109
Great! thanks, so waiting for the #2033

[2021-03-17 15:25] przemyslavic commented on #1798
Additional rules have been added for the `alertmanager`. During testing `alertmanager` component and all possible rules have been enabled. Additionally, e-mail notification was enabled and tested to check if the notifications are working properly.
Everything looks fine.

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/747d3295-fd16-45cc-b2c2-0c8631b28e20)

![image.png](h

[2021-03-17 17:16] DaOsie commented on #2112
There are arm64 packages available on official postgresql yum repo: https://yum.postgresql.org/rpmchart/

[2021-03-18 08:57] #2031 closed, assigned to seriva, toszo

[2021-03-18 08:59] #1798 closed

[2021-03-18 10:32] mkyc commented on #2129
Passwords approach sounds simplest for now.

[2021-03-18 13:40] mkyc commented on #2127
I guess test process would be following:
 * create config file for new cluster in version V-1
 * deploy cluster in V-1
 * read documentation about upgrade to version V
 * add new configuration values to existing config file
 * run upgrade -f with this file

Is that correct @to-bar

[2021-03-18 14:40] przemyslavic opened #2142 "[FEATURE REQUEST] Update Ubuntu 18.04-LTS images to the latest"
**Is your feature request related to a problem? Please describe.**
Update `Ubuntu 18.04-LTS` images used in the cloud to the latest version before releasing v0.10.0.

Please update Azure DevOps pipelines, documentation and epicli defaults.

**Additional context**

Latest images as for today:
AWS:
`ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20210315.1`

Azure:
` Canonical:UbuntuServer:1

[2021-03-18 14:56] przemyslavic commented on #1921
Tested:
✔ `epicli apply` with 1 Kafka node
✔ `epicli apply` with 2 Kafka nodes
✔ `epicli upgrade` with 1 Kafka node: upgraded Kafka from v2.3.1 (epicli v0.6) to v2.6.0 (epicli v0.7)
✔ `epicli upgrade` with 2 Kafka nodes: upgraded Kafka from v2.3.1 (epicli v0.6) to v2.6.0 (epicli v0.7)

[2021-03-18 14:59] przemyslavic commented on #1927
Tested:
✔ `epicli apply` with 1 Kafka (+ZooKeeper) node
✔ `epicli apply` with 2 Kafka (+ZooKeeper) nodes
✔ `epicli upgrade` with 1 Kafka node: upgraded ZooKeeper from v3.4.12 (epicli v0.6) to v3.5.8 (epicli v0.7)
✔ `epicli upgrade` with 2 Kafka nodes: upgraded ZooKeeper from v3.4.12 (epicli v0.6) to v3.5.8 (epicli v0.7)

[2021-03-18 15:44] to-bar commented on #2127
Yes, that's the planned flow.

[2021-03-19 07:49] rafzei opened #2144 "[FEATURE REQUEST] Update Epiphany support matrix"
**Is your feature request related to a problem? Please describe.**
Missing official information about new Epiphany support policy

**Describe the solution you'd like**
Update LIFECYCLE.md with LTS/STS information.

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)

[2021-03-19 14:36] przemyslavic commented on #1859
@rpudlowski93 Ansible fails after removing the elasticsearch role.
[code]
It is possible that this is because the role is still enabled in the feature mapping.

[2021-03-19 15:17] rpudlowski93 commented on #1859
Fixed in the PR: #2146

[2021-03-22 08:01] przemyslavic commented on #2080
Updated also `AWS RHEL` image to `RHEL-7.9_HVM-20210208-x86_64-0-Hourly2-GP2`.

[2021-03-22 08:05] przemyslavic commented on #2125
The ability to build and test CentOS-based clusters in both Azure and AWS has been added to existing pipelines (`epicli apply` and `epicli upgrade` from 0.9 to dev).

[2021-03-22 12:58] przemyslavic commented on #1859
Fixed.
Tested:
✔ `epicli apply` with 1 `elasticsearch` node
✔ `epicli apply` with 2 clustered `elasticsearch` nodes
✔ `epicli upgrade` with 2 clustered `elasticsearch` nodes: upgraded `Elasticsearch OSS v7.9.1` / `OpenDistro v1.10.1` (epicli v0.9) to `Elasticsearch OSS v7.10.2` / `OpenDistro v1.13.x` (dev)

[2021-03-23 08:14] plirglo opened #2149 "[Spike] Check possibility of using Elasticsearch Curator with Opendistro for Elasticsearch"
**Is your feature request related to a problem? Please describe.**

After moving to Opendistro for Elasticsearch, Elasticsearch curator stopped working since there is a different way of authentication.

**Describe the solution you'd like**
Describe configuration of using Elasticsearch Curator with Opendistro

**Additional context**

See [this](https://www.softwarefactory-project.io/moving-to-opend

[2021-03-23 08:16] plirglo commented on #1323
Created [issue #2149 ](https://github.com/epiphany-platform/epiphany/issues/2149) to check possibilities of using curator

[2021-03-23 10:04] #1921 closed

[2021-03-23 10:11] #2080 closed, assigned to rpudlowski93, przemyslavic

[2021-03-23 10:13] #2125 closed, assigned to przemyslavic

[2021-03-23 10:16] #1859 closed

[2021-03-23 10:25] przemyslavic commented on #2142
Pipelines updated.

[2021-03-23 13:58] przemyslavic commented on #1323
Documentation only. Nothing to test here.
Detailed instructions on defining index policies can be found in the official OpenDistro documentation.

[2021-03-23 14:10] mkyc commented on #2111
@seriva just one question regarding "Skip the following Ansible roles for now (...)". Do we need additional tasks not to forget about those?

[2021-03-23 14:14] seriva commented on #2111
The missing exporter and logging roles will be addressed in the exporter/logging stories (#2116, #2117). AMP just needs K8s, loadbalancer and Kafka to start.

[2021-03-23 21:10] seriva commented on #2111
Already implemented with #2033

Pull request here: https://github.com/epiphany-platform/epiphany/pull/2139

[2021-03-23 21:10] seriva commented on #2110
Already implemented with #2033

Pull request here: https://github.com/epiphany-platform/epiphany/pull/2139

[2021-03-24 15:24] rpudlowski93 opened #2153 "[SPIKE] ILM for OpenSearch"
**NOTE: This should be reflected to OpenSearch.**

**Is your feature request related to a problem?**
We don't use ILM for Opendistro Elasticsearch but we still have elasticsearch curator role in our Epiphany code and official elastic documentation says that Elastic Curator and ILM should be compatible with our version of ElasticSearch-OSS 7.x. Right now, for log rotation we use only the plugin: IS

[2021-03-24 15:26] rpudlowski93 commented on #2153
@to-bar @plirglo  Could You groom it ?

[2021-03-25 08:59] plirglo commented on #2142
Created PR (draft) with changes:
https://github.com/epiphany-platform/epiphany/pull/2152
There is also documentation change.
Since we are changing images between versions the documentation does not say true.
It's not save to re-run apply after upgrade since terraform will destroy machines - we need to invent some fix for this and/or change documentation.
We are in testing process with @przemyslavi

[2021-03-25 09:05] #1323 closed

[2021-03-25 13:48] przemyslavic opened #2154 "[BUG] Previously installed Prometheus fails on reapplying configuration from develop."
**Describe the bug**
Previously installed Prometheus with epicli < develop (0.10) fails when reapplying configuration from develop branch. It fails on task `Create Prometheus system user` with error `usermod: user prometheus is currently used by process 10724`.

This is probably due to a recent change in Prometheus installation task:
https://github.com/epiphany-platform/epiphany/commit/3c56ac06f0c

[2021-03-25 14:26] przemyslavic opened #2155 "[BUG] RabbitMQ fails on upgrade from v0.6 to develop"
**Describe the bug**
There is an issue with RabbitMQ upgrade process failing during upgrade from epicli v0.6 to develop (RabbitMQ v3.8.9).
It seems the specification used by the upgrade process is missing some vars.
This problem is likely to go away after backporting **[this](https://github.com/epiphany-platform/epiphany/issues/1935)** task.
But what about the existing 0.6.x clusters? They cannot

[2021-03-25 14:56] mkyc commented on #1912
I would consider this spike done. To summarise current state:
 - additional tests were made
 - example installation and integration with OpenEBS was made
 - additional findings are described in internal "Possibility of using RKE in Epiphany" document

[2021-03-25 15:17] mkyc commented on #2155
For users who have v0.6.1 or v0.6.0 we'd like not to force them to upgrade to v0.6.2 and then v0.10.0. That is why it would be good to handle this problem in upgrade role.

[2021-03-26 08:37] seriva commented on #2109
Already implemented with #2033

Pull request here: https://github.com/epiphany-platform/epiphany/pull/2139

[2021-03-26 14:26] przemyslavic opened #2160 "[BUG] Epicli apply fails on updating in-cluster configuration after upgrading from older version (v0.6)"
**Describe the bug**
Re-applying configuration after upgrading from version 0.6 to develop fails on TASK [kubernetes_common : Update in-cluster configuration].

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a 0.6 cluster with kubernetes master and node components enabled (at least 1 vm) - execute `epicli apply` from v0.6 branch
2. Upgrade the cluster to the develop branch - execu

[2021-03-26 15:35] przemyslavic opened #2161 "[BUG] Running out of disk space during upgrade from v0.6 and v0.7 where the default disks are 32GB"
**Describe the bug**
In versions 0.6 and 0.7 there was no repository machine and epirepo was installed on kubernetes master vm which was 32 GB by default. When upgrading to develop, you are running out of disk space, causing Docker to randomly delete some images to free up space, which in turn results in the upgrade process being aborted with an error when trying to tag images that no longer exist

[2021-03-29 07:54] atsikham opened #2163 "[Backport 0.6] Replace Bintray Repository"
**Is your feature request related to a problem? Please describe.**
Bintray repository will be switched off 1st May

**Describe the solution you'd like**
Back appropriate PRs for #2136 and #2155

**Describe alternatives you've considered**
No

**Additional context**
The PR should be also backported in the task: [link](https://github.com/epiphany-platform/epiphany/pull/2169)

---

**DoD checklist**

[2021-03-29 07:54] atsikham opened #2164 "[Backport 0.7] Replace Bintray Repository"
**Is your feature request related to a problem? Please describe.**
Bintray repository will be switched off 1st May

**Describe the solution you'd like**
Back appropriate PRs for #2136 and #2155

**Describe alternatives you've considered**
No

**Additional context**
The PR should be also backported in the task: [link](https://github.com/epiphany-platform/epiphany/pull/2169)

---

**DoD checklist**

[2021-03-29 07:54] atsikham opened #2165 "[Backport 0.8] Replace Bintray Repository"
**Is your feature request related to a problem? Please describe.**
Bintray repository will be switched off 1st May

**Describe the solution you'd like**
Back appropriate PRs for #2136 and #2155

**Describe alternatives you've considered**
No

**Additional context**
The PR should be also backported in the task: [link](https://github.com/epiphany-platform/epiphany/pull/2169)

---

**DoD checklist**

[2021-03-29 07:54] atsikham opened #2166 "[Backport 0.9] Replace Bintray Repository"
**Is your feature request related to a problem? Please describe.**
Bintray repository will be switched off 1st May

**Describe the solution you'd like**
Back appropriate PRs for #2136 and #2155

**Describe alternatives you've considered**
No

**Additional context**
The PR should be also backported in the task: [link](https://github.com/epiphany-platform/epiphany/pull/2169)

---

**DoD checklist**

[2021-03-29 10:43] mkyc commented on #739
It's related to cloud computing where you should not care about exact IP address. I also believe this should be solved more dynamic way i.e.: DNS.

[2021-03-29 11:24] przemyslavic commented on #2154
Fixed.
✅ `epicli apply` (0.8) + `epicli apply` (dev)
✅ `epicli apply` (0.6) + `epicli upgrade` (to dev) + `epicli apply` (dev)

[2021-03-29 11:31] przemyslavic commented on #2068
✅ An assertion has been added to check if user has passwordless root privileges through sudo and if not, the preflight check fails with an error message:
[code]

[2021-03-29 11:42] przemyslavic commented on #2136
The repositories for RabbitMQ and Erlang have been changed from `bintray` to `packagecloud` and `github`.
✅ `epicli apply` (dev) Ubuntu
✅ `epicli upgrade` (from 0.6 to dev)
✅ `epicli upgrade` (from 0.7 to dev)

❌ `epicli apply` (dev) RHEL
RabbitMQ installation fails on RedHat:
[code]
Apparently it is related to this change: https://github.com/epiphany-platform/epiphany/commit/aa04a793d09e37859bad8

[2021-03-29 12:08] przemyslavic commented on #2155
Fixed.
✅ epicli upgrade from 0.6 to dev (`AWS`/`Azure` x `Ubuntu`/`RHEL`)
✅ epicli upgrade from 0.7 to dev (`AWS`/`Azure` x `Ubuntu`/`RHEL`)

[2021-03-29 12:29] mkyc commented on #1075
Is there a workaround? For example if I run apply again would it work?

[2021-03-29 13:07] przemyslavic commented on #2115
The issue is back. It blocks me from RedHat testing.
[code]

[2021-03-29 15:38] przemyslavic commented on #2160
This issue appears to have occurred after terraform recreated the virtual machines, possibly due to changes made in #1095.
There is no issue in Azure or applying the configuration after upgrading from version 0.7.
It is possible that we can close this task after we have determined the supported scenarios.

[2021-03-30 08:30] rafzei commented on #2115
Can be useful:
https://gist.github.com/simbo1905/ba3e8af9a45435db6093aea35c6150e8
https://people.kernel.org/monsieuricon/run-gnupg-2-2-17-on-your-el7-system

[2021-03-30 08:32] #2160 closed, assigned to atsikham

[2021-03-30 08:33] #2155 closed, assigned to atsikham

[2021-03-30 08:37] mkyc commented on #2154
Followup tasks would to extend pipelines would be added.

[2021-03-30 08:38] #2154 closed, assigned to ar3ndt

[2021-03-30 08:40] #2068 closed, assigned to przemyslavic, to-bar

[2021-03-30 10:04] mkyc commented on #2115
@plirglo that might be useful for you.

[2021-03-30 10:43] przemyslavic opened #2167 "[FEATURE REQUEST] CI pipelines: re-run epicli apply to test idempotency"
**Is your feature request related to a problem? Please describe.**
We do not have a CI pipeline for idempotency testing.

**Describe the solution you'd like**
We need to create a pipeline for idempotency testing by adding a step to the existing pipelines to re-run the `epicli apply` command.

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
*

[2021-03-30 11:09] rpudlowski93 commented on #2136
Fixed: https://github.com/epiphany-platform/epiphany/pull/2169

[2021-03-30 11:13] rpudlowski93 commented on #2166
Remember about adding preflight facts which I added in the following PR: [link](https://github.com/epiphany-platform/epiphany/pull/2169)

[2021-03-30 14:37] przemyslavic commented on #2136
Fixed.
✅ `epicli apply`: `RHEL` x `AWS`/`Azure`
✅ `epicli apply`: `Ubuntu` x `AWS`/`Azure`

[code]

[2021-03-30 15:05] przemyslavic commented on #2161
The fix works in the sense that it removes unnecessary files, packages and images. For some older clusters where the repository disks are 32 GB it is insufficient (os disks have to be extended there) but it brings additional improvements anyway, so it's worth applying.

[2021-03-30 15:32] przemyslavic commented on #1789
Retry functionality has been added to `apt-get download` command.
Related issue: #1710 to extend retry functionality for all network related commands in `download-requirements.sh`.

[2021-03-31 07:40] rpudlowski93 commented on #2129
Done in PR : https://github.com/epiphany-platform/epiphany/pull/1994

[2021-03-31 07:40] rpudlowski93 commented on #2128
Done in the [PR](https://github.com/epiphany-platform/epiphany/pull/1994)

[2021-03-31 09:08] przemyslavic opened #2170 "[BUG] OpenDistro fails on upgrade to develop: connection failure due to unknown certificate)"
**Describe the bug**
There is an issue with OpenDistro upgrade process failing during upgrade from epicli v0.8 (most likely also from v0.9) to develop.
It fails on task `upgrade : ODFE | Disable shard allocation for the cluster` with an error `Status code was -1 and not [200]: Connection failure: [SSL: SSLV3_ALERT_CERTIFICATE_UNKNOWN] sslv3 alert certificate unknown (_ssl.c:1946)", "redirected": f

[2021-03-31 11:23] mkyc commented on #983
That would be actually possible now using combination of [AzBI](https://github.com/epiphany-platform/m-azure-basic-infrastructure) and [Hi](https://github.com/epiphany-platform/m-host-init) modules.

[2021-04-01 07:59] #1912 closed

[2021-04-01 08:00] #2136 closed, assigned to rpudlowski93, przemyslavic

[2021-04-01 08:02] #2161 closed, assigned to przemyslavic, to-bar

[2021-04-01 08:02] #1789 closed

[2021-04-01 09:55] przemyslavic commented on #2142
Images for Ubuntu have been updated and tested. Documentation on extending OS disks has been added.

[2021-04-02 13:04] przemyslavic commented on #1844
Tested.
✅ `epicli apply`
✅ `epicli upgrade` from 0.6
✅ `epicli upgrade` from 0.7
✅ `epicli upgrade` from 0.8
✅ `epicli upgrade` from 0.9

[2021-04-02 13:05] przemyslavic commented on #2128
✅Fixed in #1844 [PR #1994].

[2021-04-02 13:18] przemyslavic commented on #2129
Looks like it's partially done. Changes were introduced in #1844 [PR #1994] for `epicli apply` and partially reverted in #2170 [PR #2174] for `epicli upgrade`.
Moving back to TODO to finish this task later or close it after discussion.

[2021-04-02 13:19] przemyslavic commented on #2170
Fixed.
✅ `epicli apply`
✅ `epicli upgrade` from 0.6
✅ `epicli upgrade` from 0.7
✅ `epicli upgrade` from 0.8
✅ `epicli upgrade` from 0.9

[2021-04-06 08:36] atsikham commented on #2163
#2168 should be merged first

[2021-04-06 09:36] mkyc commented on #2142
Even newer images found and applied.

[2021-04-06 09:36] #2142 closed, assigned to plirglo

[2021-04-06 09:41] mkyc commented on #2130
Additional task #2167 was created to test apply idempotency.

[2021-04-06 09:41] #2130 closed, assigned to przemyslavic

[2021-04-06 09:44] #1844 closed

[2021-04-06 09:45] #2128 closed, assigned to rpudlowski93, przemyslavic, to-bar

[2021-04-06 09:50] #2170 closed, assigned to rpudlowski93, przemyslavic, to-bar

[2021-04-06 11:07] seriva opened #2179 "[FEATURE REQUEST] Remove un-used images, files and packages used only for deprecated Epiphany installations (< 0.7.0)"
**Is your feature request related to a problem? Please describe.**
Currently we have a number of images, files and possibly packages which are no longer required for installing and upgrading the latest version of Epiphany using Epicli. This increases the installation time and disk requirements for the repository.

**Describe the solution you'd like**
1) Remove all un-used images, packages and file

[2021-04-06 13:08] rafzei opened #2180 "[BUG] Documentation - missing clear information about supported CNI plugins"
**Describe the bug**
The only one place where we described that Calico is not supported on Azure is there:
https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/defaults/configuration/kubernetes-master.yml#L31

**Expected behavior**
A clear description in the documentation of what kind and where CNI plugins are supported.

**Additional context**
I've created this i

[2021-04-06 15:03] przemyslavic commented on #2166
@rpudlowski93 I am not able to fully test this task on Ubuntu before backporting #2131 due to this error:
`package to download: erlang-eldap=1:23.1.4*", "E: Version '1:23.1.4*' for 'erlang-eldap' was not found", "E: No packages found"`.

For testing purposes I will bump version to 23.1.5 but I need a proper task to be backported as soon as possible.

[2021-04-07 07:14] przemyslavic commented on #1935
Looks good.
✅ `epicli apply` v0.6 (2 separate nodes)
✅ `epicli apply` v0.6 (2 clustered nodes)
✅ `epicli upgrade` from v0.6 to dev

[2021-04-07 07:17] przemyslavic commented on #2166
✅ `epicli apply` v0.9 RHEL
✅ `epicli apply` v0.9 Ubuntu (after bumping erlang to v23.1.5 in `requirements.txt`)

[2021-04-07 07:44] rpudlowski93 commented on #2165
Backported in PR: #2182

[2021-04-07 07:56] atsikham commented on #2134
This task is done in the scope of #1935 (PR #2168)

[2021-04-07 08:07] atsikham commented on #2135
0.5 is not supported, backport is not needed.

[2021-04-07 08:07] #2135 closed, assigned to nobody

[2021-04-07 08:10] atsikham commented on #1906
0.5 version is not supported, this task is closed after daily discussion with the team.

[2021-04-07 08:11] #1906 closed

[2021-04-07 08:15] atsikham commented on #1716
These changes have been already backported, PR #1796 - https://github.com/epiphany-platform/epiphany/blob/v0.5/CHANGELOG-0.5.md

[2021-04-07 08:17] #1716 closed

[2021-04-07 09:59] rpudlowski93 commented on #2132
Done in the PR #2182

[2021-04-07 11:55] przemyslavic commented on #1841
✅ `epicli apply` single machine
✅ re-run `epicli apply` single machine

[2021-04-07 12:31] rpudlowski93 commented on #2133
Done in PR: #2183

[2021-04-07 12:51] rpudlowski93 commented on #2163
Done in PR: #2186

[2021-04-07 14:24] przemyslavic commented on #1934
✅ `epicli apply` v0.7 (1 node)
✅ `epicli` re-`apply` v0.7 (2 clustered nodes)
✅ `epicli upgrade` from v0.7 to dev (2 clustered nodes)

[2021-04-07 14:24] przemyslavic commented on #2164
Tested together with #1934.

[2021-04-07 14:25] przemyslavic commented on #2133
Tested together with #1934.

[2021-04-08 06:50] przemyslavic commented on #2163
✅ epicli apply v0.6 with RabbitMQ component enabled

[2021-04-08 07:57] #1935 closed

[2021-04-08 07:58] #2134 closed, assigned to atsikham

[2021-04-08 08:00] #2166 closed, assigned to rpudlowski93, przemyslavic

[2021-04-08 08:01] #1841 closed

[2021-04-08 08:02] #1934 closed

[2021-04-08 08:04] #2164 closed, assigned to rpudlowski93, przemyslavic

[2021-04-08 08:04] #2133 closed, assigned to rpudlowski93, przemyslavic

[2021-04-08 08:06] #2163 closed, assigned to rpudlowski93, przemyslavic

[2021-04-08 08:07] mkyc commented on #1751
Closing without resolution as we no longer support 0.5 versions.

[2021-04-08 08:07] #1751 closed

[2021-04-08 08:09] mkyc commented on #1075
Add information to changelog known issues section.

[2021-04-08 08:11] mkyc commented on #1129
Add information to change log known issues section.

[2021-04-08 08:12] mkyc commented on #1928
Closing without resolution since we no longer support 0.6.x versions.

[2021-04-08 08:12] #1928 closed

[2021-04-08 08:14] mkyc commented on #1922
Closing without resolution since we no longer support 0.6.x versions.

[2021-04-08 08:14] #1922 closed

[2021-04-08 08:14] mkyc commented on #1907
Closing without resolution since we no longer support 0.6.x versions.

[2021-04-08 08:14] #1907 closed

[2021-04-08 08:15] mkyc commented on #1215
Closing without resolution since we no longer support 0.5.x and 0.6.x versions.

[2021-04-08 08:15] #1215 closed

[2021-04-08 08:16] #1220 closed

[2021-04-08 08:16] mkyc commented on #1220
Closing without resolution since we no longer support 0.4.x, 0.5.x and 0.6.x versions.

[2021-04-08 08:17] mkyc commented on #1777
We should fix it only in 0.7

[2021-04-08 08:22] mkyc commented on #1951
Closing without resolution since we no longer support 0.6.x versions.

[2021-04-08 08:22] #1951 closed

[2021-04-08 08:25] mkyc commented on #2014
We should add this to change log known issues section.

[2021-04-08 08:26] mkyc commented on #1226
Closing without resolution since we no longer support 0.6.x versions.

[2021-04-08 08:26] #1226 closed

[2021-04-08 09:16] mkyc commented on #1075
Handled in [this PR](https://github.com/epiphany-platform/epiphany/pull/2188)

[2021-04-08 09:16] mkyc commented on #1129
Handled in [this PR](https://github.com/epiphany-platform/epiphany/pull/2188)

[2021-04-08 09:17] mkyc commented on #2014
Handled in [this PR](https://github.com/epiphany-platform/epiphany/pull/2188)

[2021-04-08 09:58] przemyslavic commented on #2131
Tested:
✅ `epicli apply` v0.9 with RabbitMQ component enabled

[2021-04-08 09:59] przemyslavic commented on #2132
Tested:
✅ `epicli apply` v0.8 with RabbitMQ component enabled

[2021-04-08 10:00] przemyslavic commented on #2165
Tested together with #2132.

[2021-04-08 10:02] przemyslavic opened #2189 "[RELEASE] v0.6.2"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [ ] Upgrade for V-1
  * [ ] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [ ] Promote k8s to

[2021-04-08 12:15] to-bar opened #2190 "[Backport to v0.7][AWS][RHEL] Add support for RHEL 7.9 images"
**Is your feature request related to a problem? Please describe.**
epicli apply fails when RHEL 7.9 image is used (`RHEL-7.9_HVM-20210208-x86_64-0-Hourly2-GP2`) on downloading requirements with the error:
`ERROR: RHEL yum repository not found, pattern was: rhel-7-server-extras-rpms|rhui-REGION-rhel-server-extras|rhui-rhel-7-server-rhui-extras-rpms`

**Describe the solution you'd like**
Extend patt

[2021-04-08 12:17] to-bar opened #2191 "[Backport to v0.8][AWS][RHEL] Add support for RHEL 7.9 images"
**Is your feature request related to a problem? Please describe.**
epicli apply fails when RHEL 7.9 image is used (`RHEL-7.9_HVM-20210208-x86_64-0-Hourly2-GP2`) on downloading requirements with the error:
`ERROR: RHEL yum repository not found, pattern was: rhel-7-server-extras-rpms|rhui-REGION-rhel-server-extras|rhui-rhel-7-server-rhui-extras-rpms`

**Describe the solution you'd like**
Extend patt

[2021-04-08 12:18] to-bar opened #2192 "[Backport to v0.9][AWS][RHEL] Add support for RHEL 7.9 images"
**Is your feature request related to a problem? Please describe.**
epicli apply fails when RHEL 7.9 image is used (`RHEL-7.9_HVM-20210208-x86_64-0-Hourly2-GP2`) on downloading requirements with the error:
`ERROR: RHEL yum repository not found, pattern was: rhel-7-server-extras-rpms|rhui-REGION-rhel-server-extras|rhui-rhel-7-server-rhui-extras-rpms`

**Describe the solution you'd like**
Extend patt

[2021-04-09 03:58] #1838 closed

[2021-04-09 07:31] rpudlowski93 commented on #1931
After short research it looks that in order to send metrics from istio mesh to our external monitoring instances we need to:
- Deploy prometheus inside of our istio mesh cluster in order to scrape metrics from sidecar proxies
- Expose the prometheus service outside of the cluster using virtual service, gateway and destination rules:

[code]

More here: [link](https://istio.io/latest/docs/tasks/obs

[2021-04-09 08:50] mkyc commented on #1777
- We should discuss how we want to handle this situation in offline modes.
- Also we should compare it with develop because it works in develop. Its possible that we just need to backport Grafana related stuff here to 0.7.x branch.

[2021-04-09 08:56] rafzei commented on #1777
Issue still exists in 0.7 version. In 0.10 it's working fine.
The grafana role was refactored in v0.9.

[2021-04-09 09:00] mkyc commented on #1905
Might be related to #2013

[2021-04-09 09:03] mkyc opened #2194 "[RELEASE] v0.7.3"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [ ] Upgrade for V-1
  * [ ] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-04-09 09:07] mkyc opened #2195 "[RELEASE] v0.8.2"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [ ] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-04-09 09:25] mkyc commented on #1861
Also ensure that we have all for ARM architecture before we start here.

[2021-04-09 14:53] to-bar opened #2203 "[BUG] Cloud specific tasks are skipped when `any` provider is used"
**Describe the bug**
Sometimes we use `any` provider also for cloud based env (e.g. when infrastructure is created by a module) but the `provider` property is used in source code, for example like this:

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. create infrastructure using `aws-bi` module
2. edit Epiphany config file to use `any` provider
3. execute `epicli apply`

**Expecte

[2021-04-12 14:04] przemyslavic commented on #2191
v0.8 AWS pipelines have been updated to use RHEL 7.9 image.
Tested during v0.8.2 release testing.

[2021-04-12 22:04] ar3ndt commented on #2153
Looks like after moving to opendistro ILM support was skipped. Imo if this is part we supported before and still have partially (curator) then it is worth to check. Theoretically compatibility should be still in place.
Is curator strictly related to ILM (cause you propose to remove curator)?

[2021-04-13 08:50] przemyslavic commented on #2024
New tasks created as a result of tests:
[[BUG] Flags '--shared' and '--resources' don't seem to work.](https://github.com/epiphany-platform/m-host-init/issues/9)
[[BUG] The 'plan' command may not work properly. ](https://github.com/epiphany-platform/m-host-init/issues/10)
[Make log output more verbose by default (INFO level) ](https://github.com/epiphany-platform/m-host-init/issues/11)
[[BUG] The

[2021-04-13 09:04] #1481 closed

[2021-04-13 09:05] #1075 closed

[2021-04-13 09:05] #1129 closed

[2021-04-13 09:05] #2014 closed, assigned to mkyc

[2021-04-13 09:06] #2131 closed, assigned to rpudlowski93, przemyslavic

[2021-04-13 09:06] #2132 closed, assigned to rpudlowski93, przemyslavic

[2021-04-13 09:09] #2165 closed, assigned to rpudlowski93, przemyslavic

[2021-04-13 09:10] #2189 closed, assigned to przemyslavic

[2021-04-13 09:11] #2191 closed, assigned to przemyslavic, to-bar

[2021-04-13 09:22] #2024 closed, assigned to mkyc, przemyslavic

[2021-04-13 09:34] plirglo opened #2204 "[BACKPORT] [0.7] PostgreSQL replication with repmgr: hot_standby not set in config file"
Backport of #1273  into 0.7 (include into 0.7.4 Release version)

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Feature has automated tests
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x] All conversations in PR r

[2021-04-13 12:18] rpudlowski93 commented on #2117
Done in the PR: #2207

In scope of the PR, postgres exporter also updated to version 0.9.0 (support ARM)

[2021-04-13 12:41] przemyslavic commented on #1905
Changing 0.7.4 release to 0.7.3 as it's already been merged into v0.7.

[2021-04-13 13:44] przemyslavic commented on #2190
v0.7 AWS pipelines have been updated to use RHEL 7.9 image.
Tested during v0.7.3 release testing.

[2021-04-13 14:01] przemyslavic commented on #1905
✅ Tested `epicli apply`: `Azure`/`AWS` x `Ubuntu`/`RHEL`
Docker is installed in v19.03.14 with no issues.

[2021-04-13 14:38] przemyslavic commented on #2013
Tested:
✔ epicli apply
After replacing `cgroupfs` driver with `systemd` driver everything seems to be working with no issues.

[2021-04-14 08:00] przemyslavic opened #2208 "[BACKPORT][0.9] Wait for yum lock to be released"
Please backport task #2067 PR #2078 to v0.9.
+fix PR #2095  + #1879
OR
#2212 should be sufficient

[2021-04-14 08:00] przemyslavic opened #2209 "[BACKPORT][0.8] Wait for yum lock to be released"
Please backport task #2067 PR #2078 to v0.8.

+fix PR #2095  + #1879
OR
#2212 should be sufficient

[2021-04-14 08:01] przemyslavic opened #2210 "[BACKPORT][0.7] Wait for yum lock to be released"
Please backport task #2067 PR #2078 to v0.7.
+fix PR #2095

[2021-04-14 08:17] rpudlowski93 commented on #2153
As far as I know, but for sure @plirglo is the most oriented person in this topic, we removed curator since there is no longer any possibilities to use it with our new version of Opendistro Elasticsearch and in order to somehow replace the tool, we implemented and support ILM. But I looked at the documentation and it looks that curator should works with our Elasticsearch. ILM doesn't have a few of

[2021-04-14 14:38] przemyslavic commented on #127
It looks like the ability to deploy Grafana dashboards has already been implemented: [link](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/grafana/tasks/dashboards.yml).

The sample dashboards are commented out in the default configuration: [link](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/d

[2021-04-15 07:21] przemyslavic commented on #2210
Tested online and offline installation - no issues found, it looks good.

[2021-04-15 07:41] seriva commented on #1294
Yeah, redefining the schema is better done for the new module based approach. This is still something that people can work arround by defining the entire defaults when making changes.

[2021-04-15 07:56] #2195 closed, assigned to przemyslavic

[2021-04-15 07:56] #2190 closed, assigned to przemyslavic, to-bar

[2021-04-15 07:57] #1905 closed

[2021-04-15 07:58] #2013 closed, assigned to przemyslavic, plirglo

[2021-04-15 07:59] #2210 closed, assigned to przemyslavic, plirglo

[2021-04-15 11:41] plirglo commented on #2153
From my understanding the main problem is that opendistro for elasticsearch use more advanced security configuration than older Elasticsearch. That means Curator is not able to connect until specify configuration and roles will be created. To achieve i believe we need to:
- create solution for use self-signed certificates (#2129)
- create custom role for curator. [here](https://www.softwarefactory

[2021-04-15 12:58] rpudlowski93 opened #2215 "[BUG] Grafana does not show metrics from kafka and haproxy exporters"
**Describe the bug**
Grafana does not show metrics from kafka and haproxy exporters. The problem occurs for the standard dashboards such as [Kafka Exporter Overview Dashboard](https://grafana.com/grafana/dashboards/7589). Looks like a problem with Grafana since using Prometheus it is possible to scrape metrics from the mentioned above exporters.

**How to reproduce**
Steps to reproduce the behavio

[2021-04-15 13:50] przemyslavic commented on #2192
:heavy_check_mark: v0.9 AWS pipelines have been updated to use RHEL 7.9 image (`RHEL-7.9_HVM-20210208-x86_64-0-Hourly2-GP2`).

[2021-04-16 07:04] atsikham commented on #2109
Verified K8s (control plane + worker nodes) installation for
arm64: CentOS
amd64: AWS+RHEL (HA), Azure+Ubuntu (single control plane node)

[2021-04-16 07:07] atsikham commented on #2033
Verified together with #2109 task on different architectures that repository is configured successfully.

[2021-04-16 12:42] przemyslavic commented on #1710
@ar3ndt as far as I know, we do not support Ignite installation on arm machines yet.
I think that Ignite role should be removed from [here ](https://github.com/epiphany-platform/epiphany/pull/2156/files#diff-f103929a992efef8f98a45eeccb6483e5f6be8ea67731c9bb30d6d03c1b4db22R75) and from other distros.

The installation fails on task `download : Download file apache-ignite-2.9.1-bin.zip` as Ignite pa

[2021-04-16 12:43] przemyslavic commented on #2118
@ar3ndt as far as I know, we do not support Ignite installation on arm machines yet.
I think that Ignite role should be removed from [here ](https://github.com/epiphany-platform/epiphany/pull/2156/files#diff-f103929a992efef8f98a45eeccb6483e5f6be8ea67731c9bb30d6d03c1b4db22R75) and from other distros.

The installation fails on task `download : Download file apache-ignite-2.9.1-bin.zip` as Ignite pa

[2021-04-19 07:39] rpudlowski93 commented on #2111
✅ Tested, HAProxy works fine, I was able to reach HAProxy on 443 from internet

[2021-04-19 07:40] rpudlowski93 commented on #2110
✅ Tested, works fine, I was able to send message to one topic and read it from customer side.

[2021-04-19 07:42] rpudlowski93 commented on #2116
✅ Tested, works fine, I was able to get a lot of valuable logs form machines and see them in Kibana.

[2021-04-19 08:51] przemyslavic commented on #2012
Tested:
✔ epicli apply
After replacing `cgroupfs` driver with `systemd` driver everything seems to be working with no issues.

[2021-04-19 09:08] przemyslavic commented on #1710
I was not able to fully verify the retry command as everything worked fine in a few tests. Functionality didn't break anything, so it's worth having.

[2021-04-19 09:46] przemyslavic commented on #2118
Fixed in #2221.

1. Please update the list of supported components as we are now able to install most of them including: logging, monitoring, postgresql, rabbitmq, kafka, zookeeper, ignite...
2. Add Vault to the list of unsupported components as it is not ready to install yet
3. The functionality doesn't work as expected, I was able to pass pre-flight checks with roles enabled such as logging, ign

[2021-04-20 06:52] przemyslavic commented on #2208
:heavy_check_mark: Offline installation has been tested and no problems were encountered: `AWS`/`Azure`x`RHEL`/`Ubuntu`.

[2021-04-20 06:53] rpudlowski93 commented on #2112
✅ Tested, works fine, db is available and I was able to execute tests from our code in https://github.com/epiphany-platform/epiphany/tree/ARM/core/src/epicli/data/common/tests/spec

[2021-04-20 06:55] rpudlowski93 commented on #2113
✅ Tested, works fine, I was able to execute tests from our code in https://github.com/epiphany-platform/epiphany/tree/ARM/core/src/epicli/data/common/tests/spec

[2021-04-20 06:56] przemyslavic commented on #2114
Tested components:
:heavy_check_mark: RabbitMQ: 1 vm
:heavy_check_mark: RabbitMQ: 2 clustered vms
The installation went smoothly. The service works properly, all tests were successful.

[2021-04-20 07:15] atsikham opened #2225 "Add arm64 support for RabbitMQ and Ignite K8s applications"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
-  RabbitMQ and Ignite K8s application deployments
- Ignite image should be usable as a multi-arch image we need to build ourselves like we did for KeyCloak

Affected Ansible roles:
- applications

**Descri

[2021-04-20 07:17] przemyslavic commented on #2036
A pipeline for ARM testing has been created in Azure DevOps:
- provider: `AWS`
- OS: `CentOS`
- image: `CentOS 7.9.2009 aarch64`

Enabled components:
- repository - 1 vm
- kubernetes master: 1 vm
- kubernetes node: 2 vms
- load balancer: 1 vm
- kafka 2 vms (clustered)
- logging 2 vms (clustered)
- monitoring: 1 vm
- postgresql: 1 vm
- rabbitmq: 2 vms (clustered)
- ignite: 2 vms (clustered)
- opend

[2021-04-20 07:22] przemyslavic commented on #2118
@ar3ndt it still doesn't work.
The problem is that Vault is disabled by default
[code]
but it still goes to inventory, causing it to fail on the preflight check even though I am not going to install this component.

[code]

Please verify the fix first before merging.

Moving back to TODO again.

[2021-04-20 07:29] przemyslavic commented on #2034
Done in #2036 (CI pipelines: add ARM testing).

[2021-04-20 07:59] #2192 closed, assigned to przemyslavic, to-bar

[2021-04-20 08:01] #2033 closed, assigned to seriva

[2021-04-20 08:04] przemyslavic commented on #2109
Also tested different CNI plugins here: `flannel`, `canal` and `calico`.

[2021-04-20 08:05] #2109 closed, assigned to seriva

[2021-04-20 08:06] #2194 closed, assigned to przemyslavic

[2021-04-20 08:08] #2111 closed, assigned to seriva, rpudlowski93

[2021-04-20 08:09] #2110 closed, assigned to seriva, rpudlowski93

[2021-04-20 08:23] #2012 closed, assigned to atsikham, przemyslavic

[2021-04-20 08:25] #1710 closed

[2021-04-20 08:36] #2114 closed, assigned to rpudlowski93, przemyslavic

[2021-04-20 08:38] #2036 closed, assigned to przemyslavic

[2021-04-20 08:39] #2034 closed, assigned to przemyslavic

[2021-04-20 09:04] przemyslavic opened #2226 "[RELEASE] v0.9.1"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [x] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-04-20 09:30] mkyc opened #2227 "[Epic]Y21Q2 Upgrades"

[2021-04-20 09:34] #1973 closed

[2021-04-20 09:35] mkyc opened #2228 "[Epic]Y21Q2 Test improvements"

[2021-04-20 09:43] #1972 closed

[2021-04-20 10:50] rpudlowski93 opened #2229 "[SPIKE] Check possibilities of arm64 support for RedHat distribution"
**Is your feature request related to a problem? Please describe.**
Currently we only support the arm64 architectures for CentOS, but we need to check if it is possible to use the same dependencies also for RedHat OS.

**Describe the solution you'd like**

We want to install and test all Epiphany components we need to support on an Arm64 based cluster with Redhat

The following components need to w

[2021-04-20 11:14] ar3ndt opened #2230 "[Ubuntu ]Ensure that there are packages for all required components available for ARM architecture on Ubuntu"
- Analyze all packages required during Epiphany deployment process and confirm that ARM architecture is supported by them.
- Find replacement for not supported packages (if any)
- Use requirements.txt files as base

[2021-04-20 14:08] przemyslavic commented on #2117
:white_check_mark: The monitoring component has been tested. Prometheus and Grafana were checked. The metrics from the following targets are visible in Prometheus:
- `node-exporter`
- `jmx-kafka`
- `jmx-zookeeper`
- `kafka-exporter`
- `haproxy-exporter`
- `postgres-exporter`

[2021-04-20 15:18] to-bar commented on #2153
We need to remove old indices based on two combined conditions: size OR age. Even when index is younger than X days but it takes Y bytes it should be deleted.

Before securing Elasticsearch this requirement was fulfilled using Curator (run by `cron`).
Haven't checked but It looks like both `Curator` and `Open Distro for Elasticsearch Index Management` can do this job.

I would start with comparing

[2021-04-21 06:32] rafzei opened #2232 "[SPIKE] Leader election for pods"
Check possibilities to provide a mechanism to pick a k8s pods leader.
Describe the best solution for that and create a new issue to implement it.

If the spike outcome will be that we cannot provide such a universal mechanism for pods, it should be well described why.

**Additional context**
It came from one of the internal teams

More info:
https://kubernetes.io/blog/2016/01/simple-leader-electio

[2021-04-21 09:33] wkalbar opened #2233 "[BUG] `filebeat` communication error for AKS"
**Describe the bug**
During installation filebeat get host as hostname, this name isn't added into `/etc/hosts` so after installation filebeat cannot resolve it, so cannot communicate to AKS

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli init ... (with params)`
2. edit config file
3. execute `epicli apply ...`

**Expected behavior**
`filebeat` communicate properly

**Con

[2021-04-21 09:48] atsikham opened #2235 "Update Java 8 package for all supported distributions"
We may also use Java 8 here - since we have only this version in epirepo and create a separate task to replace Java 8 with 11 for all Java based components (including upgrades).  It would be nice to still have only one version in epirepo - if possible.

_Originally posted by @to-bar in https://github.com/epiphany-platform/epiphany/pull/2231#discussion_r617363506_

[2021-04-21 10:02] atsikham opened #2237 "Support only one replication type for PostgreSQL (with repmgr)"
It seems that native replication is not supported and doesn't work for PostgreSQL. This task is about:

* Review of PostgreSQL role
* Check if PostgreSQL native replication works (seems that no)
* Check if someone uses that native replication
* Decide if related parts should be just removed or this should be handled by upgrade

**Additional context:**

We may need a separate task for clean-up in d

[2021-04-21 10:13] to-bar commented on #2209
Backported #2003

[2021-04-21 10:13] to-bar commented on #2208
Backported #2003

[2021-04-21 15:19] atsikham commented on #2116
In addition need to verify 'logstash' role for all supported architectures and OS distributions.

[2021-04-21 15:21] atsikham commented on #2113
In addition need to verify that it's possible to install only supported apps. It's validated in preflight checks.

[2021-04-21 15:21] atsikham commented on #2112
In addition need to verify that it's possible to install only supported PostgreSQL extensions (pgaudit). It's validated in preflight checks.

[2021-04-22 07:03] przemyslavic commented on #2208
:white_check_mark: There was an issue introduced in #2218 upgrading OpenDistro. Fixed in #2236.

[2021-04-22 07:43] rpudlowski93 opened #2241 "[FEATURE REQUEST] Add arm64 support to 'vault'"
**Is your feature request related to a problem? Please describe.**
Currently we only support the x86_64 architectures but we need to add support for arm64.

**Describe the solution you'd like**
- We want the ability to install the ```vault``` on arm64 machines running CentOS.

Affected Ansible roles:
- vault

**Describe alternatives you've considered**
None.

**Additional context**
No.

**Extra in

[2021-04-22 08:03] plirglo opened #2242 "Create table with implemented / to implement testing scenarios"
**Describe the solution you'd like**
Create document which includes test scenarios we follow and describe paths which should be tested.
Make discussions with Team about what is expected.

**Additional context**
Some draft created in Confluence, contact with @plirglo

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated

[2021-04-22 08:03] #2229 closed, assigned to rpudlowski93

[2021-04-22 08:06] #2117 closed, assigned to rpudlowski93, przemyslavic

[2021-04-22 08:09] #2208 closed, assigned to atsikham, przemyslavic, to-bar

[2021-04-22 13:40] przemyslavic commented on #2098
Unfortunately the fix is not working properly. For the configuration below, OS for only one vm is changed.
[code]
[code]

Same for disk size:
[code]
Only one vm has a 128GB disk.
Moving back to TODO.

[2021-04-22 15:30] to-bar opened #2243 "[FEATURE REQUEST] Configure Elasticsearch to use static (single) ports instead of ranges"
**Is your feature request related to a problem? Please describe.**
We use Elasticsearch REST API. To access it we need to know the http port. When it's not configured (by default), it defaults to a range and the node will bind to the first available port in the range. This means that the port can be dynamic, which is more difficult to handle. It's also better to open single port on firewall than a

[2021-04-22 15:55] to-bar opened #2244 "[BUG] [Upgrade] Elasticsearch settings hard-coded instead of read from existing configuration file"
**Describe the bug**
In upgrade role the following Elasticsearch settings are hard-coded:
- http.port: 9200
- transport.port: 9300
- network.host: "{{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0]) }}"

If any of them has custom value in config file, then `epicli upgrade` will fail.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster using old `epicli`

[2021-04-23 07:42] to-bar opened #2247 "[BUG] [Upgrade] Automated tests fail when run after upgrade"
**Describe the bug**
Automated tests fail after upgrade for the following groups:
- logging
- kibana
- filebeat

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster using `epicli` v0.8.2 with logging component
2. Run `epicli upgrade` using version 0.10.0.
3. Run `epicli test`

**Expected behavior**
All tests should pass.

**Environment**
- Cloud provider: All
- OS: All

**epi

[2021-04-23 07:56] #2226 closed, assigned to przemyslavic

[2021-04-23 08:39] mkyc commented on #2082
Let's try to go with @to-bar scenario with docker mimicking different architecture.

Imagined scenario is: "As admin user with my old x86 laptop I need to download stuff now, because tomorrow they will close me offline in server room full of ARM machines and I will need to install Epiphany on them".

[2021-04-23 08:40] mkyc opened #2248 "CI pipelines: offline mode scenario on ARM"
**Is your feature request related to a problem? Please describe.**
We don't have pipelines for testing offline mode scenario with ARM architecture.

**Describe the solution you'd like**
We would like to create pipelines in order to test offline mode scenario on ARM architecture using CentOS image and a1.xxx vm sizes.

**Describe alternatives you've considered**
No.

**Additional context**
No.

---

[2021-04-23 08:46] seriva commented on #1797
We need to make sure we use a multi-arch image for whatever version we have. Steps and repos here:

https://hub.docker.com/repository/docker/epiphanyplatform/keycloak

[2021-04-23 08:47] seriva commented on #2232
Some references:
https://kubernetes.io/blog/2016/01/simple-leader-election-with-kubernetes/
https://tunein.engineering/implementing-leader-election-for-kubernetes-pods-2477deef8f13
https://carlosbecker.com/posts/k8s-leader-election/

[2021-04-23 08:55] mkyc commented on #1861
Also start with checking that we can upgrade PostgreSQL and it's surrounding would be compatible.

[2021-04-23 08:59] mkyc opened #2249 "[Epic] PostgreSQL 10->13 upgrade"

[2021-04-23 09:23] mkyc commented on #2233
Lets start with ensuring documentation that we have kubernetes daemon there.

[2021-04-23 09:43] wkalbar commented on #2233
After manually added entries into `/etc/hosts` `filebeat` started working fine.

[2021-04-23 10:03] przemyslavic commented on #2233
For AKS we have Filebeat as a DaemonSet running on Kubernetes. It can be enabled by setting the `k8s_as_cloud_service` flag to `true` in the cluster [configuration file.](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/azure/defaults/configuration/minimal-cluster-config.yml#L12)

[2021-04-23 10:15] wkalbar commented on #2233
Yes, I know and it was setted that way.

OK, from the begining, steps that was taken:

1. `azbi`
2. `azks`
3. `epicli init`
4. `kubeconfig` file from `azks` copied to epicli build folder
5. `k8s_as_cloud_service` flag changed to `true` (and other settings for cluster configured)
6.  `epicli apply`
Deploy was successfull, but prometheus didn't get connection to AKS - manually added peering between

[2021-04-23 10:38] to-bar commented on #2115
We are not able to reproduce this issue now so made decision to close it and re-open if occurs again.

This is not fully confirmed but a workaround could be to disable verification of repository metadata for Kubernetes repo (`repo_gpgcheck=0`) as a fallback.

[2021-04-23 10:38] #2115 closed, assigned to to-bar

[2021-04-23 11:34] mkyc commented on #2233
@wkalbar thanks for details, we will investigate it. Looking from AKS nature point of view (changes in machines list due to scale up/down) using `/etc/hosts` doesn't sound like preferred solution. It's good as temporary solution.

[2021-04-23 13:28] wkalbar commented on #2233
@mkyc little update (and possible solution):
We've dig deeper into this, and problem isn't on epiphany cluster side, but on AKS pods configuration.
There are 2 filebeat pods in namespace `epi-logging` on every node, named `filebeat-filebeat-[5 alphanumeric id here]`, for example `filebeat-filebeat-mnl8p`
This pods during `epicli apply` get hostname of our logging vm, but this hostname is unresolva

[2021-04-23 13:33] wkalbar commented on #2233
@mkyc little update (and possible solution):
We've dig deeper into this, and problem isn't on epiphany cluster side, but on AKS pods configuration.
There are 2 filebeat pods in namespace `epi-logging` on every node, named `filebeat-filebeat-[5 alphanumeric id here]`, for example `filebeat-filebeat-mnl8p`
This pods during `epicli apply` get hostname of our logging vm, but this hostname is unresolva

[2021-04-23 13:34] wkalbar commented on #2233
@mkyc little update (and possible solution):
We've dig deeper into this, and problem isn't on epiphany cluster side, but on AKS pods configuration.
There are filebeat pods in namespace `epi-logging` , named `filebeat-filebeat-[5 alphanumeric id here]`, for example `filebeat-filebeat-mnl8p`
This pods during `epicli apply` get hostname of our logging vm, but this hostname is unresolvable for them. W

[2021-04-23 14:44] to-bar commented on #2082
Test succeeded ✌🏻
However, downloading was slow.

Run on x86-64 laptop with Windows 10:

[code]

[code]

[2021-04-26 11:37] rafzei commented on #1415
@atsikham Could you please create a new gh issue to implement such functionality?

[2021-04-26 11:43] atsikham opened #2253 "[FEATURE REQUEST] Allow specifying resource quotas for K8s applications"
**Is your feature request related to a problem? Please describe.**
After an investigation in #1415 task it became visible that there is no ability to specify resource quotas in Epiphany config for K8s applications. There is still a way to do it manually.

**Describe the solution you'd like**
Allow resource quotas specification in Epiphany config, leave it unlimited by default, update documentation

[2021-04-26 12:15] przemyslavic commented on #2116
1. Logstash installation fails on Ubuntu x64:
[code]
2. Logstash does not work on ARM.
It fails with `(LoadError) load error: ffi/ffi -- java.lang.NullPointerException: null`
[code]
This could be helpful:
https://github.com/elastic/logstash/issues/10888
https://github.com/elastic/logstash/issues/11767
I was able to export the logs to csv by working around the problem as described there.

Moving ba

[2021-04-26 12:20] rpudlowski93 commented on #2116
@atsikham, so it is official decision that we need logstash also? When I was doing the task, I was sure that logstash is not necessary here.

[2021-04-26 13:08] atsikham commented on #2179
Moved to blocked as ARM branch should be merged first.

[2021-04-26 14:28] przemyslavic commented on #2113
Assertion was added in preflight check to fail if there are unsupported applications enabled.
:heavy_check_mark: Tested on aarch64 instances.
[code]
:heavy_check_mark: Tested also on x64.
[code]

[2021-04-26 15:46] przemyslavic commented on #2112
Assertion was added in preflight check to fail if there is PgBouncer extension or PostgreSQL replication with RepManager enabled.
:heavy_check_mark: Tested on aarch64 instances.
[code]
:heavy_check_mark:  Tested also on x64 (the assertion is skipped).
[code]

[2021-04-27 08:00] #2113 closed, assigned to atsikham, seriva, rpudlowski93, przemyslavic

[2021-04-27 08:02] #2112 closed, assigned to atsikham, seriva, rpudlowski93, przemyslavic

[2021-04-27 09:20] plirglo commented on #2153
Except what @to-bar mentioned we need to have possibility to rollover index after some amount of time and/or index size.
There is another spike created which is connected to this one, and i believe should be done as a first:  [#2149](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/2149).
Added as dependency.

[2021-04-27 09:37] atsikham commented on #2237
Note: before any modification, ARM changes should be applied as they affect PostgreSQL part.

[2021-04-28 07:29] rafzei commented on #2233
@wkalbar Thanks for further investigation. I will move this issue to the to-do section.

[2021-04-28 08:30] to-bar commented on #2237
Not groomed yet, since waiting for information whether the native replication is used by DE project. That information will help us decide about the scope.

[2021-04-28 09:48] to-bar opened #2259 "[Backport] [v1.0] [Upgrade] Automated tests fail when run after upgrade"
**Describe the bug**
Automated tests fail after upgrade for the following groups:
- logging
- kibana
- filebeat
- prometheus

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster using `epicli` v0.8.2 with logging component
2. Run `epicli upgrade` using version 0.10.0.
3. Run `epicli test`

**Expected behavior**
All tests should pass.

**Environment**
- Cloud provider: All
- O

[2021-04-28 09:49] plirglo opened #2260 "[0.8] [Backport] Upgrade filebeat to 7.9.2"
- Backport upgrade Filebeat into v 0.8

- Upgrade was done in PR #1793

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [ ] Documentation added / updated / doesn't need to be updated
* [ ] All conversations i

[2021-04-28 10:08] przemyslavic commented on #2116
Fixed. It works fine after upgrading Logstash to v7.12.0. I was able to export logs to csv with no issues.
✔️ tested on CentOS ARM
✔️ tested on Ubuntu/RHEL/CentOS x AWS/Azure x64

[2021-04-28 10:09] przemyslavic commented on #2225
✔️ Tested Ignite and RabbitMQ deployments on Kubernetes (CentOS AArch64).
Everything works as expected.

✔️ Updated ARM pipeline to deploy applications (Keycloak, Ignite, RabbitMQ) automatically when executing the pipeline.

[2021-04-28 11:37] przemyslavic commented on #2098
✔️ Fixed. Now we can easily change the default values for `OS image`, `vm size`, `disk size`, etc.

[2021-04-28 13:29] rpudlowski93 commented on #1914
At the beginning, I added Kibana reports plugin as standalone Kibana plugin, but after that I created cluster and I noticed that all the kibana plugins are installed by default so my change was not necessary and I removed my code. Generally the task can be closed since the plugin is already installed by default as I mentioned but I was checking how it works and if everything looks fine and I found

[2021-04-28 13:33] rpudlowski93 opened #2261 "[BUG] Error while downloading reports to PDF/PNG using Kibana UI"
**Describe the bug**
I can't download reports from dashboards or visualisation to PDF/PNG using Kibana UI. I'm getting the following error: "Download error, There was an error generating this report."  Under the hood, there error appears with "{statusCode: 404, error: "Not Found", message: "Not Found"}"

More details related to the error:
`opendistroReportsKibana.plugin.js:1 POST http://VM_IP:5601

[2021-04-28 13:43] przemyslavic opened #2262 "[BUG] [Ubuntu] elasticsearch-curator in version 5.8.3 is not available from APT repo"
**Describe the bug**
Epicli installation fails while downloading requirements as the `elasticsearch-curator` package in version 5.8.3 is no longer available in the Curator APT repository.

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply` (repository vm is enough)

**Expected behavior**
Repository has been set up properly.

**Config files**

**Environment**
- OS: [Ubu

[2021-04-29 07:04] przemyslavic commented on #2118
Fixed.
✔️ Tested on CentOS aarch64 and Ubuntu/RHEL/CentOS x64.
As now all components are supported by arm, I manually added some items to the unsupported components list to check if the assertion is working properly.

[2021-04-29 07:04] przemyslavic commented on #2241
The installation was successful. More testing in progress...

[2021-04-29 07:18] przemyslavic commented on #2075
We are currently using `bitnami/pgpool:4.1.1-debian-10-r29` image.
As for now the latest version is 4.2.2 (`4.2.2-debian-10-r65`).

[2021-04-29 07:54] przemyslavic commented on #2230
Looks like a spike result. Moving to DoD.

[2021-04-29 07:59] #1415 closed

[2021-04-29 08:03] mkyc commented on #2116
We do not have automated tests for Logstash.

[2021-04-29 08:05] #2116 closed, assigned to atsikham, rpudlowski93, przemyslavic

[2021-04-29 08:08] #2225 closed, assigned to atsikham, przemyslavic

[2021-04-29 08:23] #2230 closed, assigned to ar3ndt

[2021-04-29 09:50] mkyc commented on #2082
Nice, add document it after ARM branch is merged. Please synchronise it after #2035.

[2021-04-29 10:35] przemyslavic commented on #2241
@rpudlowski93 Installation was successful, but Vault is not working. When trying to deploy a sample application with the appropriate annotations to test Vault, it fails to download the Vault image.
[code]
From what I can see Vault Helm Chart v0.11.0 requires an image in 1.7.0 version and in epirepo we still have `vault:1.6.1` which was ok but for Helm Chart v0.9.0.

Moving back to TODO.

[2021-04-29 10:58] rafzei commented on #2215
Check if Prometheus targets & Grafana's sources are set properly if so test with other dashboards.

[2021-04-29 11:05] przemyslavic commented on #2118
✔️Tested again after #2265 with `elasticsearch-curator` enabled in feature-mapping.
[code]

[2021-04-29 11:37] rpudlowski93 commented on #1914
Information about the default plugins added in PR #2266

[2021-04-29 12:15] przemyslavic commented on #2262
:heavy_check_mark: `epicli apply`: `AWS`/`Azure` x `Ubuntu`/`RHEL`/`CentOS` with `elasticsearch-curator` enabled in feature-mapping.

[2021-04-29 12:20] przemyslavic commented on #2241
Testing PR #2268.
:heavy_check_mark: AWS CentOS [arm]
:heavy_check_mark: AWS/Azure x Ubuntu/RHEL/CentOS [x64]

I deployed the sample app on kubernetes and was able to access the secrets.

[2021-04-29 12:29] wkalbar opened #2270 "[BUG] Changing variable `expiration_days` in yml file is ignored"
**Describe the bug**
Changing this variable have no effect, after deployment certificate expiration date will be 365 days

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli init ... (with params)`
2. edit config file, change `expiration_days` to any value different than 365
3. execute `epicli apply ...`
4. check expiration date of k8s certificate

**Expected behavior**
k8s c

[2021-04-29 12:48] przemyslavic opened #2271 "[FEATURE REQUEST] Add more retries for running ansible ping command after terraform part"
**Is your feature request related to a problem? Please describe.**

As for now we have [5 attempts](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/cli/engine/ansible/AnsibleRunner.py#L62) to ping each machine after running terraform part, and that was good enough. But in the case of ARM testing, it sometimes happens that one of the machines is not ready yet, causing the

[2021-04-29 16:40] to-bar commented on #2262
:heavy_check_mark: `epicli upgrade`: `AWS`/`RHEL` on `v0.8.2` cluster with `elasticsearch_curator` added to inventory and manually installed older version of Curator (`5.8.1`) before running the upgrade.

[2021-04-29 16:44] to-bar opened #2272 "[Backport] [v1.0] [Ubuntu] elasticsearch-curator in version 5.8.3 is not available from APT repo"
We need to backport #2262.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [x] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversations i

[2021-04-29 16:48] to-bar opened #2273 "[Backport] [v0.9] [Ubuntu] elasticsearch-curator in version 5.8.3 is not available from APT repo"
We need to backport #2262.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [ ] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversations i

[2021-04-29 16:51] to-bar opened #2274 "[Backport] [v0.8] [Ubuntu] elasticsearch-curator in version 5.8.3 is not available from APT repo"
We need to backport #2262.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [x] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversations i

[2021-04-29 16:54] to-bar opened #2275 "[Backport] [v0.7] [Ubuntu] elasticsearch-curator in version 5.8.3 is not available from APT repo"
We need to backport #2262.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x] Case covered by automated test (if possible)
* [ ] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversations i

[2021-05-03 20:02] atsikham commented on #2270
Hello @wkalbar, please attach used configuration and verification commands. Did you set `renew: true` according to the [doc](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/CERTIFICATES.md)?

[2021-05-04 07:09] seriva opened #2277 "[FEATURE REQUEST] Change versioning from 0.10.x to 1.0.0 and 0.11.x to 1.1.x."
**Is your feature request related to a problem? Please describe.**
Currently for Epiphany we don't use Major.Minor.Patch versioning but more something like Minor.Patch.

**Describe the solution you'd like**
We want to start using Major.Minor.Patch release versioning from 0.10.x, which will become 1.0.x. The following things need to be done:

* [x] Create new 1.0 branch from v0.10 branch - @seriva

[2021-05-04 07:55] #2098 closed, assigned to ar3ndt, seriva, przemyslavic

[2021-05-04 07:59] #2118 closed, assigned to ar3ndt, przemyslavic

[2021-05-04 08:02] #2262 closed, assigned to przemyslavic, to-bar

[2021-05-05 09:07] przemyslavic commented on #2274
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL` with elasticsearch-curator enabled in feature-mapping.
✔️ `epicli upgrade:` `AWS`/`Azure` x `Ubuntu`/`RHEL`. Successfully upgraded elasticsearch-curator from v5.8.1 (manually installed) to v5.8.3

[2021-05-05 09:10] przemyslavic commented on #2209
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL` with all available components enabled.
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL` offline-installation with all available components enabled.

[2021-05-05 09:35] plirglo commented on #2242
Document has been created and it's placed in Confluence. This needs to be discussed with QA firstly.

[2021-05-05 09:53] plirglo commented on #2237
According to my talks with some of clients i've got some thoughts regarding this topic

- We've got some clients which use old not supported Epiphany version (<0.6), and there is possibility that they use native replication, but those clients will rather go path of setting up newer version of cluster instead upgrading old one.
- Native replication stopped working and is not needed since we introdu

[2021-05-05 15:18] to-bar opened #2288 "[FEATURE REQUEST] Allow to preserve OS images when run 'epicli apply' for existing cluster"
**Is your feature request related to a problem? Please describe.**
When we release version with updated default OS image and run it for existing cluster deployed with older image, Terraform will detect the difference and may destroy existing VMs.

For AWS, it fails:
[code]

For Azure, it did nothing (no failure) after changing from `7-RAW/7.6.2018103108` to `7-RAW/7.7.2019090418` but failed after

[2021-05-06 07:03] przemyslavic commented on #2272
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL`/`CentOS` with elasticsearch-curator enabled in feature-mapping.
✔️ `epicli upgrade:` `AWS`/`Azure` x `Ubuntu`/`RHEL`. Successfully upgraded v0.8 cluster with with elasticsearch-curator component enabled.

[2021-05-06 07:05] przemyslavic commented on #2259
✔️ `epicli upgrade:` `AWS`/`Azure` x `Ubuntu`/`RHEL`. Successfully upgraded v0.8 cluster to v1.0.
All tests passed.

[2021-05-06 07:09] przemyslavic opened #2289 "[RELEASE] v1.0.0"
#### Release checklist

* [ ] Default OS cloud images updated
* [x] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [x] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-05-06 08:01] #2274 closed, assigned to przemyslavic, plirglo

[2021-05-06 08:04] #2209 closed, assigned to atsikham, przemyslavic, to-bar

[2021-05-06 08:13] #2272 closed, assigned to atsikham, przemyslavic

[2021-05-06 08:16] #2259 closed, assigned to przemyslavic, to-bar

[2021-05-06 08:18] #1914 closed

[2021-05-06 09:32] wkalbar commented on #2270
Sorry, my stupid mistake. Of course I didn't set it, as of course I didn't RTFM...

[2021-05-06 09:32] #2270 closed, assigned to nobody

[2021-05-06 10:56] przemyslavic opened #2291 "[BUG] PostgreSQL automated tests fail when run on a single machine"
**Describe the bug**
Automated tests fail for postgresql component when run on a single machine.
There is an error occurring outside of examples when there is no logging component enabled.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a single machine "cluster" using develop or v1.0 branch
3. Run `epicli test -g postgresql`

**Expected behavior**
All tests for postgresql group s

[2021-05-06 11:05] przemyslavic opened #2292 "[Backport] [v1.0] PostgreSQL automated tests fail when run on a single machine"
We need to backport #2291 to v1.0.

[2021-05-06 11:15] mkyc commented on #2277
I have list of people to send communication to after we release.

[2021-05-06 11:51] mkyc opened #2293 "[SPIKE] Prepare fallback repository to handle missing packages, files and images"
**Is your feature request related to a problem? Please describe.**
In rare situations when some package version is gone missing from public repositories our customers are blocked because installation process will fail on download requirements step. This also applies to other types of dependencies (archive files and Docker images).

**Describe the solution you'd like**
Proposed solution would inclu

[2021-05-06 12:23] mkyc opened #2295 "[RELEASE] v1.0.0"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [ ] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [ ] Upgrade for V-1
  * [ ] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [ ] k8s HA apply
  * [ ] Promote k8s to

[2021-05-06 12:38] przemyslavic commented on #2295
@mkyc duplicate #2289.

[2021-05-06 12:52] mkyc commented on #2295
Right. I added correct one to release.

[2021-05-06 12:52] #2295 closed

[2021-05-06 13:08] seriva opened #2297 "[FEATURE REQUEST] Update Python dependencies to solve some of the security alerts."
**Is your feature request related to a problem? Please describe.**
We currently have a few outstanding [security issues](https://github.com/epiphany-platform/epiphany/security) regarding first and second layer Python dependencies:

![image](https://user-images.githubusercontent.com/11056665/117301617-1915c680-ae7b-11eb-90f7-403a12f4fb95.png)

**Describe the solution you'd like**
We would like to u

[2021-05-06 13:40] seriva opened #2299 "[SPIKE] BI modules feature comparison against Epicli instructure"
**Is your feature request related to a problem? Please describe.**
To push the adoption of our BI modules we need to figure out what is missing compared to the current Terraform infrastructure deployment from **Epicli**.

**Describe the solution you'd like**
A design document comparing the current [**AwsBI**](https://github.com/epiphany-platform/m-aws-basic-infrastructure) and [**AzureBI**](https:

[2021-05-06 13:49] plirglo opened #2300 "[Spike] Persistent volume shared between clusters"
**Describe the solution you'd like**
Check possibility of using persistent volume replicated between clusters. Replica has only read access. Both are accessible from two clusters and have the same state of data.

This probably might be done with Rook Ceph, but check also other possibilities.

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
*

[2021-05-06 15:27] mkyc commented on #2293
@to-bar please add comment about possibility to support multiple repositories.

[2021-05-07 07:01] przemyslavic commented on #2292
:heavy_check_mark: Executed tests on a single machine (without the logging component) as well as for all other components. All tests passed.

[2021-05-07 07:14] olek-work commented on #2300
Few details about the use case:

The system has two parts: _trusted_ and _untrusted_.
_Trusted_ part is highly protected, i.e. it **forbids** "outside world" to change its data (including _untrusted_ part) and allows only selected users to connect to it from selected machines (adequately protected).
_Untrusted_ part has been added to allow wider audience of users from less secured machines to have

[2021-05-07 08:26] mkyc commented on #2038
We should finish this task by the end of May.

[2021-05-07 08:44] mkyc opened #2303 "[SPIKE] Check compatibility matrix for PostgreSQL related components"
**Is your feature request related to a problem? Please describe.**
We need to update PostgreSQL related env and before this we need to make research on what is compatible with what.

Components to check (for all supported OS distributions + ARM architecture for CentOS):
- pgAudit
- PgBouncer
- Pgpool (only k8s deployment)
- repmgr

**Describe the solution you'd like**
Compatibility matrix that wou

[2021-05-07 09:20] przemyslavic commented on #2076
We are currently using PgBouncer v1.10.
As for now the latest available is v1.15.0.
Need to update OS packages and docker image for application deployment on kubernetes.

[2021-05-07 10:24] to-bar commented on #2293
We need to decide:
- Whether the fallback repository should be public - if yes how to secure it properly
- Which files we cannot share because of license limitations (such as packages from RHEL repos)
- How we want to refresh (update) the fallback repo

[2021-05-07 11:52] rpudlowski93 commented on #2215
Done in PR #2304

[2021-05-07 12:45] przemyslavic commented on #2291
:heavy_check_mark: Executed postgresql tests on a single machine (without the logging component)
:heavy_check_mark: Executed postgresql tests on a regular cluster with the logging component enabled
:heavy_check_mark: All tests passed

[2021-05-07 14:08] przemyslavic commented on #2247
Successfully upgraded v0.8 cluster to develop.
✔️ `epicli upgrade:` `AWS`/`Azure` x `Ubuntu`/`RHEL`.
✔️ All tests passed.

[2021-05-07 14:10] przemyslavic opened #2305 "[RELEASE] v0.9.2"
#### Release checklist

* [ ] Default OS cloud images updated
* [x] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-05-07 14:11] przemyslavic opened #2306 "[RELEASE] v0.8.3"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [ ] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-05-07 14:11] przemyslavic opened #2307 "[RELEASE] v0.7.4"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines)
  * [x] Standard apply (new cluster)
  * [ ] Standard apply (existing cluster)
  * [ ] Upgrade for V-1
  * [ ] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-05-07 15:45] przemyslavic commented on #2243
Tested logging component:
:heavy_check_mark: `epicli apply`
:heavy_check_mark: `epicli upgrade` from v0.8 to develop

[2021-05-07 16:02] przemyslavic commented on #2244
:heavy_check_mark: It works fine when using default (hard-coded) ports: tested `apply` and `upgrade` form v0.8 to develop.

However there is a problem upgrading elasticsearch when following the above scenario:
1. Deployed a cluster using epicli v0.8.
2. Edited /etc/elasticsearch/elasticsearch.yml setting a custom value for:
`http.port: 9201`
`transport.port: 9301`
for 2 nodes
3. Added rules for po

[2021-05-10 12:21] plirglo opened #2309 "[Spike] Redundant network interfaces"
- Connecting Epiphany with redundant network interfaces (possible solution: network bonding/teaming, whole cluster still sees it as single network interface)

Request comes from [olek-work](https://github.com/olek-work) user.

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA p

[2021-05-10 12:33] plirglo opened #2310 "[Spike] Separation network interfaces available to pod (security requirement)"
- Epiphany on Edge connected with two network interfaces (public internet, internal LAN): separation of pods so each can connect only to one of external networks, never both

Request comes from [olek-work](https://github.com/olek-work) user.

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated te

[2021-05-10 14:44] przemyslavic commented on #2273
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL` with elasticsearch-curator enabled in feature-mapping.
✔️ `epicli upgrade:` `AWS`/`Azure` x `Ubuntu`/`RHEL`. Successfully upgraded v0.8 cluster with with elasticsearch-curator component enabled to v0.9.

[2021-05-11 07:16] przemyslavic opened #2312 "[Backport] [v0.9] RHUI client certificate expired for RHEL 7-RAW images"
Please backport #2318 to v0.9.

[2021-05-11 07:33] rpudlowski93 commented on #1081
I'm closing the task in favour of #2074

[2021-05-11 07:33] #1081 closed

[2021-05-11 07:34] rpudlowski93 commented on #2074
Yes it is, I closed the task #1081

[2021-05-11 08:02] #2241 closed, assigned to rpudlowski93, przemyslavic

[2021-05-11 08:03] #2292 closed, assigned to przemyslavic, to-bar

[2021-05-11 08:06] #2035 closed, assigned to seriva

[2021-05-11 08:08] #2277 closed, assigned to atsikham, seriva, rafzei, mkyc, rpudlowski93, przemyslavic, plirglo

[2021-05-11 08:10] #2144 closed, assigned to rafzei

[2021-05-11 08:12] #2289 closed, assigned to przemyslavic

[2021-05-11 08:13] #2291 closed, assigned to przemyslavic, to-bar

[2021-05-11 08:15] #2247 closed, assigned to przemyslavic, to-bar

[2021-05-11 08:17] #2273 closed, assigned to seriva, przemyslavic

[2021-05-11 08:28] przemyslavic opened #2313 "[Backport] [v0.8] RHUI client certificate expired for RHEL 7-RAW images"
Please backport #2318 to v0.8.

[2021-05-11 08:29] przemyslavic opened #2314 "[Backport] [v0.7] RHUI client certificate expired for RHEL 7-RAW images"
Please backport #2318 to v0.7.

[2021-05-11 09:16] rafzei commented on #2093
Latest k8s release is [v1.21.0](https://github.com/kubernetes/kubernetes/releases/tag/v1.21.0) - [changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md), 1.22.0 planned to release Wednesday, August 4th

[2021-05-11 09:29] atsikham commented on #2077
This task can be done even before, as PgAudit installation is the smallest one and probably will require only package version change. PgAudit and PostgreSQL versions compatibility should be checked.

[2021-05-11 14:02] przemyslavic commented on #2204
It looks like one more backport is missing here: #1280 (PR #1845).
@atsikham please let me know if it should also be backported?

[2021-05-11 14:25] seriva commented on #2082
I tested offline installation with downloaded requirements through containers for:

1: Ubuntu 18.04 x86_64
2: RedHat 7.x x86_64
3: CentOS 7.x x86_64
4: CentOS 7.x  arm64

A few additional commands where needed depending on the container used for a specific OS, but generally I did not encounter any issues.

I documented everything in the attached pull requested but marked it as not supported for no

[2021-05-12 07:12] przemyslavic commented on #2275
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL` with elasticsearch-curator enabled in feature-mapping.

[2021-05-12 09:05] przemyslavic commented on #1950
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL` with monitoring component enabled.
All tests passed. I was able to login to Grafana and import dashboards.

[2021-05-12 09:10] przemyslavic commented on #1777
@mkyc @rafzei Now, after backporting Grafana to v0.7, there is the same version as in develop (v7.3.5). Additionally, I was able to automatically import some dashboards using epicli as described above with no issues. It seems that after updating, the problem does not occur.
IMO we should close this tasks as there is another one #127, that concerns the default dashboard configuration and must also

[2021-05-12 11:10] przemyslavic opened #2318 "[BUG] [develop] RHUI client certificate expired for RHEL 7-LVM images"
**Describe the bug**
In epicli v1.0.0 we introduced support for 7-LVM images as 7-RAW images are no longer being produced in favor of LVM-partitioned images.
The latest available **7-RAW** image is `RedHat:RHEL:7-RAW:7.7.2019090418`, but we can no longer install epiphany <1.0.0 on it without following some manual steps, otherwise yum update will fail.

Edit:
**The same issue occurs for **RHEL-LVM*

[2021-05-12 11:12] przemyslavic opened #2319 "[Backport] [v1.0] RHUI client certificate expired for RHEL 7-LVM images"
Please backport #2318 to v1.0.

[2021-05-13 07:13] przemyslavic commented on #2204
Tested after #2317.
✔️ `epicli apply:` `AWS`/`Azure` x `Ubuntu`/`RHEL`
Looks good 😀

[2021-05-13 07:26] przemyslavic commented on #2312
✔️ `epicli apply:` `Azure`/`AWS` x `RHEL`

[2021-05-13 07:58] #2275 closed, assigned to seriva, przemyslavic

[2021-05-13 08:00] #1950 closed

[2021-05-13 08:03] #1777 closed

[2021-05-13 08:05] #2082 closed, assigned to seriva

[2021-05-13 08:09] #2204 closed, assigned to atsikham, przemyslavic

[2021-05-13 08:10] #2312 closed, assigned to przemyslavic, plirglo

[2021-05-13 09:47] przemyslavic commented on #2297
Successfully deployed clusters with all components enabled.
✔️ `epicli apply:` `Azure`/`AWS` x `RHEL`/`Ubuntu`

[2021-05-13 12:56] ks4225 opened #2324 "[BUG] Failed epicli apply can lead to broken repository machine (disabled system repos)"
**Describe the bug**
If epicli fails in a state where the repository machine has disabled system repos, subsequent epicli applies will not be able to recover.

e.g. keep failing because firewalld package will not be found

**How to reproduce**
Steps to reproduce the behavior:
1. No specific step here, but sometimes epicli will fail
2. Try to re-run epicli

**Expected behavior**
Perhaps epicli coul

[2021-05-14 07:43] przemyslavic commented on #2318
✔️ `epicli apply`: Successfully deployed a cluster in Azure RHEL environment (using RHEL 7-LVM image).

[2021-05-14 11:15] to-bar commented on #2244
Upgrade role has been refactored, and this bug may be fixed by #2325

[2021-05-14 11:46] rafzei commented on #2303
Because it is a blocker for the rest of the tasks in the current sprint I decided to speed it up a little and put all findings in a comment.

Postgresql publish **Feature Matrix** to see what features are included in particular supported PostgreSQL version, see [here](https://www.postgresql.org/about/featurematrix/)

Postgresql latest release | 13.3 | 12.7 | 11.12
 --- |--- | --- | ---
 Release da

[2021-05-17 13:09] atsikham commented on #1861
Additional links:

* https://www.postgresql.org/docs/13/pgupgrade.html
* https://repmgr.org/docs/current/upgrading-repmgr-extension.html

[2021-05-18 07:23] atsikham commented on #2074
https://repmgr.org/docs/current/upgrading-repmgr-extension.html

[2021-05-18 07:24] przemyslavic commented on #2314
✔️ `epicli apply:` `Azure`/`AWS` x `RHEL`. Successfully deployed clusters in Azure RHEL (using RHEL 7-RAW image) and AWS RHEL environments.

[2021-05-18 07:25] przemyslavic commented on #2313
✔️ `epicli apply:` `Azure`/`AWS` x `RHEL`. Successfully deployed clusters in Azure RHEL (using RHEL 7-RAW image) and AWS RHEL environments.
✔️ `epicli upgrade:` `Azure`/`AWS` x `RHEL` from v0.7 to v0.8

[2021-05-18 09:05] rafzei commented on #2303
PgBouncer latest version was released for ARM arch: [rpm](https://ftp.postgresql.org/pub/repos/yum/common/redhat/rhel-7-aarch64/pgbouncer-1.15.0-1.rhel7.aarch64.rpm) (thx @atsikham)

[2021-05-18 09:06] #2297 closed, assigned to seriva, przemyslavic

[2021-05-18 09:07] #2318 closed, assigned to przemyslavic, plirglo

[2021-05-18 09:07] #2314 closed, assigned to przemyslavic, plirglo

[2021-05-18 09:08] #2313 closed, assigned to przemyslavic, plirglo

[2021-05-18 09:10] #2305 closed, assigned to przemyslavic

[2021-05-18 09:11] #2306 closed, assigned to przemyslavic

[2021-05-18 09:11] #2307 closed, assigned to przemyslavic

[2021-05-18 10:37] plirglo commented on #2074
Starting with PostgreSQL 13 there is a name and value change of one of the parameters used for the streaming replication of a replica server. Until Postgres 12 it was called “wal_keep_segments” but with PostgreSQL 13 it will become “wal_keep_size”.

[2021-05-18 12:00] rpudlowski93 commented on #2232
Result of my spike:

Leader election in Kubernetes: components of control plane such as controller manager or scheduler use endpoints to select the leader. Instance which firstly create the endpoint of this service at the very beginning add annotation to the endpoint with the leader.

Package leaderelection.go is used for leader election process which leverages above Kubernetes endpoint resource a

[2021-05-18 13:35] przemyslavic commented on #2319
✔️ `epicli apply:` `Azure`/`AWS` x `RHEL`. Successfully deployed clusters in Azure RHEL (using RHEL 7-LVM image) and AWS RHEL environments.

[2021-05-18 13:43] przemyslavic commented on #2179
Successfully deployed clusters with all components enabled:
✔️ `epicli apply:` `Azure`/`AWS` x `Ubuntu`/`RHEL`/`CentOS`
✔️ `epicli apply:` `AWS` x `CentOS` (ARM)
✔️ `epicli upgrade` from v0.7 to develop

[2021-05-18 23:00] atsikham commented on #2076
Steps:
1. Fix installation (apply) of a new verion(there is Python3 dependency - create a new role to install).
2. Upgrade with taking into account notes [here](https://github.com/epiphany-platform/epiphany/pull/1845#pullrequestreview-531363344).
3. ARM support?

[2021-05-19 09:12] przemyslavic commented on #2237
✔️Successfully deployed 1 PostgreSQL node on ARM
- `epicli apply:` `AWS` x `CentOS`

✔️Successfully deployed a PostgreSQL cluster with 2 nodes.
- `epicli apply:` `Azure`/`AWS` x `RHEL`/`Ubuntu`

✔️Backup has been successfully created for 1 node on ARM
- `epicli backup:`  `AWS` x `CentOS`

✔️Backup has been successfully created for 2 nodes cluster
- `epicli backup:` `Azure`/`AWS` x `RHEL`/`Ubuntu`

[2021-05-19 09:32] przemyslavic commented on #2248
Added task to enable Vault installation.

[2021-05-19 10:58] przemyslavic commented on #2237
✔️ Fixed in #2331.

[2021-05-19 12:00] to-bar opened #2332 "[BUG] [Elasticsearch] Error when having multiple VMs and non-clustered mode"
**Describe the bug**
Deployment fails when both conditions are true:
- \> 1 VM for `logging` component
- `specification.clustered: false`

ES API is not available and `epicli` fails on Kibana task:
`TASK [kibana : Wait for Kibana to be ready]`

**How to reproduce**
Steps to reproduce the behavior:
1. In config file:

[code]

[code]

2. execute `epicli apply`

**Expected behavior**
Cluster deployed

[2021-05-19 12:51] przemyslavic commented on #2215
Imported `Kafka Exporter Overview` and `HAProxy` dashboards.
After generating traffic (e.g. after running tests), metrics for both exporters were visible.

[2021-05-19 13:12] przemyslavic commented on #2233
Logs from AKS are now visible in Kibana:

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/69af9631-e142-40c6-a796-ba7f2a3429eb)

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/4583ea8b-765c-4a4a-a35c-7d8e99353325)

Also works fine after scaling up the cluster:

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/3273e8cd

[2021-05-19 19:47] seriva opened #2333 "[BACKPORT][1.0.1] The default values can't be changed in cluster config file for virtual machine."
Backport issue #2098
Related pull requests: #2220, #2258

[2021-05-19 20:02] seriva opened #2334 "[BACKPORT][0.9.3] The default values can't be changed in cluster config file for virtual machine."
Backport issues #2098
Related pull requests: #2220, #2258

[2021-05-19 20:03] seriva opened #2335 "[BACKPORT][0.8.4] The default values can't be changed in cluster config file for virtual machine."
Backport issues #2098
Related pull requests: #2220, #2258

[2021-05-19 20:11] seriva opened #2336 "[BACKPORT][1.0.1] Allow to preserve OS images when run 'epicli apply' for existing cluster"
Backport issues #2288
Related pull requests: #2329

[2021-05-19 20:14] seriva opened #2337 "[BACKPORT][0.9.3] Allow to preserve OS images when run 'epicli apply' for existing cluster"
Backport issues #2288
Related pull requests: #2329

Should not include the new OS selection method for latest images we support.

[2021-05-19 20:15] seriva opened #2338 "[BACKPORT][0.8.4] Allow to preserve OS images when run 'epicli apply' for existing cluster"
Backport issues #2288
Related pull requests: #2329

Should not include the new OS selection method for latest images we support.

[2021-05-20 07:47] rpudlowski93 commented on #2232
Documentation added in PR #2339

[2021-05-20 07:53] rpudlowski93 commented on #2248
Important note ‼️

It was necessary to enable the emulation on build server in order to run container with ARM architecture on AMD host:

[code]

[2021-05-20 08:05] #2319 closed, assigned to przemyslavic, plirglo

[2021-05-20 08:10] #2179 closed, assigned to atsikham, przemyslavic

[2021-05-20 08:13] #2248 closed, assigned to rpudlowski93, przemyslavic

[2021-05-20 08:20] #2237 closed, assigned to atsikham, przemyslavic

[2021-05-20 08:22] #2215 closed, assigned to rpudlowski93, przemyslavic

[2021-05-20 08:25] plirglo commented on #2233
@atsikham Please confirm if we should backport this fix (all supported versions?)

[2021-05-20 08:35] #2303 closed, assigned to rafzei

[2021-05-21 10:25] to-bar commented on #2244
Fixed in PR #2341

[2021-05-24 11:09] mkyc commented on #2233
@atsikham please create backport tasks to 0.9.x and 1.0.x.

[2021-05-24 11:09] #2233 closed, assigned to atsikham

[2021-05-24 11:48] mkyc commented on #1931
We should first ensure Istio usage and future.

[2021-05-24 13:00] przemyslavic commented on #2332
@to-bar
1. It doesn't work as it should. There were no errors during installation, but there are other problems. In case of multiple non-clustered nodes, only one of them has `admin_password` set according to the specification. For the rest, the password is still `admin`. Same for `kibanaserver_password` and `logstash_password`.
This is probably because the `Set OpenDistro admin password` task run

[2021-05-25 07:59] #2232 closed, assigned to rpudlowski93

[2021-05-25 08:48] atsikham opened #2342 "[Backport][0.9.3] Filebeat communication error for AKS"
Backport task #2233 PR #2276

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x] All conversations in PR resolved
* [x] Solution meets require

[2021-05-25 08:49] atsikham opened #2343 "[Backport][1.0.1] Filebeat communication error for AKS"
Backport task #2233 PR #2276

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x] All conversations in PR resolved
* [x] Solution meets require

[2021-05-26 14:15] przemyslavic opened #2345 "[BUG] CoreDNS requires restart after scaling up nodes to be able to resolve new hostnames"
**Describe the bug**
There is an issue with CoreDNS not being able to translate hostnames that have been added to the cluster after scaling it up by re-applying the configuration with the increased number of nodes.
Encountered while testing PostgreSQL and pgPool.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster with the following components enabled: `kubernetes master`, `

[2021-05-27 06:51] plirglo commented on #2345
We may consider use [coredns reload plugin](https://coredns.io/plugins/reload/)

[2021-05-27 07:30] przemyslavic commented on #1598
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:30] przemyslavic commented on #1603
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:30] przemyslavic commented on #1602
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:30] przemyslavic commented on #1599
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:31] przemyslavic commented on #1601
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:31] przemyslavic commented on #1596
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:32] przemyslavic commented on #1600
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:33] przemyslavic commented on #1604
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 07:33] przemyslavic commented on #1597
A pipeline was created to test the scalability of the main components.
https://dev.azure.com/abb-epiphany/epiphany/_release?_a=releases&view=mine&definitionId=215

[2021-05-27 08:10] #1596 closed

[2021-05-27 08:10] #1597 closed

[2021-05-27 08:10] #1598 closed

[2021-05-27 08:10] #1599 closed

[2021-05-27 08:10] #1600 closed

[2021-05-27 08:10] #1601 closed

[2021-05-27 08:10] #1602 closed

[2021-05-27 08:10] #1603 closed

[2021-05-27 08:10] #1604 closed

[2021-05-27 09:36] atsikham opened #2346 "[PostgreSQL] Allow more than 2 nodes installation with Repmgr"
Consider to provide more than two postgres nodes in HA configuration. Currently we support only 2. More nodes may give users possibility to create more redundant configuration and possibilities handle higher traffic.

_Originally posted by @plirglo in https://github.com/epiphany-platform/epiphany/pull/2330#discussion_r638756954_

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md

[2021-05-27 10:06] mkyc commented on #1344
@przemyslavic please have look at this in current version

[2021-05-27 19:56] seriva commented on #1797
13.0.1 multi arch image available here already: https://hub.docker.com/r/epiphanyplatform/keycloak/tags?page=1&ordering=last_updated

[2021-05-28 13:22] to-bar opened #2348 "[FEATURE REQUEST] Add option to skip downloading Docker images and creating local registry"
**Is your feature request related to a problem? Please describe.**
Downloading Docker images (in upgrade mode) takes about 4 min.
Running `image_registry` role takes about 9 min.

When a cluster without k8s is needed (often for development purposes),  about 13 minutes is wasted since Docker images are not needed.

**Describe the solution you'd like**
Add `download_strategy` setting to `epicli`. By

[2021-05-31 09:59] atsikham opened #2349 "Add Molecule to devcontainer"
At the moment we have Ansible Molecule tests for PostgreSQL, but no any configuration was done to execute it in devcontainer. As docker backend is used here, it should be investigated how to run those tests.

`Also would be cool if we can run these tests from the container and not only externally.`

_Originally posted by @seriva in https://github.com/epiphany-platform/epiphany/pull/2330#discussion

[2021-05-31 13:10] romsok24 opened #2354 "[BUG] Decreasing the amount of Epiphany components is causing the Terraform error"
**Describe the bug**
Decreasing the amount of Epiphany components is causing the Terraform error.
Error details:
[code]

**How to reproduce**
Steps to reproduce the behavior:
( on the correctly deployed minimum Epiphany environment )
1. edit configuration file `/shared/build/qstart/qstart.yml`  by changing:
[code]
   to
[code]
2. execute `epicli apply  -f /shared/build/qstart/qstart.yml`

**Expect

[2021-06-01 07:26] przemyslavic commented on #2288
Tested:
✅ `apply` v0.9 -> `upgrade` to dev -> `apply` dev
✅  `apply` dev -> `apply` dev

I checked different values for `default_os_image` parameter:
- `ubuntu-18.04-x86_64`

- `redhat-7-x86_64`

- `centos-7-x86_64`

- `centos-7-arm64`

- `default`

also with changed default specification:
[code]
both for `Azure` and `AWS`.

[2021-06-01 14:55] olek-work commented on #2300
I've looked into [MinIO's replication](https://blog.min.io/active-active-replication/) and just wanted to share with you that it looks promising. Tested it with a quick Docker setup (see setup details below) and so far there seem to be no red flags from our usecase perspective.

# Docker setup to test MinIO replication
Create source-minio and dest-minio servers
[code]
Start console: mc (MinIO Cons

[2021-06-02 10:06] to-bar opened #2360 "[BUG] [Upgrade] epicli may fail after re-running"
**Describe the bug**
When `epicli upgrade` fails (e.g. after network issue) and it's re-run, you can get `Directory /var/www/html/epirepo/packages must exist` error like below:

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Run `epicli upgrade`
2. Fail after all requirements are downloaded (flag file must already exists: /tmp/epi-download-requirements/download-requirements-done.

[2021-06-02 10:42] to-bar opened #2361 "[BUG] Failed to fetch Grafana repo on downloading requirements"
**Describe the bug**
From time to time you may get such an error (result of `apt update` called by `roles\repository\files\download-requirements\ubuntu-18.04\add-repositories.sh`):
[code]

After this occurs, every re-run fails. To fix such state and make re-running successful, the `apt-get clean` command has to be run on the `repository` host.

**How to reproduce**
Issue is non-deterministic (occu

[2021-06-02 12:16] przemyslavic commented on #2343
✔️ Logs from AKS are now visible in Kibana:

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/5779f216-ef53-4b76-a88e-ea6b5129a69a)

[2021-06-02 12:27] seriva opened #2362 "Update Python dependencies to solve more of the security alerts."
**Is your feature request related to a problem? Please describe.**
We have a bunch of new security issues regarding Python dependencies:

![image](https://user-images.githubusercontent.com/11056665/120479425-3bcdc900-c3ae-11eb-8e2f-0fe5058fd55b.png)

**Describe the solution you'd like**
Update the dependencies to resolve any issues.

**Additional context**
We should resolve these before BDS scan.

[2021-06-02 13:23] plirglo opened #2364 "[FEATURE REQUEST] Check possibility of blocking direct connections to postgres when HA enabled"
**Is your feature request related to a problem? Please describe.**
Some customers met with problem of wrong configured services (created by they own) connecting directly to database not through pgbouncer / pgpool. This can cause split braining problems.

**Describe the solution you'd like**
Implement switch to enable / disable direct connections to database

**Describe alternatives you've consider

[2021-06-07 09:09] #2038 closed, assigned to seriva

[2021-06-07 09:18] mkyc opened #2367 "[RELEASE] v1.1.0rc1"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines):
  * [x] Standard apply (new cluster)
  * [x] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [x] Upgrade for V-3
  * [x] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-06-07 09:19] plirglo opened #2368 "Update documentation about scaling up/down HAProxy, monitoring & repository"
**Describe the solution you'd like**
We should update documentation about scaling up/down HAProxy, monitoring & repository

---

**DoD checklist**

* [ ] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [x] Documentation added / updated /

[2021-06-07 09:23] #2299 closed, assigned to seriva

[2021-06-07 09:29] #2288 closed, assigned to seriva, przemyslavic

[2021-06-07 09:31] #2343 closed, assigned to seriva, przemyslavic

[2021-06-07 09:36] mkyc commented on #2129
@to-bar @przemyslavic shouldn't it go first to 1.1.0 and then be back ported to 1.0.x?

[2021-06-07 09:38] mkyc opened #2369 "[RELEASE] v1.0.1"
#### Release checklist

* [ ] Default OS cloud images updated
* [ ] Support branch created
* [ ] CI pipelines for support branch created
* All automated tests passed (QA pipelines):
  * [x] Standard apply (new cluster)
  * [x] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [ ] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-06-07 12:26] przemyslavic commented on #1576
Tested scenarios:
:heavy_check_mark: `epicli apply:` 3 kafka nodes -> 3 kafka nodes (re-apply)
:heavy_check_mark: `epicli apply:` 1 kafka node -> 3 kafka nodes -> 5 kafka nodes
:heavy_check_mark: `epicli apply:` 3 kafka nodes -> 1 kafka node
:heavy_check_mark: `epicli apply:` 3 kafka nodes -> created some topics -> 2 kafka nodes (manually deleted remaining os disk on Azure) -> 4 kafka nodes

All p

[2021-06-07 12:29] przemyslavic commented on #2362
Multiple clusters have been successfully deployed with all components enabled.
✔️ `epicli apply:` `Azure`/`AWS` x `RHEL`/`Ubuntu`

[2021-06-07 12:36] przemyslavic commented on #1344
Fixed in #2356 by recreating `meta.properties`.

[2021-06-07 14:12] mkyc commented on #2300
My current plan for this spike is:

1. Since we already [reviewed](https://github.com/epiphany-platform/epiphany/issues/1449) [Rook](https://github.com/epiphany-platform/epiphany/issues/1450) [with](https://github.com/epiphany-platform/epiphany/issues/1451) [Ceph](https://github.com/epiphany-platform/epiphany/issues/1453) I will refresh this research and I will also check cluster replication. Entr

[2021-06-07 18:15] shakeel opened #2370 "[FEATURE REQUEST] Document air gapped installation"
On-premise air gapped installation without internet access requires creating tar balls with the Kubernetes application deployed and available in a local Docker or Container registry.

Various teams have created their own ad-hoc solutions to package tar balls and create Docker registries.

The Epiphany CLI installation configures tar images in [image-registry.yml](https://github.com/epiphany-platfo

[2021-06-07 18:53] shakeel opened #2371 "[FEATURE REQUEST] Secure local container registries for k8s application updates"
In order to create a trustworthy air gapped install, teams create a local Docker registry. Access to this registry is unsecured. However this is also a systemic issue, we need to be able to create trustworthy air gapped Epiphany installations.

Once the Kubernetes application has been updated, the teams need to provide updates to customers with air gapped installations. This requires access to a T

[2021-06-08 07:13] to-bar commented on #2129
@mkyc Yes, it should. Updated `Releases`.

[2021-06-08 07:41] przemyslavic commented on #2333
✔️ Now we can easily change the default values for `OS image`, `vm size`, `disk size`, etc in data yaml config file.

[2021-06-08 07:44] przemyslavic commented on #2336
Tested together with #2333.

Tested:
✅ `apply` v0.9 -> `upgrade` to v1.0 -> `apply` v1.0
✅  `apply` v1.0-> `apply` v1.0

I checked different values for `default_os_image` parameter:
- `ubuntu-18.04-x86_64`

- `redhat-7-x86_64`

- `centos-7-x86_64`

- `centos-7-arm64` (only terraform part as arm support will be introduced in v1.1.0)

- `default`

also with changed default specification:
[code]
both

[2021-06-08 08:04] #2362 closed, assigned to seriva, przemyslavic

[2021-06-08 08:06] #2333 closed, assigned to seriva, przemyslavic

[2021-06-08 08:06] #2336 closed, assigned to seriva

[2021-06-08 08:32] plirglo opened #2372 "[BACKPORT][1.0.1] Incorrect number of brokers/queues available after scaling up/down"
Please backport PR# [2356](https://github.com/epiphany-platform/epiphany/pull/2356)

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [x] Idempotency tested
* [x] Documentation updat

[2021-06-08 08:34] plirglo opened #2373 "[BACKPORT][0.9.3] Incorrect number of brokers/queues available after scaling up/down"
Please backport PR [#2356](https://github.com/epiphany-platform/epiphany/pull/2356)

---

**DoD checklist**

* [ ] Changelog updated (if affected version was released)
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Case covered by automated test (if possible)
* [ ] Idempotency tested
* [ ] Documentation updat

[2021-06-08 08:35] plirglo opened #2374 "[BACKPORT][0.8.4] Incorrect number of brokers/queues available after scaling up/down"
Please backport PR [#2356](https://github.com/epiphany-platform/epiphany/pull/2356)

---

**DoD checklist**

* [ ] Changelog updated (if affected version was released)
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Case covered by automated test (if possible)
* [ ] Idempotency tested
* [ ] Documentation updat

[2021-06-08 11:23] mkyc opened #2375 "[SPIKE] check how to backup/restore environment with LTS version"
**Is your feature request related to a problem?**
We do have problem that if version becomes "not installable" i.e. because of missing required dependencies, we cannot test upgrade procedure to simulate situation when our users would like to upgrade from already installed cluster.

**Describe the solution you'd like**
We need to investigate possibilities but that should be something like:
 - relea

[2021-06-08 11:40] mkyc commented on #2370
@shakeel thanks for filling this issue!

Just note that we do not only have to document it, but we also have to prepare packaging logic for teams using our registry to provide application images.

[2021-06-08 11:59] mkyc commented on #2371
Related to https://github.com/epiphany-platform/epiphany/issues/1764 and https://github.com/epiphany-platform/epiphany/issues/1765

[2021-06-09 10:51] rafzei commented on #805
I've check how messed this role is during #127...

We should keep consistency of the repository role for supported OS's.

Proposed structure of files directory in repository role:

[code]

[2021-06-10 06:25] rafzei opened #2378 "[BUG] download-requirements --no-logfile skipped on Ubuntu"
**Describe the bug**
In repository role in download-requirements.sh file we hardcoded:
[code]
--no-logfile so we expect no output from shell command written on disk.

It works for Centos/Rhel but not on Ubuntu. It's not implemented properly:

[code]

**How to reproduce**
Execute epicli apply on configuration manifest with repository count:1

**Expected behavior**
Log shouldn't be written.

**Confi

[2021-06-10 06:27] rafzei commented on #805
https://github.com/epiphany-platform/epiphany/issues/2378 , https://github.com/epiphany-platform/epiphany/issues/804 Can be done parallel

[2021-06-10 07:13] rafzei commented on #2149
What I see Index Management for ODFE was created to replace Curator [see](https://github.com/opendistro-for-elasticsearch/index-management/issues/1) or [RFC](https://github.com/opendistro-for-elasticsearch/index-management/issues/1)

So the aim of this spike is to check possibilities to continue using Curator and describe how complex it would be. This will help us compare both solutions later on.

[2021-06-10 07:47] przemyslavic commented on #2243
Tested logging component again after refactoring:
✔️ `epicli apply`
✔️ `epicli re-apply`
✔️ `epicli upgrade` from v0.8 to develop

[2021-06-10 07:49] przemyslavic commented on #2244
✔️ Successfully upgraded `elasticsearch` by following the scenario described above.
- `epicli upgrade` from v0.8 to develop

[2021-06-10 08:05] #1576 closed

[2021-06-10 08:07] #1344 closed

[2021-06-10 08:21] #2244 closed, assigned to przemyslavic, to-bar

[2021-06-10 08:22] #2243 closed, assigned to przemyslavic, to-bar

[2021-06-10 08:49] to-bar opened #2379 "[Backport] [1.0.x] Add migration from ODFE demo certificates to generated ones"
We need to backport #2129.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [x] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversations i

[2021-06-10 09:10] mkyc commented on #2242
Please update release type issue template in GitHub.

[2021-06-15 07:30] przemyslavic commented on #2129
Tested logging component after refactoring:
✔️ `epicli apply`
✔️ `epicli re-apply`
✔️ `epicli upgrade` from v0.7 to develop
✔️ `epicli upgrade` from v0.8 to develop

[2021-06-15 08:02] #2129 closed, assigned to przemyslavic, to-bar

[2021-06-15 14:28] przemyslavic opened #2380 "[BUG] Unable to drain nodes with Istio application enabled due to PodDisruptionBudgets"
**Describe the bug**
There is an issue with upgrading kubernetes cluster with Istio application enabled. It hangs for hours while trying to evict Istio pod because of a violation of `PodDisruptionBudgets`.
[code]
[code]

We should have at least 2 replicas for `istio-ingressgateway` and `istiod` applications. Otherwise we won't be able to perform node drain/upgrade when PodDisruptionBudgets is enab

[2021-06-16 09:28] przemyslavic opened #2381 "[BUG] Kibana fails to upgrade from epicli v1.0 to v1.1 (version comparison issue)"
**Describe the bug**
There is a problem with upgrading Kibana from epicli v1.0 to v1.1 (there is the same version of Kibana but it will be reinstalled because of the condition `>=`)
The error was: `Version comparison: '<' not supported between instances of 'str' and 'int'`.
[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy v1.0 cluster with logging component enabled
2. Upgrad

[2021-06-17 07:22] przemyslavic commented on #2381
Fixed.
:heavy_check_mark: `epicli apply`
:heavy_check_mark: `epicli re-apply`
:heavy_check_mark: `epicli upgrade` from v0.9 to develop
:heavy_check_mark: `epicli upgrade` from v1.0 to develop

[2021-06-17 08:00] #2381 closed, assigned to przemyslavic, to-bar

[2021-06-18 00:16] ks4225 opened #2386 "[BUG] Internal User changes to OpenSearch not reflected in config files"
**Describe the bug**
The passwords that are set for internal users in OpenSearch  are not reflected in the config files (i.e. `internal_users.yml`). Therefore, using `securityadmin.sh` will end up reverting the users back to their default config and passwords will no longer match what's in the cluster config YAML file.

**How to reproduce**
Steps to reproduce the behavior:
1. Build an epiphany clu

[2021-06-18 08:21] #2367 closed, assigned to przemyslavic

[2021-06-18 08:23] mkyc opened #2387 "[RELEASE] v1.1.0"
#### Release checklist

* [ ] Default OS cloud images updated
* [x] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines):
  * [x] Standard apply (new cluster)
  * [x] Standard apply (existing cluster)
  * [x] Upgrade for V-1 (from v1.0)
  * [x] Upgrade for V-2 (from v0.9)
  * [x] Upgrade for V-3 (from v0.8)
  * [ ] Upgrade for V-4
  * [x]

[2021-06-18 08:56] mkyc opened #2388 "[FEATURE REQUEST] Document troubleshooting during failed epicli run"
**Is your feature request related to a problem? Please describe.**
We do not have any mechanism and even documented steps on how to handle situations where `epicli apply` fails during download-requirements script execution. Because download-requirements scripts base on external repositories it's highly exposed to failure.

**Describe the solution you'd like**
Document steps on how to restore syste

[2021-06-18 12:48] to-bar commented on #2386
@ks4225 I was not aware that you run `securityadmin.sh`.
This script is run automatically to initialize the `.opendistro_security` index and configure authentication and authorization methods by `postInstall` package's task (via `install_demo_configuration.sh`).

But this is demo configuration so one may need to customize it.

Could you provide some details about settings you customize via [YAML f

[2021-06-18 13:20] ks4225 commented on #2386
Essentially, we need to enable anonymous access for ES, which the app currently relies on. There are some other minor tweaks. I'll summarise here, but could also share our playbook if that's easier.

* In elasticsearch.yml - 'opendistro_security.ssl.http.enabled: false' (although this is probably not part of securityadmin.sh)
* In config.yml - '      anonymous_auth_enabled: true'
* In roles.yml -

[2021-06-21 08:43] rafzei commented on #2324
Thanks for reporting the problem @ks4225. Due to our current workload, we estimated the solution to be implemented in version 1.2.0, but in order not to leave you alone, we also created issue #2388 to document some manual steps.

[2021-06-21 09:00] rafzei commented on #2388
Please describe the whole procedure (the steps to successfully execute epicli apply again in case of failure).

[2021-06-21 13:26] przemyslavic commented on #2342
✔️ Fixed. Logs from AKS are now visible in Kibana:
![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/833805c1-ce7c-455b-8a40-625966b4c6a8)

[2021-06-22 11:10] rafzei commented on #805
I was discussing with @to-bar the possibilities of refactoring this role. We agreed that if possible, download-requirements should be rewritten to python. It will give us the possibility to keep requirements.txt in a more structured file type like JSON. Another thing we should consider is adding md5sum to this file, so we will be able to verify if file was downloaded successfully and skip re-downl

[2021-06-22 14:34] seriva opened #2389 "[BACKPORT][0.8.4] Allow to specify configuration to be used in upgrade mode"
Source issue #2127
Pull request #2384

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [ ] Documentation added / updated / doesn't need to be updated
* [ ] All conversations in PR resolved
* [ ] Solution meet

[2021-06-22 14:35] seriva opened #2390 "[BACKPORT][0.9.3] Allow to specify configuration to be used in upgrade mode"
Source issue #2127
Pull request #2384

---

**DoD checklist**

* [x] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [ ] Documentation added / updated / doesn't need to be updated
* [x] All conversations in PR resolved
* [ ] Solution meet

[2021-06-22 14:36] seriva opened #2391 "[BACKPORT][1.0.1] Allow to specify configuration to be used in upgrade mode"
Source issue #2127
Pull request #2384

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x] All conversations in PR resolved
* [x] Solution meet

[2021-06-22 14:37] seriva opened #2392 "[BACKPORT][1.1.1] Allow to specify configuration to be used in upgrade mode"
Source issue #2127
Pull request #2384

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [ ] Documentation added / updated / doesn't need to be updated
* [ ] All conversations in PR resolved
* [ ] Solution meet

[2021-06-23 06:53] przemyslavic commented on #2334
✔️ Now we can easily change the default values for `OS image`, `vm size`, `disk size`, etc in data yaml config file.

[2021-06-23 06:58] przemyslavic commented on #2337
✔️ Now, when we rerun the `apply` command with the changed values for the OS image in the yaml configuration file, the original image is kept so that the cluster is not destroyed by accident and the log shows the proper information about preserving the image.

[2021-06-23 13:35] przemyslavic commented on #2338
✔️ The original OS image is preserved when you try to re-run the `apply` command with a changed image in the configuration file (e.g. after upgrading to the newer version).

[2021-06-23 13:37] przemyslavic commented on #2335
✔️ The default values for `OS image`, `vm size`, `disk size`, etc. can be easily changed in one place in the data yaml configuration file.

[2021-06-24 08:00] #2335 closed, assigned to seriva, przemyslavic

[2021-06-24 08:02] #2334 closed, assigned to seriva

[2021-06-24 08:04] #2342 closed, assigned to seriva, przemyslavic

[2021-06-24 08:07] #2337 closed, assigned to seriva, przemyslavic

[2021-06-24 08:08] #2338 closed, assigned to seriva, przemyslavic

[2021-06-24 11:55] rafzei commented on #1575
Looks like we fix this issue by upgrading ODFE [PR 1772](https://github.com/epiphany-platform/epiphany/pull/1772)
Confirmed by @przemyslavic that the issue is not occurring anymore (tested scenario: 1->2 & 2->3).
I'm closing it. If you face it again, please reopen and send us details.

[2021-06-24 11:55] #1575 closed

[2021-06-25 07:44] przemyslavic commented on #2360
Tested:
:heavy_check_mark: `epicli apply` -> `epicli upgrade` -> force stop `epicli upgrade` -> re-run `epicli upgrade` -> success 👍

[2021-06-25 07:48] przemyslavic commented on #2345
:heavy_check_mark: Tested automatically in the pipeline (scaling up) and additionally manually verified pgpool status and connection to PostgreSQL nodes.

[2021-06-25 12:28] przemyslavic commented on #127
Tested monitoring component with Grafana enabled.
:heavy_check_mark: `epicli apply`
:heavy_check_mark: `epicli re-apply`
:heavy_check_mark: `epicli apply` in offline mode

Importing dashboards from the official Grafana website (online mode only) as well as enabling predefined Grafana dashboards have been checked.

[2021-06-25 13:49] rafzei opened #2396 "[FEATURE REQUEST] Verify & update documentation about scaling up/down"
**Is your feature request related to a problem? Please describe.**
We have out of date informations in documentation regarding scaling up & down: [How to skale or cluster components](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components)

@atsikham's did a research some time ago. We fixed few issues but the doc wasn't updated.
Rese

[2021-06-25 15:50] to-bar commented on #2324
@ks4225 I checked our logic and for Ubuntu we already have the following code in `download-requirements.sh` to avoid such an issue:
[code]

And I tested two cases:

1)
- abort on `common` role - the first one after `repository`,
- remove flag file `/tmp/epi-download-requirements/download-requirements-done.flag`, which by default expires after 2 hours since creation time, to not skip `download-requ

[2021-06-25 16:49] to-bar opened #2397 "[FEATURE REQUEST] Restart CoreDNS pods conditionally"
**Is your feature request related to a problem? Please describe.**
There is no need to restart CoreDNS on each `epicli` run unless cluster hosts have been changed. This is follow-up task to changes done in PR #2394.

**Describe the solution you'd like**
Restart CoreDNS only when needed.

**Describe alternatives you've considered**
Test newer version of CoreDNS to check whether it solves issue #234

[2021-06-25 16:54] to-bar commented on #2074
It was decided to upgrade repmgr for PostgreSQL 10 first, then integrate it with PostgreSQL 13. This means that this task may be done independently from PostgresSQL upgrade.

[2021-06-28 05:49] rafzei commented on #2368
A documentation update is required by more than mentioned components in the context of scaling up/down so I've created a new issue.. https://github.com/epiphany-platform/epiphany/issues/2396

[2021-06-29 06:44] sbbroot commented on #126
Filebeat comes packaged with example Kibana dashboards, visualizations, and searches for visualizing Filebeat data in Kibana.

Filebeat configuration file is [here](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/filebeat/templates/filebeat.yml.j2).

Default dashboards can be enabled under this [section](https://github.com/epiphany-pla

[2021-06-29 08:01] #2388 closed, assigned to seriva

[2021-06-29 08:09] #2368 closed, assigned to rafzei

[2021-06-29 08:14] #127 closed

[2021-06-29 08:19] #2345 closed, assigned to przemyslavic, to-bar

[2021-06-29 08:22] #2360 closed, assigned to przemyslavic, to-bar

[2021-06-29 13:23] rafzei commented on #1847
What I found in documentation is that:
`Only superusers can call CHECKPOINT.`
According to the above log, we are executing repmgr as `postgres` user.

Because we are not performing CHECKPOINT before stopping postgresql, I'm guessing that some data in-memory can be lost

[2021-06-30 07:43] to-bar opened #2406 "[BUG] [Upgrade] [Filebeat] All settings for multiline feature are lost after upgrade"
**Describe the bug**
In Filebeat config file there are settings related to the multiline feature.

They are configurable via properties:
- specification.common_input.multiline
- specification.postgresql_input.multiline
- specification.container_input.multiline

The properties are not defined in upgrade mode and they are removed from config file during upgrade.

The difference can be seen running t

[2021-06-30 08:48] przemyslavic commented on #2406
Filebeat support for multi-line messages has been tested after cluster upgrade.
✔️ upgrade from v0.8 to v1.1
✔️ upgrade from v0.9 to v1.1
✔️ upgrade from v1.0 to v1.1

[2021-06-30 12:43] to-bar opened #2414 "[Backport] [v1.0] [Upgrade] epicli may fail after re-running"
Backport fix for #2360 to v1.0.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [ ] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversati

[2021-06-30 12:48] to-bar opened #2415 "[Backport] [v1.0] CoreDNS requires restart after scaling up nodes to be able to resolve new hostnames"
Backport fix for #2345 to v1.0.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [ ] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversati

[2021-06-30 12:55] to-bar opened #2416 "[Backport] [v1.0] [Upgrade] [Filebeat] All settings for multiline feature are lost after upgrade"
Backport fix for #2406 to v1.0.

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Case covered by automated test (if possible)
* [x] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversati

[2021-06-30 15:15] seriva opened #2418 "[SPIKE] Research support for additional Istio components and configurations."
**Is your feature request related to a problem? Please describe.**
Currently we install Istio only with the basic profiles as described here:

https://istio.io/latest/docs/setup/additional-setup/config-profiles/

**Describe the solution you'd like**
While the above profiles are good for basic usage, real word usage often involves specific configuration of the Istio control plane components. This s

[2021-07-01 08:21] #2039 closed, assigned to nobody

[2021-07-01 08:23] #2387 closed, assigned to przemyslavic

[2021-07-01 08:24] #2406 closed, assigned to przemyslavic, to-bar

[2021-07-05 10:03] erzetpe commented on #2149
As Open Distro for Elasticsearch is using basic authentication, we can use this with already implemented in Elasticsearch Curator authentication. On Epiphany side this would require to create proper Open Distro role with access to the given indexes with password authentication.

Thing to check is probably how to secure passwords stored inside Curator configuration.

More you can find under links b

[2021-07-05 11:07] plirglo opened #2420 "[BUG] Grafana - Changing password from epicli does not work"
**Describe the bug**
Changing grafana password from epicli does not work. Still have old password configured by first epicli run

**How to reproduce**
Steps to reproduce the behavior:
1. Build cluster with some basic Grafana config
2. Edit config file changing Grafana password
3. Re-run `epicli apply`

**Expected behavior**
Grafana password should be changed

**Environment**
- Cloud provider: All

[2021-07-05 11:16] mkyc commented on #2149
This should probably also solve #2153

[2021-07-06 03:20] willzhang commented on #1457
we need rook offline!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-07-08 08:57] #2228 closed, assigned to nobody

[2021-07-08 08:58] #1463 closed

[2021-07-08 08:59] #2227 closed, assigned to nobody

[2021-07-08 09:32] mkyc commented on #2077
Check if that is not in ARM, and then test on Centos if yes.

[2021-07-08 09:54] przemyslavic commented on #2372
Tested scenarios:
:heavy_check_mark: `epicli apply:` 3 kafka nodes -> 3 kafka nodes (re-apply)
:heavy_check_mark: `epicli apply:` 1 kafka node -> 3 kafka nodes -> 2 kafka nodes

All previously created topics were available after scaling the nodes according to the scenarios described above.

[2021-07-08 10:32] ks4225 commented on #2324
Yes, I do remember seeing the logic for this scenario when doing our own debugging. I will let you know if I do have a clearer scenario that reproduces this issue.

We don't use `filewalld`.

The documentation looks good, it definitely works as a workaround for this situation.

[2021-07-08 11:56] erzetpe opened #2423 "[FEATURE REQUEST] Configure Elasticsearch Curator to work with Open Distro for Elasticsearch"
**Is your feature request related to a problem? Please describe.**
After moving to Opendistro for Elasticsearch, Elasticsearch curator stopped working since there is a different way of authentication, but it's possible to use ILM plugin which supports limited set functionalities from Elasticsearch Curator.

**Describe the solution you'd like**
We want to perform configuration using http basic secu

[2021-07-08 11:57] erzetpe commented on #2149
This task is a spike for the task: [#2423](https://github.com/epiphany-platform/epiphany/issues/2423)

[2021-07-08 12:15] przemyslavic commented on #2414
Upgrading to v1.0.1 fails (even on first run).
[code]
This is because in v1.0 we support only x86_64 architecture and there is only one file with requirements named `requirements.txt` and in v1.1 we have multiple files with `requirements.[arch].txt` pattern.

[2021-07-08 12:25] erzetpe commented on #2077
This task has been done by: @atsikham. I have tested this and it worked on Red Hat 7.8 and Ubuntu 18.04 on amd64 platform and on CentOS 7.8 on ARM. Code should be reviewed with the changes from @plirglo together with other upgraded PostgreSQL components.

This task should be tested along with: #1861.

[2021-07-08 12:30] przemyslavic commented on #2415
:heavy_check_mark:  Tested automatically in the pipeline by scaling up PostgreSQL from 1 to 2 nodes with pgpool deployment enabled. Pgpool is able to connect to both nodes without any problems and shows the correct status of PostgreSQL nodes (including the new one).

[2021-07-08 12:45] przemyslavic commented on #2416
Filebeat support for multi-line messages has been tested after cluster upgrade (checked filebeat configuration file on vms and additionally executed tests for PostgreSQL to test multiline logs from PostgreSQL in elasticsearch).
✔️ upgrade from v0.8.3 to v1.0.1

[2021-07-08 13:24] przemyslavic commented on #2414
Fixed.
:heavy_check_mark: `epicli apply` v0.9 -> `epicli upgrade` to v1.0.1 -> force stop `epicli upgrade` -> re-run `epicli upgrade` -> success 👍

[2021-07-08 13:31] erzetpe commented on #2153
ILM implementation should be considered as separate task from implementation of Elasticsearch Curator. Right now configuration of ILM requires much more work than Elasticsearch Curator to achieve similar behavior, so the task #2423 has been created.

[2021-07-09 11:45] erzetpe commented on #2332
After consulting @mkyc  and others we have agreed that we are not supporting multiple VMs in non-clustered mode, so this error is happening only for unsupported configuration. I will provide update to our documentation and we should remove the flag for clustered option, because clustering will be automatic for any number of nodes higher than 1.

[2021-07-09 12:08] rafzei opened #2425 "[BUG] Feature-mapping - 'enabled: no' do nothing"
**Describe the bug**
In feature-mapping setting flag `enabled: no` doesn't take effect.

**How to reproduce**
Steps to reproduce the behavior:
- Increase `count` for some random components eg.:
[code]
- Add feature-mapping section to your initial configuration manifest with set `enabled: no` :
[code]

**Expected behavior**
Disabled roles should be skipped.

**Environment**
- Cloud provider: [ All

[2021-07-09 13:46] przemyslavic commented on #2391
The following scenario was tested:
- `epicli apply` v.0.9.2
- cat `../build/$(cluster_name)/ansible/roles/logging/vars/main.yml`
[code]
- cat `../build/$(cluster_name)/ansible/roles/rabbitmq/vars/main.yml`
[code]
- create configuration file for upgrade
[code]
- execute `epicli upgrade` with `-f /shared/$(cluster_name)/$(cluster_name)_upgradeconfig.ym` parameter
- cat `../build/$(cluster_name)/ansi

[2021-07-09 13:54] przemyslavic commented on #2127
The following scenario was tested:
- `epicli apply` v.0.8.3
- cat `../build/$(cluster_name)/ansible/roles/logging/vars/main.yml`
[code]
- cat `../build/$(cluster_name)/ansible/roles/rabbitmq/vars/main.yml`
[code]
- cat `../build/$(cluster_name)/ansible/roles/filebeat/vars/main.yml`
[code]

- create configuration file for upgrade
[code]
- execute `epicli upgrade` with `-f /shared/$(cluster_name)/$(

[2021-07-13 12:33] erzetpe commented on #2324
Returning to analysis as it hasn't been reproduced and we need more data to reproduce this bug.

[2021-07-13 13:11] przemyslavic commented on #2379
✔️ `epicli apply` - Ubuntu / RHEL / CentOS
✔️ `epicli` re-`apply` - Ubuntu / RHEL / CentOS
✔️ `epicli upgrade` from v0.8.3 - Ubuntu / RHEL
✔️ `epicli upgrade` from v0.9.2 - Ubuntu / RHEL / CentOS
Tested on a cluster with 3 logging vms (clustered) and 1 opendistro vm (as a separate component).

[2021-07-14 06:58] atsikham commented on #1861
@erzetpe @mkyc could you clarify if we are going to support upgrade of postgresql or only apply.

[2021-07-14 07:27] erzetpe commented on #1861
In my opinion on every environment where the data has some business value the upgrade should be performed manually with someone that is experienced Postgres DBA.

[2021-07-14 08:03] #2379 closed, assigned to seriva, przemyslavic

[2021-07-14 08:20] #2372 closed, assigned to seriva, przemyslavic

[2021-07-14 08:22] #2416 closed, assigned to seriva

[2021-07-14 08:24] #2391 closed, assigned to seriva, przemyslavic

[2021-07-14 08:29] #2127 closed, assigned to seriva, przemyslavic

[2021-07-14 08:32] seriva commented on #2414
Ohh I fixed this.

[2021-07-14 08:33] #2415 closed, assigned to seriva, przemyslavic

[2021-07-14 08:34] #2414 closed, assigned to seriva, przemyslavic

[2021-07-14 08:41] #2149 closed, assigned to erzetpe

[2021-07-14 08:46] #2380 closed, assigned to seriva

[2021-07-14 09:03] atsikham commented on #1861
Decision:

* do upgrades automatically
* ask user a question about backup before starting upgrade
* check if there is a "dry run" option for upgrade. If yes, add it to preflight

[2021-07-14 09:30] mkyc commented on #1861
if there is no "dry run" perform queries @to-bar mentioned, to check that unsupported types of data types do not exist in DB.

[2021-07-14 13:13] erzetpe opened #2431 "[SPIKE] Check if it is possible to use backup and restore feature with new Epiphany version"
**Is your feature request related to a problem? Please describe.**
In version 0.7 we have introduced backup/restore feature and we need confirmation that it works fully as expected with newer Epiphany versions.

**Describe the solution you'd like**
We want to confirm that backup/restore still works for the version 1.0 and newer of Epiphany and create a list of features that are currently being bac

[2021-07-14 13:28] erzetpe opened #2432 "[SPIKE] Check time needed for backup of each component"
**Is your feature request related to a problem? Please describe.**
In version 0.7 we have introduced backup/restore feature. Right now we want to check how long it takes to back up each component and create list with times for each component for the given amount of data.

**Describe the solution you'd like**
we want to check how long it takes to back up each component and create list with times fo

[2021-07-15 06:45] seriva commented on #2432
More important factor would be storage types, machine configs and networks this would be running on. Amount of data is usually pretty trivial as it can be derived from a fixed set in most cases. So I would say to at least expand this to take in to account some of that and not only size of the dataset.

[2021-07-15 06:54] erzetpe commented on #2432
Yes, this is a basic description and it needs grooming.

[2021-07-15 07:10] przemyslavic opened #2433 "[BACKPORT][1.0.1] Kibana fails to upgrade from epicli v1.0.0 to v1.0.1 (version comparison issue)"
Please backport task #2381 (PR #2382).
Scenario to be tested:
`epicli apply` v1.0.0 -> `epicli upgrade` to v1.0.1 -> `epicli apply` v1.0.1

[2021-07-15 08:07] plirglo opened #2434 "[FEATURE REQUEST] Python 3 installation"
**Is your feature request related to a problem? Please describe.**
PgBouncer installation on database host requires Python3, we need to consider installation of it.

**Describe the solution you'd like**
Python3 installed on all VMs.

**Additional context**
This should on Red Hat 7 be additional python installation, as changing default python 2.7 will break system tools installed with Red Hat. On U

[2021-07-15 15:34] przemyslavic commented on #2433
:heavy_check_mark: `epcili upgrade` from v1.0.0 to v1.0.1 -> `epicli apply` v1.0.1
:heavy_check_mark: `epcili upgrade` from v0.9.2 to v1.0.1

[2021-07-15 15:36] przemyslavic commented on #2242
:heavy_check_mark: release template in GitHub and docs in Confluence updated.

[2021-07-16 08:49] mkyc commented on #2431
For each component we need to check that both data and configuration is restored after backup.

[2021-07-16 09:13] mkyc commented on #1846
Linked with #2074

[2021-07-16 10:42] erzetpe commented on #2434
Python 3 should be installed on all machines as it is required by some Ansible modules and also there is a difference between Ubuntu and Red Hat as on Ubuntu 18.04 Python 3 is installed by default on all machines.

[2021-07-16 13:09] przemyslavic commented on #2332
:heavy_check_mark: Tested with 1 opendistro/logging node
:heavy_check_mark: Tested with 3 opendistro/logging nodes

[2021-07-16 15:01] przemyslavic commented on #1797
:heavy_check_mark: Successfully deployed new clusters with Keycloak application in version 14.0.0
:heavy_check_mark: `epicli apply` v1.0 (Keycloak v9.0.0) -> `epicli upgrade` -> `epicli apply` dev (Keycloak v14.0.0).
Image updated to version 14.0.0. Settings, created users, roles, etc. are still present after the upgrade.
:heavy_check_mark: ARM installation

[2021-07-19 13:17] erzetpe commented on #2431
### Conclusion:

Backup and restore works only on the same environment. The main goal was to provide backup/restore on already deployed environments
for example as an option before performing upgrade. This can be used to fix issues on existing environments with the same setup (IPs, and so on).

Procedures for backup and restore were taken from our documentation:
https://github.com/epiphany-platfor

[2021-07-19 14:44] przemyslavic commented on #2397
✔️ Verified pgpool status and connection to PostgreSQL nodes after scaling up PostgreSQL component from 1 to 2 nodes.
CoreDNS pods are restarted  conditionally, depending on changes to `/etc/hosts` and CoreDNS patching.

[2021-07-20 06:19] rafzei commented on #2309
Bonding or network bonding is also called port trunking or link aggregation which simply means combining several network interfaces into one link, providing either high-availability, load-balancing, maximum throughput, or a combination of these.
Bonded NIC is a virtual interface that 'bond' physical interfaces.

Before creating a bond interface, you need to ensure that the kernel module `bonding`

[2021-07-20 07:16] seriva commented on #2389
Closing this issues as 0.8.x will be deprecated soon and I dont think its worth the time backporting this addition so far as it most likely will never be used.

[2021-07-20 07:28] rafzei commented on #1370
As sk4zuzu mentioned in his issue, it's probably because we are not handling nested lists in dictionaries properly. I see we agreed that schema changes shouldn't be implemented in 'standard epicli', instead we should work on this in the modules approach.
On the other hand, this may be a small change in our python script for this particular issue (only Postgres role).
@seriva what do you think?

[2021-07-20 07:28] seriva commented on #1370
Ill have a peak.

[2021-07-20 08:02] #2397 closed, assigned to przemyslavic, to-bar

[2021-07-20 08:08] #1797 closed

[2021-07-20 08:15] #2332 closed, assigned to erzetpe, przemyslavic

[2021-07-20 08:19] #2369 closed, assigned to przemyslavic

[2021-07-20 08:20] #2433 closed, assigned to seriva, przemyslavic

[2021-07-20 08:20] rafzei commented on #2153
@erzetpe I see the above link is wrong - you probably meant #2423 ?
Are we going to work on ILM implementation?

[2021-07-20 08:21] #2242 closed, assigned to przemyslavic, plirglo

[2021-07-20 08:46] seriva commented on #2431
For K8s, shouldn't we at least try to do a manual restore to see what we backup is actually enough?

Rest looks ok.

[2021-07-20 10:00] erzetpe opened #2441 "[FEATURE REQUEST] ILM for Open Distro Elasticsearch"
**Is your feature request related to a problem?**
We don't use ILM for Open Distro Elasticsearch.

**Describe the solution you'd like**
We want to implement ILM for Open Distro and apply automatically it's configuration.

**Describe alternatives you've considered**
We can adapt the old solution with Elasticsearch Curator to work with Open Distro security.

**Additional context**
Useful information

[2021-07-20 10:29] erzetpe opened #2442 "[BACKPORT][v1.0.2] - [Elasticsearch] Error when having multiple VMs and non-clustered mode"
Source issue [2332](https://github.com/epiphany-platform/epiphany/issues/2332)
Pull request [2426](https://github.com/epiphany-platform/epiphany/pull/2426)

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x] Idempotency tested
* [x]

[2021-07-20 10:37] GrzegorzKlankABB opened #2443 "[BUG] Epicli does not correctly handle the case where the Azure subscription name contains spaces"
**Describe the bug**
During deployment on Azure if azure subscription name contains spaces user will get message that "ERROR epicli - User does not have access to subscription".

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli init -p azure -n demo`
2. edit config file (use cloud.subscription_name with spaces e.g. "Visual Studio Professional" )
3. execute `epicli apply -f

[2021-07-21 07:19] przemyslavic commented on #126
@sbbroot
@to-bar (as you can be helpful in this topic 😏)

:heavy_check_mark: Works fine for new clusters. I tested different values for `specification.kibana.dashboards.enabled` (`auto`/`true`/`false`) and `specification.kibana.dashboards.index` parameters. The only non-working case causing Filebeat to crash (as expected) is when dashboards are set to true and Kibana is disabled.

❌ However, there

[2021-07-21 08:10] erzetpe commented on #1264
This task is already done in [PR 1383](https://github.com/epiphany-platform/epiphany/pull/1383).

[2021-07-21 09:25] atsikham commented on #1260
There was an another task #2237 to leave only repmgr replication. Any other options are not supported and we don't have configuration parameters for that. This task is outdated and can be closed.

[2021-07-21 09:33] rafzei commented on #63
The official documentation states that Filebeat process can work as root or user. Of course, running by a user is a more secure approach than do this on root.
May be useful:
https://www.elastic.co/guide/en/beats/libbeat/7.x/config-file-permissions.html

[2021-07-21 09:43] rafzei opened #2445 "[BACKPORT][1.0] Upgrade Keycloak to v14"
Backport PR to LTS branch: https://github.com/epiphany-platform/epiphany/pull/2429

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Feature has automated tests
* [x] Automated tests passed (QA pipelines)
  * [x] apply
  * [x] upgrade
* [x] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x] All con

[2021-07-21 10:08] rafzei opened #2446 "[FEATURE REQUEST] Bonding network interfaces"
**Describe the solution you'd like**
Implement network interfaces bonding as an option in Epiphany Platform

**Additional context**
Request from Epiphany Office Hours. Spike for this was done here: https://github.com/epiphany-platform/epiphany/issues/2309

---

**DoD checklist**

- Changelog
  - [ ] updated
  - [ ] not needed
- COMPONENTS.md
  - [ ] updated
  - [ ] not needed
- Schema
  - [ ] upda

[2021-07-21 11:10] to-bar opened #2448 "[FEATURE REQUEST] Passwordless SSH communication for postgres user between DB nodes"
**Is your feature request related to a problem? Please describe.**
Manual setup of SSH keys is required in order to be able to run `repmgr standby switchover` command.

Automation of the SSH setup would simplify testing of repmgr.

**Describe the solution you'd like**
Generate and exchange SSH keys between PostgreSQL nodes when replication is enabled.

**Describe alternatives you've considered**
n

[2021-07-21 13:06] przemyslavic opened #2449 "[BUG] Unable to add Grafana repository"
**Describe the bug**
Epicli fails on downloading requirements due to the issue with adding Grafana repository that has been occuring for about one week.

**How to reproduce**
1. Try to deploy any cluster using epicli.

**Expected behavior**
All requirements should be downloaded with no issues.

**Environment**
- Cloud provider: [all]
- OS: [RHEL, Ubuntu, CentOS]

**epicli version**: [`epicli --ver

[2021-07-21 13:29] mkyc commented on #2431
1. Do we know what are required changes for OpenDistro?
2. Do we know why PostgreSQL configuration files are not restored?
3. Did you remove machines? In prometheus section IPs are visible.
4. Do I see it correctly that each component backups to different "random" directory?
5. Can you describe what would be required to fix to allow restore on new infrastructure?

[2021-07-21 15:24] rafzei commented on #2449
Its already reported: https://github.com/grafana/grafana/issues/36935

[2021-07-21 18:02] to-bar commented on #2074
Moved to Needs review because of PR #2451

[2021-07-22 08:07] #2309 closed, assigned to rafzei

[2021-07-22 08:08] #1260 closed

[2021-07-22 08:11] #1264 closed

[2021-07-22 09:06] #2389 closed, assigned to seriva

[2021-07-22 09:23] mkyc commented on #2434
this issue will influence:
 - pgbouncer
 - download-requirements planned improvements
 - some ansible modules work just on p3

[2021-07-22 09:28] plirglo commented on #2076
This tasks basically includes two different tasks:
- Upgrade and configuration pgbouncer as a k8s instance
- Upgrade and configuration pgbouncer installed directly on database hosts as standalone application. In this case Python  dependency is needed (blocked by #2334). Created: [#2453](https://github.com/epiphany-platform/epiphany/issues/2453)

This might be good to split this task up to two diff

[2021-07-22 09:33] plirglo opened #2453 "[UPGRADE] Upgrade of PgBouncer [standalone]"
Is your feature request related to a problem? Please describe.
We need to upgrade PgBouncer if possible and needed to the newer version. This task should be done after we will upgrade PostgreSQL to v13.
This task applies to standalone application

Describe the solution you'd like
We want to upgrade if possible and needed to the newer version of PgBouncer.

Describe alternatives you've considered
N

[2021-07-22 09:40] mkyc commented on #2449
We should ensure that workaround with GPG check disabling will work. If yes, we discussed adding explicit `--do-not-check-gpg` flag. Another option is to start #2293

[2021-07-22 10:34] przemyslavic commented on #2449
We should also consider downloading packages as standalone binaries (files).
https://grafana.com/grafana/download/7.3.5?platform=linux

https://dl.grafana.com/oss/release/grafana_7.3.5_amd64.deb
https://dl.grafana.com/oss/release/grafana-7.3.5-1.x86_64.rpm
https://dl.grafana.com/oss/release/grafana-7.3.5-1.aarch64.rpm
https://dl.grafana.com/oss/release/grafana-7.3.5.linux-amd64.tar.gz

[2021-07-22 10:50] atsikham opened #2454 "[FEATURE REQUEST] Remove dependencies for K8s v1.17"
**Is your feature request related to a problem? Please describe.**
The latest supported Epiphany version is 0.8, but there are still some leftovers for 0.7 and k8s v1.17.7. Removal of these dependencies at least will allow not to download unnecessary images.

**Describe the solution you'd like**
Clean up configuration. Affected files (there can be other ones):

- docs/home/howto/UPGRADE.md
- defau

[2021-07-22 12:25] rafzei opened #2456 "[UPGRADE] Upgrade Istio to the latest released version"
**Is your feature request related to a problem? Please describe.**
Our current Istio version (1.8) is out of support since 12th May.
It has 3 vulnerabilities:
- [CVE-2021-34824](https://nvd.nist.gov/vuln/detail/CVE-2021-34824)
- [CVE-2021-31921](https://nvd.nist.gov/vuln/detail/CVE-2021-31921)
- [CVE-2021-31920](https://nvd.nist.gov/vuln/detail/CVE-2021-31920)

**Describe the solution you'd like**

[2021-07-22 12:42] rafzei opened #2457 "[UPGRADE] Upgrade Docker-CE to version 20.10.8"
**Is your feature request related to a problem? Please describe.**
Our current version of Docker-ce (19.03.14) is out of support since 21.07.2021.

Known vulnerabilities:

- [CVE-2021-21285](https://nvd.nist.gov/vuln/detail/CVE-2021-21285)
- [CVE-2021-21284](https://nvd.nist.gov/vuln/detail/CVE-2021-21284)
- [CVE-2020-27534](https://nvd.nist.gov/vuln/detail/CVE-2020-27534)
- [CVE-2019-16884](https

[2021-07-23 07:14] plirglo opened #2460 "[BUG] Review MAINTENACE.md documentation (Kubernetes section)"
**Describe the bug**
Please review MAINTENANCE.md documentation since some of solutions described there does not work

**How to reproduce**
Steps to reproduce the behavior:
1. Installed kubernetes cluster
2. Exampled command:
Documented:
[code]
Real status (cluster seems to work correctly):
[code]

**Expected behavior**
Test all commands described there and modify documentation, since it looks lik

[2021-07-23 09:13] to-bar opened #2461 "[FEATURE REQUEST] Make custom admin certificate configurable without need to edit sources when upgrading OpenSearch"
**Is your feature request related to a problem? Please describe.**
We added new functionality for upgrade mode in PR #2384 so now we should replace workaround described in our [docs](https://github.com/epiphany-platform/epiphany/blob/v1.1.0/docs/home/howto/UPGRADE.md#open-distro-for-elasticsearch-upgrade). The current *workaround requires editing the source code inside container*.

**Describe the

[2021-07-23 09:16] to-bar commented on #2127
Created follow-up task #2461 that will use this functionality.

[2021-07-23 11:45] mkyc opened #2463 "[SPIKE] Check components possibility to perform site mirroring"
In this spike we need to identify (and preferably test) possible solutions for continuous site mirroring of persistence  components.

Components:
 - kafka
 - postgresql
 - elastic search / open distro
 - rabbit
 - prometheus
 - kubernetes PVs

Check:
 - what are possible solutions for each component
 - which one of solution is most mature / widely used
 - how exactly it works
 - what OS'es are sup

[2021-07-23 11:51] mkyc opened #2464 "[SPIKE] Check components possibility to perform incremental sync"
In this spike we need to identify (and preferably test) possible solutions for "near-continuous" site synchronization of persistence  components.

This task is different from #2463 in required time of data synchronization. In #2463 synchronization should be continuous and constant. In this task it's required to find solutions which synchronize data every time period (i.e., every hour).

Components

[2021-07-23 14:11] seriva commented on #1294
Re-opening as one of the cases is no longer in effect making this issue maybe solvable:

[code]

[2021-07-26 06:53] erzetpe commented on #2431
@seriva From the point of restore I think that we should look for different solution than existing one in Epiphany. Right now I think that we should focus on finding the new backup solution for K8s.

[2021-07-26 06:59] erzetpe commented on #2431
@mkyc

1. Do we know what are required changes for OpenDistro?
Yes, we need to add authentication to backup.
2. Do we know why PostgreSQL configuration files are not restored?
According to @plirglo this should be done manually as it can be problematic sometimes during restoring cluster.
3. Did you remove machines? In prometheus section IPs are visible.
No, I have remove and restore the whole block

[2021-07-26 10:24] przemyslavic commented on #2074
Repmgr fails to upgrade on Azure CentOS environments. Reproduced while trying to upgrade from epicli v1.0 and v1.1.
[code]
[code]
[code]
[code]
[code]

Possible cause:
**[2021-07-26 09:52:16] [ERROR] an older version of the "repmgr" extension is installed**

It started working after executing `systemctl start repmgr10.service` command.

[code]
[code]
[code]
[code]

[2021-07-27 07:06] przemyslavic commented on #2445
:heavy_check_mark: `epicli apply`
:heavy_check_mark: `epicli` re-`apply`
:heavy_check_mark: `epicli upgrade` from v0.8.3 to v1.0.2 -> `epicli apply` v1.0.2
:heavy_check_mark: `epicli upgrade` from v1.0.0 LTS to v1.0.2 -> `epicli apply` v1.0.2
:heavy_check_mark: pipelines updated to use `epiphanyplatform/keycloak:14.0.0` image

[2021-07-27 09:12] #2445 closed, assigned to rafzei, przemyslavic

[2021-07-27 15:38] to-bar commented on #2074
PR #2459 updated.

[2021-07-28 09:51] atsikham commented on #2077
PR #2468

[2021-07-28 10:47] przemyslavic commented on #2074
Fixed.
:heavy_check_mark: `epicli apply` dev
:heavy_check_mark:  `epicli upgrade` from v0.9.2
:heavy_check_mark:  `epicli upgrade` from v1.0.1
:heavy_check_mark:  `epicli upgrade` from v1.0.0

Tested (only) on `AWS Ubuntu`, `Azure Ubuntu`, `Azure CentOS` (because of issues with Grafana repository #2449).

[2021-07-28 11:21] seriva opened #2469 "[EPIC] Epicli configuration validation"
Epic with issues regarding Epicli configuration validation

[2021-07-28 12:48] seriva commented on #195
Not relevant for this issue, but ill link it to the one that might deal with this eventually:)

[2021-07-28 14:50] seriva opened #2471 "[FEATURE REQUEST] Epicli schema documentation"
**Is your feature request related to a problem? Please describe.**
Currently there is NO schema documentation inside Epicli using jsonschema version 7.

**Describe the solution you'd like**
Add documentation inside the schema in the following folders: https://github.com/epiphany-platform/epiphany/tree/develop/schema

**Describe alternatives you've considered**
None

**Additional context**
We proba

[2021-07-28 14:58] seriva opened #2472 "[FEATURE REQUEST] Epicli schema document generation"
**Is your feature request related to a problem? Please describe.**
Currently there is NO schema documentation used by Epicli.

**Describe the solution you'd like**
Add a way to generate documentation from the Epicli schema from the follwing folders: https://github.com/epiphany-platform/epiphany/tree/develop/schema

The MD files should be hosted and updated inside the epiphany github repo documenta

[2021-07-28 15:04] seriva opened #2473 "[Spike] Research cross document validation for Epicli schema"
Currently we are only checking the Epicli schema on a per document basis. In this spike we want to see if we can introduce a mechanism to add some cross document validation as jsonschema does not support this.

Some early work on the topic has been done and discussed here: https://github.com/epiphany-platform/epiphany/issues/195#issuecomment-732915997

[2021-07-29 08:08] #2074 closed, assigned to przemyslavic, to-bar

[2021-07-29 10:51] przemyslavic commented on #2434
:heavy_check_mark: Successfully installed python3 package on RHEL and CentOS machines. Tested on Azure and AWS (including arm).
[code]

[2021-07-29 11:58] przemyslavic commented on #2390
Tested the following scenario:
- `epicli apply` v0.8.3

- `cat /shared/build/upgradetest/ansible/roles/logging/vars/main.yml`
[code]
- `cat /shared/build/upgradetest/ansible/roles/rabbitmq/vars/main.yml`
[code]
- create configuration file for upgrade
[code]
- execute `epicli upgrade` with `-f /shared/build/upgradetest/upgradeconfig.yml` parameter

- `cat /shared/build/upgradetest/ansible/roles/log

[2021-07-29 12:19] to-bar commented on #2449
RHEL/CentOS related issue: [grafana/grafana#37274](https://github.com/grafana/grafana/issues/37274)

[2021-07-30 10:29] przemyslavic commented on #2425
The problem occurred because the values for `enabled` parameter were set to `yes/no` instead of `true/false`.
In PR #2474 there was introduced possibility to still use `yes/no` values, as they will be automatically changed to `true/false`.
:heavy_check_mark: Skipping specified roles now works fine.

[2021-07-30 10:31] przemyslavic commented on #195
Validation works fine with the fixes made in #2474.

[2021-07-30 12:54] przemyslavic commented on #2449
Tested:
✔️ epicli apply: `AWS` / `Azure` x `RHEL` / `CentOS` / `Ubuntu` x64
✔️ epicli apply: `AWS` `CentOS` aarch64

For testing purposes I also modified the condition `>` to `>=` to verify upgrades as there was no other way to test it as we have the same Grafana version since epicli v0.7). It also went smoothly :)
[code]
[code]

[2021-07-30 13:44] przemyslavic commented on #1370
:heavy_check_mark: Seems to be fixed in PR #2465.
I checked different parameters for PostgreSQL, changed some configuration at different levels, and it looks like the default values are used in case the user does not provide full configuration. And then the merged configuration is present in the manifest.yml file.

[2021-07-30 14:30] przemyslavic commented on #1294
:heavy_check_mark: I tested some different configurations for PostgreSQL, applications, feature-mapping. It looks like finally we have proper merging of dictionaries and lists.
What I especially like is enabling the applications in this simple way :)

[code]
User does not have to provide full configuration when making some changes within dictionaries and lists at different levels. The default valu

[2021-07-30 16:25] to-bar commented on #1702
This issue seems to be solved by changes made to upgrade PostgreSQL to version 13. We should test after merging `feature/upgrade-postgresql-13` branch to `develop`.

[2021-08-03 07:21] seriva opened #2477 "[BACKPORT][v1.0.0] - Basic configuration type and schema validation."
Backport: #195, #2425
PR: #2470, #2474

[2021-08-03 07:23] seriva opened #2478 "[BACKPORT][v1.1.0] - Basic configuration type and schema validation."
Backport: #195, #2425
PR: #2470, #2474

[2021-08-03 07:27] seriva opened #2479 "[BACKPORT][v1.0.0] - Implement proper merging of lists of dictionaries for epicli yaml docs"
Backport: #1294, #1370
PR: #2465

[2021-08-03 07:29] seriva opened #2480 "[BACKPORT][v1.1.0] - Implement proper merging of lists of dictionaries for epicli yaml docs"
Backport: #1294, #1370
PR: #2465

[2021-08-03 08:22] #195 closed

[2021-08-03 08:23] #2425 closed, assigned to seriva, przemyslavic

[2021-08-03 08:25] #2390 closed, assigned to seriva, przemyslavic

[2021-08-03 08:32] #2434 closed, assigned to erzetpe, przemyslavic

[2021-08-04 15:33] to-bar opened #2485 "Refactor upgrade role to not include "specification" at top level"
**Describe the bug**
In `upgrade` role there are `include_vars` tasks used without the `name` parameter what loads variables at top level with [higher precedence than task vars](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#understanding-variable-precedence).

So having in upgrade role:

[code]

causes that `specification` of `node_exporter` is global with high preced

[2021-08-04 15:40] to-bar commented on #1846
This issue has been solved in PostgreSQL upgrade related feature branch but we should re-test after merging code to `develop` branch.

[2021-08-04 16:57] to-bar opened #2486 "[FEATURE REQUEST] Refactor merging Ansible variables"
**Is your feature request related to a problem? Please describe.**
For upgrade mode, we use variables from a few sources:
1) `manifest.yml` - settings used for `epicli apply` but *merged* with current default configuration
2) `main.yml` - may contain only current default configuration or configuration provided by user but *merged* with current default configuration

Such logic has the following dr

[2021-08-05 11:31] rafzei commented on #2293
We have two main parts todo in case of this issue:
1. Preparing environment as a fallback repository
2. Adjust Ansible role (repository) to handle fallback repository

The first part:

I was taking the following software under consideration:  ProGet from Inedo, Nexus Repository OSS from Sonartype and Pulp from Redhat.
The Nexus free version is under GPL v3. The ProGet has its own license agreement

[2021-08-05 16:11] to-bar opened #2488 "[BACKPORT][v1.1] Unable to add Grafana repository"
Source issue #2449
Pull request #2475

[2021-08-05 16:15] to-bar opened #2489 "[BACKPORT][v1.0] Unable to add Grafana repository"
Source issue #2449
Pull request #2475

[2021-08-05 16:34] to-bar opened #2490 "[BACKPORT][v0.9] Unable to add Grafana repository"
Source issue #2449
Pull request #2475

[2021-08-05 16:35] to-bar opened #2491 "[BACKPORT][v0.8] Unable to add Grafana repository"
Source issue #2449
Pull request #2475

[2021-08-05 16:36] #2449 closed, assigned to to-bar

[2021-08-06 06:20] atsikham commented on #1861
Merged to feature/upgrade-postgresql-13 branch, but moved to 'on hold' as waiting for other postgres parts to be merged.

[2021-08-06 06:21] atsikham commented on #2077
Merged to feature/upgrade-postgresql-13 branch, but moved to 'on hold' as waiting for other postgres parts to be merged.

[2021-08-09 10:04] plirglo opened #2494 "[BUG] Duplicated MOTD after ssh to servers"
**Describe the bug**
I'm getting duplicated MOTD (Thea Head) when logging even on fresh installed machines.
Looks like this:
[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Install cluster
2. SSH to newly created machine(s)
3. check MOTD

**Expected behavior**
The Head should be printed only once

**Environment**
- Cloud provider: All
- OS: Ubuntu

**Additional context**
/etc/motd

[2021-08-09 11:43] atsikham commented on #2346
Merged to feature/upgrade-postgresql-13 branch, but moved to 'on hold' as waiting for other postgres parts to be merged.

[2021-08-09 12:32] erzetpe opened #2495 "[FEATURE REQUEST] Multiple PostgreSQL nodes only in clustered mode."
**Is your feature request related to a problem? Please describe.**
Right now we have option for multiple non clustered nodes of PostgreSQL.

**Describe the solution you'd like**
We want to provide only option for multiple clustered nodes of PostgreSQL and change logic to automatically cluster PostgreSQL instances when node count is higher than 1. Also we want to update documentation accordingly.

[2021-08-09 13:47] erzetpe opened #2496 "[BUG] Don't create directories without intent"
**Describe the bug**
We are creating directory /etc/kafka and not using this after creation:

https://github.com/epiphany-platform/epiphany/blob/ddf0bddd33017bf892bafc93559a6406bbbd36b4/core/src/epicli/data/common/ansible/playbooks/roles/kafka/tasks/setup-kafka.yml#L104

We have also commented out code for symlink, that should be removed or uncommented.
https://github.com/epiphany-platform/epiphan

[2021-08-10 06:44] plirglo commented on #2076
PR #2462

[2021-08-10 16:55] to-bar commented on #2496
@erzetpe please change the title :construction_worker:

[2021-08-11 09:37] plirglo opened #2497 "[BUG] epicli init --full -p azure generates not correct region value"
**Describe the bug**
Epicli apply --full -p azure generates not correct region value - it generates eu-west-2 which is value for AWS.

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli init --full -p azure
2. see config file
3. execution with default region value will fail

**Expected behavior**
Region value should be compatible with Azure if we generate file for Azure

**En

[2021-08-12 14:44] to-bar opened #2498 "[PostgreSQL upgrade] Test upgrade using databases with real (imported) data"
After PostgreSQL upgrade feature is fully implemented and tested on any database (probably very small), we want to test it using one or two databases containing some real (product) data (bigger volume expected).

In order to prepare such databases, we need to organize data dumps (backups or sample data) from other projects.
@plirglo is talking to teams to get database dumps.

Scenario:
1. Import d

[2021-08-16 08:07] mkyc commented on #2431
Ok LGTM.

[2021-08-16 08:51] erzetpe commented on #2324
@ks4225: We are closing this issue as we weren't able to reproduce this. If you still have this issue please reopen this issue and we will try to help.

[2021-08-16 08:51] #2324 closed, assigned to nobody

[2021-08-16 10:32] przemyslavic commented on #126
It looks like `existing_setup_dashboards` variable is never used (https://github.com/epiphany-platform/epiphany/pull/2467/files#diff-72a446ee42566d641402eb05aedbe6e97ba54a6a93532ce284e6785ac648ddc7R102).
Probably it should be used in some places in the template instead of the `existing_setup_kibana` variable.

[2021-08-16 12:34] mkyc commented on #2293
Nice, I think that we should try design some simple PoC version with Pulp.

[2021-08-16 14:37] atsikham commented on #2293
Reviewed thoughts that @rafzei found and seems that Pulp has more features for free than any other tools.

In Nexus there is a "proxy" repo that can be used as an entry point for multiple private hosted or public repositories. If one of them fails, package will be searched in all other ones. Is there something similar in Pulp - in general, how fallback repo will be used - it will store cached arti

[2021-08-17 06:35] soalhn commented on #1974
I have the same issue, I think it should be a similar approach to the AKS, sth like this:
[code]

[2021-08-17 07:42] przemyslavic commented on #1294
:heavy_check_mark: Tested again after refactoring done in connected PR.
More unit tests have also been added.

[2021-08-17 07:45] przemyslavic commented on #1370
Tested again after refactoring done in connected PR #2465.
The manifest file looks good after merging the user-set values with the defaults.

Further comments / discussion in related task #1294.

[2021-08-17 10:54] przemyslavic commented on #1294
Tested again after refactoring done in connected PR.
More unit tests have also been added.

@to-bar found a case where it isn't always a good idea to merge lists.
For example, providing such a configuration:
[code]
results in merging with the defaults
[code]
causing 2 users to be added which the user may not be aware of.
This can be a security risk. It can be even worse, for example, in the case o

[2021-08-17 14:41] przemyslavic commented on #126
There are still issues with preserving some settings in the configuration file when upgrading filebeat. Please take a look at @to-bar's review https://github.com/epiphany-platform/epiphany/pull/2467#pullrequestreview-731745377.

[2021-08-18 07:09] rafzei commented on #2494
Currently, deployment creates `/etc/motd` file with the skull directly. I think is the wrong approach.
Ubuntu uses  `update-motd` package and creates `/etc/update-motd.d` dir to store motd in right order. Creating eg. `99-epiphany` script seems to be the right way.
In addition, I would add displaying epicli version at the end of this script.

(and yeah, we should get rid of this :skull: )

[2021-08-18 07:31] rafzei commented on #2293
As far as I saw, we are able to use the proxy approach in Pulp via creating and synchronize the remote repository and it's also possible to specify synchronization time.

[2021-08-19 07:58] #2431 closed, assigned to erzetpe

[2021-08-20 07:03] przemyslavic commented on #2457
:heavy_check_mark: `epicli apply`
:heavy_check_mark: `epicli` re-`apply`
:heavy_check_mark: `epicli upgrade` from v1.1
Tested on `Ubuntu` / `RHEL` / `CentOS`.

[2021-08-23 10:58] przemyslavic commented on #126
Fixed in #2467.
Tested `epicli apply` and `epicli upgrade` from v0.8. User settings are preserved when upgrading.
Also verified aarch64 offline installation.

[2021-08-23 12:47] mkyc commented on #2293
LGTM. I believe Pulp PoC should be created in separate task.

[2021-08-23 13:07] atsikham commented on #2464
Got an information from @mkyc about K8s part:

I think that this one point is not quite correct, guess just "kubernetes" would be more correct. I was talking about this point with Pawel once and I think we do not care about PVs in kubernetes as we do not support real correct persistence under kubernetes right now in epiphany, but my feeling is that if someone stores Secrets, Configuration or whate

[2021-08-23 13:32] plirglo commented on #2498
QA dumps from two teams are shared. please ask @plirglo for dumps in case you start testing.

[2021-08-24 07:22] przemyslavic commented on #2485
:heavy_check_mark: Tested upgrade with affected components enabled (`kafka`, `node exporter`, `logging`, `rabbitmq`, `repmgr for postgresql`).

[2021-08-24 09:08] #126 closed

[2021-08-24 09:12] #2485 closed, assigned to przemyslavic, to-bar

[2021-08-24 09:24] plirglo commented on #2457
@atsikham Please create backport task for LTS

[2021-08-24 09:25] #2457 closed, assigned to atsikham

[2021-08-24 09:32] rafzei opened #2502 "[FEATURE REQUEST] Update 'upgrade' documentation regarding additional parameteres for epicli upgrade"
**Is your feature request related to a problem? Please describe.**
None

**Describe the solution you'd like**
Update documentation to point user how to see a list of available components for selective upgrade.

Create comment that selective upgrade is for experienced users (developers)

[Documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/UPGRADE.md#additional

[2021-08-24 12:41] to-bar opened #2503 "[Backport to v1.0] Upgrade PostgreSQL to v13"
**Is your feature request related to a problem? Please describe.**
We need to back port task #1861 to v1.0 branch.

In this task **we should keep all known PRs related to PostgreSQL upgrade until the feature is back ported**.

**Known related PRs**
- #2500
- #2501
- #2519
- #2522
- #2539
- #2545
- #2546
- #2566
- #2598
---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / d

[2021-08-24 19:12] atsikham opened #2505 "[REVERT] Upgrade Docker-CE to version 20.10.8"
Revert backported changes done in #2487

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x]

[2021-08-25 07:16] plirglo opened #2508 "[FEATURE REQUEST] Add possibility to use / import more users than the main one"
**Is your feature request related to a problem? Please describe.**
Currently Epiphany by default configures one administrator user with sudo privileges with name "operatiaons"
Consider to add possibility to create other users, or create documentation how this should be done by administrator to avoid sharing the same user and keys by many operators / administrators.

**Describe the solution you'd l

[2021-08-25 07:39] plirglo opened #2509 "[FEATURE REQUEST] Add documentation or url to stopping and starting PostgreSQL cluster"
**Is your feature request related to a problem? Please describe.**
Add documentation or url to stopping and starting PostgreSQL cluster. Describe shutdown and startup order.

**Describe the solution you'd like**
1. Stop secondary node
2. Stop primary node
...
3. Start primary node
4. Start secondary node

**Describe alternatives you've considered**
Find nice repmgr or postgresql manual and link in

[2021-08-25 12:27] to-bar commented on #2508
We already have such functionality. Does it meet requirements?
https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/SECURITY.md#how-to-addremove-additional-users-tofrom-os

[2021-08-25 12:49] seriva opened #2511 "Upgrade Python packages to at least the latest patch version."
**Is your feature request related to a problem? Please describe.**
We have a bunch of CEV warnings from GitHub which we should fix.

**Describe the solution you'd like**
Update all Python packages at least to the latest patch version to fix these CEV warnings.

**Describe alternatives you've considered**
None

**Additional context**
This will also be required for the new BlackDuck scan as these ar