[2021-08-26 08:07] #2293 closed, assigned to rafzei

[2021-08-26 08:57] rafzei opened #2512 "[FEATURE REQUEST] Create PoC of fallback repository"
**Is your feature request related to a problem? Please describe.**
The problem is well described in issue https://github.com/epiphany-platform/epiphany/issues/2293

**Describe the solution you'd like**
Create a proof of concept using [Pulp](https://pulpproject.org/)

**Describe alternatives you've considered**
If we face any blockers we cannot handle, as an alternative, we can use Nexus free but i

[2021-08-26 10:22] atsikham opened #2513 "[FEATURE REQUEST] Add Molecule execution into test pipelines"
**Is your feature request related to a problem? Please describe.**
We started to create Molecule tests that at the moment exist for PostgreSQL. The idea is to include them into existing test pipelines in Azure DevOps.

**Describe the solution you'd like**
Add an additional step. It runs in Docker containers, so some adjusment may be needed.

**Describe alternatives you've considered**
No.

**Addit

[2021-08-26 11:48] rafzei opened #2514 "[BACKPORT][1.1] Upgrade Keycloak to v14"
Backport PR to v1.1 branch: #2429

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [ ] Documentation added / updated / doesn't need to be updated
* [ ] All co

[2021-08-26 11:53] rafzei opened #2515 "[Backport to v1.1] Upgrade PostgreSQL to v13"
**Is your feature request related to a problem? Please describe.**
We need to backport task #1861 to v1.1 branch.

In this task **we should keep all known PRs related to PostgreSQL upgrade until the feature is backported**.

**Known related PRs**
- #2500
- #2501
- #2522
- #2539
- #2545
- #2546
- #2566
- #2598
Same as in https://github.com/epiphany-platform/epiphany/issues/2503

---

**DoD checklis

[2021-08-26 12:48] rafzei opened #2517 "[FEATURE REQUEST] Update documentation about appy-after-upgrade and os image preserve"
**Is your feature request related to a problem? Please describe.**
Elaborate more about image preservation feature we implemented and verify if apply-after-upgrade is properly documented.
Link to document: [here](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/UPGRADE.md#run-apply-after-upgrade)

**Describe the solution you'd like**
The only sentence about image preserva

[2021-08-27 07:21] przemyslavic opened #2521 "Fix 2 unit tests that are marked to be skipped during test execution"
**Is your feature request related to a problem? Please describe.**
We have two [unit tests](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/tests/engine/providers/aws/test_AWSConfigBuilder.py) that have been skipped from testing for a long time.
- test_get_autoscaling_group_should_set_proper_values_to_model
`@pytest.mark.skip(reason='Rewrite this test regarding subnets')

[2021-08-27 08:26] plirglo commented on #2075
@przemyslavic i added small configuration change, shouldn't impact you tests: https://github.com/epiphany-platform/epiphany/commit/65742d7032b5783cfe1237f9ea029ffe1d2df613

[2021-08-27 09:06] mkyc commented on #1487
After last upgrade we probably have it solved because there is included exporter in new version.

[2021-08-27 09:19] mkyc commented on #2093
We need to discuss first what are the steps.

[2021-08-27 09:28] mkyc opened #2523 "[spike] plan kubernetes upgrade"
- choose which version we are upgrading to, probably not the latest but the latest stable
 - check changelogs about what was deprecated
 - check upgrade guides https://kubernetes.io/docs/tasks/administer-cluster/cluster-upgrade/ - is there only incremental upgrade possible?
 - check changes in our code since https://github.com/epiphany-platform/epiphany/pull/1501
 - check support policies https://

[2021-08-27 20:24] to-bar opened #2526 "[PostgreSQL] repmgr upgrade fails when replication is disabled but repmgr package is present"
**Describe the bug**
In Epiphany < v1.1 repmgr package was installed even when replication was disabled (by default). On upgrade usage of repmgr is detected based on package existence and logic gets false positive. On Ubuntu there is no config file, on RHEL there is just sample config (which doesn't work) so upgrade fails.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy cluster wi

[2021-08-27 21:11] to-bar opened #2527 "[PostgreSQL] Upgrade requires 50% of disk space to be free regardless of the size of data directory"
**Describe the bug**
We have pre-flight check that requires 50% of disk space to be free. This will work when there is only PostgreSQL data on the filesystem. But Epiphany supports custom configurations and single machine installation so this requirements is too strict.
For example, you are not able to run upgrade having 100 GB filesystem when 51 GB is used but only 1 GB for PostgreSQL data.

**Ho

[2021-08-27 21:42] to-bar opened #2528 "[PostgreSQL] Upgrade creates scripts in /var/log/postgresql directory"
**Describe the bug**
The `pg_upgrade` tool that runs from `/var/log/postgresql` directory and that creates two scripts there:
1) analyze_new_cluster.sh
2) delete_old_cluster.sh

**How to reproduce**
Steps to reproduce the behavior:
1. Run the `epicli upgrade` for a cluster with PostgreSQL

**Expected behavior**
In the `/var/log/postgresql` directory there should be only logs.

**Additional context

[2021-08-30 08:11] rafzei opened #2529 "[SPIKE] Operating System's upgrade (RHEL8 & Ubuntu20.04)"
**Is your spike related to a problem or idea? Please describe.**
We have to support RHEL8 and Ubuntu 20.04.

**Describe the outcome you'd like**
- Check possibilities of migration to mentioned OS's. Find a way we can support them in our supported versions.
- Discuss with the team possible scenarios and choose the path how upgrade and support should be handled.

**What is the reason or source for t

[2021-08-30 08:32] przemyslavic commented on #2077
:heavy_check_mark: PGAudit 1.5 tested on `RHEL`, `Ubuntu` and `CentOS`, including aarch64 installation.
Logs are stored in the path `/var/log/postgresql/` and visible in Kibana.
New installations and the upgrade from PGAudit 1.2 have been tested.

[2021-08-30 08:46] przemyslavic commented on #1702
:heavy_check_mark: Fixed in #2501. Added functionality to automatically detect the master node for an already configured cluster.

[2021-08-30 13:31] erzetpe commented on #2053
Based on #1976 results Strimzi has been chosen for spiking in this task.

[2021-08-30 13:41] plirglo commented on #2509
Paste url to repmgr documentation: https://repmgr.org/docs/dev/repmgrd-pausing.html

[2021-08-30 14:57] przemyslavic commented on #2453
@atsikham @to-bar @plirglo
1. Why do we install pgbouncer on all postgresql nodes and configure it only on one (first)?.
2. After re-runnig `epicli apply` command the order of the nodes may change, which will result in having pgbouncer configured on the master node (from the first run) and then configured on the second node pointing to a replica (on the second run), which may cause issues when run

[2021-08-31 07:30] przemyslavic commented on #2521
Some of the existing tests were fixed/refactored and new ones were added.

![image.png](https://images.zenhubusercontent.com/5efee1bcbc19f75eaba5ce61/33d1670c-96f1-42b3-ace5-6b39ac866f53)

[2021-08-31 07:56] #2521 closed, assigned to seriva, przemyslavic

[2021-08-31 07:59] #1702 closed

[2021-08-31 08:04] #2077 closed, assigned to erzetpe, atsikham

[2021-08-31 08:44] seriva opened #2531 "[FEATURE REQUEST] Add Pylint configuration to epicli devcontainer"
**Is your feature request related to a problem? Please describe.**
Pylint is installed in the devcontainer but lacks configuration.

**Describe the solution you'd like**
Add default Pylint configuration so it can be used.

**Describe alternatives you've considered**
None

**Additional context**
The decision for Pylint as linter was already made some time back but never fully applied for use in the

[2021-08-31 09:24] to-bar opened #2532 "[FEATURE REQUEST] VS Code workspace at repository's root level / multi-root workspace"
**Is your feature request related to a problem? Please describe.**
VS Code has two kinds of workspaces: `Single-folder` and `Multi-root` (see [docs](https://code.visualstudio.com/docs/editor/workspaces)).
Epiphany currently uses only the `Single-folder` type, which is located in `core\src\epicli` sub-directory. Settings from it are applied to devcontainer and are present after opening this folder.

[2021-08-31 10:15] to-bar opened #2533 "[SPIKE] Improve structure of sources in Git repository"
**Is your spike related to a problem or idea? Please describe.**
The structure of `epiphany` repo doesn't follow good practice conventions. For example, we have many changlog files in root directory, tests in two different locations (`core\src\epicli\tests` and `core\src\epicli\data\common\tests`), most often changed files have long path (`core\src\epicli\data\common\ansible\playbooks`).

Examples

[2021-08-31 14:13] seriva commented on #1176
Also generate output using: https://pypi.org/project/ansible-lint-junit/
Then publish with: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=azure-devops&tabs=trx%2Cyaml

This because pytest and pylint are also producing junit output at this point, so we can have everything similar.

[2021-08-31 14:20] seriva commented on #1892
Preferably also add possibility to generate output using: https://pypi.org/project/ansible-lint-junit/ so we can publish it later when Azure devops.

[2021-08-31 15:01] seriva opened #2535 "[FEATURE REQUEST] Add PyLint to build pipeline"
**Is your feature request related to a problem? Please describe.**
Currently we have the ability to use PyLint in the devcontainer and output the results in junit format.

**Describe the solution you'd like**
We want to integrate this into the Azure build pipelines as well and publish the results:

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=azure-d

[2021-08-31 15:02] seriva opened #2536 "[FEATURE REQUEST] Add PyTest to build pipeline"
**Is your feature request related to a problem? Please describe.**
Currently we have the ability to use PyTest in the devcontainer and output the results in junit format. And this is already partially integrated in the build pipelines.

**Describe the solution you'd like**
We want to integrate this into the Azure build pipelines as well and publish the results:

https://docs.microsoft.com/en-us/az

[2021-08-31 16:00] to-bar commented on #2375
One idea is to publish VM images (or snapshots) with deployed cluster automatically after each release in order to have reference environments, I've used such approach using VMware Cloud Director. It looked like this:
1) CI pipeline creates vApp (vApp consists of one or more virtual machines that communicate over a network and use resources and services in a deployed environment). On Azure this wo

[2021-08-31 17:55] to-bar opened #2537 "[FEATURE REQUEST] [PostgreSQL] [upgrade] Do not remove new packages automatically in rollback"
**Is your feature request related to a problem? Please describe.**
When PostgreSQL upgrade fails, Epiphany performs automatic rollback (Ansible rescue block) during which the following operations are done:
- remove PostgreSQL related packages (new version)
- remove new version data directory
- restore repmgr symlinks
- start and enable old PostgreSQL service
- start and enable old repmgr service

[2021-09-01 12:19] przemyslavic commented on #2511
:heavy_check_mark: I have tested deploying the clusters for the following configurations: `AWS` / `Azure` x `Ubuntu` / `RHEL` / `CentOS` with all components enabled (at least 1 vm) and did not run into any problems.

[2021-09-01 13:54] przemyslavic commented on #2531
:heavy_check_mark: I have rebuilt the devcontainer and ran a pylint check. To avoid the `bash: /workspaces/epiphany/core/src/epicli/test_results/pylint_results.xml: No such file or directory` error, either create the `test_results` folder in the `/workspaces/epiphany/core/src/epicli` path or run unit tests first (discussed with @seriva not to fix it right now).
I've also deployed the clusters: `AW

[2021-09-01 14:01] seriva commented on #2531
Beside running pylint manually the vscode plugin now shows issues correctly:

![image.png](https://images.zenhubusercontent.com/5efee199ee690405efd9d38b/6b50f8c8-da24-4d67-a53a-6252f5edc699)

[2021-09-01 14:58] erzetpe opened #2541 "[FEATURE REQUEST] Preflight to check if system requirements are met"
**Is your feature request related to a problem? Please describe.**
Right now we don't have checks for meeting system requirements (e.g. free space, memory) before installation.

**Describe the solution you'd like**
We want to have preflight check that for each component system requirements are met.

**Describe alternatives you've considered**
No.

**Additional context**
None.

---

**DoD checklist

[2021-09-02 07:39] przemyslavic commented on #2511
Tested again after #2540. No issues found.

[2021-09-02 07:53] przemyslavic commented on #2075
After some time after deployment Pgpools pods crash on some clusters.
[code]

Messages from different clusters on which the problem was reproduced:
[code]
[code]
[code]

[2021-09-02 08:00] #2511 closed, assigned to seriva, przemyslavic

[2021-09-02 08:05] #2531 closed, assigned to seriva, przemyslavic

[2021-09-02 09:01] rafzei opened #2542 "[BUG] Non critical error in epicli if no 'path' is provided"
**Describe the bug**
I faced the issue in devcontainer:
[code]
It also occurs with any help (usage) message.

**How to reproduce**
Steps to reproduce the behavior in devcontainer:
1. alias epicli="PYTHONPATH=$(pwd) python3 cli/epicli.py"
2. execute `epicli --version`, `epicli init -h ...` or any different --help

**Expected behavior**
No error message

***epicli version**: [`epicli --version`]
1.2

[2021-09-02 09:20] plirglo commented on #2453
Let's leave it as it is since we plan to deprecate this feature. It's old bug and as far as i know no one is using this configuration, since we deliver more mature configuration based on pgbouncer/pgpool in k8s. It was used when we supported PostgreSQL native replication, but we don't support it anymore.

[2021-09-02 09:46] przemyslavic commented on #2037
A [pipeline](https://dev.azure.com/abb-epiphany/epiphany/_release?definitionId=234&view=mine&_a=releases) for testing upgrades from v1.1 to develop for aarch64 has just been created.

[2021-09-02 09:47] mkyc commented on #106
We need presentation from @atsikham in this area to make everyone more familiar with the topic.

[2021-09-02 10:16] rafzei commented on #2537
:rocket:

[2021-09-02 12:44] erzetpe opened #2544 "[SPIKE] Spike installation of Kafka (Strimzi) with persistent storage on Kubernetes"
**Is your spike related to a problem or idea? Please describe.**
A clear and concise description of what the spike is about.
Example:
This spike is the following spike to #2053. In this task possibility of using Strimzi with ephemeral storage has been checked.
Right now we want to check the possibility of instaling Strimzi with persistent storage.

**Describe the outcome you'd like**
A clear and c

[2021-09-03 09:44] przemyslavic commented on #2076
:heavy_check_mark: New installations have been tested, as well as the upgrade from v1.12. I've also deployed a sample application on k8s with `psql` and connected/executed test queries via `pgbouncer` to `postgresql` without any problems.

[2021-09-06 08:19] przemyslavic commented on #2075
Fixed in #2545. After increasing the memory limit, the pods ran without crashing.
I checked the maximum memory usage after a few days and for `RHEL/CentOS` it was about 160 MB and for `Ubuntu` about 240 MB.
:heavy_check_mark: new deployments v4.2.4
:heavy_check_mark: upgrade from v4.1.1.

[2021-09-06 08:57] erzetpe opened #2547 "[FEATURE REQUEST] Refactoring and removal of old code from Ansible inventory creator and upgrade"
**Is your feature request related to a problem? Please describe.**
Right now we have the code that should be refactored from Ansible inventory creator and upgrade and some parts needs to be removed.

**Describe the solution you'd like**
We want to refactor and clean up the code from Ansible inventory creator and upgrade.

**Describe alternatives you've considered**
None.

**Additional context**
Co

[2021-09-06 09:14] erzetpe opened #2548 "[FEATURE REQUEST] Upgrade Python from 3.7 to 3.10 and apply needed changes"
**Is your feature request related to a problem? Please describe.**
Right now we are using for development and in devcontainer Python 3.7.

**Describe the solution you'd like**
We want to upgrade python for our development to version 3.9 and apply changes needed to the code.

**Describe alternatives you've considered**
None.

**Additional context**
None.

---

**DoD checklist**

* [x] Changelog upd

[2021-09-06 09:21] erzetpe opened #2549 "[FEATURE REQUEST] Add more tags to created resources - e.g. who created, date of creation"
**Is your feature request related to a problem? Please describe.**
Right now we have a problem with finding the details when some resource and by whom it has been created.

**Describe the solution you'd like**
We want to have additional tags to be able to find resource owner and the date of creation. Additional tags can be also included.

**Describe alternatives you've considered**
None.

**Additi

[2021-09-06 09:39] erzetpe opened #2550 "[FEATURE REQUEST] Add new tests for Infrastructure generators"
**Is your feature request related to a problem? Please describe.**
Right now we have limited number of tests for Infrastructure generators.

**Describe the solution you'd like**
We want to add new tests to cover more cases for Infrastructure generators.

**Describe alternatives you've considered**
None.

**Additional context**
None.

---

**DoD checklist**

- Changelog
  - [ ] updated
  - [ ] not

[2021-09-06 09:52] erzetpe opened #2551 "[FEATURE REQUEST] Add new tests for data_loader.py and build_saver.py"
**Is your feature request related to a problem? Please describe.**
Right now we don't have tests for data_loader.py and build_saver.py

**Describe the solution you'd like**
We want to provide new tests for data_loader.py and build_saver.py.

**Describe alternatives you've considered**
None.

**Additional context**
None.

---

**DoD checklist**

* [ ] Changelog updated
* [x] COMPONENTS.md updated /

[2021-09-06 10:22] przemyslavic commented on #1370
Until now, in the case of lists, we had to provide the full configuration for a given component, not just the items we wanted to change, because the user configuration override the default values. Now an additional parameter `_merge` has been introduced that allows you to set whether you want to overwrite the default values or merge them. In this case, for example, to change only the name of the l

[2021-09-06 12:21] erzetpe commented on #1570
Double-check what in fact is going on.

[2021-09-06 13:31] AnnaKlank opened #2553 "Documentation update"
Due to Docker CE repository on github being deprecated and going to be archived I would like to ask you to update components.md for all Epiphany versions (e.g., https://github.com/epiphany-platform/epiphany/blob/v0.7/docs/home/COMPONENTS.md) to a new Repo/Website: **https://docs.docker.com/engine/release-notes/**.
Thank you in advance,
Anna

[2021-09-07 07:25] przemyslavic commented on #1294
:heavy_check_mark: Fixed.
Parameter `_merge` has been introduced for named lists. If not provided or set to `false` (by default) the user must provide all list items because its configuration will override the defaults. If set to `true`, the values provided by the user will be merged with the defaults, which is very helpful, e.g. when enabling applications. Instead of providing all the configurati

[2021-09-07 08:02] #1370 closed

[2021-09-07 08:02] #1294 closed

[2021-09-07 08:11] #2453 closed, assigned to atsikham, przemyslavic

[2021-09-07 08:12] #2037 closed, assigned to przemyslavic

[2021-09-07 08:14] #2509 closed, assigned to plirglo

[2021-09-07 08:21] #2075 closed, assigned to przemyslavic, plirglo

[2021-09-07 08:21] #2076 closed, assigned to przemyslavic, plirglo

[2021-09-07 08:24] plirglo opened #2554 "Adjust validation for pgpool and pgbouncer"
**Is your feature request related to a problem? Please describe.**
Since we made some changes in pgpool and pgbouncer configuration validation file needs to be adjusted

**Describe the solution you'd like**
Check values to validate and adjust if needed

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be

[2021-09-07 08:38] przemyslavic commented on #2542
Fixed.
Also added the possibility to run `epicli` commands directly from the terminal, without having to use a debugger :heart:
[code]

[2021-09-07 09:45] plirglo commented on #2554
It's already done. No changes needed.

[2021-09-07 09:45] #2554 closed, assigned to nobody

[2021-09-07 14:44] mkyc commented on #2464
I reviewed internal document and left some comments. Please have look at those @erzetpe @sbbroot @rafzei and @atsikham

[2021-09-07 14:55] przemyslavic commented on #2124
@sbbroot @to-bar

Network connectivity tests have been added for the following tools:
- `apt`
- `yum`
- `crane`
- `curl`
- `wget`

Tested automatically in the pipelines and locally in Ubuntu and CentOS containers and it works fine if it has internet access.

I also performed tests with no internet access in the container.
In the case of `CentOS`, the script immediately fails on testing the yum con

[2021-09-07 15:06] mkyc commented on #2053
I just read internal document and it's excellent summary how to use this piece of software. My opinion is that we should return to persistent storage now and then later, when we have it in place, we should compare performance of kafka on bare metal and on Kubernetes.

[2021-09-08 10:25] seriva opened #2558 "[FEATURE REQUEST] Add Rubocop to epicli devcontainer"
**Is your feature request related to a problem? Please describe.**
Currently there is no linting, styling for our Ruby test suite.

**Describe the solution you'd like**
Add Robycop to the devcontainer and enable it and add a task to generate junit based output so we can run it later in our build infra.

**Describe alternatives you've considered**
None

**Additional context**
https://github.com/rub

[2021-09-08 10:52] seriva opened #2559 "[FEATURE REQUEST] Add Rubocop to build pipeline"
**Is your feature request related to a problem? Please describe.**
Currently we have the ability to use Rubocop  in the devcontainer and output the results in junit format.

**Describe the solution you'd like**
We want to integrate this into the Azure build pipelines as well and publish the results:

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=azure

[2021-09-09 07:02] przemyslavic commented on #1861
NEW DEPLOYMENTS:
:heavy_check_mark: single machine: `apply`, re-`apply`
:heavy_check_mark: single node: `apply`, re-`apply`
:heavy_check_mark: single node: `apply`, re-`apply` - aarch64
:heavy_check_mark: master + replica: `apply`, re-`apply`
:heavy_check_mark: master + 2 replicas: `apply`, re-`apply`
:heavy_check_mark: repmgr standby switchover
:heavy_check_mark: automatic failover

UPGRADES:
:he

[2021-09-09 08:01] #2542 closed, assigned to seriva, przemyslavic

[2021-09-09 12:15] plirglo opened #2561 "[BUG] Investigate pgpool memory leaks"
**Describe the bug**
Contenerized pgpool used in epiphane has got kind of memory leaks. When container is removed using extend command (like kill), recreated pod uses more memory than previous instance. Also during normal work, memory used by pod slowly rising.

**How to reproduce**
1. Deploy cluster with k8s deployed pgpool
2. Check resource usage after few days or kill running container and comp

[2021-09-09 12:32] przemyslavic commented on #1846
:heavy_check_mark: Fixed.
Successfully deployed a 3-node cluster, performed a switchover and executed `epicli apply` again.

[2021-09-09 12:32] plirglo commented on #86
It's done in task #2346. I think we can close this one.

[2021-09-09 12:37] przemyslavic commented on #2346
:heavy_check_mark: Tested with 3 PostgreSQL nodes (1 master and 2 ready-only replicas). The cluster was working fine (tested on sample data). Additionally, a switchover was performed. No problems found.

[2021-09-09 12:37] plirglo commented on #87
We already have mechanism to promote secondary node to master if needed. I don't think we should support something like auto recover of master (i understand this as auto repair of master). Also i didn't reproduce error: high inserts number.
I think this issue may be closed. Please confirm @przemyslavic.

[2021-09-09 12:54] przemyslavic commented on #87
I've already tested a switchover to promote a standby to primary (triggered manually with `repmgr standby switchover` command).
Also checked automatic failover to automatically promote current standby as the new master.
I think we can close this task.

[2021-09-10 07:11] przemyslavic commented on #2526
:heavy_check_mark: Fixed. Repmgr package is first removed if there is no configuration file or just a sample configuration. Tested when upgrading from v1.0 to dev with postgresql replication disabled.

[2021-09-10 08:25] #2526 closed, assigned to przemyslavic, to-bar

[2021-09-10 08:34] mkyc commented on #2346
It will be back ported with Postgres 13 task.

[2021-09-10 08:34] #2346 closed, assigned to atsikham

[2021-09-10 08:39] przemyslavic opened #2562 "[FEATURE REQUEST] Adjust PostgreSQL tests to be executed on all nodes"
**Is your feature request related to a problem? Please describe.**
So far, our PostgreSQL tests are based on the assumption that we have at most one master and one standby node (as it was implemented). Now we have introduced the ability to install more than 2 nodes, so we should update our tests to run on all nodes. In addition, a mechanism should be introduced in the tests that automatically dete

[2021-09-10 08:39] #1846 closed

[2021-09-10 08:40] #2053 closed, assigned to erzetpe

[2021-09-10 08:49] mkyc commented on #86
Solved in #2346

[2021-09-10 08:49] #86 closed

[2021-09-10 08:58] rafzei commented on #2561
Please update documentation if there will be any findings or workarounds:
[DATABASES.md](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/DATABASES.md)

[2021-09-10 09:00] mkyc opened #2563 "[RELEASE] v1.2.0 RC"
#### Release checklist

* [ ] Default OS cloud images updated
* [x] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines):
  * [x] Standard apply (new cluster)
  * [x] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [x] Upgrade for V-3
  * [x] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-09-10 09:01] mkyc opened #2564 "[RELEASE] v1.2.0"
#### Release checklist

* [x] Default OS cloud images updated
* [x] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines):
  * [x] Standard apply (new cluster)
  * [x] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [x] Upgrade for V-2
  * [x] Upgrade for V-3
  * [x] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2021-09-10 09:13] mkyc commented on #2537
Before merging PR for this task decide with @przemyslavic if it can be merged to 1.2.0 release branch.

[2021-09-10 09:20] mkyc commented on #2553
Hi @AnnaKlank do you want to create PR with this update?

[2021-09-10 09:23] mkyc commented on #87
Solved in some unknown PR :)

[2021-09-10 09:23] #87 closed

[2021-09-10 10:06] przemyslavic opened #2565 "[BUG] PostgreSQL backup and recovery tasks require fixing."
**Describe the bug**

There are definitely 2 things that need to be fixed in PostgreSQL `backup` and `recovery` tasks.
1. From now we support the installation of more than 2 nodes (1 master + 1 replica), so it has to be handled e.g. when stopping repmgr service in the case of 2 or more standby nodes.
2. Again we rely on the assumption that node0 is always the master and node1 is the replica. In fa

[2021-09-10 11:27] przemyslavic commented on #2124
:heavy_check_mark: Fixed in #2560. Added additional test before installing prerequisites.
Tested automatically in the pipelines and locally in Ubuntu and CentOS containers with and without internet access.

[2021-09-10 13:26] mkyc commented on #2093
Also review supported network plugins.

[2021-09-10 16:08] to-bar opened #2572 "[BUG] Epiphany modifies /etc/sudoers"
**Describe the bug**
Unlike `/etc/sudoers`, the contents of `/etc/sudoers.d` survive system upgrades, so it's preferable to create files there than to modify `/etc/sudoers`.

More info:
https://askubuntu.com/questions/930768/adding-local-content-in-etc-sudoers-d-instead-of-directly-modifying-sodoers-fi/931207#931207

Epiphany modifies `/etc/sudoers` via the following files:
- roles\common\tasks\ep

[2021-09-10 16:24] to-bar opened #2573 "[BUG] [PostgreSQL] Upgrade fails when there is user-defined tablespace"
**Describe the bug**
Upgrade fails when there is user-defined tablespace:
[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Create Epiphany cluster with 2 postgresql nodes (with replication).
2. Run on standby node:
[code]
3. Run on primary node:
[code]

4. Run `epicli upgrade`.

**Expected behavior**
Upgrade succeeded.

**Environment**
- OS: Ubuntu 18.04

**Additional context**
htt

[2021-09-13 06:47] batus82 opened #2574 "[BUG] [Keycloak] [EPI 1.0.0] No resources request in yaml - PODS cannot initiate after any other pods installed on the same node"
As described in the topic - spotted on Epi 1.0.0
Keycloak pods were immediately going down and stuck in Init state after APM's pods are present on the same node.

Fixed by adding resource requests in Keycloak's statefulsets.apps for already deployed environemnt.

Please add the missing section to the installation yaml file.

---

**DoD checklist**

- Changelog
  - [ ] updated
  - [ ] not needed
-

[2021-09-13 07:58] mkyc commented on #2553
@AnnaKlank thanks for your PRs! 🎉

[2021-09-13 07:58] #2553 closed, assigned to nobody

[2021-09-13 09:47] przemyslavic opened #2575 "[BUG] epel-release package not available (access forbidden)"
**Describe the bug**
The link we use to download the `epel-release` package is currently unavailable (Forbidden).
`https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm`
[code]
This causes the installation of `RHEL`/`CentOS` clusters to fail downloading the requirements (https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/

[2021-09-13 11:01] przemyslavic commented on #2575
Fortunately the issue is gone. Closing.

[2021-09-13 11:01] #2575 closed, assigned to nobody

[2021-09-14 07:21] przemyslavic commented on #2527
Preflight check for PostgreSQL upgrade has been updated:
[code]

It works fine, tested both negative and positive cases.

[code]
[code]

[2021-09-14 07:25] przemyslavic commented on #2528
:heavy_check_mark: Fixed. Now the upgrade is run from `/var/lib/pgsql/upgrade/13/` / `/var/lib/postgresql/upgrade/13/` directories depending on the OS and scripts are created there.
`/var/log/postgresql` directory contains only log files.

[2021-09-14 08:15] rafzei opened #2577 "[SPIKE] Check if we can remove Istio from Epiphany"
**Is your spike related to a problem or idea? Please describe.**
Check if anyone using Istio

**Describe the outcome you'd like**
We would like to know if we can remove Istio from Epiphany

**What is the reason or source for the spike**
The source of this issue is #2456  and comment:
https://github.com/epiphany-platform/epiphany/issues/1931#issuecomment-846989413

**Additional context**
Other Isti

[2021-09-14 09:10] #2527 closed, assigned to przemyslavic, to-bar

[2021-09-14 09:14] plirglo commented on #2124
Please create backport to 1.0, 1.1 tasks.

[2021-09-14 09:16] #2124 closed, assigned to sbbroot

[2021-09-14 09:18] #1892 closed

[2021-09-14 09:18] przemyslavic opened #2578 "[FEATURE REQUEST] Update documentation on how to upgrade PostgreSQL"
**Is your feature request related to a problem? Please describe.**
Update documentation on how to upgrade PostgreSQL.
How to prepare before upgrading, what are the pre-conditions, preflight checks and so on.

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
*

[2021-09-14 09:20] #2558 closed, assigned to seriva

[2021-09-14 09:24] #2528 closed, assigned to przemyslavic, to-bar

[2021-09-14 09:35] #1861 closed

[2021-09-14 10:07] sbbroot opened #2579 "[BACKPORT][v1.0] Add Internet connection test to download-requirements.sh"

[2021-09-14 10:07] sbbroot opened #2580 "[BACKPORT][v1.1] Add Internet connection test to download-requirements.sh"

[2021-09-14 10:13] sbbroot opened #2581 "[FEATURE REQUEST] Apply private/protected convention for class members"
**Is your feature request related to a problem? Please describe.**
Currently we don't use private/protected (_|__) prefixes inside our Python code.

**Describe the solution you'd like**
We need to check which members can be changed to private/protected and add the prefix _ or __ if needed.

**Describe alternatives you've considered**
None.

**Additional context**
https://www.geeksforgeeks.org/acce

[2021-09-14 11:12] przemyslavic commented on #1296
Tested different values for `yes` / `no` option:
[code]
:heavy_check_mark: All values were correctly converted to booleans: `true` / `false`. Additionally 2 unit tests have been added.

[2021-09-14 12:33] przemyslavic opened #2583 "[BUG] Scaling up PostgreSQL may lead to data loss"
**Describe the bug**
Scaling up PostgreSQL from 1 to 2 clustered nodes may lead to data loss.
It depends on which node becomes the new primary. If it's the one node that was the only one before, it'll be okay.
If the primary node is a new node that joins the cluster, the data will not be available.

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy any cluster with 1 postgresql vm:
[

[2021-09-14 14:31] przemyslavic commented on #2271
:heavy_check_mark: It works fine for `apply` and `upgrade` mode.

❌ However this has broken the `init --full` command.
[code]

[2021-09-14 15:02] seriva commented on #2581
Pls put this form of the feature request templates we have.

[2021-09-15 07:04] rafzei commented on #631
@seriva this issue is to document how to enable Prometheus alerts or how to configure Alertmanager?
Some time ago I've added few basic alerts and documented it: https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/MONITORING.md#how-to-enable-provided-prometheus-rules
not sure if this issue is still valid.

[2021-09-15 07:08] seriva commented on #631
Looking at the history and what was added I think this is done:

![image](https://user-images.githubusercontent.com/11056665/133386964-781516a0-a8a2-409e-8074-4f39f5a57db5.png)

When I made this issue I removed some old invalid documentation and made this story to rewrite it which clearly has been done in the last 2 years:)

[2021-09-15 07:20] #631 closed

[2021-09-15 10:48] rafzei opened #2586 "[SPIKE] Monitoring component(Prometheus,Grafana) in HA"
**Is your spike related to a problem or idea? Please describe.**
The current monitoring component is only available in standalone mode.
At least Prometheus should be in HA in a production environment.

**Describe the outcome you'd like**
- check if there is a need to provide such functionality (eg. ask teams)
- check if we can use it as K8s apps

**What is the reason or source for the spike**
We d

[2021-09-16 07:20] przemyslavic commented on #2271
Fixed in #2588.

[2021-09-16 08:38] to-bar opened #2590 "[FEATURE REQUEST] Upgrade Ansible to 4.x (ansible-core 2.11)"
**Is your feature request related to a problem? Please describe.**
Ansible 2.10 doesn't have `split` filter, it was added in version 2.11 (see [PR](https://github.com/ansible/ansible/pull/73532)).

**Describe the solution you'd like**
Current Ansible version in `epicli` container, see https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html

**Additional context**
A

[2021-09-16 10:28] #2563 closed, assigned to przemyslavic

[2021-09-16 10:29] to-bar opened #2591 "[FEATURE REQUEST] Update OS cloud images to the latest"
**Is your feature request related to a problem? Please describe.**
Update Ubuntu 18.04-LTS/RHEL 7/CentOS 7 images used in the cloud to the latest version before releasing v1.2.0.

**Describe the solution you'd like**
Update Azure DevOps pipelines, documentation and epicli defaults.

Some files to be updated:

Azure:
https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/az

[2021-09-16 10:33] #2271 closed, assigned to przemyslavic, sbbroot

[2021-09-16 10:35] #1296 closed

[2021-09-16 10:57] rafzei commented on #1332
This task has to be done right after Spike #2529 in a way(s) described in the outcome of the Spike.

[2021-09-16 11:50] przemyslavic commented on #2591
Latest images as for today:

Azure
`Canonical:UbuntuServer:18.04-LTS:18.04.202109130`
`RedHat:RHEL:7-LVM:7.9.2021051701`
`OpenLogic:CentOS:7_9:7.9.2021071900`

AWS
`ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20210907`
`RHEL-7.9_HVM-20210208-x86_64-0-Hourly2-GP2` - currently used
`CentOS 7.9.2009 x86_64`  - currently used
`CentOS 7.9.2009 aarch64` - currently used

[2021-09-16 13:15] erzetpe opened #2592 "[FEATURE REQUEST] Update logical view of the architecture and c4 diagrams"
**Is your feature request related to a problem? Please describe.**
Right now our architecture logical view accessible at doesn't show some components:
https://github.com/epiphany-platform/epiphany/blob/develop/docs/architecture/logical-view.md
Also c4 diagrams are not showing our current state.

**Describe the solution you'd like**
We want to update architecture logical view and c4 diagrams to inc

[2021-09-16 13:35] erzetpe opened #2595 "[FEATURE REQUEST] Document connection protocols and ciphers"
**Is your feature request related to a problem? Please describe.**
Right now we have documented internally most of our secure  connection protocols.

**Describe the solution you'd like**
We want to update the list and find if anything from the protocols is missing for each of our component. We want also to include this in documentation accessible on github.

**Describe alternatives you've consider

[2021-09-16 13:59] erzetpe opened #2596 "[FEATURE REQUEST] Update template for new features with update security information."
**Is your feature request related to a problem? Please describe.**
We don't have a pointed related to security in template in task section. We want to have it to remember about updating SECURITY.md and other security related documentation.

**Describe the solution you'd like**
 Update template for new features with update security information.

**Describe alternatives you've considered**
None.

**

[2021-09-17 13:26] erzetpe opened #2597 "[FEATURE REQUEST] Ensure automatic PostgreSQL clusterization"
**Is your feature request related to a problem? Please describe.**
Right now we have an option to install multiple non clustered PostgreSQL clusters.

**Describe the solution you'd like**
We want to remove the possibility of installation multiple non clustered nodes for PostgreSQL and automatically cluster PostgreSQL servers if the number of nodes is higher than 1.

**Describe alternatives you've

[2021-09-20 07:17] sbbroot commented on #2497
Bug is in this function:
[code]

__path_to_file__ will always have a value of:
```"epiphany/core/src/epicli/cli/helpers/../../data/azure/defaults/epiphany-cluster.yml"```
such file does not exist.

Therefore in __load_file_from_path__ function __else__ statement will always be executed.
[code]
This leads to getting values from the:
```"epiphany/core/src/epicli/cli/helpers/../../data/common/default

[2021-09-20 07:41] przemyslavic commented on #2591
Updated defaults, documentation and pipelines.

[2021-09-21 07:56] rafzei opened #2600 "[FEATURE REQUEST] Change epicli output structure :weary:"
**Is your feature request related to a problem? Please describe.**
_I'm always frustrated when..._ reading epiphany log

**Describe the solution you'd like**
Get rid of unnecessary columns in log

**Our current log:**
[code]
The above can be acceptable in debug level (epicli [..] --debug ) 3 or 4

**What I wish to see as normal output:**
[code]

---

**DoD checklist**

* [x] Changelog updated
* [x

[2021-09-21 09:59] seriva commented on #2600
THe JSON log file output was original meant for the Epicli web interface but never used as we never started work on that.

So for this we should just output the plain text log as default as set by the ```--log-type``` flag and use that same flag to make the log output type configurable. If people still want JSON output they can then use ```--log-type json``` to get it.

I don`t think we should cha

[2021-09-21 10:51] plirglo opened #2602 "[BACKPORT][1.2] Fix postgres backup and recovery"
Merge #2598 into 1.2 branch.

---

**DoD checklist**

* [ ] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x] All convers

[2021-09-22 07:02] seriva commented on #2581
Not blocked, just on hold to finish stuff for 1.2.0 first.

[2021-09-22 11:11] przemyslavic commented on #1351
:heavy_check_mark: `Keycloak` deployment with 1 PostgreSQL node + `reapply`
:heavy_check_mark: `Keycloak` deployment with 2 clustered PostgreSQL nodes  + `reapply`
:heavy_check_mark: `Keycloak` deployment with 3 clustered PostgreSQL nodes  + `reapply`
:heavy_check_mark: `Keycloak` deployment with custom database config provided  + `reapply`

Tested both `develop` and `v1.2`.

[2021-09-22 12:02] rafzei opened #2606 "[BACKPORT][v1.1] Refactor Keycloak to work with Postgresql HA configuration"
Backport to v.1.1 branch https://github.com/epiphany-platform/epiphany/pull/2556

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [ ] Documentation added / up

[2021-09-22 12:03] rafzei opened #2607 "[BACKPORT][v1.0] Refactor Keycloak to work with Postgresql HA configuration"
Backport to v.1.0 branch #2556

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [ ] Idempotency tested
* [ ] Documentation added / updated / doesn't need to be updated
* [ ] All conve

[2021-09-22 12:30] rafzei commented on #2607
This should be done after all PR regarding Postgres13 are backported

[2021-09-22 12:30] rafzei commented on #2606
This should be done after all PR regarding Postgres13 are backported

[2021-09-22 13:10] rafzei opened #2608 "[FEATURE REQUEST] Upgrade HAProxy to the latest version (2.4)"
**Is your feature request related to a problem? Please describe.**
Our current HAProxy 2.2.2 has the following vulnerabilities:
- CVE-2021-39240
- CVE-2021-39242
- CVE-2021-39241

**Describe the solution you'd like**
Update to the latest version. 2.4 is the latest right now.

---

**DoD checklist**

- Changelog
  - [ ] updated
  - [ ] not needed
- COMPONENTS.md
  - [ ] updated
  - [ ] not needed
-

[2021-09-22 13:16] rafzei opened #2609 "[UPGRADE] Upgrade RabbitMQ to the latest version (3.9.6)"
**Is your feature request related to a problem? Please describe.**
Our current RabbitMQ 3.8.9 (both k8s and standalone) has the following vulnerabilities:
- CVE-2021-22116
-  CVE-2021-32718
- CVE-2021-32719

**Describe the solution you'd like**
 Update to the latest version. 3.9.6 is the latest right now.

---

**DoD checklist**

- Changelog
  - [ ] updated
  - [ ] not needed
- COMPONENTS.md
  - [

[2021-09-23 07:59] #1351 closed

[2021-09-23 08:03] #2591 closed, assigned to przemyslavic

[2021-09-23 12:32] mkyc commented on #2464
Detailed results are described in internal document.

General initial summary is following:
1. Kafka: MirrorMaker2.0
2. PostgreSQL: Repmgr Cascading Replication
3. Elastic Search/Open Distro for Elasticsearch: Cross Cluster Repliaction
4. RabbiitMQ: Federation Plugin
5. Ignite: not checked
6. Prometheus:  Thanos?
7. Kubernetes: Admiralty?

6, 7 requires more discussion before choosing solution.

L

[2021-09-23 20:05] przemyslavic commented on #2565
Tested backup and recovery for the following configuration:
:heavy_check_mark: 1 PostgreSQL node
:heavy_check_mark: 2 clustered PostgreSQL nodes
:heavy_check_mark: 3 clustered PostgreSQL nodes

Please note that the backup is made for the database `data`/`metadata` and the `* .conf` configuration files.
When running `recovery` command, only the data is restored. The configuration files should be re

[2021-09-23 20:07] przemyslavic commented on #2602
Tested similarly as #2565.

Tested backup and recovery for the following configuration:
:heavy_check_mark: 1 PostgreSQL node
:heavy_check_mark: 2 clustered PostgreSQL nodes
:heavy_check_mark: 3 clustered PostgreSQL nodes

Please note that the backup is made for the database `data`/`metadata` and the `* .conf` configuration files.
When running `recovery` command, only the data is restored. The conf

[2021-09-24 07:45] to-bar opened #2619 "[BUG] [RedHat] [PostgreSQL] [upgrade] Old and new PostgreSQL services enabled after upgrade"
**Describe the bug**

After upgrade two PG services are enabled:

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Run `epicli upgrade`

**Expected behavior**
Only one enabled PG service: `postgresql-13.service `

**Environment**
- Cloud provider: All
- OS: RHEL/CentOS

**Additional context**
n/a

---

**DoD checklist**

* [ ] Changelog updated (if affected version was released)
*

[2021-09-24 11:11] mkyc opened #2620 "[Epic] Kubernetes 1.18.x->1.22.x Upgrade"

[2021-09-24 13:05] to-bar opened #2622 "[BUG] [RedHat] [PostgreSQL] [upgrade] wrong repmgr service is running after rollback"
**Describe the bug**
When PostgreSQL upgrade fails rollback tasks are run. They should restore old PostgreSQL and repmgr services.

On CentOS after rollback:
[code]
Bug 1: missing repmgr service

[code]
Bug 2:  `repmgr13` service running instead of `repmgr10`

**How to reproduce**
Steps to reproduce the behavior:
1. Run `epicli upgrade` (modified Ansible code to simulate upgrade failure)

**Expect

[2021-09-24 13:06] mkyc commented on #2375
Main things to consider:
 - cost optimal
 - speed of restore

Check possible scenario with backup only repo machine.

Technology is to be defined.

[2021-09-24 13:18] to-bar opened #2623 "[BUG] [Ubuntu] [PostgreSQL] [upgrade] Incorrect config file used by repmgrd service after upgrade"
**Describe the bug**
After PostgreSQL upgrade repmgrd service uses incorrect config file, i.e. `/etc/postgresql/10/main/repmgr.conf` instead of `/etc/postgresql/13/main/repmgr.conf`

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Prepare config with 2 `postgresql` VMs and `replcation` enabled.
2. execute `epicli upgrade`

**Environment**
- OS: Ubuntu

**Additional context**
n/a

[2021-09-24 14:00] plirglo opened #2626 "[FEATURE] Add possibility to scale up PostgreSQL cluster"
**Is your feature request related to a problem? Please describe.**
Currently Epiphany does not support scaling up of PostgreSQL cluster. I think we should consider to add such option in v2.0

**Describe the solution you'd like**
Changing the number of PostgreSQL nodes extending database cluster without losing any database data

**Additional context**
We need to save working state and use it before

[2021-09-24 14:00] plirglo commented on #2583
Additionally created new feature request: #2626

[2021-09-24 18:49] to-bar commented on #2498
Upgrade succeeded for PGML dumps (pgml_repository, pgml_runtime).

[2021-09-27 07:07] przemyslavic commented on #2573
:heavy_check_mark: The upgrade was successful with user-defined tablespaces (1 master + 1 replica).

[2021-09-27 08:12] przemyslavic commented on #2583
As a workaround, an assertion has been added to prevent re-running the apply command if the number of PostgreSQL nodes has changed.

[2021-09-27 09:09] mkyc commented on #1306
Such information is presented in MOTD now (see #2628)

[2021-09-27 09:53] atsikham commented on #1306
Right, but only during login and there is no any upgrade history that @rafzei mentioned in description.

[2021-09-27 10:10] plirglo commented on #1577
Currently we support installation with one node machine, and several nodes (clustered), but not scalable. It's documented [here](https://github.com/epiphany-platform/epiphany/blob/v1.2/docs/home/howto/DATABASES.md#how-to-set-up-postgresql-ha-replication-with-repmgr-cluster)

Additionally created feature request to add such option (scaling up) do Epiphany: #2626

[2021-09-27 10:50] rafzei commented on #1124
Cannot reproduce, @przemyslavic if you face it one more time, please reopen and provide more details.

[2021-09-27 10:50] #1124 closed

[2021-09-27 11:08] rafzei commented on #1306
Yup, I think adding some ~/.version or ~/.epicli file containing that information would be a good solution here.

.epicli:
[code]

[2021-09-27 11:39] rafzei commented on #1574
The issue is still valid - checked on 1.3.0dev

[2021-09-27 12:05] atsikham commented on #2463
K8s part is splitted between "site mirroring" and "incremental sync" parts.

[2021-09-27 12:13] mkyc commented on #1306
Or `/etc/epiphany/version`. But yes, log would be much better.

[2021-09-27 13:18] przemyslavic commented on #2619
Fixed. Old PostgreSQL service is now disabled after upgrading.

[2021-09-27 13:20] przemyslavic commented on #2623
Fixed. New config file for `repmgr` service is used after upgrade.

[2021-09-27 16:21] przemyslavic commented on #2622
Fixed. `postgresql-10` and `repmgr10` services are enabled and running after the rollback procedure is performed.

[2021-09-27 20:42] przemyslavic commented on #2573
@atsikham
❌ However it fails when having only 1 PostgreSQL node:
[code]
Easy to reproduce on Azure.
Moving back to `in progress`😢.

[2021-09-27 20:59] przemyslavic opened #2634 "[BUG] [Ubuntu] [PostgreSQL] [upgrade] Unable to upgrade after rollback has been performed"
**Describe the bug**
Cannot upgrade PostgreSQL after rollback has been performed. The error is as follows:
`Unable to start service postgresql@13-main: Failed to start postgresql@13-main.service: Unit postgresql@13-main.service is masked`

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy an old (v1.1) PostgreSQL cluster (2 vms, replication enabled)
2. Add a task in the file `data/co

[2021-09-28 09:12] mkyc commented on #2623
@to-bar please create also PR to develop.

[2021-09-28 09:19] #2578 closed, assigned to seriva

[2021-09-28 09:22] mkyc commented on #2392
This is new functionality so we are not back porting it.

[2021-09-28 09:22] #2392 closed, assigned to nobody

[2021-09-28 09:25] #2514 closed, assigned to nobody

[2021-09-28 09:25] mkyc commented on #2514
This is new functionality so we are not back porting it.

[2021-09-28 09:25] mkyc commented on #2515
This is new functionality so we are not back porting it.

[2021-09-28 09:25] #2515 closed, assigned to nobody

[2021-09-28 09:26] mkyc commented on #2606
This is new functionality so we are not back porting it.

[2021-09-28 09:26] #2606 closed, assigned to nobody

[2021-09-28 09:26] mkyc commented on #2607
This is new functionality so we are not back porting it.

[2021-09-28 09:26] #2607 closed, assigned to nobody

[2021-09-28 09:26] #2503 closed, assigned to nobody

[2021-09-28 09:26] mkyc commented on #2503
This is new functionality so we are not back porting it.

[2021-09-28 09:26] mkyc commented on #2260
This is new functionality so we are not back porting it.

[2021-09-28 09:26] #2260 closed, assigned to nobody

[2021-09-28 09:27] #2374 closed, assigned to nobody

[2021-09-28 09:27] mkyc commented on #2491
it works again.

[2021-09-28 09:27] #2491 closed, assigned to nobody

[2021-09-28 09:30] #2602 closed, assigned to przemyslavic

[2021-09-28 09:33] #2565 closed, assigned to przemyslavic, plirglo

[2021-09-28 09:36] #2464 closed, assigned to erzetpe, atsikham, rafzei, sbbroot

[2021-09-28 09:54] rafzei commented on #2354
I cannot reproduce it with develop and 1.0.1 version. I'm closing it. If you face this issue one more time please reopen.

[2021-09-28 09:54] #2354 closed, assigned to nobody

[2021-09-28 16:56] przemyslavic commented on #2573
:heavy_check_mark: Fixed in #2635.
Tested 1-node and 2-node clustered installation (upgrade).

[2021-09-28 18:48] przemyslavic commented on #2634
:heavy_check_mark: Fixed. Tested upgrades on 1- and 2-nodes clusters.

[2021-09-28 18:53] przemyslavic commented on #2562
:heavy_check_mark: The tests have been adjusted to support a multi-node (+2) installation.
Tested single machine and a 3-node cluster.
Additionally, the functionality has been introduced so that the tests are run first on the master (on which the tables are created, etc.) and then on standby nodes :heart:

[2021-09-29 07:56] rafzei commented on #2153
I believe this can be closed since we already have issues:
 - For implementing ILM: https://github.com/epiphany-platform/epiphany/issues/2441
 - For implementing Curator: https://github.com/epiphany-platform/epiphany/issues/2423

[2021-09-29 08:20] rafzei commented on #958
@przemyslavic it's still valid? can you provide some details?

[2021-09-29 12:32] rafzei commented on #2423
@to-bar @mkyc
After some discussion with the internal team, it turned out that they are already using ISM for ODFE and Curator is only required to manage policies via cli tool. I've pointed them that ISM has an API for this purpose and it's easy to implement in ci/cd (They didn't know about the API).

IMO we can close this issue and create new one to implement some default policies using that API.

[2021-09-29 19:07] seriva opened #2643 "[FEATURE REQUEST] Restructure Epicli project folder"
**Is your feature request related to a problem? Please describe.**
Currently the core of the project "Epicli" lives in /core/src/epicli with the idea that this would extended with different additional projects. However as we now know we will transition to modules down the line. This setup does not make it very intuitive to work with as the devcontainer needs to be opened in /core/src/epicli and fo

[2021-09-30 08:02] #2583 closed, assigned to przemyslavic, plirglo

[2021-09-30 08:07] #2573 closed, assigned to atsikham, przemyslavic

[2021-09-30 08:09] #2634 closed, assigned to przemyslavic, plirglo

[2021-09-30 08:20] rafzei opened #2644 "[BUG] Add validation to check hostnames for on-prem deployment"
**Describe the bug**
Deployment on-prem cluster failed due to the wrong hostname format.

[code]

Check validations for _provider: any_
currently, we have (https://github.com/epiphany-platform/epiphany/blob/develop/schema/any/validation/infrastructure/machine.yml):
[code]
Proposal is to use the above regex as a pattern

**Expected behavior**
Validation should find wrong hostnames just before clust

[2021-09-30 12:43] atsikham opened #2649 "[FEATURE REQUEST] Create automated tests for Postgres with user-defined tablespaces"
**Is your feature request related to a problem? Please describe.**
Fix done in #2573 is not covered by automated tests.

**Describe the solution you'd like**
Tests are created

**Describe alternatives you've considered**
None

**Additional context**
None

---

**DoD checklist**

- Changelog
  - [ ] updated
  - [ ] not needed
- COMPONENTS.md
  - [ ] updated
  - [ ] not needed
- Schema
  - [ ] updat

[2021-09-30 15:10] mkyc commented on #2463
Detailed results are described in internal document. This task findings correspond with #2464.

General summary is following:
1. Kafka: MirrorMaker2.0 (same as for incremental)
2. PostgreSQL: Repmgr Cascading Replication (same as for incremental)
3. Elastic Search/Open Distro for Elasticsearch: Cross Cluster Repliaction (same as for incremental)
4. RabbiitMQ: Federation Plugin (same as for increme

[2021-10-01 10:23] to-bar commented on #2423
@rafzei IMO we should:
1) Spike ISM against a real Filebeat use case, which was covered by Curator in the past as follows:
[code]
2) If ISM is able to handle the use case, then we can close this task and implement ISM instead of Curator. Otherwise, this task is still valid.

[2021-10-01 10:26] romsok24 opened #2653 "[BUG] Epicli is failing in air-gapped infra mode"
**Describe the bug**

When you follow the instructions described [in this EPI user guide](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-create-an-epiphany-cluster-on-existing-air-gapped-infrastructure) the deployment is failing at the task:
`TASK [preflight_facts : PREFLIGHT_FACTS | Decide what should be repository url]`
with the folowing error:
[code

[2021-10-01 12:07] to-bar commented on #2153
Let's start with spiking use case from [this comment](https://github.com/epiphany-platform/epiphany/issues/2423#issuecomment-932107778). Then we should be able to decide whether just ISM will meet our needs or we need Curator (for Filebeat) and ISM could be used optionally for non-Filebeat indices. From theese 3 solutions (ISM, Curator, ILM) we will probably not implement ILM. I see rather ISM or

[2021-10-01 16:16] to-bar commented on #2562
Ported to `develop` in #2654

[2021-10-01 16:16] to-bar commented on #2562
Ported to `develop` in #2654

[2021-10-01 16:17] to-bar commented on #2623
Ported to `develop` in #2654

[2021-10-01 16:17] to-bar commented on #2622
Ported to `develop` in #2654

[2021-10-01 16:18] to-bar commented on #2619
Ported to `develop` in #2654

[2021-10-01 18:07] to-bar opened #2655 "[FEATURE REQUEST] [PostgreSQL] Add "repmgr node check" to upgrade preflight checks and auto-tests"
**Is your feature request related to a problem? Please describe.**
In PostgreSQL upgrade preflight checks we run `repmgr cluster show` command to assert that PostgreSQL cluster is healthy.
However, we need to also run `repmgr node check` command on each node to ensure expected state.

For example issues with replication lag or WAL archiving are not detected now:

[code]

[code]

**Describe the sol

[2021-10-01 18:48] to-bar opened #2656 "[BUG] [PostgreSQL] WAL files are not removed from $PGDATA/pg_wal directory"
**Describe the bug**
Before version 1.2.0 (PostgreSQL 13) we had set `archive_command` parameter to `'test ! -f /dbbackup/{{ inventory_hostname }}/backup/%f && gzip -c < %p > /dbbackup/{{ inventory_hostname }}/backup/%f'`.

Till version 1.1.0 this was OK since we had the task for creating target directory for WAL files to be archived:
[code]

In version 1.1.0 the above task has been removed but wi

[2021-10-01 18:58] to-bar commented on #2498
Tests succeeded using dump with 13 GB database. However, during testing I found a bug #2656.
Moreover, we need additional preflight check (e.g. for Vagrant env after restoring VMs from snapshot), issue #2655.

[2021-10-04 07:32] atsikham commented on #1974
Documentation was updated, It's possible to use Azure files.
https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/PERSISTENT_STORAGE.md

[2021-10-04 10:09] atsikham commented on #776
In my opinion we can do this configurable but we shouldn't limit user with defaults. Moreover, users can do that themselves and it's supposed that epicli apply/upgrade will not touch that part.

[2021-10-04 10:44] atsikham opened #2657 "[BUG] Cannot delete Pods not managed by ReplicationController, ReplicaSet, Job, DaemonSet or StatefulSet"
**Describe the bug**
Upgrade fails when there is at least 1 unmanaged pod

**How to reproduce**
Steps to reproduce the behavior:
1. install k8s cluster
2. create a single pod
3. upgrade k8s cluster

[code]

**Expected behavior**
There is a _preflight check_ to inform the user about such pods. After a user makes all preparations for theirs pods and stops them, upgrade is successful.

**Config files

[2021-10-04 10:54] atsikham opened #2658 "[FEATURE REQUEST] Upgrade Kubernetes to 1.20.x"
**Is your feature request related to a problem? Please describe.**
Upgrade K8s to 1.20.x to be able to perform future upgrades.

**Describe the solution you'd like**
Upgrade K8s to 1.20.x with dependencies: CNI plugins, dashboard, etc. Check [release notes](https://v1-20.docs.kubernetes.io/docs/setup/release/notes/) for that, deprecated things should be removed/updated.

**Additional information**

[2021-10-04 10:56] atsikham opened #2659 "[FEATURE REQUEST] Upgrade Kubernetes to 1.21.x"
**Is your feature request related to a problem? Please describe.**
Upgrade K8s to 1.21.x to be able to perform future upgrades.

**Describe the solution you'd like**
Upgrade K8s to 1.21.x with dependencies: CNI plugins, dashboard, etc. Check [release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md) for that, deprecated things should be removed/updated.

**Ad

[2021-10-04 10:57] atsikham opened #2660 "[FEATURE REQUEST] Upgrade Kubernetes to 1.22.x"
**Is your feature request related to a problem? Please describe.**
Upgrade K8s to 1.22.x to be able to perform future upgrades.

**Describe the solution you'd like**
Upgrade K8s to 1.22.x with dependencies: CNI plugins, dashboard, etc. Check [release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md) for that, deprecated things should be removed/updated.

**Ad

[2021-10-04 12:53] atsikham opened #2661 "[Docs] Update K8s documentation according to the latest version Epiphany supports"
**Is your feature request related to a problem? Please describe.**
After completion some of tasks related to K8s upgrade - #2093, #2658, #2659, #2660 it's necessary to check if K8s documentation we have is up-to-date. This task includes verifying what's changed in those tasks + additional updates.

**Describe the solution you'd like**
Update documentation.

**Describe alternatives you've considere

[2021-10-04 12:58] przemyslavic commented on #2580
:heavy_check_mark: Network connectivity tests have been added for the following tools:
- `apt`
- `yum`
- `crane`
- `curl`
- `wget`

Tested automatically in the pipelines and locally in Ubuntu and CentOS containers with and without internet access.

[2021-10-04 13:04] atsikham opened #2662 "[FEATURE REQUEST] Refactor K8s roles"
**Is your feature request related to a problem? Please describe.**
The idea of this task is to have K8s-related tasks decoupled from other ones. For PostgreSQL we already have `preflight` and  `upgrade` tasks in one place.

**Describe the solution you'd like**
Plan and refactor K8s roles.

**Describe alternatives you've considered**
-

**Additional context**
- Related K8s roles: `kubernetes_*`.
-

[2021-10-04 13:22] atsikham commented on #2523
The result of this spike is combining of related tasks into one Epic - https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/2620

Besides existing tasks, new ones were created:

#2657 - Add additional preflight check for upgrade
#2093 - Renamed to "Upgrade Kubernetes to 1.19.x"
#2658 - Upgrade Kubernetes to 1.20.x
#2659 - Upgrade Kubernetes

[2021-10-04 13:36] mkyc commented on #2523
Thanks @atsikham. LGTM.

[2021-10-05 08:16] przemyslavic commented on #2579
:heavy_check_mark: Network connectivity tests have been added for the following tools:
- `apt`
- `yum`
- `crane`
- `curl`
- `wget`

Tested automatically in the pipelines and locally in Ubuntu and CentOS containers with and without internet access.
Works fine after adding a few fixes.

[2021-10-05 09:09] #2396 closed, assigned to rafzei

[2021-10-05 09:16] #2498 closed, assigned to przemyslavic, to-bar

[2021-10-05 09:17] #2623 closed, assigned to przemyslavic, to-bar

[2021-10-05 09:18] #2622 closed, assigned to przemyslavic, to-bar

[2021-10-05 09:18] #2619 closed, assigned to przemyslavic, to-bar

[2021-10-05 09:32] przemyslavic commented on #2480
✔️ `_merge` parameter has been introduced for named lists. If not provided or set to false (by default), the user must provide all list items as it will override the defaults. If set to true, the values provided by the user will be merged with the defaults.

[2021-10-05 09:42] przemyslavic commented on #2478
✔️ Schema validation has been added (and updated after backporting) for yaml files.
Additionally all `'y', 'Y', 'yes', 'Yes', 'YES'` / `'n', 'N', 'no', 'No', 'NO'` values are converted to booleans: `true/false`.

[2021-10-05 14:04] przemyslavic commented on #2479
✔️ `_merge` parameter has been introduced for named lists. If not provided or set to false (by default), the user must provide all list items as it will override the defaults. If set to true, the values provided by the user will be merged with the defaults.

[2021-10-06 07:08] romsok24 opened #2665 "Add Kubernetes prereqs to epicli preflight checks"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when the installation of Epicli gets interrupted by two VM-related problems described below
when runing on the VM with default setup.
It is annoying, because it disturbs the k8s installation at the phase when it needs complete cleaning up to continuue
in order not to drop into another problem described in this issue.

[2021-10-06 07:12] seriva opened #2666 "[FEATURE REQUEST] Project re-structure part 2"
**Is your feature request related to a problem? Please describe.**
In our current setup we have a 2 stage build for the **Epicli** container. The first stage builds a Python package of **Epicli** which is then installed in the second stage inside the final docker image. This introduces a few issues:

- Builds of the container take longer.
- We have some of our code in the **_/data/_** folder  whic

[2021-10-06 07:31] atsikham commented on #2665
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin

[2021-10-06 08:21] romsok24 opened #2668 "[FEATURE REQUEST] Always GENERATE a new password for Ansible-vault"
**Is your feature request related to a problem? Please describe.**
Restarting the epicli installation process keeps the old ansible-vault password stored in the file
even though it asks for a new password at the very beginning of the process.

So if one will fall into temptation of generating **a new** password then the installation process will fail with the error described below.

**Describe the

[2021-10-06 08:30] romsok24 opened #2669 "[BUG] Restarting the installation process can cause certificate problems if K8s was not fully configured"
**Describe the bug**
When reruning the epicli installation process one can fail with this error:
[code]

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli init ... (with params)`
2. if the installation from step on 1 will fail in between of kubernetes component creation - execute the step no 1 again

**Expected behavior**
On epicli preflight phase there should be a task to c

[2021-10-06 10:04] przemyslavic commented on #2477
✔️ Schema validation has been added (and updated after backporting) for yaml files.
Additionally all `'y', 'Y', 'yes', 'Yes', 'YES'` / `'n', 'N', 'no', 'No', 'NO'` values are converted to booleans: `true/false`.

[2021-10-06 10:34] atsikham commented on #2669
@romsok24 is that a constant issue? On which step it failed during the first run? May be an investigation needed when it occurs.

We have a [possibility](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/CERTIFICATES.md) to re-generate certificates. Someone could have custom validity period, I think pki folder should not be cleaned up each time for apply.

[2021-10-06 12:01] to-bar opened #2672 "[PoC] Write PostgreSQL spec tests using Testinfra to compare with Serverspec"
**Is your spike related to a problem or idea? Please describe.**
1) Serverspec has no integration with Ansible - inventory is parsed by additional Ruby code (spec_helper.rb)
2) Running remote commands (in order to gather facts) inside a test is not supported. Instead "external" methods are used (which is not convenient) which use lower level calls (e.g. `Specinfra.backend.run_command` or `Net::SSH

[2021-10-06 12:14] seriva commented on #2581
Looked at a bunch of high profile projects like Azure-CLI etc, and these do not seem to abide these practices. For now I will close it I think the time can be spend on improving more important things in the python code base.

[2021-10-06 12:14] #2581 closed, assigned to seriva

[2021-10-06 13:58] przemyslavic commented on #2505
:heavy_check_mark: Docker reverted to v19.03.14.
Tested on `Ubuntu`/`RHEL`/`CentOS` (branches v1.0 and v1.1)

[2021-10-07 08:28] #2463 closed, assigned to erzetpe, atsikham, rafzei, sbbroot

[2021-10-07 08:31] seriva opened #2675 "[SPIKE] Check site mirroring and incremental sync for Ignite"
Research the same as done for other components in spikes: #2463, #2464.

---

**DoD checklist**

* [ ] Reader is able to understand the results of spike
* [ ] The results of the spike are presented in a table (to show simply what are compared or researched parameters) / not applicable
* [ ] Each value / cell in the results table is described more deeply below
* [ ] Demo of the spike (automated as

[2021-10-07 08:35] #2564 closed, assigned to przemyslavic

[2021-10-07 08:40] #2505 closed, assigned to atsikham, przemyslavic

[2021-10-07 08:41] #2479 closed, assigned to seriva, przemyslavic

[2021-10-07 08:41] #2477 closed, assigned to seriva, przemyslavic

[2021-10-07 08:42] #2480 closed, assigned to seriva, przemyslavic

[2021-10-07 08:42] #2478 closed, assigned to seriva, przemyslavic

[2021-10-07 08:43] #2579 closed, assigned to sbbroot

[2021-10-07 08:43] #2580 closed, assigned to przemyslavic, sbbroot

[2021-10-07 08:46] #2523 closed, assigned to atsikham

[2021-10-07 10:07] atsikham commented on #106
Output of this spike:
* Molecule tests for PostgreSQL apply part
* Demo - [Molecule.pdf](https://github.com/epiphany-platform/epiphany/files/7301599/Molecule.pdf)

[2021-10-07 11:24] przemyslavic commented on #2551
:heavy_check_mark: 22 unit tests have been added for build saver (15) and data loader (7).
Several fixes made by @seriva in https://github.com/epiphany-platform/epiphany/pull/2671/commits/24dc8852c1a032e3c3eb13084516cf900ec23446

[2021-10-07 12:42] przemyslavic commented on #1487
@sbbroot
1. Missing documentation.
2. In my opinion, this PR does basically nothing. It just downloads a single json file. And it certainly does not give us the opportunity to monitor rabbitmq.
I provided the configuration for grafana dashboards:
[code]
and all I could see was the empty dashboard with no data.

To enable monitoring I had to manually:
- enable plugin responsible for exposing all ra

[2021-10-07 13:12] przemyslavic commented on #2643
Tested together with #2666 (part 2).

[2021-10-07 13:17] przemyslavic commented on #2666
:heavy_check_mark: Successfully deployed `Ubuntu`/`RHEL`/`CentOS` clusters with all components enabled in the pipeline. Additionally, unit tests and spec tests were executed. Also tested in devcontainer.

[2021-10-07 13:46] romsok24 commented on #2669
Failing ansible task is:  TASK [kubernetes_common : Update in-cluster configuration]

IMO - the failure is not related to the code but to the fact, that - as I wrote - part of the certs in `/etc/kubernetes/pki/` are signed with the cA cert from the previous run and the other with the current one.

Cleaning this folder would be probably a good solution for this.

[2021-10-07 13:51] przemyslavic commented on #2494
:heavy_check_mark: After logging in, Epiphany version is displayed. There are no more duplicate messages.
Tested on `Ubuntu`, `RHEL` and `CentOS`.
[code]

[2021-10-08 08:21] #1974 closed

[2021-10-08 08:24] #2551 closed, assigned to erzetpe

[2021-10-08 08:27] #2666 closed, assigned to seriva, przemyslavic

[2021-10-08 08:28] #2643 closed, assigned to seriva, przemyslavic

[2021-10-08 08:31] #2494 closed, assigned to atsikham, przemyslavic

[2021-10-08 08:46] #2562 closed, assigned to seriva, przemyslavic

[2021-10-08 08:51] #2249 closed, assigned to nobody

[2021-10-08 09:02] mkyc commented on #2657
This will have to back ported.

[2021-10-08 09:10] mkyc commented on #2535
Consider if we want to use GitHub Actions.

[2021-10-08 09:12] mkyc commented on #1176
Consider using GitHub Actions.

[2021-10-08 09:12] mkyc commented on #2536
Consider using GitHub Actions.

[2021-10-08 09:13] mkyc commented on #2559
Consider using GitHub Actions.

[2021-10-08 09:17] mkyc commented on #2656
should also be back ported when finished, but only to 1.1

[2021-10-08 10:10] seriva commented on #2547
@przemyslavic When testing this pls also run one upgrade. Not only for this but also #2643 and #2666.

[2021-10-08 10:40] mkyc opened #2678 "[EPIC] Ansible and CLI re-design PoC"
https://github.com/epiphany-poc

[2021-10-08 10:41] mkyc opened #2679 "[PoC] create fake PoC organization"
Probably something named "epiphany-platform-sandbox". Add @mkyc @to-bar and @seriva as owners.

[2021-10-08 10:41] atsikham opened #2680 "Remove PgBouncer standalone installation"
**Is your feature request related to a problem? Please describe.**
We say in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/DATABASES.md#how-to-set-up-postgresql-connection-pooling) that PgBouncer standalone installation is deprecated and will be removed.

**Describe the solution you'd like**
1. Remove ability to specify this setting in configuration, mo

[2021-10-08 10:41] mkyc opened #2681 "[PoC] create 3 repositories for collections"
As agreed we are going to test scenario with following collections:
 - kubernetes
 - postgresql
 - elastic stack or prometheus

So such three repositories should be created

[2021-10-08 10:42] mkyc opened #2682 "[PoC] create initial structure of directories for collections"
Each collection repository should have at least two roles directories initialised with `ansible-galaxy init` command:
 - apply
 - upgrade

[2021-10-08 10:42] mkyc opened #2683 "[PoC] have download role in each repository"
We should also add `download` role to each collection and as tasks progresses (around #2693) we will probably exclude this role to separate collection.

[2021-10-08 10:43] mkyc opened #2684 "[PoC] create repository for fake epicli"

[2021-10-08 10:43] mkyc opened #2685 "[PoC] create playbooks structure in fake epicli repo"
most probably we want to have at least following playbooks:
 - apply
 - upgrade

Not sure if we should have "default requirements" thing at this stage.

[2021-10-08 10:44] mkyc opened #2686 "[PoC] create requirements.yml file(s) in epicli repo"

[2021-10-08 10:44] mkyc opened #2687 "[PoC] create Dockerfile in epicli repo"

[2021-10-08 10:45] mkyc opened #2688 "[PoC] create some mockup code in collections repositories"

[2021-10-08 10:45] mkyc opened #2689 "[PoC] ensure that each role has some meaningful defaults"

[2021-10-08 10:46] mkyc opened #2690 "[PoC] investigate how we are going to overwrite defaults on epicli level"

[2021-10-08 10:46] mkyc opened #2691 "[PoC] investigate preparation of configuration for "init --full" scenario"

[2021-10-08 10:47] mkyc opened #2692 "[PoC] introduce molecule tests into roles"

[2021-10-08 10:48] mkyc opened #2693 "[PoC] prepare structure for repository-package mapping"
This is a task where we reorganise "download" role and most probably:
 - create separate collection with download role
 - have some common structure in each role to be injected as a config to that download role

[2021-10-08 10:49] mkyc opened #2694 "[PoC] check how to exact previous version of role for upgrade tests"
in molecule upgrade tests, we need to:
 - check if that is possible to use some role in specific version as dependency
 - asses if that makes any sense to release "role docker image" per version to use it later in upgrade testing

[2021-10-08 10:49] mkyc opened #2695 "[PoC] consider moving variables generation / merging to ansible plugin"

[2021-10-08 11:43] mkyc commented on #2682
My personal opinion that in this step we should also add `download` role to each collection and as tasks progresses (around #2693) we will probably exclude this role to separate collection.

[2021-10-08 11:55] przemyslavic commented on #1743
Tested `epicli init`, `epicli init --full` and `epicli apply` for `any` provider and it works fine when testing exactly this PR.
However, the current develop is broken.
To reproduce:
1. Execute `epicli init -p any -n anytest`
2. Execute `epicli apply -f anytest.yml`
[code]

I suppose that got broken in #2497 (PR #2599). @seriva could you please confirm so we can proceed with this task and then I'l

[2021-10-08 11:56] mkyc commented on #2686
This task should actually be probably done after #2688

[2021-10-08 11:57] mkyc commented on #2687
This task should probably be done after #2688

[2021-10-08 11:59] mkyc commented on #2689
This taks is heavily related to #2688

[2021-10-08 12:08] mkyc commented on #2695
This is low priority at current stage in my opinion.

[2021-10-08 12:22] przemyslavic commented on #2497
PR #2652 is still in progress so this is definitely not ready for testing.
Additionally during testing another task I found an [issue ](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/1743#issuecomment-938582270)when deploying cluster for `any` provider.

To reproduce:
1. Execute `epicli init -p any -n anytest`
2. Execute `epicli apply

[2021-10-08 13:24] mkyc commented on #2375
@rafzei @romsok24 as discussed this task should be coordinated with #2512

[2021-10-08 13:37] atsikham commented on #2644
There are already similar [validations](https://github.com/epiphany-platform/epiphany/blob/develop/schema/common/validation/epiphany-cluster.yml) that can be used as example. I remember that I did something similar and it worked for sure - https://github.com/epiphany-platform/epiphany/pull/1814/files.

Also check [this](http://json-schema.org/understanding-json-schema/reference/regular_expressions

[2021-10-11 08:59] seriva commented on #1743
Yeah this is the result of the changes in #2497

[2021-10-11 08:59] seriva commented on #2497
Added a fix so we can move forward with testing: #2677

[2021-10-11 09:10] rafzei opened #2698 "[FEATURE REQUEST] :bookmark_tabs: Create CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
People don't really know how to contribute.

**Describe the solution you'd like**
Create CONTRIBUTING.md [(example)](https://github.com/github/docs/blob/main/CONTRIBUTING.md) as a how-to guide
Add in README.md the link and info that we are open to new contributors.

**Additional context**
Consider creating [CODE_OF_CONDUCT.md](http

[2021-10-11 09:51] rafzei opened #2699 "[UPGRADE] Upgrade Grafana to the latest version"
**Is your feature request related to a problem? Please describe.**
Grafana's team doesn't directly specify EOL but there are few CVE's in our current version:

- [CVE-2021-39226](https://nvd.nist.gov/vuln/detail/CVE-2021-39226)
- [CVE-2020-27846](https://nvd.nist.gov/vuln/detail/CVE-2020-27846)
- [CVE-2021-27358](https://nvd.nist.gov/vuln/detail/CVE-2021-27358)
- [CVE-2021-28148](https://nvd.nist.

[2021-10-11 09:55] rafzei opened #2700 "[UPGRADE] Upgrade Prometheus to v2.31.1 and Alertmanager to v0.23.0"
**Is your feature request related to a problem? Please describe.**
Upgrade Prometheus and Alertmanager to the latest version:
- Prometheus  [2.31.1](https://github.com/prometheus/prometheus/releases/tag/v2.31.1)
- Alertmanager  [0.23.0](https://github.com/prometheus/alertmanager/releases/tag/v0.23.0)

Check if there are any breaking changes we should take care of when upgrading.

**Additional cont

[2021-10-11 22:09] atsikham commented on #2660
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/#migration-from-old-kubeadm-config-versions

[2021-10-12 09:03] #1743 closed, assigned to seriva, przemyslavic

[2021-10-12 09:25] mkyc commented on #1332
This task looks like it should be done in next quarter, not now.

[2021-10-12 09:46] rafzei opened #2701 "[FEATURE REQUEST] Epicli prepare - generate files in separate directory"
**Is your feature request related to a problem? Please describe.**
`epicli prepare` overwriting target directory

**Describe the solution you'd like**
It should generate os-specific directory name eg.:
- prepare_script_centos7
- prepare_script_rhel7
- prepare_script_ubuntu18

**Describe alternatives you've considered**
Add a new _optional_ argument to specify target directory.
eg.
epicli prepare -

[2021-10-13 12:53] atsikham opened #2702 "[FEATURE REQUEST] Use state flag file in K8s upgrades"
**Is your feature request related to a problem? Please describe.**
At the moment kubernetes upgrade tasks are executed even if upgrade steps were already completed. For example, for Kafka we [use](https://github.com/epiphany-platform/epiphany/blob/b19ae4dbb0ddb52a1bbb00646f462045de79798e/ansible/playbooks/roles/upgrade/tasks/kafka.yml#L31) a flag file to achieve that, but for K8s there is only a [

[2021-10-13 13:00] atsikham opened #2703 "[FEATURE REQUEST] Add tests for docker and kubelet cgroup driver"
**Is your feature request related to a problem? Please describe.**
Epicli sets `systemd` cgroup driver for docker and kubelet after fix #1988. But it's not covered by tests.

**Describe the solution you'd like**
Add tests for kubelet and docker cgroup driver configuration.

**Describe alternatives you've considered**

-

**Additional context**
https://github.com/epiphany-platform/epiphany/blob/dev

[2021-10-13 13:42] atsikham opened #2704 "[SPIKE] One approach for kubelet configuration"
**Is your spike related to a problem or idea? Please describe.**
At the moment we edit kubelet's config.yaml directly to specify values [[1](https://github.com/epiphany-platform/epiphany/blob/b19ae4dbb0ddb52a1bbb00646f462045de79798e/ansible/playbooks/roles/kubernetes_master/defaults/main.yml#L15)] [[2](https://github.com/epiphany-platform/epiphany/blob/b19ae4dbb0ddb52a1bbb00646f462045de79798e/ansi

[2021-10-14 07:27] atsikham commented on #1668
Changelog was not updated as this version depends on the version of Kubernetes and they will be changed together in future upgrades.

[2021-10-14 07:56] #2679 closed, assigned to seriva

[2021-10-14 07:57] #2681 closed, assigned to seriva

[2021-10-14 08:57] mkyc commented on #1331
We should discuss here again if we should support automatic upgrade from 18.04 to 20.04.

[2021-10-14 09:27] to-bar commented on #2529
Related issue: #2572

[2021-10-14 09:30] przemyslavic commented on #2600
Added the possibility to save log files as `plain` text (by default), not just `json` (as it was before) and this can be controlled by the `--log-type` flag.
The output format can be modified with the `--log-format` and `--log-date-format` flags.

[2021-10-14 11:19] przemyslavic opened #2706 "[FEATURE REQUEST] Upgrade Terraform to at least v0.12.31"
**Is your feature request related to a problem? Please describe.**
Currently we use Terraform v0.12.6.
This version of Terraform has an outdated GPG key and is unable to verify new provider releases.
[HCSEC-2021-12 - Codecov Security Event and HashiCorp GPG Key Exposure](https://discuss.hashicorp.com/t/hcsec-2021-12-codecov-security-event-and-hashicorp-gpg-key-exposure/23512)

[code]

---

**DoD c

[2021-10-14 11:37] seriva commented on #2706
This would also be a good one to move away from the https://github.com/epiphany-platform/terraform-bin installation and just install it straight in the (dev)container.

[2021-10-14 12:57] przemyslavic commented on #2497
The default user for `AWS` should be `Ubuntu`.
https://github.com/epiphany-platform/epiphany/blob/develop/schema/aws/defaults/epiphany-cluster.yml#L9

https://github.com/epiphany-platform/epiphany/blob/develop/schema/aws/defaults/configuration/minimal-cluster-config.yml#L9

And which user should be default for `any` provider?

[2021-10-14 13:05] seriva commented on #2497
Updated pull for #2677 with ubuntu user for AWS.

[2021-10-14 14:57] przemyslavic opened #2707 "[BUG] Logging component backup fails"
**Describe the bug**
I'm not able to backup the logging component.
It fails when checking cluster health:
[code]
[code]

When executed directly on the logging vm:
[code]

This is due to removal of the demo certificates and now `epiphany-admin-key.pem` and `epiphany-admin.pem` should be used instead of `kirk-key.pem` and `kirk.pem` which don't exist.
[code]
[code]

Additionally, at this point, we o

[2021-10-15 06:46] rafzei commented on #2512
Faced an issue with pulp_deb plugin in the latest released version, reported to team: [link](https://pulp.plan.io/issues/9505?issue_count=44&issue_position=1&next_issue_id=9290)

[2021-10-15 07:14] przemyslavic commented on #2497
:heavy_check_mark: Fixed. Now a different default configuration is used for each `provider`.

[2021-10-15 07:16] przemyslavic commented on #2547
The following `epicli` commands have been tested:
✔️ `init` (`--full`)
✔️`apply` + re-`apply`
✔️`backup`
✔️`recovery`
✔️`prepare`
✔️`test`
✔️`upgrade` from v1.1 to dev
✔️`delete`

[2021-10-15 16:11] to-bar commented on #2682
Useful link: https://docs.ansible.com/ansible/devel/dev_guide/developing_collections_structure.html#collection-structure

Roles in a collection cannot contain plugins any more. Plugins must live in the collection plugins directory tree. Each plugin is accessible to all roles in the collection.

[2021-10-15 16:44] to-bar commented on #2682
Roles in a collection cannot contain plugins any more. Plugins must live in the collection plugins directory tree. Each plugin is accessible to all roles in the collection.

[2021-10-15 20:16] przemyslavic opened #2712 "[FEATURE REQUEST] Create a pipeline for automatic testing of backup and recovery feature"
**Is your feature request related to a problem? Please describe.**
Create a pipeline for automatic testing of backup and recovery of supported components.

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] app

[2021-10-18 08:24] przemyslavic commented on #1068
I am not able to reproduce with the latest `epicli` version. If the error occurs again, a new issue  will be created.

[2021-10-18 08:24] przemyslavic commented on #1086
I am not able to reproduce with the latest `epicli` version. If the error occurs again, a new issue  will be created.

[2021-10-18 10:37] rafzei commented on #2423
We should check if ISM policies allow rotating logs to keep a specific amount of free disk size

[2021-10-18 10:39] mkyc commented on #2423
Yeah, for me most default configuration would be: "ensure that there is 2GB space left".

[2021-10-18 12:30] przemyslavic commented on #1587
:heavy_check_mark: Fixed in Kubernetes v1.19

[2021-10-18 12:31] przemyslavic commented on #1668
:heavy_check_mark: `kubernetes-cni` package updated to v0.8.7 (tested `epicli apply` and `epicli upgrade` commands)

[2021-10-18 13:10] przemyslavic commented on #2454
:heavy_check_mark: Tested `epicli apply` and `epicli upgrade` from v1.1.0 to v1.3.0dev

[2021-10-19 07:55] #2703 closed, assigned to przemyslavic

[2021-10-19 07:57] #1086 closed

[2021-10-19 07:58] #1068 closed

[2021-10-19 08:04] #2497 closed, assigned to przemyslavic, sbbroot

[2021-10-19 08:08] #2547 closed, assigned to seriva

[2021-10-19 08:11] #2600 closed, assigned to seriva, przemyslavic

[2021-10-19 08:12] #2684 closed, assigned to seriva

[2021-10-19 08:12] #2687 closed, assigned to seriva

[2021-10-19 08:27] #2454 closed, assigned to atsikham, przemyslavic

[2021-10-20 07:17] przemyslavic commented on #2655
:heavy_check_mark: A new preflight check has been added to check the health of PostgreSQL nodes before starting the upgrade.

[2021-10-20 08:53] atsikham opened #2715 "[FEATURE REQUEST] Change user login message after #1306 is completed"
**Is your feature request related to a problem? Please describe.**
There was a [discussion](https://github.com/epiphany-platform/epiphany/pull/2714#issuecomment-947454999) which login message user should see. It was decided to have something like the current Epiphany version installed and the link to history file created in #1306.

**Describe the solution you'd like**

- Change login message. Befo

[2021-10-20 09:26] atsikham opened #2716 "[FEATURE REQUEST] Change container runtime"
**Is your feature request related to a problem? Please describe.**
Dockershim deprecation notice - https://kubernetes.io/blog/2020/12/02/dockershim-faq/

**Describe the solution you'd like**
Switchc container runtime to the new one as of the outcome of the blocking spike.

**Describe alternatives you've considered**
No.

**Additional context**
https://kubernetes.io/blog/2020/12/02/dont-panic-kuber

[2021-10-20 12:45] przemyslavic opened #2718 "[BUG] Failed `epicli upgrade` may lead to broken repository machine (disabled system repos)"
**Describe the bug**
Similar to #2324 but for upgrade mode.
Failed `epicli upgrade` may lead to broken repository machine.

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli upgrade` command
2. let's assume that upgrade of any component fails
3. the current status on the repository machine is that `epirepo` is enabled and `system repositories` are disabled
4. re-run `upgrade

[2021-10-20 15:33] przemyslavic commented on #2644
:heavy_check_mark: Hostname validation for `any` provider has been added.
A `DNS-1123` subdomain must consist of lower case alphanumeric characters, `-` or `.`, and must start and end with an alphanumeric character.

[2021-10-21 08:21] #2644 closed, assigned to atsikham, przemyslavic

[2021-10-21 08:22] #2682 closed, assigned to seriva, to-bar

[2021-10-21 08:22] #2686 closed, assigned to seriva

[2021-10-21 08:31] #2180 closed, assigned to atsikham

[2021-10-21 08:33] #2655 closed, assigned to przemyslavic, to-bar

[2021-10-21 11:03] erzetpe commented on #1331
Results from Spike #2529 are having instruction and describe the problems with installing Epiphany on clean Ubuntu 20.04. Upgrade to version 20.04 from 18.04 doesn't cause any problems.

[2021-10-22 08:45] mkyc commented on #2680
Lets remember about very clear change log entry.

[2021-10-22 08:58] mkyc commented on #2423
We should implement it as short-term solution for one of use-cases we know about. Next quarter we will do a research on proper migration to OpenSearch.

[2021-10-22 09:03] mkyc opened #2719 "[SPIKE] Check versions of Prometheus and its surrounding to which we want to upgrade"
**Is your spike related to a problem or idea? Please describe.**
Prepare to Prometheus environment upgrade.

**Describe the outcome you'd like**
We need to know versions of all Prometheus-related components (prometheus, Grafana, exporters, etc) which we want to upgrade to.

**What is the reason or source for the spike**
Upgrade of Prometheus stuff is planned for this Q.

**Additional context**
N/A

[2021-10-22 09:10] plirglo opened #2720 "[SPIKE] Find and analyze alternatives for Docker"
**Is your spike related to a problem or idea? Please describe.**
The latest release of the RHEL 8 / CentOS 8. Red Hat has built its own tools, buildah and podman, which aim to be compatible with existing Docker images and work without relying on a daemon. As well Kubernetes stopped support Docker as container runtime.

**Describe the outcome you'd like**
Find and analyze alternatives for Docker co

[2021-10-22 09:43] atsikham commented on #2720
In the scope of this spike please also check:
* container runtime [options](https://kubernetes.io/docs/setup/production-environment/container-runtimes/) and how they are compatible with Podman.
* which components we need a client like Podman/Docker for - may be this compatibility mentioned above is not necessary, like images are built/pushed by Podman and then containers run in K8s with containerd

[2021-10-22 11:44] to-bar commented on #2653
Epiphany code assumes that the default route is configured on each target host so this is as a prerequisite.
IMO we need to do 2 things:
1) Add above prerequisite to documentation
2) Add preflight check to assure the default route is configured (as @romsok24 proposed)

Info regarding `ansible_default_ipv4`:
https://medium.com/opsops/ansible-default-ipv4-is-not-what-you-think-edb8ab154b10

[2021-10-22 12:08] to-bar commented on #2720
Docker related Filebeat feature (to be checked whether it works with other container runtime or Filebeat has equivalent processor):
https://github.com/epiphany-platform/epiphany/blob/7ad0c14c58fcab8f92da85ab63a6b068b16d8289/ansible/playbooks/roles/filebeat/templates/filebeat.yml.j2#L126

[2021-10-25 08:11] przemyslavic commented on #2093
Tested:
:heavy_check_mark:  `epicli apply`
:heavy_check_mark:  `epicli` re-`apply`
:heavy_check_mark: `epicli apply` single machine
:heavy_check_mark:  `epicli apply` HA cluster
:heavy_check_mark:  promote to HA
:heavy_check_mark:  `epicli upgrade` from v1.0 HA cluster
:heavy_check_mark:  `epicli upgrade` from v1.1 x86_64
:heavy_check_mark:  `epicli upgrade` from v1.1 aarch64

All 3 network plugin

[2021-10-25 12:39] przemyslavic commented on #2656
:x: Works fine for new deployments, but doesn't work properly for upgrades.
Tasks to change the archive command are skipped, which results in the preflight check not fixing the setting:
[code]
From what I was able to debug, the possible reason is a command `pg_invalid_archive_command` written on two lines
[code]
so additional characters will appear, and thus the condition is never met.
The value f

[2021-10-25 13:04] rafzei opened #2722 "[PoC-Pulp] Test Pulp with Epiphany using LTS"
Steps:
- Generate metadata for packages
- Upload files and packages(with metadata) from LTS version (using pulp_files)
- Upload images from LTS version (using pulp_container)
- Manually change the repository role to enable Pulp repositories
- Run epicli apply

**Describe the solution you'd like**
Be able to build a cluster based on Pulp repository

**Additional context**
Generate metadata, uploadi

[2021-10-25 13:58] romsok24 commented on #2375
During the work on this topic an analysis of potential solutions that can satisfy this task constrains was taken.

There were three solutions, that were considered:
 - epiphany's VM's stack snapshots
 - use of Epiphany custom repository feature together with a dedicated repository & registry hosting solution
 - a mixed option: the snapshot of only single VM – the one build as EPI repository machin

[2021-10-25 14:31] rafzei opened #2723 "[PoC-Pulp] Create pipelines to upload requirements"
**Is your feature request related to a problem? Please describe.**
Create pipelines to automatically update Pulp sources

**Describe the solution you'd like**
1. Use epicli from supported branch to generate prepare_scripts
2. Use docker image to download requirements
3. Upload files
4. Cleanup

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2021-10-25 15:06] rafzei opened #2724 "[PoC-Pulp] Implement mechanism to use fallback repository with epicli"
**Is your feature request related to a problem? Please describe.**
We have to adjust our code to be able to get requirements from Pulp.
For test purposes, we will do this manually.

**Describe the solution you'd like**
Proposed solutions:
- Add a new kind for the fallback repository
- Add new arguments in the shared config for the fallback repository

Pulp will provide endpoints with:
1. Container

[2021-10-25 15:17] rafzei opened #2725 "[PoC-Pulp] Add authenthication for Pulp repositories"
**Is your feature request related to a problem? Please describe.**
By default, Pulp repositories are open.

**Describe the solution you'd like**
We would like to secure access to Pulp repositories (not an API)

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests

[2021-10-26 07:19] seriva commented on #2695
After some research a vars plugin is probably the easiest option:

https://docs.ansible.com/ansible/latest/dev_guide/developing_plugins.html#vars-plugins

Here we could load defaults and input vars, merge them together using the existing merging code we have:

https://github.com/epiphany-platform/epiphany/blob/develop/cli/helpers/config_merger.py
https://github.com/epiphany-platform/epiphany/blob/

[2021-10-26 13:08] przemyslavic opened #2728 "[BUG] [PostgreSQL] [Ubuntu] PostgreSQL's configuration files located outside of the data directory are not copied by repmgr"
**Describe the bug**
PostgreSQL's configuration files located outside of the data directory (which applies to **Ubuntu** installations) are not copied to the cloned node by `repmgr`.
According to [docs](https://repmgr.org/docs/5.2/repmgr-standby-clone.html) to copy these files, the option `--copy-external-config-files[={samepath|pgdata}]` has to be provided to the `repmgr standby clone` command.
F

[2021-10-27 10:57] mkyc commented on #2692
We also need to ensure that we know how to feed tests with some data. I.e., we'd like to have some production-like data for PostgreSQL role. And we'd like to add this data to tests in pipelines. We cannot add them directly to role code because data is not public and might be relatively big in volume.

[2021-10-27 11:43] to-bar commented on #2692
Molecule CLI has parameters that can be used to optionally pass path(s) to data dumps to be imported:

- command_args – An optional dict of options passed to the subcommand from the CLI
- ansible_args – An optional tuple of arguments provided to the ansible-playbook command

[2021-10-27 14:39] przemyslavic commented on #2656
:heavy_check_mark: Fixed.
:heavy_check_mark: `epicli apply` v1.1.x
:heavy_check_mark: `epicli upgrade` v1.1.0 to v1.3.0dev

[2021-10-27 16:08] romsok24 commented on #2725
We can start with a very simple and cost effective solution based on IP ACL list (ie. Azure InbSecGrp), that will allow only certain set of IPs to access the repository.

Other solution, that I can think of is to restrict access only to machines running within the given OpenVPN network.
This would require more setup but seems to be also more secure way to accomplish this issue constrains.

[2021-10-28 09:04] #2695 closed, assigned to seriva

[2021-10-28 09:25] mkyc commented on #2719
This is also about exporters.

[2021-10-28 13:09] mkyc opened #2731 "[SPIKE] Install and compare Rook, OpenEBS and MinIO"
**We need to compare Rook with OpenEBS with MinIO**
We need to provide persistence layer in Epiphany. To do it we need to start with installation and comparison of mentioned 3 solutions.

**Describe the outcome you'd like**
 - description of installation process of all 3 solutions
 - comparison how to use them with applications
 - comparison how they perform

**What is the reason or source for the

[2021-10-28 13:10] przemyslavic commented on #2537
:heavy_check_mark: Tested `apply` and `upgrade` from v1.0.x to v1.3.0dev with rollback procedure,
Single-node installation and cluster deployment with replication enabled have been checked.

[2021-10-29 05:59] plirglo opened #2732 "[EPIC] Upgrade to RedHat 8"

[2021-10-29 06:31] plirglo commented on #2529
## Red Hat upgrade:

- _Shall we support upgrade within one host?_

Yes, we've got clients who use Epiphany 1.0 LTS and we have to guarantee them way to upgrade to newer system version within support window, whereas it is possible, supported and described in Red Hat documentation.

- _If so, upgrades should be done automatically or manually by the user?_

This should be done manually by client bec

[2021-10-29 07:08] przemyslavic commented on #1661
:heavy_check_mark: `apply`
:heavy_check_mark: `re-apply`
:heavy_check_mark: `apply` HA cluster
:heavy_check_mark: `upgrade` from v 1.0.1 to 1.3.0dev

[2021-10-29 07:48] rafzei commented on #2512
Splitted:
#2723
#2724
#2722
#2725

[2021-10-29 08:18] plirglo opened #2734 "[FEATURE REQUEST] Document upgrade Red Hat / CentOS 7 to v 8.x"
See comments below:

---

**DoD checklist**

- Changelog
  - [x] updated
  - [ ] not needed
- COMPONENTS.md
  - [ ] updated
  - [x] not needed
- Schema
  - [ ] updated
  - [x] not needed
- Backport tasks
  - [ ] created
  - [x] not needed
- Documentation
  - [x] added
  - [x] updated
  - [ ] not needed
- [ ] Feature has automated tests
- [ ] Automated tests passed (QA pipelines)
  - [ ] apply
  -

[2021-10-29 09:05] plirglo commented on #2734
_This task is about inplace upgrade Epiphany cluster based on Red Hat / Cent OS 7 to system version 8, if you are looking for RHEL8 fresh installation task check [here](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/1332)_

System upgrade process should be conducted by user with documentation provided by Red Hat and Cloud provider wit

[2021-10-29 09:11] plirglo commented on #1332
Please check spike results place in Conluence page before start

[2021-10-29 10:19] plirglo commented on #2423
Lets check scenario described in this [comment](https://github.com/epiphany-platform/epiphany/issues/2423#issuecomment-932107778) as a part of this [spike](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/2153) and if we are able to handle it, use ISM.

[2021-11-02 10:05] mkyc commented on #2512
Closing due to split tasks.

[2021-11-02 10:05] #2512 closed, assigned to rafzei

[2021-11-02 10:08] #1661 closed

[2021-11-02 10:12] #2656 closed, assigned to atsikham, przemyslavic

[2021-11-02 10:19] #2093 closed, assigned to atsikham, przemyslavic

[2021-11-02 10:21] #1668 closed

[2021-11-02 10:22] #1587 closed

[2021-11-02 10:25] mkyc commented on #2375
Work is continued in another tasks.

[2021-11-02 10:25] #2375 closed, assigned to romsok24

[2021-11-02 10:56] erzetpe commented on #2529
After analysis the same approach should be applied also for Ubuntu 20.04 upgrade from 18.04.

[2021-11-02 10:57] plirglo commented on #2574
Thank you @batus82 for creating this issue

W don't set up resource requests and limits parameters which might very dangerous for cluster stability.
I will take care on this issue and try to add this to one of following sprints.

@epiphany-platform/epiphany-team We need to set up requests and limits for application(s).

[2021-11-03 09:01] atsikham commented on #2574
Please also look at #2253 and #776 as they are related to the same topic and might be solved/closed at one time.

[2021-11-03 13:02] rafzei opened #2736 "[FEATURE REQUEST] Skip download images if custom_registry provided"
**Is your feature request related to a problem? Please describe.**
Currently, if you provide custom_registry IP address in `shared_config` all k8s deployments will use that for images source.
In that case, the repository machine will be created obviously, but with unnecessary `the images part`.

**Describe the solution you'd like**
Refactor repository role to do not download images if custom_regis

[2021-11-04 08:07] przemyslavic commented on #2597
Tested:
:heavy_check_mark: `apply`
:heavy_check_mark: re-`apply`
:heavy_check_mark: `upgrade` from v1.0 (PostgreSQL v10)
:heavy_check_mark: `upgrade` from v1.2 (PostgreSQL v13)
:heavy_check_mark: `apply` and `upgrade` for `aarch64`

The above scenarios were tested with 1 PostgreSQL node and with a 2- or 3- node cluster.

[2021-11-04 09:23] #2537 closed, assigned to przemyslavic, to-bar

[2021-11-04 09:26] #2691 closed, assigned to seriva

[2021-11-04 09:27] #2690 closed, assigned to seriva, to-bar

[2021-11-04 09:27] #2685 closed, assigned to seriva, to-bar

[2021-11-04 12:20] rafzei commented on #2723
I was trying to create azure pipelines for pulp insecure container registry without success. Locally works perfectly but needed docker daemon restart, build agents works in k8s so docker in docker was an idea but it becomes quite complicated to run in pipelines.

[2021-11-04 13:04] to-bar commented on #2723
@rafzei Have you tried Docker from Docker (just install Docker client inside container and bind mount `/var/run/docker.sock`)?

[2021-11-04 13:06] rafzei commented on #2723
Yes, but then my docker in docker will use docker daemon of the above one. Right now going to try to use self-signed certs.

[2021-11-04 13:42] plirglo opened #2737 "[BUG] assert_no_postgres_nodes_number_change returning exception even if not changed value "count""
**Describe the bug**
In specified condition ```epicli apply``` failed with exception: "Postgresql scaling is not supported yet. Please revert your 'postgresql' count to previous value." even if no configuration changes have been done.

Review assert_no_postgres_nodes_number_change function to fix bug

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f config.yml` twi

[2021-11-04 15:28] przemyslavic commented on #2737
It also fails if the configuration is reapplied for a single machine installation.

The problem is that the number of PostgreSQL nodes in inventory and in the configuration file are compared and
for single machine installation, after first apply, we have 1 PostgreSQL host in inventory, but in configuration yaml PostgreSQl component is set to 0. This causes that installation fails on second apply a

[2021-11-05 08:36] rafzei opened #2738 "[PoC-Pulp] Enable SSL"
**Is your feature request related to a problem? Please describe.**
By default, Pulp in docker uses HTTP (80) for API endpoint.

**Describe the solution you'd like**
We would need to secure the connection by adding SSL certs. It will be required to use a secure registry(pulp_container plugin) in an automated way.

**Describe alternatives you've considered**
SSL could be self-signed (if so, it will

[2021-11-05 09:28] rafzei commented on #2736
This could be done right after #805

[2021-11-05 09:50] rafzei commented on #2722
@mkyc @romsok24 I believe this could be the next step: https://github.com/epiphany-platform/epiphany/issues/2724, please ask a question in this issue if something is not clear.

[2021-11-05 10:23] to-bar commented on #1176
Waits for https://github.com/ansible-community/ansible-lint/issues/1446

[2021-11-05 10:55] to-bar commented on #2657
Proposed solution is to add preflight check that will query k8s for problematic pods before starting the upgrade. If any found, user should get an error with suggested command to execute manually before rerunning the upgrade.

[2021-11-05 11:55] romsok24 commented on #2722
The 5 steps defined in this issue description were completed
in order to proof that we're able to build an Epiphany cluster using Pulp repository.

The following setup was used to satisfy it:
 - the environment consisting of 2 Azure VMs ( pulp machine and triggering machine ) was prepared
 - pulp instance was build using [pulp in one container](https://pulpproject.org/pulp-in-one-container/) mode

[2021-11-05 12:48] rafzei commented on #2707
I think it's clear, cert and key are hardcoded in the backup role.

[2021-11-05 21:45] mkyc commented on #2529
All looks good to me.

[2021-11-05 21:53] mkyc commented on #2722
LGTM. Only comment I have here is that we need both those mehanisms:
 - fallback repo mechanism for situation when we install cluster and for some reason there is package missing in original repo or repo is down. Then after timeouts and retries we should fallback to our fallback repo.
 - custom repo mechanism for situation when we want to install old version of epiphany and we know already that th

[2021-11-08 10:52] mkyc opened #2739 "[FEATURE REQUEST] update architecture related documentation"
**Is your feature request related to a problem? Please describe.**
Architectural documentation is 3 years old.

**Describe the solution you'd like**
Update

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Featu

[2021-11-08 11:01] mkyc opened #2740 "[FEATURE REQUEST] update repo description"
**Is your feature request related to a problem? Please describe.**
Our description says that Epiphany is a full industrialized automation of Kubernetes and Docker plus additional builtin services/components.

**Describe the solution you'd like**
We should update that general description that its more about all other middleware components with Ansible and Terraform usage. Not only docker.

We also

[2021-11-08 14:29] przemyslavic commented on #2535
To run PyLint in the pipeline:
- install `pylint` and `pylint_junit` plugin on the agent
- execute:
[code]
Don't forget about `--exit-zero` flag for CI scripts (https://github.com/PyCQA/pylint/blob/1.9/ChangeLog#L59)
- Publish results to Azure DevOps

GitHub action can be used as well.
[code]

![image](https://user-images.githubusercontent.com/43173646/140765055-ec952f19-3bcd-444d-948e-5fb60ac029f

[2021-11-09 11:02] asciible commented on #2536
This feature is already implemented:

![image.png](https://images.zenhubusercontent.com/61829fc12d88f7c22394fcee/44de401f-7030-4e9a-ad2f-c652f75c1d69)

[2021-11-09 13:22] przemyslavic opened #2741 "[BUG] Error installing Vault Agent Helm Chart with k8s v1.20"
**Describe the bug**
There is an issue with deploying Vault with k8s v1.20 (PR #2735). It fails on task `vault : Run configuration script` after ~5mins.
It can be easily reproduced for `single machine` installations, but works fine for 1 master and 2 node configuration.

[code]

**How to reproduce**
Steps to reproduce the behavior:
1. Execute `epicli apply` for single machine installation with Vau

[2021-11-10 14:10] asciible opened #2742 "[BUG] epicli generates cluster definitions with value unsuitable to the specified cloud provider"
**Describe the bug**
`epicli init` generates a cluster definition with incorrect **admin_user** value for AWS
Subsequently, this generates a failure to connect to the created instances during the configuration phase with ansible.

**How to reproduce**
1. `epicli init -n demo1 -p aws`
2. `grep -A1 admin_user build/demo1/demo1.yml`

**Expected behavior**
**admin_user** value should be `ubuntu` for A

[2021-11-10 14:24] przemyslavic commented on #2742
@asciible this has already been fixed in [develop](https://github.com/epiphany-platform/epiphany/pull/2677/commits/4d1dce553f4dcce5a03332f34213d59e0857f9d9).
And it looks like it has been decided not to backport it (original task #2497).

[2021-11-10 17:36] przemyslavic commented on #2741
This issue was caused by `NoSchedule` taint on master node. Fixed in https://github.com/epiphany-platform/epiphany/pull/2735#issuecomment-964077016

[2021-11-10 17:36] #2741 closed, assigned to nobody

[2021-11-12 07:29] seriva opened #2743 "[PoC] Share settings between configs and dependencies"
In this spike we want to research:
- How to share settings between different role configurations
- How to deal with dependencies between features. For example: Keycloak is dependent on Postgres and K8s.

[2021-11-15 08:51] rafzei commented on #2723
I've successfully uploaded images to a pulp via pipelines after implementing self-sign certificates (https://github.com/epiphany-platform/epiphany/issues/2738). However, after few pulp API calls it returns error:
[code]
it's related to Registry Token Authentication. I'm going to play around a bit with it and continue working on uploading files to pulp.

[2021-11-15 12:23] przemyslavic commented on #1306
:heavy_check_mark: When executing `apply` and `upgrade` commands, the appropriate entries with execution status are added to the `/var/lib/epiphany/history.yml` file:
[code]

Now #2715 should be done as related task.

[2021-11-15 13:24] rafzei commented on #2723
I've confirmed that this is related to PR https://github.com/pulp/pulp_container/pull/418 . We have to wait for the new pulp_container release or backport merge (https://github.com/pulp/pulp_container/pull/424)

[2021-11-16 09:04] #1306 closed

[2021-11-16 09:08] #2597 closed, assigned to erzetpe, przemyslavic

[2021-11-16 09:21] #2722 closed, assigned to romsok24

[2021-11-16 12:06] przemyslavic commented on #1487
:heavy_check_mark: Fixed. To enable RabbitMQ monitoring it is enough to set `rabbitmq_monitoring_enabled: true` in the RabbitMQ configuration. This will allow Prometheus to scrap the metrics from all nodes and visualize them in Grafana.

[2021-11-16 12:22] romsok24 opened #2745 "[PoC-Pulp] Prepare a brief wiki on Epiphany Pulp implementation"
**Is your feature request related to a problem? Please describe.**
Before moving the Pulp project from the PoC phase to production (ie. completing the issues #2723-5, #2738 )
the brief documentation ( wiki ) on Pulp implementation specification needs to be prepared.

**Describe the solution you'd like**
The documentation should not only point to the Pulp Project docs but also clarify the specific

[2021-11-16 15:39] rafzei commented on #2738
I've described how to enable SSL with example configuration on our wiki page.

[2021-11-17 08:14] przemyslavic commented on #2658
✔️ `upgrade` from v1.0 (1 master + 2 nodes)
✔️ `upgrade` from v1.1 HA (3 masters + 2 nodes)
✔️ `upgrade` from v1.1 aarch64 (1 master + 2 nodes)
✔️ `upgrade` from v1.2 single machine installation (1 master)
✔️ `apply` aarch64 (1 master + 2 nodes) + `reapply`
✔️ `apply` x86_64 (1 master + 2 nodes) + `reapply`
✔️ `apply` single machine installation (1 master) + `reapply`
✔️ `apply` HA (3 masters + 2

[2021-11-17 19:38] sbbroot commented on #2719
**Current component versions**:
- Prometheus: 2.10.0
- Alertmanager: 0.17.0
- Grafana: 7.3.5

**exporters**:
- Node Exporter: 1.0.1
- Kafka Exporter: 1.2.0
- HAProxy Exporter: 0.10.0
- JMX Exporter: 0.12.0
- Postgres Exporter: 0.9.0

**Newest available stable component versions**:
- Prometheus: [2.31.1](https://github.com/prometheus/prometheus/releases/tag/v2.31.1)
- Alertmanager: [0.23.0](https:/

[2021-11-18 08:08] przemyslavic commented on #1076
:heavy_check_mark: `apply` + `reapply` for `azure` and `any` providers
:heavy_check_mark:  `upgrade` from v1.0 to v1.3.0dev + `apply` v1.3.0dev
After executing the `apply` command, the hosts are sorted in inventory by hostname.
Tested all available components with clustering enabled (where possible).

IMO #1706 should be closed now.

[2021-11-18 09:20] #1076 closed

[2021-11-18 09:26] #2658 closed, assigned to atsikham, przemyslavic

[2021-11-18 09:30] #1487 closed

[2021-11-18 10:52] rafzei commented on #2738
Steps required to get epicli working with custom_registry after enabling SSL with self-signed certs:
 - add entry in /etc/hosts/
 - add cert in /etc/docker/certs.d/
for details see wiki.

[2021-11-22 08:43] seriva commented on #2720
Besides the comparison for the runtime and management options is there any conclusion to be drawn that can be added or is that up for discussion?

On a side note from the dev perspective, docker will remain the tool of choice, from what I know corporate license is going to be provided for everyone in the org.

[2021-11-22 09:20] #2536 closed, assigned to asciible

[2021-11-22 09:23] #2738 closed, assigned to rafzei

[2021-11-22 10:39] rafzei commented on #2680
It's clear for me, links:

Defaults:
https://github.com/epiphany-platform/epiphany/blob/e64dd05451d6d81ff4322ab6f2319353d0579e0b/schema/common/defaults/configuration/postgresql.yml#L90-L91

Schema:
https://github.com/epiphany-platform/epiphany/blob/e64dd05451d6d81ff4322ab6f2319353d0579e0b/schema/common/validation/configuration/postgresql.yml#L71-L75

Role:
https://github.com/epiphany-platform/epip

[2021-11-22 11:34] mkyc opened #2746 "[Epic] Upgrade Prometheus to 2.31.x"
Upgrade prometheus and it's environment

[2021-11-22 13:46] sbbroot commented on #2700
Alertmanager also needs to be upgraded to version: [0.23.0](https://github.com/prometheus/alertmanager/releases/tag/v0.23.0)

[2021-11-22 13:50] sbbroot opened #2747 "[UPGRADE] Upgrade Node exporter to v1.3.1"
**Describe the solution you'd like**
Node exporter needs to be upgraded to the newest version: [1.3.1](https://github.com/prometheus/node_exporter/releases/tag/v1.3.1)

---

**DoD checklist**

* [ ] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [x] Feature has automated tests
* [x] Automated tests passed (QA pipelines

[2021-11-22 13:53] sbbroot opened #2748 "[UPGRADE] Upgrade Kafka exporter to v1.4.0"
**Describe the solution you'd like**
Kafka exporter needs to be upgraded to the newest version: [1.4.2](https://github.com/danielqsj/kafka_exporter/releases/tag/v1.4.2)

Update: We have chosen version 1.4.0 since 1.4.1 and 1.4.2 contain critical bug.

**Additional context**
Check if this fixes #1221.

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be

[2021-11-22 13:56] sbbroot opened #2749 "[UPGRADE] Upgrade HAProxy exporter to the newest version"
**Describe the solution you'd like**
HAProxy exporter needs to be upgraded to the newest version: [0.12.0](https://github.com/prometheus/haproxy_exporter/releases/tag/v0.12.0)

**Additional context**
Maybe consider #1739 to see if its viable in this scope.

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need t

[2021-11-22 13:57] sbbroot opened #2750 "[UPGRADE] Upgrade JMX exporter to the newest version"
**Describe the solution you'd like**
JMX exporter needs to be upgraded to the newest version: [0.16.1](https://github.com/prometheus/jmx_exporter/releases/tag/parent-0.16.1)

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [x] Feature has automated tests
* [x] Automated tests passed (QA pip

[2021-11-22 13:59] sbbroot opened #2751 "[UPGRADE] Upgrade JMX exporter to the newest version"
**Describe the solution you'd like**
JMX exporter needs to be upgrade to the newest version: [0.16.1](https://github.com/prometheus/jmx_exporter/releases/tag/parent-0.16.1)

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipe

[2021-11-22 14:00] sbbroot opened #2752 "[UPGRADE] Upgrade Postgres exporter to the newest version"
**Describe the solution you'd like**
Postgres exporter needs to be upgraded to the newest version: [0.10.0](https://github.com/prometheus-community/postgres_exporter/releases/tag/v0.10.0)

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [x] Feature has automated tests
* [x] Automated tests

[2021-11-22 14:09] sbbroot commented on #2751
Duplicated task [2750](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/2750)

[2021-11-22 14:09] #2751 closed, assigned to nobody

[2021-11-23 11:46] seriva commented on #2719
Epic is created with all necessary tasks groomed.  IMO we can move this to DoD.

[2021-11-23 12:53] plirglo opened #2753 "[BUG] Failing offline upgrade: 'download_script_subdir' is undefined"
**Describe the bug**
Offline upgrade i is failing because of missing 'download_script_subdir' variable [dev / 1.3]

**How to reproduce**
Steps to reproduce the behavior:
1. Install 1.0.x cluster`
2. Execute upgrade to latest dev version:\
[code]

**Expected behavior**
Cluster should be upgraded to latest version

**Environment**
- Cloud provider: All
- OS:  Ubuntu 18.04.4 LTS

**epicli version**:

[2021-11-23 13:33] seriva opened #2755 "[FEATURE REQUEST] Upgrade Python dependencies to the latest"
**Is your feature request related to a problem? Please describe.**
Currently there are several CEV issues related to Python libraries.

**Describe the solution you'd like**
Upgrade all Python dependencies to the latest versions to mitigate security issues.

**Describe alternatives you've considered**
None

**Additional context**
None

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENT

[2021-11-23 14:00] romsok24 commented on #2724
## Tool being used and proposed solutions analysis
There is a comparison of the proposed fallback repository/registry solutions presented below.

Two solutions are proposed when possible.
The tables is split down by the repo type.

<br>

|Repo/Reg|Tool|Fallback action (preffered )|Fallback action (alternative)|
|---:|:---:|:---:|:---:|
|deb packages|apt-get download|add the fb_url at the very end

[2021-11-24 08:36] cicharka commented on #2753
Solution PR #2754 tested with steps:
- cluster created with version 1.0.1
- kubernetes component upgraded with version 1.3.0dev, PR #2754

Result on k8s master vm:
![image](https://user-images.githubusercontent.com/93913624/143203094-65d96775-f9a0-4ac6-840d-b2a5973c91db.png)

[2021-11-24 09:25] przemyslavic commented on #2707
:heavy_check_mark: The backup and recovery of the logging component works fine.
Note that only single node backup/recovery is supported for now.

[2021-11-24 11:57] mkyc commented on #2716
Brief description of decisions we made:

In this task:
1) reconfigure kubernetes to use Containerd directly
2) remove docker from epicli clusters
3) test if filebit consumes containers logs correctly

In another task:
- install Podman

[2021-11-24 12:09] mkyc opened #2757 "[FEATURE REQUEST] install podman"
**Is your feature request related to a problem? Please describe.**
due to planned changes in #2716 we will need to have podman on machines to be able to interact with containers

**Describe the solution you'd like**
Replace Docker with Podman

**Describe alternatives you've considered**
None

**Additional context**
#2720

---

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated

[2021-11-24 12:23] rafzei commented on #2723
I've marked the task as On Hold due to other priorities.

[2021-11-24 15:00] przemyslavic commented on #2755
:heavy_check_mark: Tested `epicli apply` with all components enabled on all supported OSs + aarch64

[2021-11-25 08:58] #2755 closed, assigned to seriva, przemyslavic

[2021-11-25 08:59] #2720 closed, assigned to erzetpe

[2021-11-25 09:00] #2719 closed, assigned to sbbroot

[2021-11-25 09:35] mkyc commented on #2752
Version proposition is in #2719 but ensure that it's still the newest one.

[2021-11-25 09:35] mkyc commented on #2750
Spike about versions was in #2719.

[2021-11-25 09:36] mkyc commented on #2749
Spike about versions was in #2719.

[2021-11-25 09:37] mkyc commented on #2699
Spike about versions was in #2719.

[2021-11-25 09:37] mkyc commented on #2747
Spike about versions was in #2719.

[2021-11-25 09:38] mkyc commented on #2748
Spike about versions was in #2719.

[2021-11-25 09:46] mkyc commented on #1085
@przemyslavic please check.

[2021-11-25 09:47] mkyc commented on #934
@przemyslavic please review this one.

[2021-11-25 09:53] mkyc commented on #419
I have no idea what is that :)

[2021-11-25 09:53] #419 closed

[2021-11-25 10:23] to-bar commented on #2718
Worth to check whether Ubuntu is affected as well, since there is different logic there, see [comment](https://github.com/epiphany-platform/epiphany/issues/2324#issuecomment-868660069)

[2021-11-25 12:22] rafzei commented on #2572
@to-bar this is a bug or rather feature-request?
Does epicli modify the sudoers file correctly during apply (re-apply) after a system upgrade? (maybe @erzetpe ?)

[2021-11-25 12:29] to-bar commented on #2718
We may also change paths from `/tmp/epi-repository-setup-scripts` to `/var/tmp/epi-repository-setup-scripts` and from `/tmp/epi-download-requirements` to `/var/tmp/epi-download-requirements` in order to preserve files after OS restart.
They are removed in `teardown` playbook (task `Clean up temporary files`).

[2021-11-25 12:41] to-bar commented on #2572
@rafzei I would say this a feature request to abandon bad practice which might be problematic on upgrade 😉

[2021-11-25 12:49] przemyslavic commented on #2718
A similar problem also occurs on Ubuntu:
[code]

[2021-11-25 13:00] rafzei commented on #2572
Ok, but if we upgrade OS from 18.04 to 20.04 this file would be without 'our' records, right? So we have to tell users (in docs) to run `epicli apply` after the upgrade.

[2021-11-25 13:18] rafzei commented on #1331
There is no clear information if we should support 18.04 along with 20.04 in v1.3.
If we won't, we have to force users to upgrade OS before upgrade epicli.
1- add a preflight check,
2- add how-to upgrade os's on existing env

@to-bar, @erzetpe, @mkyc, @plirglo, @seriva tell what do you think

[2021-11-25 13:25] erzetpe commented on #1331
From LTS version 2.0 we shouldn't let the users to install Epiphany on Ubuntu different than 20.04 LTS. Can be done with preflight check. In version 1.3 we should add information about deprecation of Ubuntu 18.04 LTS in docs and also in preflight.

[2021-11-25 13:37] mkyc commented on #1331
My opinion is that we want to support one version in release.

[2021-11-26 09:04] plirglo commented on #1331
In my opinion since 1.3 we should support only 20.04 version.
1. Upgrade from 1.0: System should be upgraded to v20.04 manually by user and than upgrade do epicli v1.3 is available.
2. New installations of epi 1.3 use system version 20.04 and preflight fail when other version is in use.

[2021-11-26 22:03] atsikham commented on #2694
Till this moment I was able to do that only in one way:

1. Create `collections-upgrade.yml` file that contains requirements to install previous collection version:

[code]

2. Use [shell](https://molecule.readthedocs.io/en/latest/configuration.html#shell) dependency manager:

[code]

`requirements.sh`:

[code]

It uses `collections-upgrade.yml` by default and `collections.yml` that contains a ref

[2021-11-26 22:27] atsikham commented on #2688
PostgreSQL collection is [filled](https://github.com/epiphany-poc/postgresql) with configuration adapted from main repo. It's possible to install/upgrade PostgreSQL from there and test it with Molecule. Pgbouncer/pgpool K8s applications are not covered though.

[2021-11-26 23:26] rafzei commented on #628
@erzetpe Can you elaborate a bit more? :woman_beard:

[2021-11-29 07:50] romsok24 commented on #2747
What was done:

- requrements* file updated for every distro  ( details in [the branch](https://github.com/epiphany-platform/epiphany/tree/feature/upgr-node-eporter-2747) )
- changes tested with epicli on ubu18
  - run the: epicli test -b ....... -g <component ie. node_exporter>
  - tested epicli upgrade -b build/dir/ (node_exporter is not in the scope of epicli upgrade command )
- [the PR](https:

[2021-11-29 08:27] romsok24 commented on #2747
@sbbroot Are we ok to upgrade to the currently newest version which is already not the one described in this issue and [here](https://github.com/epiphany-platform/epiphany/issues/2719)?

[2021-11-29 10:30] sbbroot commented on #2747
@romsok24 Yes.

[2021-11-30 09:02] #2753 closed, assigned to plirglo

[2021-11-30 09:06] #2529 closed, assigned to erzetpe, plirglo

[2021-11-30 09:11] #2535 closed, assigned to asciible

[2021-11-30 09:30] plirglo opened #2764 "[BACKPORT][v1.0.2] - Logging component backup fix"
Please backup PR [#2744](https://github.com/epiphany-platform/epiphany/pull/2744) into Epiphany v1.0

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x] Case covered by automated test (if possible)
* [x] Idempotency tested
* [x] Do

[2021-11-30 09:31] plirglo commented on #2707
Created backport issue: [#2764](https://github.com/epiphany-platform/epiphany/issues/2764)

[2021-12-01 22:39] sbbroot commented on #2699
Upgraded to the newest version: [8.2.5](https://github.com/grafana/grafana/releases/tag/v8.2.5)

[2021-12-01 23:23] rafzei opened #2768 "[FEATURE REQUEST] Add possibility to provide custom hostnames"
**Is your feature request related to a problem? Please describe.**
Currently, there is no option to provide a custom VM hostname via epicli.
The hostname is set up referencing inventory hostname.

**Describe the solution you'd like**
Current: `[prefix][clustername]-kubernetes[master/node]vm[x]`
Needed: `[prefix][clustername]-kubernetes[master/node]vm[x].[domain.name]`
but it should allow to set up

[2021-12-02 09:22] #2707 closed, assigned to przemyslavic, plirglo

[2021-12-02 11:10] seriva commented on #2768
So this is only for Azure? Or we want this also on AWS?

[2021-12-02 11:30] rafzei commented on #2768
The fr/fix was requested for Azure but afaik the team also uses AWS.

[2021-12-03 08:11] przemyslavic commented on #2718
:heavy_check_mark: The `apply` and `upgrade` commands have been tested many times after the previous build was successfully completed and also on failure. No issues were noticed with the repository on re-run.
Tested on `RHEL`, `Ubuntu`, `CentOS`.

[2021-12-03 09:23] mkyc commented on #1175
@przemyslavic please also check it as well.

[2021-12-03 09:25] mkyc commented on #1221
@przemyslavic please check if that one still exists.

[2021-12-03 09:28] mkyc commented on #2749
This one references #1739

[2021-12-03 09:43] mkyc commented on #2716
We decided to move it to version 2.0.0.

[2021-12-03 09:44] mkyc commented on #1331
Decisions were made to:
 - support only 20.04 starting version 1.3.0.
 - users will need to upgrade OS on them own
 - there will be preflight check to ensure we do not upgrade to 1.3.0 if OS is not 20.04

[2021-12-03 10:09] rafzei commented on #2716
As above, there is no pressure for this change. The changes were mostly done for the current code state. After v1.3 release we should check/change:
- if there are additional steps needed after the k8s upgrade (#2659 and #2660)
- changelog and documentation

The changes are in [feature/containerd](https://github.com/epiphany-platform/epiphany/tree/feature/containerd) branch.
Im moving it back to to

[2021-12-03 10:20] rafzei commented on #1739
It's well described in the blog post.

Ps. Now its time to stop do nothing :trollface:

[2021-12-03 10:28] rafzei commented on #2660
Added #2659 as a blocker.

[2021-12-03 11:54] to-bar commented on #2680
pgBouncer causes the following error when installing on Ubuntu 20.04 (Azure & AWS) on `Extensions | PgBouncer | Restart systemd service` task:
[code]
hence this task will be done before #1331.

[2021-12-06 14:44] #2749 closed, assigned to nobody

[2021-12-06 15:22] rafzei commented on #2704
The `/var/lib/kubelet/config.yaml` already has `apiVersion: kubelet-config.v1beta1`
The file is actually uploaded a configMap in the cluster.

:arrow_right:  Current approach:
1. Variables are hardcoded and stored in the defaults:
[code]
2. If kubelet_custom_config is provided (de facto always) then `config.yaml.j2` will be used.
The config.yml.j2:
[code]
3. After the combination, the kubelet conf

[2021-12-07 07:57] rafzei commented on #2715
I would vote for some short note from the last entry with info about log location like:

[code]

[2021-12-07 09:00] #2718 closed, assigned to przemyslavic, plirglo

[2021-12-07 10:15] atsikham commented on #2704
In fact we can manage kubelet config file directly taking values from `kubelet_custom_config ` and via kubeadm [config](https://github.com/epiphany-platform/epiphany/blob/9fd3e99b50bf73920480798b8bd336688f3746a3/ansible/playbooks/roles/kubernetes_master/templates/kubeadm-config.yml.j2#L49) if they have no conflicts. @rafzei What do you think about managing those values only by [kubeadm config](htt

[2021-12-07 14:19] rafzei commented on #2704
@atsikham Thanks for the comment.
 Looks like it is. According to documentation we could:
1- use one place for storing custom parameters
2- use one place for generating kubelet configuration
3- use one kubelet configuration for all kubeadm activities like kubeadm init/join and even kubeadm upgrade

Currently the parameters are hardcoded in [kubeadm config](https://github.com/epiphany-platform/epip

[2021-12-08 10:53] seriva opened #2774 "[BUG] Issue creating service principal on Azure."
**Describe the bug**
Under certain azure ad account creation of the service principle will fail with the message:

**Values of IdentifierUris property must use a verified domain of the organization or its subdomain**

Solution is to upgrade the version of azure-cli from 2.23 ->  2.29.0 (Not 2.31.0, see comment below.)

**How to reproduce**
Ask @przemyslavic  or @seriva to create a cluster ...  :ne

[2021-12-08 12:10] przemyslavic commented on #1146
Testing on CentOS was introduced to pipelines some time ago. Closing this task.

[2021-12-08 12:10] #1146 closed

[2021-12-08 12:19] przemyslavic commented on #1085
The problem was reported quite a long time ago and was related to the old version of Epiphany and Kubernetes. Currently I'm not being able to reproduce the problem.
Closing this task. If noticed again, a new issue will be created.

[2021-12-08 12:19] #1085 closed

[2021-12-08 12:22] plirglo opened #2776 "[BACKPORT][v1.0.2] - Fix kafka-exporter service doesn't start after restarting kafka VMs"
Backport fix for kafka-exporter service from PR [#2772](https://github.com/epiphany-platform/epiphany/pull/2772)

kafka-exporter.service file modifications need to re-used.

[code]

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [x] COMPONENTS.md updated / doesn't need to be updated
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x

[2021-12-08 12:25] przemyslavic commented on #934
The pipeline for testing Kubernetes HA deployments was created some time ago and is available in Azure DevOps.
Closing this task.

[2021-12-08 12:25] #934 closed

[2021-12-08 12:26] #2742 closed, assigned to nobody

[2021-12-08 12:30] przemyslavic commented on #2669
Seems to be related to #1175.

[2021-12-08 12:31] przemyslavic commented on #1175
Seems to be related to #2669.
New PKI from the master node are probably not copied to Ephiphany's vault due to this [condition](https://github.com/epiphany-platform/epiphany/blob/develop/ansible/playbooks/roles/kubernetes_master/tasks/copy-kubernetes-pki.yml#L39):
[code]
Certificates should be copied if the checksum does not match.

[2021-12-08 12:37] przemyslavic commented on #498
Instructions on how to run spec tests are already in [place](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/DEVELOPMENT.md#running-serverspec-tests). Closing.

[2021-12-08 12:37] #498 closed

[2021-12-08 15:28] przemyslavic commented on #2700
:heavy_check_mark: `apply` Prometheus + Alertmanager x86_64
:heavy_check_mark: `apply` Prometheus + Alertmanager aarch64
:heavy_check_mark: `upgrade` from v1.0 Prometheus + Alertmanager x86_64
:heavy_check_mark: `upgrade` from v1.1 Prometheus + Alertmanager aarch64

Tested on all OSes.

[2021-12-08 15:31] przemyslavic commented on #2774
:heavy_check_mark: Tested locally in devcontainer - created service principal without any issues.
:heavy_check_mark: Tested in the pipeline - deployed clusters with all components enabled.

[2021-12-09 07:21] romsok24 opened #2778 "[FEATURE REQUEST] Check for unattended-upgrades"
**Is your feature request related to a problem? Please describe.**
Problem descr.:
When epicli is run on the fresh Ubuntu 18.04 system it can fail on trying to lock the `/var/lib/apt/lists`.
Presumed reason:
This dir is being locked by Ubuntu auto update ( unattended-upgrades ) processes.

**Describe the solution you'd like**
It would be good to implement a mechanism which would check for such loc

[2021-12-09 08:34] romsok24 commented on #805
[#2778](https://github.com/epiphany-platform/epiphany/issues/2778) is related.

[2021-12-09 09:01] rafzei opened #2780 "[FEATURE REQUEST] Remove hardcoded tag version from infra config"
**Is your feature request related to a problem? Please describe.**
The tag version is hardcoded pointing to the old epicli version and not in all resources. [Link](https://github.com/epiphany-platform/epiphany/blob/develop/schema/aws/defaults/infrastructure/virtual-machine.yml#L14-L15)

**Describe the solution you'd like**
The tag should refer to the deployed epicli version and should be assigned

[2021-12-09 09:02] #2700 closed, assigned to seriva, przemyslavic

[2021-12-09 11:34] rafzei commented on #633
The internal team request for that doc, I move it to the next sprint.

[2021-12-09 13:23] przemyslavic commented on #2489
The issue is gone. I have successfully installed Grafana with epicli v1.0.1. We can just close this task and create a new one if it occurs again.

[2021-12-09 13:24] przemyslavic commented on #2488
The issue is gone. I have successfully installed Grafana with epicli v1.1.0. We can just close this task and create a new one if it occurs again.

[2021-12-09 14:14] przemyslavic commented on #2490
The issue is gone. I have successfully installed Grafana with epicli v0.9.2 We can just close this task and create a new one if it occurs again.

[2021-12-10 08:58] przemyslavic commented on #2680
Looks like everything still works fine without `pgbouncer` :boar:

[2021-12-10 09:26] romsok24 opened #2782 "[BUG] The target namespace for node-exporter is not coherent"
**Describe the bug**
The component node-exporter within the k8s daemonset  installation variant ( k8s as cloud service )
is not coherent in the context of target namespace:
 - on one one hand [the component defaults](https://github.com/epiphany-platform/epiphany/blob/develop/ansible/playbooks/roles/node_exporter/defaults/main.yml) are targeting it to the dedicated ns (_epi-monitoring_)
 - on the o

[2021-12-10 10:21] przemyslavic commented on #2782
The purpose of these tasks was to uninstall node exporter from the default namespace (it was installed there at the beginning) and to install it in dedicated `epi-monitoring`. It was a kind of fix. Now, when upgrading, we should take into account both variants, that node exporter can be in default namespace or dedicated.
This is exactly what task name says:
`- name: Reinstall Node Exporter as Daem

[2021-12-10 13:07] seriva commented on #2774
Re-opening as Azure-cli 2.31.0 breaks non SP logins for our Terraform provider because of new token mechanism:

https://docs.microsoft.com/en-us/cli/azure/msal-based-azure-cli

2.29.0 does not have new token mechanism and it solves the problem described in this issue so downgrading from 2.31.0 to 2.29.0 again.

[2021-12-10 14:10] seriva opened #2784 "[BACKPORT][v1.0.2] - Issue creating service principle on Azure."
Backport Issue: #2774
PRs:  #2775, #2783

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [x] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x]

[2021-12-10 22:18] mkyc commented on #2731
Following drawing presents results from performance tests of:
 - Rook using Ceph as distribution layer
 - OpenEBS using Jiva as distribution layer

Results are compared to "local" kubernetes volume created directly on data disk without distribution.

![20211210-rook-openebs-local](https://user-images.githubusercontent.com/28505782/145643301-b12a337e-c78f-4d0d-80d2-7f38a5e85843.png)

Each test was

[2021-12-13 14:25] przemyslavic commented on #2657
:heavy_check_mark: The preflight check has been added to verify if there are any pods not created by the controller.

[2021-12-13 14:27] przemyslavic commented on #2774
Tested both `devcontainer` and `epicli` container:
✔️ `use_service_principal: false`
✔️ `use_service_principal: true` - creating a new service principal
✔️ `use_service_principal: true` - using an existing service principal

[2021-12-13 14:30] przemyslavic commented on #2748
I found a problem with the `/metrics` endpoint not responding is some cases (Prometheus is not able to scrape any data). More investigation in progress.

The issue occurs with new deployments and also with upgraded clusters and seems to be nondeterministic.

[2021-12-13 15:39] GrzegorzKlankABB opened #2785 "[FEATURE REQUEST] Add configuration option to Keycloak for PROXY_ADDRESS_FORWARDING env. variable"
**Is your feature request related to a problem? Please describe.**
I would like Keycloak service to be aware of being behind HAPRoxy and inform it to use X-Forwarded-... headers for proper JWT issuer information. At the moment I manually edit keycloak stateful set to include PROXY_ADDRESS_FORWARDING environment variable.

**Describe the solution you'd like**
I would like Epiphany yml configuration

[2021-12-14 08:06] atsikham commented on #2716
May be useful - https://jimangel.io/post/dockershim-kubernetes-v1.24/

[2021-12-14 08:38] rafzei opened #2786 "[FEATURE REQUEST] Upgrade Kubernetes to 1.23 version"
**Is your feature request related to a problem? Please describe.**
Currently our K8s version is 1.22.4

**Describe the solution you'd like**
We want to upgrade Kubernetes to 1.23.x.

**Describe alternatives you've considered**
None

**Additional context**
[Changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md)

---

**DoD checklist**

- Changelog
  - [ ] updat

[2021-12-14 09:00] #2774 closed, assigned to seriva, przemyslavic

[2021-12-14 09:04] #2657 closed, assigned to przemyslavic, pprach

[2021-12-14 09:05] #2490 closed, assigned to przemyslavic

[2021-12-14 09:05] #2488 closed, assigned to przemyslavic

[2021-12-14 09:05] #2489 closed, assigned to przemyslavic

[2021-12-14 09:20] atsikham opened #2787 "Implement preflight checks for the repository machines disk space"
I only added removing old image files (*.tar) from epirepo that no longer exist in requirements.txt to free up disk space. However old images are not removed from image registry so we may still have "snowball effect" and something to do with this. In the future we can add size attribute for each image and count how much space is needed to download them and load into registry.

_Originally posted b

[2021-12-14 12:10] mkyc commented on #2731
Additional info about environment setup that was used for tests.

Each test was run on epiphany cluster using 5 machines: 1 repository, 1 kubernetes master, 3 kubernetes nodes.

Each kubernetes node machine had attached additional 2 data disks - one for Rook or OpenEBS tests, second for local volumes tests (in practice one additional data disk would be enough but I wanted to make sure that OS oper

[2021-12-14 14:28] przemyslavic commented on #2659
:heavy_check_mark: `apply` x86_64, aarch64
:heavy_check_mark: `apply` HA cluster
:heavy_check_mark: promote to HA
:heavy_check_mark: single machine installation
:heavy_check_mark: `upgrade` from v1.0 x86_64
:heavy_check_mark: `upgrade` from v1.1 aarch64
:heavy_check_mark: `upgrade` from v1.0 single machine installation
:heavy_check_mark: `upgrade` from v1.0 HA installation

[2021-12-14 15:17] erzetpe opened #2788 "[FEATURE REQUEST] Upgrade to Open Distro to latest 1.13.x to solve the log4j issues"
**Is your feature request related to a problem? Please describe.**
We need to upgrade to  latest 1.13.x  latest as previous versions are prone to [CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228).

**Describe the solution you'd like**
We want to have upgraded Open Distro to latest 1.13.x to solve the Log4j CVE issues.

**Describe alternatives you've considered**
None

**Additional

[2021-12-14 15:24] erzetpe opened #2789 "[FEATURE REQUEST] Upgrade to Apache Ignite 2.12."
**Is your feature request related to a problem? Please describe.**
We need to upgrade to Apache Ignite 2.12 as previous versions are prone to [CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228).

**Describe the solution you'd like**
We want to have upgraded Apache Ignite o version at least 2.12.

**Describe alternatives you've considered**
Before fixing this issue we can add informat

[2021-12-14 17:41] seriva commented on #2768
After some more research I found several issues with the task described above:

- For both AWS and Azure the `infrastructure/virtual-machine` document type represents a template for a group of VM`s of a certain component . This template is then being used to generate the Terraform VM definitions on Azure and auto-scaling groups on AWS.  Any VM specific config is generated by the providers:
![image

[2021-12-15 00:08] atsikham opened #2791 "[FEATURE REQUEST] Upgrade K8s CNI plugins to the latest available versions"
**Is your feature request related to a problem? Please describe.**
New versions are released, so need to upgrade Flannel, Calico and Canal

**Describe the solution you'd like**
Upgrade CNI plugins

**Describe alternatives you've considered**
No

**Additional context**
- https://github.com/flannel-io/flannel
- https://github.com/projectcalico/calico

---

**DoD checklist**

- Changelog
  - [ ] upda

[2021-12-15 08:27] erzetpe opened #2793 "[FEATURE REQUEST] Change Elasticsearch configuration"
**Is your feature request related to a problem? Please describe.**
As we are using JDK 8 our Elasticsearch is prone to [CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228).

**Describe the solution you'd like**
Set the JVM option -Dlog4j2.formatMsgNoLookups=true.

**Describe alternatives you've considered**
In the future we will need to upgrade JDK to newer supported versions, where E

[2021-12-15 08:32] atsikham commented on #2793
We use bundled JDK >8 for some components, needs to be checked - https://github.com/epiphany-platform/epiphany/issues/2100#issuecomment-792369028

[2021-12-15 11:23] erzetpe commented on #2793
After research in Elasticsearch we are using in supported Epiphany releases package elasticsearch-oss with JDK 15, which means that according to [official Elastic statement](https://discuss.elastic.co/t/apache-log4j2-remote-code-execution-rce-vulnerability-cve-2021-44228-esa-2021-31/291476) doesn't have vulnerability. The most critical part with RCE wasn't even possible to do on JDK version 8. Clo

[2021-12-15 16:58] przemyslavic commented on #2750
:heavy_check_mark: Tested `apply` and `upgrade` from v1.0 (x86_64) and from v1.1 (aarch64).

[2021-12-16 08:14] rafzei commented on #2608
To track the latest version: https://github.com/haproxy/haproxy/tags

[2021-12-16 08:27] przemyslavic commented on #1333
First need to confirm if it still occurs in the ODFE version we are currently using.

[2021-12-16 09:20] #2750 closed, assigned to przemyslavic, cicharka

[2021-12-16 09:22] #2731 closed, assigned to erzetpe, mkyc

[2021-12-16 09:25] #2659 closed, assigned to atsikham, przemyslavic

[2021-12-16 09:29] #2680 closed, assigned to przemyslavic, to-bar

[2021-12-16 11:09] mkyc commented on #2731
This task is also related to #2300. Minio is not going to be our choice but as described [here](https://github.com/rook/rook/blob/master/Documentation/ceph-object.md) we can use Rook to expose S3 interface and also [there are possibilities](https://github.com/rook/rook/blob/master/Documentation/ceph-object-multisite.md) to replicate data over to remote clusters. It wasn't tested in scope of this t

[2021-12-17 14:01] to-bar commented on #2748
Due to the issue we decided to upgrade to version 1.4.0 instead of 1.4.2 (1.4.1 also affected).

[2021-12-17 18:22] to-bar opened #2801 "[SPIKE] Test KMinion as alternative to kafka_exporter"
**Is your spike related to a problem or idea? Please describe.**
Two latest versions of kafka_exporter (1.4.1 and 1.4.2) do not work well. See https://github.com/epiphany-platform/epiphany/issues/2748#issuecomment-996744865 and danielqsj/kafka_exporter#273.

**Describe the outcome you'd like**
We want to test KMinion as alternative to kafka_exporter.

**What is the reason or source for the spike**

[2021-12-20 09:33] rafzei commented on #2788
DEB and RPM packages are not available for now:
https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/800
We could get .tar.gz and unpack it or patch our version with updated log4j.jars

[2021-12-20 13:03] atsikham commented on #2665
@romsok24 could you elaborate a bit more about swap? I see that in common role that is always executed, swap is disabled, so interested in how you got that issue.

[2021-12-20 14:07] atsikham opened #2803 "Refactor: rename 'kafka_var' setting"
`kafka_var` ? maybe we should refactor this sometime in the future ? :thinking:

_Originally posted by @sk4zuzu in https://github.com/epiphany-platform/epiphany/pull/1891#discussion_r538398894_

As Kafka is the component lets just move all these settings straight in the root of specification.

specification.kafka_var. ... -> specification. ...

---

**DoD checklist**

* [x] Changelog updated
* [ ]

[2021-12-20 16:52] romsok24 commented on #2665
It's been >2mth since I build this environment so would be hard to give many details... but what I can remember is the installation type: it was air-gapped infrastructure ( implemented as described [here](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-create-an-epiphany-cluster-on-existing-air-gapped-infrastructure)  ) prepared by me before starting ep

[2021-12-21 08:10] przemyslavic commented on #2699
✔️ Tested `apply` and `upgrade` from v1.0 (x86_64) and from v1.1 (aarch64).

[2021-12-21 08:10] przemyslavic commented on #2028
Tested together with #2699.

[2021-12-21 08:12] przemyslavic commented on #2747
✔️ Tested `apply` and `upgrade` from v1.0 (x86_64) and from v1.1 (aarch64).

Upgrade of Node Exporter as a DaemonSet is tracked in #2782.

[2021-12-21 08:13] przemyslavic commented on #2748
✔️ Tested `apply` and `upgrade` from v1.0 (x86_64) and from v1.1 (aarch64).

Additional PR #2796.

[2021-12-21 08:15] przemyslavic commented on #1221
✔️ `kafka-exporter` service starts with no issues after system reboot. Tested on all OSes.

[2021-12-21 08:59] #2748 closed, assigned to przemyslavic, plirglo

[2021-12-21 09:00] #1221 closed

[2021-12-21 09:04] plirglo commented on #2782
Please update changelog about node exporter update

[2021-12-21 09:06] #2747 closed, assigned to przemyslavic, romsok24

[2021-12-22 09:20] #2699 closed, assigned to przemyslavic, sbbroot

[2021-12-22 09:20] #2028 closed, assigned to przemyslavic, sbbroot

[2021-12-22 09:21] rafzei commented on #2793
I've scanned /usr/share/elasticsearch and can confirm there is no 2021-44228 beside log4j jars.

[2021-12-22 09:27] #2793 closed, assigned to erzetpe

[2021-12-22 12:41] atsikham opened #2812 "[FEATURE REQUEST] Extend K8s config validation"
**Is your feature request related to a problem? Please describe.**
Right now K8s [validation](https://github.com/epiphany-platform/epiphany/blob/develop/schema/common/validation/configuration/kubernetes-master.yml) doesn't cover all [configuration](https://github.com/epiphany-platform/epiphany/blob/develop/schema/common/defaults/configuration/kubernetes-master.yml) parameters that we have, so it's

[2021-12-22 13:42] seriva commented on #2373
We can probably close this one as 9.3 will be out of support at the end of this year. No sense in wasting time on it.

[2021-12-22 13:51] seriva opened #2813 "[BACKPORT][v1.0.2] - Added hostname_domain_extension."
Backport issue: #2768
Pull request: #2790

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [x] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x

[2021-12-23 07:29] plirglo commented on #2785
OS does not matter during testing process since application works in k8s cluster.
Tested on Ubuntu with application setup:
[code]
By default ```proxy_address_forwarding``` is set to ```false```

Configuration deployed:

![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f7f1c83e8/e0fa6410-b40c-45b9-ab48-6c116b860931)

![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f

[2021-12-23 09:58] plirglo commented on #2715
Ubuntu apply:
![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f7f1c83e8/7c863473-9b66-4df7-9d56-c1ef6a3df505)

[2021-12-23 10:59] plirglo commented on #2715
Red Hat apply:
![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f7f1c83e8/751506a9-740e-44e6-91e2-eeae3e7bd413)

[2021-12-23 12:35] plirglo commented on #2715
Ubuntu upgrade from 1.0.1 to 1.3dev:
![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f7f1c83e8/5611b9c9-3152-4cd0-83f6-901beae22263)

[2021-12-23 13:12] plirglo commented on #2715
Red Hat upgrade from 1.0.1 to 1.3dev:
![image.png](https://images.zenhubusercontent.com/5ef9f41844c19c2f7f1c83e8/6bc8d815-05ab-4d5a-b193-1b992b7bb32c)

[2021-12-23 13:16] plirglo commented on #2715
@przemyslavic i think we can merge this, i'm moving it to DoD, move back if you have any doubts

[2021-12-23 13:17] plirglo commented on #2785
@przemyslavic i think we can merge this, i'm moving it to DoD, move back if you have any doubts

[2021-12-23 13:47] erzetpe opened #2814 "[FEATURE REQUEST] Add description how to enable TLS in Kibana"
**Is your feature request related to a problem? Please describe.**
We have possibility to turn on TLS manually in Kibana for https connection, but we don't have any documentation how to do this.

**Describe the solution you'd like**
We want to update documentation to cover this area.

**Describe alternatives you've considered**
In the future after we will switch to Opensearch we want to have this

[2021-12-27 09:44] erzetpe opened #2816 "[FEATURE REQUEST] Automatic TLS configuration for Kibana connections"
**Is your feature request related to a problem? Please describe.**
We have possibility to turn on TLS manually in Kibana for https connection, but we don't have any automation to do this.

**Describe the solution you'd like**
We want to update have this automatically accessible from Epiphany.

**Describe alternatives you've considered**
None.

**Additional context**
We need to consider if we shoul

[2021-12-27 09:53] erzetpe opened #2817 "[FEATURE REQUEST] Automatic TLS configuration for PostgreSQL connections"
[FEATURE REQUEST] Automatic TLS configuration for PostgreSQL connections

**Is your feature request related to a problem? Please describe.**
We have possibility to turn on TLS manually in PostgreSQL for https connection, but we don't have any automation to do this.

**Describe the solution you'd like**
We want to update have this automatically accessible from Epiphany.

**Describe alternatives you

[2021-12-28 08:29] przemyslavic commented on #2660
✔️ apply x86_64, aarch64
✔️ apply HA cluster
✔️ promote to HA
✔️ single machine installation
✔️ upgrade from v1.0 x86_64
✔️ upgrade from v1.1 aarch64
✔️ upgrade from v1.0 single machine installation
✔️ upgrade from v1.0 HA installation

Istio and Vault applications are not supported.

[2021-12-28 09:25] przemyslavic commented on #2737
Tested by @atsikham https://github.com/epiphany-platform/epiphany/pull/2811#issuecomment-1000235627.
Moving to DoD.

[2021-12-28 10:09] #2737 closed, assigned to atsikham, seriva, pprach

[2021-12-28 10:13] #2715 closed, assigned to atsikham, plirglo

[2021-12-28 10:19] #2660 closed, assigned to atsikham, przemyslavic

[2021-12-28 10:21] #2814 closed, assigned to erzetpe

[2021-12-28 10:24] #2661 closed, assigned to plirglo

[2021-12-28 10:27] #2785 closed, assigned to seriva, plirglo

[2021-12-28 10:30] #2595 closed, assigned to erzetpe

[2021-12-28 11:30] romsok24 opened #2821 "[FEATURE REQUEST] eplicli preflight checks"
**Is your feature request related to a problem? Please describe.**

When we run an epicli upgrade procedure on existing epiphany installation with an k8s app enabled (ie. node-exporter in daemonset mode) an upgrade procedure is failing ( stating that no clusters/build/test-node-expr/kubeconfig file was found).

**Describe the solution you'd like**
Perhaps we can implement some additional preflight

[2021-12-28 12:41] przemyslavic commented on #2768
Tested by @rafzei https://github.com/epiphany-platform/epiphany/pull/2790#issuecomment-1002068421.
Thanks man :heart:

[2021-12-28 16:26] seriva commented on #2791
@atsikham Few questions:

1: This is not something needed for the K8s 1.22.4 upgrade right?
2: Would it make sense to split this in 3 separate tasks? On for each plugin.
3: Maybe this is redundant as we might want to disconinue support for 3 plugins? @erzetpe Maybe something consider for this deprecation plan you are working on?

[2021-12-28 19:59] atsikham commented on #2791
1. Right
2. Might be 2 - [flannel](https://github.com/flannel-io/flannel) and [calico/canal](https://github.com/projectcalico/calico)
3. May be

[2021-12-29 08:53] przemyslavic commented on #2768
@seriva what about adding extra validation for the hostname?
[code]

[2021-12-29 10:11] seriva opened #2823 "[BACKPORT][v1.0.2] - Upgrade to Open Distro to latest 1.13.x to solve the log4j issues"
Source issue #2788
Pull request #2806

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schema updated / doesn't need to be updated
* [x] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [x] Idempotency tested
* [x] Documentation added / updated / doesn't need to be updated
* [x] Al

[2021-12-29 10:14] seriva commented on #2789
Besides upgrade this might involve some work to fix some issues internal projects have. Talk to @erzetpe  as he knows more.

[2021-12-29 10:15] seriva commented on #2788
Needs to be backported to 1.0.x, issue already created: #2823

[2021-12-29 10:29] #2300 closed, assigned to nobody

[2021-12-30 08:29] seriva opened #2825 "[SPIKE] Research upgrade for Terraform."
**Is your spike related to a problem or idea? Please describe.**
Currently the Terraform in Epicli was not updated/maintained for a long time. This already caus-es/-ed a bunch of issues:

1. #2706
2. #1570
3. #1569
4. #2774

Besides that support for data disks will need to be added for the upcoming support for Cloud Native Storage (#13)

**Describe the outcome you'd like**
This spike should resear

[2021-12-30 08:42] atsikham commented on #2825
@seriva #2001 seems to be a candidate to close as the same was done for #2000.

[2021-12-30 08:56] #2768 closed, assigned to seriva, rafzei

[2021-12-30 09:08] seriva commented on #2825
Good point ill remove and close it. We can re-open a new issue if this team comes forward again.

[2021-12-30 09:09] seriva commented on #2001
Closing as per comment left on discussion for #2000.

[2021-12-30 09:09] #2001 closed, assigned to nobody

[2021-12-30 15:02] romsok24 opened #2827 "[BUG] Review the code in terms of correctness"
This issue is related to problems similar as the one described [here](https://github.com/epiphany-platform/epiphany/pull/2807#:~:text=things%20were%20found%3A-,Task%20Get%20information%20about%20helm%20releases%3A%20need%20to%20add%20changed_when%3A%20false.,-Task%20Check%20if). Basically, Epiphany code should be reviewed to reflect the rule not to mark the task status as changed if the task was o

[2021-12-30 15:14] atsikham commented on #2827
This can be changed after Molecule tests introduction as in this case 'idempotence' test step will fail.
@romsok24 is it also about avoiding execution of upgrade if version is not changed?

[2021-12-31 08:03] atsikham opened #2828 "K8s improvements"
- Please create an issue for removing (or adding comment about) `--ignore-preflight-errors all` and add the issue number here as a comment.

  _Originally posted by @to-bar in https://github.com/epiphany-platform/epiphany/pull/2805#discussion_r776771057_

- We re-generate apiserver certificates [here](https://github.com/epiphany-platform/epiphany/blob/fccc22a4ac86e7bc82f9e2283d3eda58507cff69/ansib

[2022-01-03 05:46] seriva commented on #2373
Closing as this is no longer supported.

[2022-01-03 05:46] #2373 closed, assigned to seriva

[2022-01-03 08:06] przemyslavic commented on #2788
✔️ new deployments:
[code]

✔️  upgrades
Before:
[code]

After upgrading
[code]
Tested on x86_64 and aarch64, all OSes, all cloud providers, apply + re-apply, upgrade + re-upgrade.
 Verified Elasticsearch and Kibana services. Also checked elasticsearch logs.

[2022-01-03 08:09] przemyslavic commented on #1175
Commented on a PR https://github.com/epiphany-platform/epiphany/pull/2805.

[2022-01-03 08:51] przemyslavic opened #2830 "[RELEASE] v1.3.0"
#### Release checklist

* [x] Default OS cloud images updated
* [x] Support branch created
* [x] CI pipelines for support branch created
* All automated tests passed (QA pipelines):
  * [x] Standard apply (new cluster)
  * [x] Standard apply (existing cluster)
  * [x] Upgrade for V-1
  * [ ] Upgrade for V-2
  * [x] Upgrade for V-3
  * [ ] Upgrade for V-4
  * [x] k8s HA apply
  * [x] Promote k8s to

[2022-01-03 09:24] #2788 closed, assigned to seriva, rafzei, przemyslavic

[2022-01-03 09:28] #1175 closed

[2022-01-03 09:34] #2665 closed, assigned to atsikham, przemyslavic

[2022-01-03 11:55] romsok24 commented on #2787
I was trying to groom this task but I'm not really sure if one can understand its goals & scope....
The topic is pointing into preflight checks for the disk space while description is narrowing the problem to only one particular file types....

[2022-01-03 12:34] seriva commented on #2757
When we change the container runtime to containerd (#2716) Docker itself would only be used on the repository machine for running the registry and retagging images.

Re-tagging images could alternatively done by Skopeo but the image registry would require Docker/[Podman](https://thenewstack.io/tutorial-host-a-local-podman-image-registry/).

For me I don't feel the switch from Docker -> Podman on t

[2022-01-03 12:46] seriva commented on #2787
I think this maybe needs to be a spike? First to see how to move forward with cleaning some un-used stuff from the repo with an upgrade run, as old images/files should not accumulate. Secondly I think we know what we downloads and what should be there so this check even could be something dynamic IMO for spacemanagement on the machine.

[2022-01-03 12:55] atsikham commented on #2787
We also already have a check to have 16GB free space for repository.

[2022-01-03 13:01] atsikham commented on #2757
If RHEL still supports Docker, I would rather work on Containerd switch, put this task on hold and review after container runtime switching / os upgrade.

[2022-01-03 13:10] erzetpe commented on #2757
@atsikham proposal is very sound in my opinion.

[2022-01-03 13:52] atsikham commented on #2782
Tested the second time on AWS/Ubuntu and Azure/RHEL after [this](https://github.com/epiphany-platform/epiphany/pull/2807#issuecomment-1002277665) comment:

✅  apply develop + upgrade + upgrade
✅  apply 1.0 + upgrade + upgrade

Behaves as expected, idempotence covered, metrics are in place
![image](https://user-images.githubusercontent.com/6271862/147938316-c880e051-3614-4ac4-a8bb-eb860dbd23ab.png)

[2022-01-04 08:16] atsikham commented on #2669
My proposal is to check this task after #2828 as it might be related.

[2022-01-04 10:04] cicharka opened #2831 "[BACKPORT][v1.0.2] - Fix postgres-exporter service errror: Error opening connection to database"
**Is your feature request related to a problem? Please describe.**
When creating cluster with  postgres-exporter role enabled, the result is that the postgres-exporter service is not exporting metrics at all due to the `Error opening connection to database`:
[code]

**Describe the solution you'd like**
Solution is to remove additional quotation marks from the systemd unit [template](https://github

[2022-01-04 10:07] #2782 closed, assigned to romsok24

[2022-01-04 10:25] romsok24 opened #2832 "[FEATURE REQUEST] Make the DoD checklist clear"
Problem background:
Currently our markdown issue template includes the list of tasks that needs to assessed before the issue can be closed.
The assessment can be either _done_, _not done_ or _not applicable_
while the formula does not offer such functionality ( only single mark box is available in front of each line ).

Proposed solution:
It would be good to have it prepared in a more precise way.

[2022-01-04 10:50] erzetpe opened #2833 "[FEATURE REQUEST] Removal of Logstash component"
**Is your feature request related to a problem? Please describe.**
The functionality that Logstash is serving in Epiphany - exporting csv can right now be achieved using Open Distro for Elasticsearch plugin.

**Describe the solution you'd like**
We want to remove unused Logstash component as it double the functionality with Open Distro for Elasticsearch plugin.

**Describe alternatives you've cons

[2022-01-04 11:09] erzetpe opened #2834 "[FEATURE REQUEST] Removal of Hashicorp Vault component"
**Is your feature request related to a problem? Please describe.**
The role related to Hashicorp Vault has never been developed beyond MVP/PoC stage and cannot be used for production usage and causes troubles with new Kubernetes versions.

**Describe the solution you'd like**
We want to remove this role as it never reached production ready stage and doesn't work with new Kubernetes versions.

**De

[2022-01-04 11:12] seriva opened #2835 "[Epic] Deprecate unused components"
Deprecation of old components

[2022-01-04 11:14] erzetpe opened #2836 "[FEATURE REQUEST] Removal of Istio component"
**Is your feature request related to a problem? Please describe.**
We are considering replacement of Istio component with different solutions and Istio causes problems during upgrade of Kubernetes.

**Describe the solution you'd like**
Remove Istio role from Epiphany.

**Describe alternatives you've considered**
Replace Istio with different service mesh solution.

**Additional context**
None.

---

[2022-01-04 11:20] erzetpe opened #2837 "[FEATURE REQUEST] Removal of Apache Ignite"
**Is your feature request related to a problem? Please describe.**
Apache Ignite is prone to 1.x log4j issue.

**Describe the solution you'd like**
We want to remove role for Apache Ignite from Epiphany.

**Describe alternatives you've considered**
None.

**Additional context**
None.

---

**DoD checklist**

- Changelog
  - [x] updated
  - [ ] not needed
- COMPONENTS.md
  - [x] updated
  - [ ] not

[2022-01-04 13:51] to-bar commented on #2757
We use Docker CE, not EE, which is not supported on RHEL. First I would check whether Docker CE works fine on RHEL 8. If yes, I would agree with @seriva to keep it on repository host as is (we can switch later to something else - we need 1) tool for loading images (skopeo?) and 2) tool for hosting image registry, both are done by Docker CE now). Otherwise (when Docker CE will not work on RHEL 8) w

[2022-01-04 14:05] seriva commented on #2757
Ok so lets move forward with runtime replacement to containerd and upgrade of RedHat. During this RedHat upgrade if it turns out that Docker CE is not working we can still block this task by this.

[2022-01-04 14:52] erzetpe opened #2840 "[FEATURE REQUEST] Create deprecation notes documentation"
**Is your feature request related to a problem? Please describe.**
Right now we want to deprecate a couple of components in Epiphany

**Describe the solution you'd like**
We want to create deprecation notes documentation.

**Describe alternatives you've considered**
None.

**Additional context**
None.

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be

[2022-01-04 15:09] cicharka commented on #2791
@atsikham and @erzetpe, as there is plan to create a spike about Calico deprecation do we still need to include Calico plugin in this upgrade ticket?

[2022-01-04 15:12] erzetpe commented on #2791
@cicharka Yes, as this is not planned for 1.3 or 2.0 release.

[2022-01-05 07:35] romsok24 opened #2841 "[BUG] Incorrect link in release info for v1.1.0rc1"
**Describe the bug**
This is a low prio bug.

The link to the CHANGELOG.md file for [version v1.1.0rc1](https://github.com/epiphany-platform/epiphany/releases/tag/v1.1.0rc1) seems to be malformed.
Instead of currently used:
```https://github.com/epiphany-platform/epiphany/blob/develop/CHANGELOG-1.1.md#110rc1-2021-06-18```
we should consider this one:
```https://github.com/epiphany-platform/epiphan

[2022-01-05 07:45] seriva commented on #2837
If we move forward with this we should be able to close this one: #2789

[2022-01-05 07:46] seriva commented on #2837
ALso this should be both the on VM and K8s deployments.

[2022-01-05 08:31] erzetpe opened #2842 "[SPIKE] Supported Kubernetes CNI plugins comparison"
**Is your spike related to a problem or idea? Please describe.**
We want to minimize the number of CNI plugins supported by the Epiphany as it is hard to test right now multiple options and the functionality doubles between the plugins.

**Describe the outcome you'd like**
We want to compare CNI plugins supported by Epiphany also in the context of cloud provider.

**What is the reason or source fo

[2022-01-05 11:51] cicharka opened #2844 "[FEATURE REQUEST] Refactor K8s upgrade task in order to simplify its flow"
**Is your feature request related to a problem? Please describe.**
Kubernetes [upgrade task](https://github.com/epiphany-platform/epiphany/blob/develop/ansible/playbooks/roles/upgrade/tasks/kubernetes.yml) can have simpler flow. Currently we are using 3 factors (kubelet version, cluster version and upgrade flag file status) to decide if we need to upgrade - but truly we can decide only based on ku

[2022-01-05 12:38] przemyslavic commented on #1739
Tested scenarios:
:heavy_check_mark: `epicli apply` -> `epicli apply` (x86_64 and aarch64)
:heavy_check_mark: `epicli apply` v1.0.1 -> `epicli upgrade` -> `epicli upgrade` (x86_64)
:heavy_check_mark: `epicli apply` v1.2.0 -> `epicli upgrade` -> `epicli upgrade` (aarch64)
:heavy_check_mark: Verified HAProxy metrics in Prometheus and Grafana.

[2022-01-05 12:39] przemyslavic commented on #2752
Tested scenarios:
:heavy_check_mark: `epicli apply` -> `epicli apply` (x86_64 and aarch64)
:heavy_check_mark: `epicli apply` v1.0.1 -> `epicli upgrade` -> `epicli upgrade` (x86_64)
:heavy_check_mark: `epicli apply` v1.2.0 -> `epicli upgrade` -> `epicli upgrade` (aarch64)
:heavy_check_mark: Verified PostgreSQL metrics in Grafana.

[2022-01-05 12:49] cicharka opened #2845 "[BUG] Incorrect order of multiple conditions check in jmx_exporter upgrade task"
**Describe the bug**
postgres_exporter_version.old/new variables are undefined when upgrade flag file exists. This will fail the build as the whole block where we set facts is not executed.

**How to reproduce**
Break the upgrade procedure after creating upgrade flag. In next iteration it will fail.

**Expected behavior**
Upgrade procedure should succeed in case there was a failure before and upgr

[2022-01-05 13:40] to-bar opened #2847 "[FEATURE REQUEST] Upgrade Ansible to 5.2.0"
**Is your feature request related to a problem? Please describe.**
If there is Python 2 & 3 at the same time, ansible-core 2.11 will choose Python 2 by default. Due to Ubuntu release upgrade we've changed setting `interpreter_python` from `auto_legacy_silent` to `auto` in ansible.cfg. However, this config file may by not applied when running playbooks manually (for developing) unless `ANSIBLE_CONF

[2022-01-05 14:13] to-bar opened #2848 "[SPIKE] Check how to upgrade Ubuntu from 18.04 to 20.04 in air-gapped environment"
**Is your spike related to a problem or idea? Please describe.**
In version 1.3 we require Ubuntu 20.04 but already existing clusters have Ubuntu 18.04.
We may be asked how to deal with upgrade in air-gapped environment.

**Describe the outcome you'd like**
We need to check what steps are needed to upgrade OS release in air-gapped environment and whether it's possible to use OS installation image

[2022-01-05 14:35] przemyslavic commented on #2845
:heavy_check_mark: Tested `upgrade` from v 1.0.1 -> upgrade canceled after `jmx-exporter-upgrade-in-progress.flag` flag was created -> re-run upgrade when flag exists

[2022-01-05 18:24] to-bar opened #2849 "[SPIKE] Check how to upgrade RHEL release from 7 to 8 in air-gapped environment"
**Is your spike related to a problem or idea? Please describe.**
In version 2.0 we're going to upgrade RHEL release from 7 to 8, then we will require RHEL 8 but already existing clusters have RHEL 7.
We may be asked how to deal with upgrade in air-gapped environment.

**Describe the outcome you'd like**
We need to check what steps are needed to upgrade OS release in air-gapped environment and whet

[2022-01-05 18:26] to-bar commented on #2734
Related task: #2849

[2022-01-10 07:14] seriva commented on #2789
Probably not needed anymore because of #2837

[2022-01-10 09:10] #2845 closed, assigned to przemyslavic, cicharka

[2022-01-10 09:13] #2752 closed, assigned to przemyslavic, pprach, cicharka

[2022-01-10 09:18] #1739 closed

[2022-01-10 11:14] rafzei commented on #2821
Please, double check in the rest k8s apps.

[2022-01-10 17:27] seriva commented on #1570
Seems to be default Terraform behavior,  even after bumping Terraform + Azurerm  provider to latest. Researched in #2825. So I think we would be good to just close this.

[2022-01-10 17:49] seriva commented on #2825
For this spike I research and implemented to possible update strategies.

# Minor upgrade

Changes can be viewed  in the following draft pull: https://github.com/epiphany-platform/epiphany/pull/2851

This upgrades the Terraform components as follows:
- Terraform from 0.12.6 to 0.12.31.
- azurerm provider from 1.38 to 1.44.
- AWS provider from 2.26 to 2.70.1

This pull would resolve the following i

[2022-01-11 08:39] seriva opened #2853 "[FEATURE REQUEST] Change autoscaling_group approach in AWS provider in favor of plain VM creation."
**Is your feature request related to a problem? Please describe.**
Currently for AWS we use autoscaling_groups to create a set of VMs for a given component group. This approach however has several issues as we cant guaranty the order of the VMs when changing/updating the cluster. This in turn causes issues with scaling some of the components in our cluster.

**Describe the solution you'd like**
We

[2022-01-11 09:00] #2702 closed, assigned to erzetpe, cicharka

[2022-01-11 09:49] asciible commented on #1176
I tried all workarounds mentioned in https://github.com/ansible-community/ansible-lint/issues/1446, without success; the `load-failure` false positives keep showing.
So, as @to-bar said, this should wait for the resolution of that bug.

[2022-01-11 11:02] atsikham commented on #1457
Based on previous tasks, additional articles and documentation ([requirements](https://rook.io/docs/rook/v1.8/pre-reqs.html)) I was able to perform [offline installation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-create-an-epiphany-cluster-on-existing-air-gapped-infrastructure) with [Helm](https://github.com/rook/rook/blob/v1.8.1/Documentation/hel

[2022-01-11 11:08] sbbroot opened #2854 "[BUG] Validation fails during upgrade -f with default configuration on Azure"
**Describe the bug**
Validation fails for `use_cloud_init_custom_data` during upgrade -f with default configuration on Azure

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli init -p azure -n cluster_name --full`
2. execute `epicli upgrade -b cluster_name -f cluster_name/cluster_name.yml`

**Expected behavior**
Validation should pass without any problem

**Config files**
De

[2022-01-11 12:39] atsikham commented on #2825
Agree with the 'final though' part. In addition it can be mentioned somewhere with the pointing to `--no-infra` to leave existing infra untouched even with upgraded version of Terraform.

[2022-01-11 14:22] przemyslavic opened #2856 "[FEATURE REQUEST] Update cloud OS images to the latest"
**Is your feature request related to a problem? Please describe.**
Update Ubuntu 20.04-LTS/RHEL 7/CentOS 7 images used in the cloud to the latest version before releasing v1.3.0.

**Describe the solution you'd like**
Update Azure DevOps pipelines, documentation and epicli defaults.

---

**DoD checklist**

* [x] Changelog updated
* [x] COMPONENTS.md updated / doesn't need to be updated
* [x] Schem

[2022-01-11 14:25] przemyslavic commented on #2856
Ubuntu: PR #2843
RHEL/CentOS: PR #2855

[2022-01-11 14:33] erzetpe commented on #1457
This is splendid. :)

[2022-01-12 08:36] erzetpe opened #2857 "[SPIKE] Compare Terraform with ARM Templates, ARM Bicep and Pulumi"
**Is your spike related to a problem or idea? Please describe.**
We want to decide in which direction we should go with our infrastructure for Azure module and we want to compare Terraform with ARM Templates, ARM Bicep and Pulumi.

**Describe the outcome you'd like**
We want to compare  Terraform with ARM Templates, ARM Bicep and Pulumi.

**What is the reason or source for the spike**
Make easier

[2022-01-12 08:43] cicharka commented on #2559
Proposed new Agent job in Azure Pipeline (go to [draft pipeline](https://dev.azure.com/abb-epiphany/epiphany/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=126) to see all steps):

---

1. Running Rubocop linter task:
[code]

2. Assertion for linter failures:
[code]

---

Notes:
* To do not let new linting errors coming with the commit, we are restricting in rubocop with `--f

[2022-01-12 08:44] seriva commented on #1452
This issues should be changed to make sure it includes the best support for the cloud native storage, also as we AWS changes we might want to split this up in AWS and Azure seperately.

[2022-01-12 08:53] sbbroot commented on #2420
Since we do not officially support loading variables from both config file and default file at the same time during the upgrade mode, this part will not be added.

[2022-01-12 08:56] seriva commented on #139
This issues should be changed to make sure it includes the best support for the cloud native storage, also as we AWS changes we might want to split this up in AWS and Azure separately.

[2022-01-12 09:01] cicharka opened #2858 "[FEATURE REQUEST] Make Ruby spec tests code compliant with rubocop lint rules"
**Is your feature request related to a problem? Please describe.**
After adding `rubocop` linter to Azure Pipeline it reports many failures in tests/spec code and as we don't want to have workaround for checking failures threshold we have to correct tests/spec code.

**Describe the solution you'd like**
After running autocorrect proposed by rubocop we can manually updated rest of the failures. As

[2022-01-12 09:06] erzetpe commented on #1192
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:06] #1192 closed

[2022-01-12 09:13] erzetpe commented on #1239
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:13] #1239 closed

[2022-01-12 09:13] erzetpe commented on #1272
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:13] #1272 closed

[2022-01-12 09:14] erzetpe commented on #1193
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:14] #1193 closed

[2022-01-12 09:14] erzetpe commented on #1238
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:14] #1238 closed

[2022-01-12 09:14] erzetpe commented on #1672
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:14] #1672 closed

[2022-01-12 09:15] erzetpe commented on #1550
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:15] erzetpe commented on #1550
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:15] #1550 closed

[2022-01-12 09:16] erzetpe commented on #1697
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:16] #1697 closed

[2022-01-12 09:16] erzetpe commented on #1698
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:16] #1698 closed

[2022-01-12 09:17] #1699 closed

[2022-01-12 09:17] erzetpe commented on #1699
Closing because of deprecation of Hashicorp Vault component.

[2022-01-12 09:34] erzetpe commented on #1931
Closing because of deprecation of Istio component.

[2022-01-12 09:34] #1931 closed

[2022-01-12 09:35] erzetpe commented on #2456
Closing because of deprecation of Istio component.

[2022-01-12 09:35] #2456 closed, assigned to nobody

[2022-01-12 09:56] erzetpe commented on #2577
Closing because of deprecation of Istio component.

[2022-01-12 09:56] #2577 closed, assigned to nobody

[2022-01-12 09:56] erzetpe commented on #2418
Closing because of deprecation of Istio component.

[2022-01-12 09:56] #2418 closed, assigned to nobody

[2022-01-12 10:07] seriva opened #2859 "[EPIC] Bugfixes/Small features 2.0.0"
List of bugs or minor features we can pull in to 2.0 as additional work and which might be awesome for 2.0 release.

[2022-01-12 13:56] erzetpe commented on #2423
Closing because of switch to Opensearch.

[2022-01-12 13:56] #2423 closed, assigned to nobody

[2022-01-12 14:28] seriva commented on #2837
Important is to remove everything:

- Ansible
- Python (if present)
- Defaults
- Validation
- Documentation
- etc

From documentation only leave things that are part of design docs.

[2022-01-12 14:28] seriva commented on #2836
Important is to remove everything:

- Ansible
- Python (if present)
- Defaults
- Validation
- Documentation
- etc

From documentation only leave things that are part of design docs.

[2022-01-12 14:28] seriva commented on #2833
Important is to remove everything:

- Ansible
- Python (if present)
- Defaults
- Validation
- Documentation
- etc

From documentation only leave things that are part of design docs.

[2022-01-12 14:59] przemyslavic opened #2860 "[FEATURE REQUEST] Increase the number of `forks` in Ansible from default (5) to configure more hosts in parallel"
**Is your feature request related to a problem? Please describe.**

As for now we use the default value of the ansible `forks` parameter which is 5.
**This means that only 5 hosts can be configured by Ansible in parallel.**

**Describe the solution you'd like**

Increase the number of forks to 20-30 to configure all hosts in parallel. This should save some time, especially when testing large clust

[2022-01-13 08:32] #2620 closed, assigned to nobody

[2022-01-13 08:32] #2746 closed, assigned to nobody

[2022-01-13 09:23] #1331 closed

[2022-01-13 09:27] #1457 closed

[2022-01-13 09:28] przemyslavic commented on #2856
:heavy_check_mark: Latest images tested for Ubuntu, RHEL and CentOS.

[2022-01-13 09:33] #2420 closed, assigned to sbbroot

[2022-01-13 09:35] #2840 closed, assigned to erzetpe

[2022-01-13 09:37] #2856 closed, assigned to przemyslavic, to-bar

[2022-01-13 09:40] asciible commented on #1176
Tested on pipeline with:

[code]
Take a look at the `[DRAFT] CI build ansible-lint` pipeline for a full picture

[2022-01-13 09:41] sbbroot opened #2862 "[BACKPORT][v1.0.2][BUG] Grafana - Changing password from epicli does not work"
Backport for [#2420](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/2420)

**DoD checklist**

* [ ] Changelog updated
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Schema updated / doesn't need to be updated
* [ ] Feature has automated tests
* [ ] Automated tests passed (QA pipelines)
  * [ ] apply
  * [ ] upgrade
* [

[2022-01-13 09:42] #2860 closed, assigned to to-bar

[2022-01-13 13:19] to-bar commented on #2559
1) Install Ruby dependencies - I would install requirements in Dockefile, just to save time
2) Have you tested if the linting task would fail after appending any command after calling rubocop (i.e. whether we need to add `set -e` or not)?
3) grep option -o can be not obvious (not so popular) so maybe better to use long form (`--only-matching`)?
4) Maybe `printf` would be more readable than `echo -

[2022-01-13 13:29] erzetpe opened #2864 "[FEATURE REQUEST] Remove unnecessary design docs."
**Is your feature request related to a problem? Please describe.**
We have old design docs that can be misleading for someone using Epiphany.

**Describe the solution you'd like**
We want to review existing design docs and remove unnecessary ones.

**Describe alternatives you've considered**
None.

**Additional context**
None.

---

**DoD checklist**

- Changelog
  - [x] updated
  - [ ] not needed

[2022-01-13 13:32] to-bar commented on #1176
1) Please add the bug number/link to the comment over `sed -i '/load-failure/d'`
2) I think we can install all prerequisites in Dockerfile to save time - then they will be present in Azure DevOps agent image we use

[2022-01-13 20:12] przemyslavic opened #2866 "[BUG] Postgres Exporter upgrade broken - no vars generated during upgrade"
**Describe the bug**
Postgres exporter upgrade fails on task `[postgres_exporter : Include specification vars from postgres_exporter role]`:
[code]
The reason for this is that in unrelated PR #2819 postgres exporter has been removed from roles with defaults 😢
https://github.com/epiphany-platform/epiphany/pull/2819/files#diff-c347f852c48b4116fd8f4282377ec7c782e8301b32a6650e9ea8072ed40237f4L72
Thank

[2022-01-14 08:00] seriva commented on #2789
Closing as this is being deprecated and removed for 2.0.

[2022-01-14 08:00] #2789 closed, assigned to nobody

[2022-01-14 09:19] rafzei opened #2870 "[FEATURE REQUEST] Migrate from ODFE to OpenSearch"
## The issue goal
Provide a complete solution for migration path from Open Distro for Elasticsearch (ODFE) Epiphany component to the new one - OpenSearch.

## The issue background

Open Distro for Elasticsearch (ODFE) is currently one of the Epiphany [components](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/COMPONENTS.md).
However, the Elastic ceased making open source opti

[2022-01-14 09:20] rafzei opened #2871 "[FEATURE REQUEST] Upgrade Kafka"
**Is your feature request related to a problem? Please describe.**
Currently the version of Kafka we use is 2.6.0. Newer versions have been released which fix a bunch of issues.

**Describe the solution you'd like**
Upgrade Kafka to 2.8.1 to resolve some of these bugs and issues.

**Describe alternatives you've considered**
Upgrade to Kafka 3.x, however this introduces a number of breaking changes

[2022-01-14 09:36] #2862 closed, assigned to sbbroot

[2022-01-14 09:37] asciible commented on #2590
Superseded by https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/2847

[2022-01-14 09:37] #2590 closed, assigned to nobody

[2022-01-14 09:38] asciible commented on #1177
Waiting for completion of https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/2847

[2022-01-14 10:15] cicharka commented on #2559
@to-bar, see my answers and code below:
1. That is something that we can solve when we will have agreement on repos related to the pipelines and Azure.
2. As I was not adding any commands after test under that particular task before, I have not noticed that issue. Tested now, `set -e` added.
3. I changed it, now it is more informative
4. Do you want to changed only the command or also play with th

[2022-01-14 11:10] to-bar commented on #2559
@cicharka

1. I'm going to update the Dockerfile soon for a different reason (update Docker image, currently `ubuntu:bionic-20200807`) so I can add/update dependencies as well. Sources from `azure-pipelines-agent` directory will be moved to a new GitHub repo. `sonarqube` probably will stay untouched - up to @erzetpe.

4. My intention was to avoid `-e` switch. Please choose what you like more (I pr

[2022-01-14 11:11] przemyslavic opened #2873 "[BUG] Epicli backup fails on schema validation"
**Describe the bug**
`epicli backup` command fails on schema validation:
[code]

**_Please also verify validations for recovery_**

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply`
3. execute `epicli backup -f /shared/rev13awsrhflannel/backup-config.yml -b /shared/build/rev13awsrhflannel `

**Expected behavior**
There should be no issues with validating the backup co

[2022-01-14 12:28] cicharka commented on #2559
2. Updated step in the `CI build` pipeline with the first option (echo in separate lines)

[2022-01-14 14:35] to-bar commented on #2873
Info about root cause: https://issueexplorer.com/issue/Julian/jsonschema/852

[2022-01-14 17:48] przemyslavic opened #2877 "[BUG] PostgreSQL backup fails on Ubuntu due to permission issue"
**Describe the bug**
Backup of PostgreSQL component fails on Ubuntu due to permission issue.
[code]

NOTE: **Please also verify the recovery playbook**

It's been tested in #2602 and there were no changes in PostgreSQL backup since then so I suppose it's strictly related to upgrade of Ubuntu to 20.04.

**How to reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply` to deploy a clus

[2022-01-17 08:22] przemyslavic opened #2878 "[BUG] [v1.2] [RHEL/CentOS] pgbouncer-1.16.0 not available in pgdg-common repository"
**Describe the bug**
Pgbouncer v1.16.0 package is no longer available in  `pgdg-common` repository. Download-requirements.sh script fails trying to download it:
`repoquery failed: package pgbouncer-1.16.0 not found`.

Affected versions: v1.2

V1.3 and develop are not affected as we have already got rid of standalone pgbouncer and v1.1 is out of support.
In v1.0 we have pgbouncer v1.10 from 2ndquad

[2022-01-17 09:02] plirglo opened #2879 "[BACKPORT][v1.0.3] Epicli is failing in air-gapped infra mode"
Backport #2876 to branch 1.0

---

**DoD checklist**

* [x] Changelog updated (if affected version was released)
* [ ] COMPONENTS.md updated / doesn't need to be updated
* [ ] Automated tests passed (QA pipelines)
  * [x] apply
  * [ ] upgrade
* [ ] Case covered by automated test (if possible)
* [ ] Idempotency tested
* [x] Documentation updated / doesn't need to be updated
* [x] All conversations

[2022-01-18 07:45] przemyslavic opened #2886 "[BUG] [Ubuntu] [PostgreSQL] Apply command fails after upgrading from v1.0.x LTS to v1.3.0"
**Describe the bug**
I'm not able to re-apply configuration after upgrading the cluster from v1.0.x LTS to v1.3.0.
It fails on `TASK [postgresql : Extensions | repmgr | Install package(s)]`. There is an issue with downgrading `repmgr-common` package.
Reproduced on Ubuntu.

[code]

**EDIT:** repmgr-common package in version 5.3.0 is installed as dependency by epicli v1.0 LTS as there is no fixed ve

[2022-01-18 08:07] erzetpe opened #2887 "[FEATURE REQUEST] Create Kubernetes Native Storage Epiphany configuration for AWS provider"
**Is your feature request related to a problem? Please describe.**
We don't have any configuration for  Kubernetes Native Storage in Epiphany on AWS.

**Describe the solution you'd like**
We want to create configuration that will be used in Epiphany deployments with proper defaults,
that can be overridden by the user.

**Describe alternatives you've considered**
No alternatives.

**Additional cont

[2022-01-18 09:04] przemyslavic commented on #2886
Packages in epirepo:
[code]

PostgreSQL vm:
[code]
It looks like repmgr-common 5.3.0 is already installed and we try to install 5.2.1.

[2022-01-18 10:51] erzetpe opened #2888 "[FEATURE REQUEST] Define additional disks with defined sizes to VMs for Azure"
**Is your feature request related to a problem? Please describe.**
We need to provide disks for Cloud Native Storage for Azure provider.

**Describe the solution you'd like**
We want to provide a storage that fulfils requirements stated in comment to issue: https://github.com/epiphany-platform/epiphany/issues/139#issuecomment-731028343:
1. be generic enough to allow defining extra disks and mount

[2022-01-18 11:03] erzetpe opened #2889 "[FEATURE REQUEST] Define additional disks with defined sizes to VMs for AWS"
**Is your feature request related to a problem? Please describe.**
We need to provide disks for Cloud Native Storage for Azure provider.

**Describe the solution you'd like**
We want to provide a storage that fulfils requirements stated in comment to issue: https://github.com/epiphany-platform/epiphany/issues/139#issuecomment-731028343:
1. be generic enough to allow defining extra disks and mount

[2022-01-18 11:12] erzetpe commented on #139
Closing this as new tasks were created that describe this what needs to be done in current Epiphany more accurate.

[2022-01-18 11:12] #139 closed

[2022-01-18 11:32] erzetpe opened #2890 "[FEATURE REQUEST] Rook/Ceph Kubernetes Native Storage for Azure Kubernetes non-AKS cluster"
**Is your feature request related to a problem? Please describe.**
We don't have support for Kubernetes Native Storage in Kubernetes at the moment for non-AKS Kubernetes cluster.

**Describe the solution you'd like**
We want to add support for Cloud Native Storage for non-AKS Kubernetes based on Rook/Ceph solution that based on our comparison: https://github.com/mkyc/k8s-pv is the best option.

**

[2022-01-18 11:34] erzetpe opened #2891 "[FEATURE REQUEST] Rook/Ceph Kubernetes Native Storage for AWS non-EKS"
**Is your feature request related to a problem? Please describe.**
We don't have support for Kubernetes Native Storage in Kubernetes at the moment for non-EKS Kubernetes cluster.

**Describe the solution you'd like**
We want to add support for Cloud Native Storage for non-EKS Kubernetes based on Rook/Ceph solution that based on our comparison: https://github.com/mkyc/k8s-pv is the best option.

**

[2022-01-18 12:29] przemyslavic opened #2893 "[BUG] PostgreSQL backup fails on upgraded Ubuntu as wrong Python interpreter is used"
**Describe the bug**
PostgreSQL backup fails on upgraded Ubuntu from 18.04 to 20.04.
The issue is caused by backup and recovery engine that does neither generate ansible.cfg file nor use the existing one created by apply or upgrade engine and thus the setting for `interpreter_python = auto` is lost.
On upgraded OS there are 2 python interpreters:
[code]
and python2 is used by `postgresql_info` mod

[2022-01-18 13:55] przemyslavic opened #2894 "[BUG] [Ubuntu] System repositories are not restored on epicli re-run"
**Describe the bug**
Assuming the build fails, the system repositories should be restored on re-run to be able to download the requirements and proceed with the installation. However, the script fails as it cannot locate packages to download:

[code]
The reason is that the condition to restore system repos is `if [[ ! -f /etc/apt/sources.list ]]; then`
https://github.com/epiphany-platform/epiphany

[2022-01-18 17:11] to-bar commented on #2894
Analysis:
[code]

[2022-01-18 17:31] to-bar commented on #2877
Solution applied in #2881 and #2883 has been reverted since pipelining is incompatible with sudo's requiretty setting. This is because of [a quirk of the Python interpreter](https://github.com/ansible/ansible/blob/4b753084/lib/ansible/plugins/connection/ssh.py#L542), which enters interactive mode automatically when you pipe in data from a tty.

From Ansible doc:

To be on safe side we should check

[2022-01-19 09:16] seriva commented on #633
This was added recently with pull #2850 so closing.

[2022-01-19 09:16] #633 closed

[2022-01-19 09:52] rafzei commented on #2833
Hi @cicharka, shouldn't you also remove spec test for logstash? see [here](https://github.com/epiphany-platform/epiphany/blob/develop/tests/spec/spec/filebeat/filebeat_spec.rb#L57-L68)

[2022-01-19 10:11] rafzei opened #2900 "[FEATURE REQUEST] Remove PodSecurityPolicy from code before K8s v1.25"
**Is your feature request related to a problem? Please describe.**
PodSecurityPolicy is deprecated as of Kubernetes v1.21, and will be removed in v1.25.
```We have developed a Kubernetes Enhancement Proposal (KEP 2579) and a prototype for a new feature, currently being called by the temporary name "PSP Replacement Policy." We are targeting an Alpha release in Kubernetes 1.22.```

**Describe the so

[2022-01-19 10:11] cicharka commented on #2833
Hello @rafzei, as I understand it, the test you pointed to is related to `filebeat` component.
Unfortunately name 'logstash' was not only used for `logstash` component name, but also as username for `elasticsearch` [here](https://github.com/epiphany-platform/epiphany/blob/66e11f3e2e3d3be750952cc0e010af26b04ddc69/ansible/playbooks/roles/opendistro_for_elasticsearch/tasks/configure-es.yml#L217) and

[2022-01-19 10:11] rafzei commented on #1937
@erzetpe, @seriva I believe it's not longer valid:
https://github.com/epiphany-platform/epiphany/issues/2900

[2022-01-19 10:17] rafzei commented on #2833
Probably you have right, but let's wait for @przemyslavic. Maybe we could change the username?

[2022-01-19 10:43] erzetpe commented on #1937
@rafzei Probably you are right, but the new Kubernetes functionality should have a new issue that will cover this area.

[2022-01-19 10:59] to-bar opened #2904 "[BUG] Not possible to add PostgreSQL component to existing environment"
**Describe the bug**
When you have Epiphany cluster deployed with no PostgreSQL (0 nodes) and want to add it, epicli fails with error:
`Postgresql scaling is not supported yet. Please revert your 'postgresql' node count to previous value.`

**How to reproduce**
Steps to reproduce the behavior:
1. Deploy cluster with `components.postgresql.count = 0`.
2. Edit config file increasing the value from 0

[2022-01-19 11:32] seriva commented on #2854
I cannot reproduce this issue in the steps described.  epicli init removes any fields which have a default SET_BY_AUTOMATION as these would be fields that users should not touch to begin with:

https://github.com/epiphany-platform/epiphany/blob/be26c16d97ab3cddf1cee99e9e6fdc5e023de330/cli/engine/InitEngine.py#L52

 The only way this can occur if a user would add these on purpose in the input docum

[2022-01-19 13:26] romsok24 commented on #2870
Scenario **b2** can be achieved using 2 approaches:

 **b21**) by running the [upgrade tool](https://opensearch.org/docs/latest/upgrade-to/upgrade-to/#upgrade-tool) prepared by OpenSearch team

   ( during tests that I've made it was hard to adopt this tool for Epiphany ODFE instance upgrade, ie. script was not able to find the Elastic installation nor the opened port of 9200)

 **b22**) follow th