[2020-06-30 22:04] #1401 closed

[2020-07-01 08:13] sk4zuzu opened #1408 "[BUG] Epiphany does not support upgrades for Kubernetes in HA mode"
**Describe the bug**
Epiphany does not support upgrades for Kubernetes in HA mode (which was introduced in 0.6.0).

**To Reproduce**
Create a multi-master cluster from the v0.6 branch (it will install Kubernetes 1.17.4), then try upgrading it.

**Expected behavior**
Multi-master Kubernetes cluster is upgraded to 1.17.7 (our current latest) without any issues on each and every node.

**Config files

[2020-07-01 08:14] erzetpe commented on #765
Removed link to internal company documentation.

[2020-07-01 08:20] ar3ndt commented on #1289
Helm charts are exposed within apache repository. Single Helm chart installation is a separate task in Helm role responsible of installing already existing chart from repo.
Single Helm chart task has to be included in each particular role that needs to install chart.
It is possible to overwrite chart values within the specification config.

Example usage:
[code]
Example config:

[code]

[2020-07-01 08:27] erzetpe commented on #765
@tim-gates: What do you think about making such options configurable? Then you would specify your own options in settings according to filebeat documentation? https://www.elastic.co/guide/en/beats/filebeat/current/multiline-examples.html

We can also setup such options for other components.

[2020-07-01 08:34] ar3ndt commented on #1189
Update:

Helm charts are stored in `roles/helm_charts/files/system` path
In repository role Helm charts are added to apache repo server. Repo task archives all charts from the mentioned path (`.tgz`) and serve them.
Installation of particular Helm charts is not performed here -> each particular role that needs to install Helm chart has to trigger separate single helm chart installation task -> `ro

[2020-07-01 12:39] mkyc opened #1409 "[BUG] custom_image_registry_address setting is not implemented"
**Describe the bug**
When value `custom_image_registry_address` is used in configuration installation fails.

**To Reproduce**
Steps to reproduce the behavior:
1. create separate repository and images registry (I do it by creating machine using roles: image-registry, repository and firewall)
2. create configuration with customisation parameters
[code]
3. execute `epicli apply -f config-file.yml --

[2020-07-01 12:40] mkyc commented on #1409
@seriva can you compare it with your error? Was it the same?

[2020-07-01 13:37] seriva commented on #1409
I had the same issue. Problem is that when `custom_image_registry_address` is set on master and nodes in `/etc/docker/daemon.json` the `insecure-registries` entry is not set. If you set this manually to permit the registry then it works fine. More info [here](https://docs.docker.com/registry/insecure/).

Second issue is that when deploying the different K8s components the generated k8s deployment

[2020-07-01 14:37] mkyc commented on #1409
I assume [this TODO](https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/group_vars/all.yml#L5) is related.

@przemyslavic can you say if you ever tested similar configuration with external repos?

[2020-07-02 08:16] pyrkamarcin opened #1410 "[BUG] Missing `manifest.yml` and `terraform.tfstate` during upgrade"
**Describe the bug**
1. After starting the update (from 0.6 to 0.7), when creating the backup folder, new `manifest.yml` is placed in backup folder, not in properly location. `terraform` directory is not created in properly location too.
File in ex. `backup_1593617417434`, `manifest.yaml` and `clusters/build/test/` directory are correct but not placed properly.
Moreover, manifest file is overwritt

[2020-07-02 11:26] erzetpe opened #1412 "[BUG] Certificate in Vault is also generated or copied even if flag in configuration tls_disable is set to true"
**Describe the bug**
Certificate in Vault is also generated or copied even if flag in configuration tls_disable is set to true in Vault configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Vault config in Epiphany configuration, e.g:

[code]

2.  Execute `epicli apply ...` with your configuration file and settings from abov

**Expected behavior**
With flag tls_disable set to

[2020-07-02 11:30] mkyc commented on #732
@przemyslavic can you update title and description of this bug? Title is saying about `AWS/RedHat/flannel` and description about `RabbitMQ/KeyCloak`. Can you describe in points what are you doing (steps to reproduce)?

[2020-07-02 11:34] erzetpe opened #1413 "[FEATURE REQUEST] Set protocol for Vault only in one place in configuration"
**Is your feature request related to a problem? Please describe.**
We should be able to set protocol for Vault only in one place, not like in the config below:

[code]

This can lead to inconsistency and confusing bugs.

**Describe the solution you'd like**
I would like to have protocol - http or https configured only in one place.

**Describe alternatives you've considered**
A clear and concise d

[2020-07-02 11:34] mkyc commented on #1129
@przemyslavic can you add steps to reproduce here?

[2020-07-02 11:37] mkyc commented on #1130
@przemyslavic why did you removed `bug` label? Can you also explain title a bit? It has `[Azure]` but says about `AWS`?

[2020-07-02 11:40] mkyc commented on #1072
@przemyslavic can you confirm that is still existing one? It's bit old.

[2020-07-02 11:49] mkyc commented on #1399
@sk4zuzu can you provide description what was fixed in #1402? I assume you found cause of this bug.

@przemyslavic did you check it after #1402 was merged?

[2020-07-02 11:51] mkyc commented on #1408
@sk4zuzu can you please explain solution for that issue you plan to use?

[2020-07-02 11:53] mkyc commented on #1398
@przemyslavic isn't that related to #1072 ?

[2020-07-02 13:29] rafzei commented on #1394
Looks like it related to < v0.6.0 version of epicli. I cannot reproduce the issue by upgrading v0.6.0 to v.0.7.0.
**ENV**:
- RHEL 7.8
- AWS

[2020-07-02 13:57] rafzei commented on #1408
This should also refactor a part of code added to fix issue #1401. Currently, we are providing kubeconfig on nodes to go through upgrade procedure. It's required by a couple of tasks that shouldn't be run on nodes.

[2020-07-02 15:00] mkyc commented on #1068
@przemyslavic can you review if that bug is still valid?

[2020-07-02 15:02] mkyc commented on #934
@przemyslavic can you write if things mentioned by @toszo are tested?

[2020-07-02 15:03] mkyc commented on #1085
@przemyslavic can you review this bug? If that is still existing can you please provide steps to reproduce?

[2020-07-02 15:07] mkyc commented on #1086
@przemyslavic can you please review if that bug is still valid? If yes then can you please provide steps to reproduce?

[2020-07-03 04:22] toszo opened #1414 "[BUG] High CPU load on Kafka"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
- Create a new Epiphany cluster
- Even with no traffic, Kafka shows high CPU usage

**OS (please complete the following information):**
 - OS: Ubuntu

**Cloud Environment (please complete the following information):**
 - Cloud Provider: MS Azure

**Epiphany version:**
0.5.x

**Context:**
Epiphany Cluster with 3 Kafka nodes and

[2020-07-03 04:35] toszo opened #1415 "[BUG] Ignite Nodes disconnecting every now and then"
**Describe the bug**
We were noticing our Ignite nodes disconnecting occasionally on the Dev cluster. So far twice on May 19, 2020.

Servers going from 2->1:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. execute epicli init ... (with params)
2. edit config file, there should be PostgreSQL and Ignite.
3. execute epicli apply ...

**OS (please complete the following information):**

[2020-07-03 06:47] seriva commented on #1414
We saw that on DEConnect as well. 1 Kafka node which seemingly was busy without any load on it. Intermittently every few seconds 40 to 60 percent CPU load spikes.

Not confirmed but most likely the Java garbage collector kicking in every few seconds to cleanup something. Bumping the memory from 2 to 4 GB on the node seemed to resolve the situation.

[2020-07-03 07:04] sk4zuzu opened #1416 "[FEATURE REQUEST] Backup OpenSearch in HA mode"
**Is your feature request related to a problem? Please describe.**
Backup feature does not work with clustered multi-node OpenSearch. Please check #884.

**Describe the solution you'd like**
Backup code should work with clustered multi-node OpenSearch .

**Describe alternatives you've considered**
N/A

**Additional context**
Clustered multi-node OpenSearch requires shared folder (for example NFS)

[2020-07-03 07:08] sk4zuzu opened #1417 "[FEATURE REQUEST] Restore OpenSearch in HA mode"
**Is your feature request related to a problem? Please describe.**
Recovery feature does not work with clustered multi-node OpenSearch . Please check #1197.

**Describe the solution you'd like**
Recovery code should work with clustered multi-node OpenSearch .

**Describe alternatives you've considered**
N/A

**Additional context**
Clustered multi-node OpenSearch requires shared folder (for example

[2020-07-03 07:19] pprach opened #1418 "tekton: check dashboard release working in single namespace"

[2020-07-03 07:21] pprach opened #1419 "Build system: check if pipeline can be more automated"

[2020-07-03 07:23] pprach opened #1420 "Build system: check operator for tekton"

[2020-07-03 07:26] pprach opened #1421 "Image repository: check operator for harbor"

[2020-07-03 08:05] toszo commented on #1394
Looks like a non-deterministic error. It appears usually on clusters built by pipeline.

[2020-07-03 08:10] rafzei commented on #1068
@przemyslavic or @sk4zuzu please provide fallowing informations:
 - os related
 - cloud related
 - epicli version related

[2020-07-03 08:40] mkyc commented on #732
@to-bar @ar3ndt  can you check if that is related to #1395

[2020-07-03 08:43] rpudlowski93 commented on #896
@toszo  Could Your provide description and what exactly need to be updated in documentation?

[2020-07-03 08:49] pyrkamarcin commented on #1072
It is maybe similar to: #1129, please check.

[2020-07-03 08:51] toszo commented on #1414
Asked questions to the original creator of this issue. Waiting for response.

[2020-07-03 11:35] przemyslavic commented on #1409
I have not tested the custom repository.
What I tested was to use a dedicated machine as a standalone repository with the following configuration:
[code]

[2020-07-03 13:19] przemyslavic opened #1423 "[BUG] Error reading generated service principal"
**Describe the bug**
Epiphany cannot read generated service principal because of special characters in the password causing a syntax error.

**To Reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f test.yml` (configuration given below)

**Expected behavior**
The service principal has been generated correctly and the cluster has been deployed successfully.

**Config files**
Con

[2020-07-03 13:53] przemyslavic opened #1424 "[BUG] Terraform returning an error during deployments on Azure ("A retryable error occurred.")"
**Describe the bug**
There is often an issue with Azure cluster deployment due to a terraform error saying "A retryable error occurred."

**To Reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f test.yml` (configuration given below)

**Expected behavior**
The cluster has been deployed successfully.

**Config files**
[code]
**OS (please complete the following information):**
 -

[2020-07-06 06:44] toszo commented on #1414
Received a response and updated description.
From what @seriva suggested it could be first thing to check - JVM settings (bump from 2GB to 4 RAM).

The next thing is Kafka exporter - check if it does not consume memory due to some bug.

[2020-07-06 19:57] rafzei commented on #1410
Let me paste output of `epicli delete` :
[code]
and if you specify the backup folder with `-b` parametr:
[code]
I see two possible solutions:
1. Both manifest.yml and terraform dir should be copied, not moved. Then build directory can be specified with `epicli delete -b`
2. epicli should find terraform state in a proper path. Then backup directory can be specified with `epicli delete -b`
On logs a

[2020-07-06 20:29] seriva commented on #1410
At this point in time I would vote for 1 but in general we need to probably do some additional work on the upgrade process in general.

The current upgrade process only takes in to account upgrading certain cluster parts using Ansible with support going back to Epiphany 0.2.3 which was a bit of a different architecture. To achieve this backwards compatibility we are working directly from the Ansib

[2020-07-07 06:48] pyrkamarcin commented on #1410
I agree with 1. General refactoring is topic for another spike and issue.

[2020-07-07 07:31] seriva commented on #1129
So far I am not able to reproduce this on a AWS -> Ubuntu -> Callico. Using the following config:

[code]

Using the following script trying to reproduce it from the 2 worker nodes:

[code]

After running it for a few hours I see request times between  30 to 100ms. I think this issue might be only on RedHat as its very similar to this issue: #1129.

[2020-07-07 08:00] mkyc commented on #896
Helm documentation is also missing. @ar3ndt you can use this task.

[2020-07-07 08:27] erzetpe commented on #1398
The problem is with network policies. To solve this issue I will add separate vault namespace and proper policies to handle traffic between kubernetes API, vault agent and external vault.

[2020-07-07 08:50] mkyc commented on #1314
@seriva what about this task? Shouldn't it be closed?

[2020-07-07 08:52] mkyc commented on #1322
looks like related to #896

[2020-07-07 09:00] mkyc commented on #1305
I think it's similar thing with `/etc/hosts`. If there is assumption that infrastructure is already ok to handle connections I would assume `/etc/hosts` contains correct entries already. Currently epiphany deletes all existing entries and adds it's own. I think that, if we want to do anything with that file at all, we should add new entries and do not change existing ones when `--no-infra` paramet

[2020-07-07 09:12] mkyc commented on #886
@plirglo shouldn't this issue be closed?

[2020-07-07 09:48] plirglo commented on #886
Closing the issue since. DoD check - done.

[2020-07-07 09:48] #886 closed

[2020-07-07 09:53] sk4zuzu commented on #1121
Results from the research:

This is a nice concept for cloud Epiphany as an option/addition. Unfortunately, it would not work well on-premise (would for example require a custom nomad cluster or something similar - depending on available providers) so we decided to drop it. Also for example AWS provider project for VK seems to be stale https://github.com/virtual-kubelet/aws-fargate.

This is the p

[2020-07-07 12:14] mkyc opened #1428 "Prepare/Update DoD description."
Provide [Pull Request template](https://docs.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository) containing guidelines what should be checked on PR (documentation, change log entry, tests existence, etc.).

[2020-07-07 14:42] sk4zuzu commented on #1399
@mkyc sorry for the late answer, the fix in question was successful at least in some cases for problems related to etcd encryption, but essentially it is an awful practice (truly and profoundly). We call it the `fix of the month` and it will be happily removed in the current fix for etcd problems #1427 (please check the diff). We're sorry we merged that, but maybe this is an example that instead o

[2020-07-07 15:24] seriva commented on #1129
Double checked on a 0.6.0 deployed cluster and I can reproduce it easily:

![image](https://user-images.githubusercontent.com/11056665/86803019-e5f58180-c075-11ea-936f-9747eaae05d4.png)

So it seems to be resolved with the latest updates done to the calico.

[2020-07-07 18:15] mkyc commented on #1129
Shall we add fix to 0.6.x branch?

[2020-07-08 05:59] seriva commented on #1423
Yes the issue is with the cli/engine/providers/azure/APIProxy.py where some calls utilizing the SP pw and application string may fail because of escape characters in the string.

Should be easy fix.

[2020-07-09 08:08] toszo commented on #1129
Yes, please add fix to 0.6.x

[2020-07-09 08:24] rafzei commented on #1394
Additional log from kubernetes-metrics-scraper:
[code]

What I observe is that issue was gone after VM restart.

[2020-07-09 09:18] toszo commented on #896
In Kubernetes 1.17, many of the API was removed.
Information about Kubernetes deprecated API's (people still use `extensions/v1beta1` in deployments). We need to enclose information that all deployments, configmaps, secrets, policies, etc. have to be updated to use new Kubernetes APIs.

[2020-07-09 09:21] mkyc commented on #1006
@toszo can you decide what to do with it?

[2020-07-09 09:25] mkyc opened #1430 "[spike] identify if we should backup RabbitMQ data"
**Description**
To be able to proceed with RabbitMQ backup/restore processes it's necessary to identify which data is sensitive and needs to be managed additionally.

**Expected results**
 - RabbitMQ docs are analysed
 - It's identified and documented which data is sensitive
 - Description of following (blocked) tasks is updated

**Cloud Environment (please complete the following information):**

[2020-07-09 10:19] toszo commented on #1072
There is troubleshooting docs in Kubernetes wiki that you can find useful: https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

K8s Networking: https://kubernetes.io/docs/concepts/cluster-administration/networking/

[2020-07-09 10:23] seriva commented on #1129
So this should not be part of 0.7.1 but a 0.6.1 epic. Also I think its better to wait for 0.7.1 release before we backmerge since there are some fixes beeing made with K8s there.

[2020-07-09 10:29] seriva commented on #1423
So the issue is fix in later version of AzureCLI. Easiest fix is to bump versions 2.8.0:

https://github.com/Azure/azure-cli/issues/13625
https://github.com/Azure/azure-cli/pull/13643
https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#rbac

[2020-07-09 10:32] mkyc commented on #1129
Sure, for now I created 0.6.1 milestone (without due date) and assigned this issue to it.

[2020-07-09 10:59] sk4zuzu commented on #1189
The current implementation in the helm / helm_charts / repository ansible roles deploys only the "system" chart repo (served from Apache2 as a part of our standard repository) and I believe it has been designed only for internal usage, i.e. from other roles inside the Epiphany ansible __>>> source code <<<__.

To add a new "system" type chart to the repo (by design) one needs to put the whole unco

[2020-07-09 12:01] rafzei commented on #1395
I've got similar error during an upgrade from 0.4.4 to 0.7.
[code]

[2020-07-09 13:02] ar3ndt commented on #1189
AD1. Yeah I think user repo will need some additional "options" via epi client but I think it needs discussion with wider audience about the needs.
AD2. epicli dedicated tasks?
AD3. In this approach we should then change the behavious for all the packages and images in epiphanny as well which makes this task out of the scope IMO

[2020-07-09 13:32] sk4zuzu commented on #1189
Then maybe I'd suggest narrowing scope of this task only to the "system" related repo, changing the title of the issue (so it says it's "system" related), and maybe creation of additional issues about the "user" related improvements for the future? 🤔

[2020-07-09 13:41] to-bar opened #1433 "[FEATURE REQUEST] Separate preflight checks for 'epicli apply' and 'epicli upgrade'"
**Is your feature request related to a problem? Please describe.**
We need to add preflight check only for 'epicli upgrade' mode to verify whether existing version of Kubernetes is supported by Epiphany. Since v0.7.0 we do not support K8s versions older than 1.14.6 (Epiphany v0.4.4) and we do not inform users about this using a friendly message.

Without such check user who tries upgrade old (not

[2020-07-09 13:57] to-bar commented on #896
Please keep in mind that we need to add to the documentation information about not supported Epiphany versions (below v0.4.4) since 0.7.0 required K8s in version 1.14.6+. I created issue #1433 to add preflight check for this.

[2020-07-09 14:18] rpudlowski93 commented on #1072
The problem still occure and is repeatable in the following version:

**OS**: RHEL
**Cloud Provide**r: AWS
**Epiphany**: v0.7.0
**K8S**: v1.17.7

[code]

[2020-07-09 18:21] toszo commented on #1414
Got this message from one of the apps:

[2020-07-10 07:40] erzetpe commented on #1329
I would stick to defaults that we have right now and make those options configurable. You are setting them after some performance tests and configuration for each user can be different and those settings could have impact on their deployments.

[2020-07-10 13:29] martamercury opened #1436 "epiuser does not have the correct permissions to run epicli and access the /shared folder."
We were not able to run epicli as epiuser due to permission errors during install. We had to sudo to root.

**To Reproduce**
From the DE 1.3 On Premise Install guide...

1-On the Installer Machine, execute the following commands:
[code]
Where:
[code]
A bash shell will start.

2-In the bash shell, execute the following command:
bash-5.0# epicli apply -f singlemachine.yml

**Expected behavior**
you

[2020-07-12 21:30] rafzei commented on #1347
Hi @apopaa,
thanks for creating the issue.
I've updated the description to use a template. Please check and adjust it if I missed something.

[2020-07-13 07:32] rpudlowski93 commented on #1329
After the small conversation with @KWReidABB, I can confirm that sticking the defaults values and make those option configurable is enough.

[2020-07-13 12:28] mkyc opened #1439 "[Epic] Kubernetes Autoscaling"
Kubernetes Autoscaling functionality with following assumptions:
* AKS and EKS managed clusters components will be introduced.
* managed clusters would be tested how they scale with increased and decreased load
* managed clusters would be packaged to new epiphany configurations.
* validation would ensure that there is just one Kubernetes cluster component in environment.
* new managed Kubernetes c

[2020-07-13 12:31] mkyc commented on #1203
This does not look like part of autoscaling feature @sk4zuzu. It looks rather like added here "by the way". Am I right?

[2020-07-13 12:32] mkyc commented on #1204
@sk4zuzu if we are talking about managed clusters, we do not need this task I believe. What do you think?

[2020-07-13 12:35] mkyc commented on #1205
@sk4zuzu if we are talking about managed clusters, we do not need this task I believe. What do you think?

[2020-07-13 12:36] mkyc commented on #1206
@sk4zuzu what would be a use case for that issue?

[2020-07-13 12:36] mkyc commented on #1207
@sk4zuzu if we are talking about managed clusters, we do not need this task I believe. What do you think?

[2020-07-13 12:39] sk4zuzu commented on #1205
@mkyc correct :+1:, I don't think running full `epicli apply` is needed here if we are going to use AKS/EKS, so we probably don't need such optimizations that much.

[2020-07-13 12:45] sk4zuzu commented on #1206
@mkyc so the previous idea for autoscaling was to reuse existing k8s automation we have already, but without any kind of cloud provider software deployed. Also we were supposed to reuse existing epicli/ansible code. We would introduce a long running process inside k8s that would control the size of the cluster by running epicli commands. I don't think that this is needed anymore.

[2020-07-13 12:49] sk4zuzu commented on #1207
@mkyc correct. If we are gonna use AKS/EKS there is no need for this task for autoscaling. The one use case I can see if for on-prem clusters, where an user would like to manually scale-down some multi-master k8s cluster - so in the end we would scale-down control plane instead of nodes.

[2020-07-13 12:53] mkyc commented on #1205
Ok, so closing it as not relevant in current plan.

[2020-07-13 12:53] #1205 closed

[2020-07-13 12:54] sk4zuzu commented on #1204
@mkyc correct. We can stiil use packer here to speed up deployment though IMO. :+1:

[2020-07-13 12:55] mkyc commented on #1206
Yeah, I agree. Closing it for now.

[2020-07-13 12:55] #1206 closed

[2020-07-13 12:57] sk4zuzu commented on #1203
@mkyc in the previous solution this would be a very important part so we would be able to share state between epicli invocations. This is IMO some technical debt we have anyways, but for autoscaling in AKS/EKS it's pointless now.

[2020-07-13 12:57] mkyc commented on #1207
Yes. As we do not plan to have such feature, I close it for now. If we ever need to get back to this we will reopen and move to some better place.

[2020-07-13 12:57] #1207 closed

[2020-07-13 13:00] mkyc commented on #1204
Hmmmm ... I think you might be right. I believe that there was possibility to choose OS image to be used in managed clusters, on some cloud providers. I'll leave this issue for now, but I'll mark it low priority. We should spend some time here anyways.

[2020-07-13 13:06] mkyc opened #1440 "AKS cluster setup"
Prepare terraform scripts to setup AKS cluster. Not integrate with epiphany code yet, might be some new directory.

**Is your feature request related to a problem? Please describe.**
We need to introduce AKS managed cluster as component to our environment.

**Describe the solution you'd like**
As this task is first in line of multiple tasks related to AKS introduction, I'd like to have separate di

[2020-07-13 13:07] mkyc opened #1441 "AKS cluster autoscaling tests"
Prepare manual load tests to ensure that cluster scales up and down as expected. Load tests will be included later into epiphany code but not at that moment.

**Is your feature request related to a problem? Please describe.**
AKS clusters we will provide in epiphany need to have horizontal autoscaling enabled and tested.

**Describe the solution you'd like**
There should be some Kubernetes Deploym

[2020-07-13 13:08] mkyc opened #1442 "EKS cluster setup"
Prepare terraform scripts to setup EKS cluster. Not integrate with epiphany code yet, might be some new directory.
**Is your feature request related to a problem? Please describe.**
We need to introduce EKS managed cluster as component to our environment.

**Describe the solution you'd like**
As this task is first in line of multiple tasks related to EKS introduction, I'd like to have separate dir

[2020-07-13 13:08] mkyc opened #1443 "EKS cluster autoscaling tests"
Prepare manual load tests to ensure that cluster scales up and down as expected. Load tests will be included later into epiphany code but not at that moment.

**Is your feature request related to a problem? Please describe.**
EKS clusters we will provide in epiphany need to have horizontal autoscaling enabled and tested.

**Describe the solution you'd like**
There should be some Kubernetes Deploym

[2020-07-13 13:08] mkyc opened #1444 "AKS cluster epiphany configuration"
Create AKS cluster configuration to be able to create it using epiphany.

**Is your feature request related to a problem? Please describe.**
We need to have possibility to create AKS cluster with epiphany.

**Describe the solution you'd like**
In previous tasks in order (#1440, #1441) terraform scripts should already be prepared. That means that here we want to develop yaml configs similar to what

[2020-07-13 13:08] mkyc opened #1445 "EKS cluster epiphany configuration"
Create EKS cluster configuration to be able to create it using epiphany.

**Is your feature request related to a problem? Please describe.**
We need to have possibility to create EKS cluster with epiphany.

**Describe the solution you'd like**
In previous tasks in order (#1442, #1443) terraform scripts should already be prepared. That means that here we want to develop yaml configs similar to what

[2020-07-13 13:09] mkyc opened #1446 "epiphany validation ensuring only one Kubernetes type configuration present"
**Is your feature request related to a problem? Please describe.**
Right now more than one configuration of Kubernetes cluster can exist in Epiphany configuration file.

**Describe the solution you'd like**
Validation should check if there exist more than one Kubernetes cluster configuration and fail validation if will find
multiple configurations.

**Describe alternatives you've considered**
No a

[2020-07-13 13:10] mkyc opened #1447 "AKS cluster epiphany integration"
**When** I setup epiphany environment with AKS cluster **I want** to have communication to/from other epiphany components in place, **so I can** order my application running on AKS to use those components.

**Is your feature request related to a problem? Please describe.**
After epiphany environment criterion with AKS cluster deployment we should be able to connect to any other available Epiphany

[2020-07-13 13:10] mkyc opened #1448 "EKS cluster epiphany integration"
**When** I setup epiphany environment with EKS cluster **I want** to have communication to/from other epiphany components in place, **so I can** order my application running on EKS to use those components.

**Is your feature request related to a problem? Please describe.**
Amazon EKS exposes a Kubernetes API endpoint and Epiphany components (Kafka, RabbitMQ, Logging, Monitoring, etc..) could conne

[2020-07-13 13:19] mkyc commented on #1202
closing as it is more specified i #1441 and #1443

[2020-07-13 13:19] #1202 closed

[2020-07-13 14:41] mkyc opened #1449 "[Spike]Research Rook Operator to deploy Ceph cluster"
**Is your feature request related to a problem? Please describe.**
We don't have any concise plan of deploying ceph cluster, so we need to create spike to have better understanding of things, e.g.:

* Deploy Rook Operator and define Ceph cluster.
* Observe where files are located on nodes.
* Check how replicas are distributed.
* Check what happens with node going down or new node being added to cl

[2020-07-13 14:42] mkyc opened #1450 "[Spike]Research Rook Operator version upgrade process"
**Is your feature request related to a problem? Please describe.**
We don't have any possibility to upgrade ceph claster from one version to another and we don't have any documentation about it and related to that.

**Describe the solution you'd like**
We want to install rook operator / ceph cluster in version A and upgrade it to version B using epiphany platform. Also we want to check how is proc

[2020-07-13 14:43] mkyc opened #1451 "[Spike]Research Rook Operator Ceph cluster backup and restore"
**Is your feature request related to a problem? Please describe.**
We don't have any information about backup and restore procedure for Rook Ceph Operator.

**Describe the solution you'd like**
We should check how to handle backup/restore of Ceph Cluster (data).

**Describe alternatives you've considered**
No alternatives.

**Additional context**
No additional context.

[2020-07-13 14:43] mkyc opened #1452 "[FEATURE REQUEST] Create Kubernetes Native Storage Epiphany configuration for Azure provider"
**Is your feature request related to a problem? Please describe.**
We don't have any configuration for Kubernetes Native Storage in Epiphany on Azure.

**Describe the solution you'd like**
We want to create configuration that will be used in Epiphany deployments with proper defaults,
that can be overridden by the user.

**Describe alternatives you've considered**
No alternatives.

**Additional con

[2020-07-13 14:44] mkyc opened #1453 "Create PostgreSQL performance test comparison"
**Is your feature request related to a problem? Please describe.**
We don't have any data on performance of Rook Operator and any comparison data.

**Describe the solution you'd like**
We want to have comparision of performance between Rook Operator storage with normal storage with using
for comparison purpose PostgreSQL backend.

Test plan can be similar to the one below:
1. Have epiphany cluster

[2020-07-13 14:47] mkyc opened #1454 "[doc] Prepare example application using PVC"
**Is your feature request related to a problem? Please describe.**
We don't have any application to present PVC usage.

**Describe the solution you'd like**
We need to create simple app to show PVC usage and also documentation how PVC is used.

**Describe alternatives you've considered**
No  alternatives.

**Additional context**
No additional context.

[2020-07-13 14:47] mkyc opened #1455 "[EPIC] Kubernetes Native Storage/Persistence Layer"
Persistence layer strongly integrated with Kubernetes. This Epic assumes that we use one of:
* Rook Operator (rook.io)
* OpneEBS
* MinIO

with following requirements to meet:
* It has to be able to work on-premise (but also managed, look #1439)
* It has to be able to work offline
* There need to be known difference in performance of middleware components
* Storage layer should be tightly integrate

[2020-07-13 14:50] mkyc commented on #135
@toszo can you check if that issue should be part of CNS epic? In my opinion this issue is defined too tightly in relation to cloud provider, thus is incorrect with our current approach.

[2020-07-13 14:50] mkyc commented on #134
@toszo can you check if that issue should be part of CNS epic? In my opinion this issue is defined too tightly in relation to cloud provider, thus is incorrect with our current approach.

[2020-07-13 14:55] mkyc commented on #1233
@to-bar @rafzei @toszo I just added it to Cloud Native Storage epic, but I would like to know from you if that should even be left here. Are we going to use NFS? That is not what current approach with Rook Operator defined but I might not be aware of something.

[2020-07-13 15:22] mkyc opened #1457 "[Spike]Research Rook/Ceph offline installation"
**Is your feature request related to a problem? Please describe.**
We don't have information how to install offline Rook managed Ceph cluster.

**Describe the solution you'd like**
We need after spike create document how to handle offline installation.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
Np additional context.

[2020-07-14 06:57] pprach commented on #1130
I cannot reproduce this.
Trying on Azure-RHEL7/Ubuntu-canal/flannel and it was always working.

[2020-07-14 08:47] sk4zuzu commented on #1444
@mkyc are we talking here about yaml configs that we have in epicli? Or is it something else like terraform configs etc?

[2020-07-14 08:58] mkyc commented on #1444
In previous tasks in order (#1440, #1441) terraform scripts should already be prepared. That means that here we want to develop yaml configs we have in epicli, inserting those previously prepared terraform scripts, embed it in epicli to be able to create cluster with epiphany. This task is basically "do the thing" task. Previous ones are preparations.

One more comment here is that thing in bracke

[2020-07-14 09:21] przemyslavic opened #1461 "[BUG] Error upgrading AWS/RHEL/calico cluster from 0.6 to 0.7"
**Describe the bug**
The cluster cannot be upgraded from version 0.6 to version 0.7 in the following configuration: `AWS/RHEL/calico`.
Ansible fails on task `[kubernetes_master : Check if NetworkManager service is loaded]`.

**To Reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f test.yml` using `epiphanyplatform/epicli:0.6.0` docker image (configuration given below)
3. execu

[2020-07-14 09:22] sk4zuzu commented on #1444
@mkyc thank you, that makes it clearer. :+1:

I'm keeping the `status/grooming-needed` label then.

[2020-07-14 09:35] mum0l commented on #1442
Ticket owner:
- Please, put into description, which components are mandatory (from our side) to deploy complete EKS cluster. For example: IAM, VPC, storage etc.
- Which parameters are expected in configuration, to smoothly integrate it with our platform.

Summary:
From my side, I can own this ticket as its super interesting! As a starting point, I suggest to go thru official TF docs and AWS TF mod

[2020-07-14 11:08] ar3ndt commented on #1395
Not a real fix for this issue but by the way we decided to bump 3.7.10 version to a latest stable one 3.8.3.

[2020-07-14 11:16] przemyslavic commented on #1461
I performed additional tests. **Not every build in such a configuration fails.**
Log of successful run:
[code]
It is possible that adding a retry to this task will solve the problem.

[2020-07-14 11:32] mkyc opened #1462 "[Spike] Research posible solutions and approaches to modularise epiphany"
**Is your feature request related to a problem? Please describe.**
We need to research and discuss possible solutions for epiphany modularization.

Current monolithic architecture of epicli makes it hard to:
* make targeted upgrades (i.e.: I want to upgrade all but one component)
* test separate component
* allow 3rd party to provide new components

... etc. So we need to divide things into more m

[2020-07-14 11:33] mkyc opened #1463 "[Epic] Component Versioning"
Current monolithic architecture of epicli makes it hard to:
* make targeted upgrades (i.e.: I want to upgrade all but one component)
* test separate component
* allow 3rd party to provide new components

... ect. So we want to divide things into more modular way. It's has to be defined how to do it, but there is already some work done:
* [modular-cli design-doc](https://github.com/epiphany-platfor

[2020-07-14 19:56] rafzei commented on #1461
Hmm what I see there is return code 141 which means it is a pipeerror.
Long story short: grep is too fast or systemctl is to slow :)
Long story long: looks like grep -q exit with rc:0 (because already finished what was requested for) and systemctl command still writing its output to pipe.

[2020-07-14 21:35] rpudlowski93 commented on #1448
@mkyc Should we take into consideration integration EKS cluster with CNI plugins such as Canal, Flannel, Calico? As I understand, EKS use native Amazon VPC CNI plugin.

[2020-07-15 07:35] przemyslavic commented on #1461
Or we can use the command without `grep` and then check the output.
[code]

[code]

[2020-07-15 08:03] mkyc commented on #1448
@rpudlowski93 is that even possible to change network driver on EKS?

[2020-07-15 08:13] pyrkamarcin commented on #1395
Additionaly, there is option to add headless service, like: https://github.com/helm/charts/blob/master/stable/rabbitmq-ha/templates/service-discovery.yaml and initContainer like: https://github.com/helm/charts/blob/master/stable/rabbitmq-ha/templates/statefulset.yaml#L68:L116
I tested this service discovery previously and work good with image 3.8.3.

[2020-07-15 08:45] mkyc commented on #1442
@mum0l I don't think we need IAM in that phase. VPC, Security Groups, AutoScaling Groups, EKS Cluster, Storage, etc, would be ok. As of parameters that would be considered in #1445 and #1448.

[2020-07-15 09:12] rpudlowski93 commented on #1448
@mkyc. Yes, I did small research and it looks like there are still some alternate compatible CNI plugins for EKS such as Calico or Flannel.

https://docs.aws.amazon.com/eks/latest/userguide/alternate-cni-plugins.html

[2020-07-15 09:38] plirglo opened #1465 "[BUG] [RHEL | Azure] download-requirements.sh fails when using RHEL image attached to EUS repo"
**Describe the bug**
I Wanted to download requirements for offline use on RedHat 7.7 (Azure) but download-requirements.sh script exited with error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
In docker container:
1. execute `epicli prepare --os redhat-7`
On RedHat machine:
1. execute: `sudo ./download-requirements.sh /usr/tmp/requirements/`

**Expected behavior**
Script should downlo

[2020-07-15 10:39] mkyc commented on #1448
@toszo can you decide about it? I'm not sure what are the reasons that we have multiple network drivers anyway.

[2020-07-15 11:40] przemyslavic commented on #1423
Special characters in the password were limited to the range `-_. ~ `, which don't cause problems with reading by `epicli`.
Test passwords contained letters (lower and uppercase), digits and safe punctuation marks `-_. ~ `.
No issues found.

[2020-07-15 13:01] przemyslavic commented on #1424
Fix tested. In the case of a terraform error, another attempt is made. The builds were successful. The log from the second retry can be found below.
[code]
Another cluster:
[code]

[2020-07-15 13:03] przemyslavic commented on #1399
Fix tested.

[2020-07-15 13:34] mkyc opened #1466 "[Epic] Bastion"
This epic should gather all tasks related to introduction of bastion concept.

[2020-07-15 13:55] przemyslavic commented on #1445
The purpose of this task is to prepare yaml configuration files to be able to create EKS cluster with Epiphany.
This task strictly depends on the results of research on the component versioning epic https://github.com/epiphany-platform/epiphany/issues/1463 so that Epiphany would be more modular and easier to use and maintain.

[2020-07-15 13:55] mkyc commented on #1399
@przemyslavic how is that we have "failed" label in "develop" section of almost all types of tests?

[2020-07-15 14:05] przemyslavic commented on #1399
@mkyc I have recently run other tests on the same pipelines and the `AWS/RedHat` environments failed due to exceeding the VPC limit. But that was after testing this fix. On Azure DevOps we have results from the previous run. Only 2 configurations out of 30 partially succeeded (due to problems with the RabbitMQ deployment, which is not part of this task), all others were successful.

[2020-07-15 14:11] mkyc opened #1467 "Increase visibility of test results"
**Is your feature request related to a problem? Please describe.**
Our test matrix and test display should be improved.

**Describe the solution you'd like**
We want to increase visibility of tests:
1.	Provide test matrix and make it visible to team.
2.	Include test matrix review as part of DoD.

**Describe alternatives you've considered**
No.

**Additional context**
No.

[2020-07-15 14:11] mkyc opened #1468 "Discuss and introduce new test kind to development process"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-15 14:16] mkyc opened #1469 "Extend test automation"
**Is your feature request related to a problem? Please describe.**
We need to extend tests in Epiphany.

**Describe the solution you'd like**
Extend tests automation:
1.	Plan what tests should be started on PR and what on Release.
2.	Check what is currently triggered automatically
3.	Attach missing triggers
4.	Make it dead-clear in PR what was tested and what is outcome of that test.

**Describe a

[2020-07-15 14:16] mkyc opened #1470 "[Epic] Y20Q4 Test improvements"
This epic gathers all the tasks related to tests is should contain:
* increase visibility of test results
* introduce at least one new test kind
* ensure tests automation

[2020-07-15 14:44] mkyc opened #1471 "[spike] PoC epicli docker wrapper"
Implement epiphany wrapper to manage dockerized epiphany image runs and allow other components to be started.

**Is your feature request related to a problem? Please describe.**
In future when we want to run modularised epiphany in docker we need some manager application to do it and to orchestrate runs.

**Describe the solution you'd like**
Implement epiphany wrapper. It should:
* initialise cont

[2020-07-15 16:28] mkyc commented on #1211
Closing as it is epic-kind task already covered by #1455.

[2020-07-15 16:28] #1211 closed

[2020-07-15 20:26] rafzei commented on #1447
After AKS cluster deployment we should be able to start a new instance (or connect to existing one) of every available Epiphany component (Kafka, RabbitMQ, Logging, Monitoring, etc..). These components have to talk with each other within AKS cluster.

Regarding network plugins I see two available options in AKS:
[code]
both have Calico support in case of network policies.
Network concepts quite we

[2020-07-16 07:52] seriva commented on #1314
This was fixed already of part 0.7.0

[2020-07-16 07:52] #1314 closed

[2020-07-16 08:01] seriva commented on #1414
So far I have been not able to reproduce this. Created a cluster with 2 Kafka nodes, added 25 different topics where I pushed about 6 million messages with 25 producers, reading them with the same amount of consumers. Also added some 30 streams using the subscription-processor we created for another project. CPU usage on both nodes are around 50% to 70% which would be expected for the load. After

[2020-07-16 09:12] mkyc commented on #732
RabbitMQ part is being handled in #1395

[2020-07-16 09:21] #1130 closed

[2020-07-16 09:25] sk4zuzu opened #1473 "[BUG] Upgrade fails on a k8s cluster that was previously scaled up"
**Describe the bug**
Upgrade of the k8s Epiphany cluster fails if the number of worker nodes was previously increased. The "upgraded" inventory seems to be incorrectly modified (number of worker nodes is invalid).

**To Reproduce**
1. Deploy an older cluster (for example v0.5) with just 1 worker node.
2. Scale up the cluster increasing number of worker nodes to 3 (re-run `epicli apply`).
3. Switch

[2020-07-16 09:31] to-bar opened #1474 "[FEATURE REQUEST] Add assertion to check whether K8s version is supported before running upgrade"
**Is your feature request related to a problem? Please describe.**
We need to add assertion to verify whether existing version of Kubernetes is supported by Epiphany. Since v0.7.0 we do not support K8s versions older than 1.14.6 (Epiphany v0.4.4) and we do not inform users about this using a friendly message.

Without such check user who tries upgrade old (not supported) cluster will get unexpecte

[2020-07-16 10:33] mkyc commented on #1473
@przemyslavic can you confirm that this bug exists?

[2020-07-16 10:36] mkyc commented on #896
helm documentation already added in #1435.

[2020-07-16 10:42] przemyslavic commented on #1473
I will test it today for the following providers: `any`, `aws`, `azure`.

[2020-07-16 11:17] mkyc commented on #1441
This task in fact is extremely similar to #1443 and should be synchronised with that one.

[2020-07-16 11:25] mkyc commented on #1442
This task is similar to #1440 in it's aim. It should be discussed between persons preparing those scripts.

[2020-07-16 11:29] mkyc commented on #1443
This task is extremely similar to #1441 and code might be shared by both tasks.

[2020-07-16 11:50] mkyc commented on #1440
There is [comment](https://github.com/epiphany-platform/epiphany/issues/1447#issuecomment-658991121) from @rafzei giving helpful links regarding networking:

[2020-07-16 11:53] mkyc commented on #1442
There is [comment](https://github.com/epiphany-platform/epiphany/issues/1448#issuecomment-658649421) from @rpudlowski93 regarding networking drivers.

[2020-07-16 11:56] mkyc commented on #1447
This task is similar to #1448 so should be developed with close cooperation with that another one.

[2020-07-16 12:51] mkyc opened #1475 "[spike] Prepare epiphany component provider template"
**Is your feature request related to a problem? Please describe.**
We want to have described well requirements for epiphany component provider.

**Describe the solution you'd like**
Design and define what are requirements for epiphany component provider.

In this spike we should create initial requirements to epiphany components providers.
Epiphany component provider has to be able to run to provi

[2020-07-16 12:53] mkyc commented on #1471
Dependencies management should be considered in #1475.

[2020-07-16 13:02] toszo commented on #134
No - it should not. It is for "traditional" cloud storage (Block Device, EFS/Blob, etc.).

[2020-07-16 13:24] toszo commented on #135
That same case as #134. This should not be a part of Cloud Native Storage.

[2020-07-16 14:22] mkyc commented on #1471
Consider adding repositories to local configuration to allow simple development.

[2020-07-16 14:25] przemyslavic commented on #1473
I can't reproduce this issue.
Steps taken:
1. Deployed 0.5.4 cluster with 1 master and 1 node (using `epicli apply`)
2. Created 2 additional virtual machines
3. Modified yaml configuration file to have 3 nodes
4. Executed `epicli apply` again
5. Executed `epicli upgrade` (from the latest code from the develop branch)

The inventory file looks correct (contains entries for all nodes).
Providers tha

[2020-07-16 15:05] mkyc commented on #1462
Question to be answered for each proposed solutions:

* How much work does it require to package epicli to first module?
* How much work does it require to package module CNS?
* How much work does it require to package module AKS/EKS?
* How would be dependencies handled?
* Would it be possible to install CNS module on Epiphany Kubernetes in version 0.4.4?
* If I want to install CNS, how would depe

[2020-07-16 15:08] ar3ndt commented on #1395
Headless service tested and it does not fix the issue.
I suggest adding additional rabbitmq pod restarts during upgrade procedure as a workaround.

[2020-07-16 20:10] rafzei commented on #1461
We don't need to check if NM service is loaded to reload, we have to check the service state and if is running, reload the configuration. If it's not running, skip reloading.

[2020-07-17 06:56] sk4zuzu commented on #1473
@przemyslavic that's actually good news. I tried this couple of times more and I lost ability to reproduce it either. I was able to reproduce it repeatedly on a cluster that I was recreating from backup / snapshots. My conclusion would be, that during testing that backup got broken in some way. What worries me is that our code was capable of creating invalid inventory and we don't have any verific

[2020-07-17 06:56] #1473 closed

[2020-07-17 07:37] przemyslavic commented on #1410
The fix has been tested. Now the manifest file and the terraform directory are placed in the correct path.
After the upgrade, you can easily remove the environment using the command `epicli delete -b /path/to/build/directory`.

[2020-07-17 07:51] mum0l commented on #802
Tested in AWS on Ubuntu, RedHat and deployment works properly.
Docker version for RedHat adjusted as per version available in our repo.

Should I test it on Azure and on Baremetal also in both version Ubuntu/Redhat?

[2020-07-17 08:17] toszo commented on #1454
There is a dotnet application that can be extended to use PVC -> https://github.com/epiphany-platform/epiphany/tree/develop/examples/dotnet/Epiphany.Examples.Web
It exposes UI and REST endpoints so PVC usage would be presented to the user or automation.

[2020-07-17 08:24] toszo commented on #1448
Supporting multiple network drivers was introduced because flannel has best performance where calico/canal has better security - should be used depending on the use case.

I prefer to keep ability to select the network driver.

[2020-07-17 08:34] erzetpe commented on #1448
In official documentation of EKS they state - Amazon EKS only officially supports the Amazon VPC CNI plugin.

I would stick only to officially supported plugin, to avoid troubleshooting in unknown environment other plugins.

https://docs.aws.amazon.com/eks/latest/userguide/alternate-cni-plugins.html

[2020-07-17 09:21] seriva commented on #1129
I put this in the blocked colomn for now since we need to await the 0.7.1 release.

[2020-07-17 09:54] erzetpe commented on #1051
This should be slitted into more specific tasks with proper configuration for each.

[2020-07-17 10:20] #1002 closed

[2020-07-17 12:21] #862 closed

[2020-07-17 13:23] #609 closed

[2020-07-17 13:25] #608 closed

[2020-07-17 13:28] #607 closed

[2020-07-20 14:26] rpudlowski93 commented on #1072
**Update**:
It looks like a kernel bug of Linux in RedHat version 7.6, 7.7, 7.8.

**Reason**:
Some kernel versions have issue with VXLAN checksum offloading - in our case 3.10.0-XXX kernel version.
VXLAN which use flannel CNI plugin, use UDP protocol for packages transmission. Observed lag (63 sec.) is caused by errors in checksum and after 63 sec, flag "no cksum" is set.

**Solution**:
`ethtool -

[2020-07-21 07:05] przemyslavic commented on #1461
The cluster has been upgraded several times in the specified configuration and the reported problem was not noticed after the fix.

[2020-07-21 08:51] rafzei commented on #1072
I would go with disabling only tx-checksum: `ethtool -K flannel.1 tx-checksum-ip-generic off`. Looks like its sufficient. We can do this 'live' and we can easily change it back.
The issue is already fixed in https://github.com/kubernetes/kubernetes/pull/92035 - [Changelog v1.18.5](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#changelog-since-v1185)
We should upgr

[2020-07-21 09:07] #1410 closed

[2020-07-21 09:13] #1461 closed

[2020-07-21 09:14] mkyc opened #1478 "docker layering structure"
**When** I need to use new component of epiphany, **I want to** download as small portion of docker images as possible, **so I don't** spend too much time every time I try something new.

In this task we should check what we already have in docker images, do we layer them correctly, do we have some smart "images tree policy", etc.

[2020-07-21 09:21] mkyc opened #1479 "Upgrade K8s to v1.18.6"
We need upgrade K8s to at least v1.18.5 to fix network issues #1072.

More information:
https://github.com/kubernetes/kubernetes/pull/92035

[2020-07-21 09:23] mkyc commented on #1072
Added task for this.

[2020-07-21 14:10] #1424 closed

[2020-07-21 14:10] #1423 closed

[2020-07-21 14:10] #1399 closed

[2020-07-21 19:13] toszo commented on #1140
Most probably requires also to upgrade Filebeat #846

[2020-07-22 09:20] rafzei commented on #1478
Is this more about epicli docker image layers or image_registry to check&fetch only these images required to enable specific components (version)?

[2020-07-22 09:28] seriva commented on #1478
None of these, this would be how we want to layer the docker images for components if we go that route.

[2020-07-22 11:38] przemyslavic commented on #1395
@ar3ndt There are still issues with RabbitMQ deployment (noticed on the AWS/RedHat/flannel environment).

[code]
[code]

Maybe it's related to https://github.com/epiphany-platform/epiphany/issues/1072?

[2020-07-23 09:24] przemyslavic commented on #802
All supported configurations were tested. No issues were found after the fix was applied.

[2020-07-23 09:44] mkyc opened #1480 "Generate SSH keys in E wrapper"
@seriva mentioned that multiple people who start work with epiphany have questions about ssh keys generation. That is something we could implement on E level to have that done automatically.

I believe that task requires update of https://github.com/epiphany-platform/epiphany/blob/develop/docs/design-docs/cli/cli-ux.md#inspect-epicli document section to express what we expect from it.

[2020-07-23 09:48] mkyc opened #1481 "offline installation in modularised world"
we should define how process of offline installation will look like in versioned and modularised model

[2020-07-23 12:50] to-bar opened #1482 "[BUG] epicli upgrade does not upgrade flannel CNI plugin to v0.12.0"
**Describe the bug**
In Epiphany v0.7.0 flannel plugin has been upgraded to v0.12.0. However, after applying the new deployment file existing pods are not upgraded.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `epicli upgrade`
2. Once the upgrade is completed, check version of images used by flannel pods. There is still version 0.11.0 instead of 0.12.0.

**Expected behavior**
All

[2020-07-23 12:53] to-bar commented on #1482
Solving this isssue is required for #1072.

[2020-07-23 13:56] przemyslavic commented on #1398
All supported configurations were tested.
**Two of them are not working properly:

- AWS/RHEL/flannel

- AWS/RHEL/canal**

Steps to reproduce the bug:
1. Deploy a new cluster
2. Login to Vault `vault login`
3. Add a secret `vault kv put secret/devwebapp/config username='test' password='test'`
4. Deploy test application
[code]
5. Check logs for container `vault-agent-init`: `kubectl logs devwebapp-

[2020-07-24 06:40] toszo opened #1485 "In Epiphany 0.6.0 StatefulSet 'rabbitmq-cluster' is not set up for persistence"
**Describe the bug**
StatefulSet's "volumeMounts" should use "volumeClaimTemplates", like in this Kubernetes doc https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/ or in this example https://gist.github.com/pmint93/cb87c5f46502ce8047a084238cad03e4, to mount "/var/lib/rabbitmq/mnesia" to a PersistentVolume.
At the moment, all that's configured is a volume of type configMap, that

[2020-07-24 06:44] toszo commented on #1485
Consider using helm chart for this issue.

[2020-07-24 07:17] toszo opened #1486 "[FEATURE REQUEST] RabbitMQ needs to be highly available"
**Is your feature request related to a problem? Please describe.**
When RabbitMQ is deployed as pods inside the Kubernetes cluster teh application needs RMQ to be highly available and not lose configuration or data when pods are moved, or VMs restarted, or cluster restored for backup/restore or DR activities.

**Describe the solution you'd like**
RabbitMQ clustered and replicated.

**Describe alte

[2020-07-24 07:17] toszo commented on #1486
May be related and resolved similat to #1485

[2020-07-24 07:30] toszo opened #1487 "[FEATURE REQUEST] RabbitMQ monitoring"
**Is your feature request related to a problem? Please describe.**
We are unable to collect metrics and create alerts on RabbitMQ.  This means if the queue is backing and causing a customer impactful issue, we cannot send an alert.

**Describe the solution you'd like**
We would like to have RabbitMQ Exporter to expose metrics like below and display them in Grafana for monitoring and alerts in prom

[2020-07-24 08:17] rpudlowski93 commented on #1415
It looks like a problem a little similar to task #1072 and as I remember the problem `Caused by: java.net.UnknownHostException: kubernetes.default.svc.cluster.local` appears when some of DNS pods changed nodes.

[2020-07-24 08:28] mkyc commented on #1485
This is duplicate of #1486. @toszo I'd like to close this task and add comment about more context to that another one. Is that ok?

[2020-07-24 08:31] mkyc commented on #1486
@seriva as far as I understand this task it depends on whole #1455 epic. We need to have persistence layer in k8s first. Am I right?

[2020-07-24 08:35] toszo commented on #1485
Sounds good.

[2020-07-24 08:36] toszo commented on #1486
Looks like. Added dependency.

[2020-07-24 08:37] #1485 closed

[2020-07-24 08:38] mkyc commented on #1486
Added section "More context is provided also in duplicate task #1485" to issue description.

[2020-07-24 12:43] sk4zuzu commented on #732
I've been trying to reproduce this issue for Keycloak for 2 days without any luck. We are not sure if this one is a real thing, because nobody recollects seeing it happen.

This is what I've been seeing consitently in logs (for 3 replicas in this case):
[code]

We think it's possible it got "added" to the description of the RMQ issue by mistake.

The related RMQ issue https://github.com/epiphany-p

[2020-07-24 12:43] #732 closed

[2020-07-24 13:37] przemyslavic commented on #1398
I also tested with tls disabled.
Exactly the same two configurations `AWS/RHEL/flannel` and `AWS/RHEL/canal`  **do not work** properly.

[2020-07-27 10:49] rafzei opened #1490 "[FEATURE REQUEST] Human friendly documentation of Epiphany platform."
**Describe the solution you'd like**
Clear, human-friendly public documentation of Epiphany Platform.
Idea is to switch to a solution with a more friendly view than .md files or maybe just treat it as a base. This will allow us to decrease entry-level in Epiphany project and provide more documentation consistency.

**Describe alternatives you've considered**
- Github pages
- Read The Docs
- Gitboo

[2020-07-27 11:47] rafzei commented on #1409
Thanks @seriva for providing more details regarding the issue. Do we need to split these issues since the second one requires some more testing, what do you think?

[2020-07-27 14:46] przemyslavic opened #1491 "[BUG] Error running upgrade on a 0.3 cluster: missing shared-config"
**Describe the bug**
When trying to upgrade a 0.3 cluster to develop, the user should receive a message that this type of upgrade is not supported (according to PR https://github.com/epiphany-platform/epiphany/pull/1476). In fact epiphany throws an error right after running the command `epicli upgrade` because of missing shared-config in the manifest file.

**To Reproduce**
Steps to reproduce the

[2020-07-27 18:30] gj25 commented on #765
@erzetpe I think that is OK, as long as it can be done during the Epiphany install/config.

[2020-07-27 19:28] erzetpe commented on #765
Yes, this is our intent. Thank you for the information.

[2020-07-28 08:34] ar3ndt commented on #1481
**Is your feature request related to a problem? Please describe.**

Once epi code is divided to separate modules the offline installation process will be broken.

**Describe the solution you'd like**

Add offline installation option of each component after modularisation.

**Describe alternatives you've considered**
None

**Additional context**
No.

[2020-07-28 09:12] toszo commented on #802
Please update changelog file with the description of this task.

[2020-07-28 09:20] #1482 closed

[2020-07-28 12:16] ar3ndt commented on #1487
Newer version 3.8.x supports monitoring:

There is a PR with bumped version but still on hold as it would require no data loss protection somehow. More details in the comment on the PR:

https://github.com/epiphany-platform/epiphany/pull/1464

[2020-07-28 12:57] sk4zuzu opened #1495 "[BUG] Offline installation is broken for CentOS 7.8 environments."
**Describe the bug**
The CentOS 7.8 offline package does not contain all necessary dependencies, `epicli apply` fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the CentOS 7.8 offline package.
2. Create a new CentOS 7.8 based cluster using the offline package.
3. Check the `/tmp/epi-repository-setup-scripts/create-repository.log`, look for errors like:
[code]

**Expected behavio

[2020-07-28 13:15] rafzei opened #1496 "[BUG] Documentation adjustment - Clustering k8s"
**Describe the bug**
This issue was created to fix documentation regarding the **clustering** Epiphany environment.
During some minor changes in readme.md it turned out that we are not describing things properly.

**Expected behavior**
[CLUSTER.MD](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md) has to provide real information about what user can achieve incr

[2020-07-28 14:10] rafzei opened #1497 "[Spike] Research and confirm which Epiphany components scale down correctly/incorrectly"
**Is your feature request related to a problem? Please describe.**
We don't really know which Epiphany components scale down correctly and which are not. It's not documented anywhere.

**Describe the solution you'd like:**
This spike should help us to provide well described [CLUSTER](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md) documentation. We should als

[2020-07-28 14:30] mkyc opened #1499 "add stdin passing to container runtime in E wrapper"
similar to `Edit` section [here](https://stackoverflow.com/q/58732588)

[2020-07-28 15:56] mkyc commented on #1471
I think I finished this spike. Released code is located [here](https://github.com/mkyc/epiphany-wrapper-poc/releases/tag/0.0.1) and tagged documentation is [here](https://github.com/mkyc/epiphany-wrapper-poc/tree/0.0.1).

This version doesn't include dependencies implementation (so points `pass variables between containers` and `check dependencies between containers` from original description) bec

[2020-07-29 06:22] rafzei commented on #1323
This instruction should be placed in how-to doc: [Logging](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/LOGGING.md).
If you take this task, please create a spike according to the above comment.

[2020-07-29 07:25] rafzei commented on #1177
I think its no longer valid - can you confirm @to-bar ?

[2020-07-29 07:30] rafzei commented on #64
@erzetpe is this still valid? If so, please put here some more details about the issue we are currently workaround.

[2020-07-29 10:04] to-bar commented on #1177
@rafzei It's still valid, here is an example: https://github.com/epiphany-platform/epiphany/blob/3e68564a9d765aa824382c03b8c3f8c65a49e1c5/core/src/epicli/data/common/ansible/playbooks/roles/image_registry/tasks/main.yml#L2

I think we could introduce the use of Ansible Lint (https://docs.ansible.com/ansible-lint/) and agree on the rules we want to follow.

[2020-07-29 10:20] przemyslavic commented on #1474
The upgrade from 0.4.4, 0.5.4 and 0.6.0 to develop has been tested. The assertions were satisfied.
Can't check assertion for version 0.3.1 due to the issue [#1491](https://github.com/epiphany-platform/epiphany/issues/1491).

[2020-07-29 10:29] przemyslavic opened #1500 "[BUG] Vault secrets cannot be injected into Kubernetes pods - AWS/RHEL/flannel|canal"
**Describe the bug**
Cannot inject Vault secrets into Kubernetes pods in the following configurations:

**- AWS/RHEL/flannel**

**- AWS/RHEL/canal**

**To Reproduce**
Steps to reproduce the bug:
1. Deploy a new cluster
2. Login to Vault `vault login`
3. Add a secret `vault kv put secret/devwebapp/config username='test' password='test'`
4. Deploy test application
[code]
5. Check logs for container

[2020-07-29 10:39] rafzei commented on #1177
Default ansible-lint rule for checking if name property exist:
[code]

[2020-07-29 10:42] przemyslavic commented on #1398
The issue reported and described in this task no longer exists. Another issue found, reported in [#1500](https://github.com/epiphany-platform/epiphany/issues/1500).

[2020-07-29 11:02] przemyslavic commented on #1412
It has been tested. The certificate generation/copying now depends on the value of the tls_disable parameter.

[2020-07-29 11:24] przemyslavic commented on #1413
It has been tested. The protocol selection (http / https) now depends on the value of the tls_disable parameter and the vault address is built based on it.

[2020-07-29 11:51] rafzei commented on #1394
After upgrading K8s to 1.18.6 issue is still present on Flannel & Canal

[2020-07-29 12:12] przemyslavic commented on #1408
The upgrade from version 0.6 to develop for K8s HA configuration (3 masters, 3 nodes) has been tested and it works fine.
There is a random issue with deploying HA clusters on Azure environments that was reported in [#1075](https://github.com/epiphany-platform/epiphany/issues/1075)

[2020-07-29 14:03] seriva commented on #1471
Code looks good to me:)

[2020-07-29 14:56] mkyc commented on #1491
@toszo can you get information if we know about any 0.3 cluster existing out there in the wild?

[2020-07-29 15:02] mkyc opened #1502 "Add tests to epiphany-wrapper-poc"
**Is your feature request related to a problem? Please describe.**
Current version (0.0.1) of epiphany-wrapper-poc does not have any tests.

**Describe the solution you'd like**
Implement resonable amount of tests.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
None.

[2020-07-29 15:05] mkyc opened #1503 "[FEATURE REQUEST] Perform licensing check of dependencies"
**Is your feature request related to a problem? Please describe.**
We did not check what licensing model have dependencies we rely on.

**Describe the solution you'd like**
Check dependencies licences automatically.

**Describe alternatives you've considered**
Do it manually if no other way.

**Additional context**
None.

[2020-07-29 15:10] mkyc opened #1504 "Move epiphany-wrapper-poc repository to epiphany-platform organisation"
**Is your feature request related to a problem? Please describe.**
Code is located https://github.com/mkyc/epiphany-wrapper-poc

**Describe the solution you'd like**
We want it to be in epiphany-platform organisation

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-07-29 15:12] mkyc commented on #1471
I just added task #1502 and #1503 to introduce tests and fix licensing. I'm moving this task to DoD check due to that.

[2020-07-29 15:23] mkyc commented on #1129
I moved it to correct 0.6.1 **release** and removed it from 0.6.1 **milestone**

[2020-07-29 15:24] mkyc commented on #1436
I removed it from 0.6.1 **milestone** and added it to 0.6.1 **release**.

[2020-07-29 15:39] przemyslavic opened #1505 "[BUG] v0.6 Terraform returning an error during deployments on Azure ("A retryable error occurred.")"
**Describe the bug**
There is often an issue with Azure cluster deployment due to a terraform error saying "A retryable error occurred."

**To Reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f test.yml` (configuration given below)

**Expected behavior**
The cluster has been deployed successfully.

**Config files**
[code]
**OS (please complete the following information):**
 -

[2020-07-29 15:40] przemyslavic opened #1506 "[BUG] v0.5 Terraform returning an error during deployments on Azure ("A retryable error occurred.")"
**Describe the bug**
There is often an issue with Azure cluster deployment due to a terraform error saying "A retryable error occurred."

**To Reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f test.yml` (configuration given below)

**Expected behavior**
The cluster has been deployed successfully.

**Config files**
[code]
**OS (please complete the following information):**
 -

[2020-07-29 15:50] przemyslavic opened #1507 "[BUG] v0.4 Terraform returning an error during deployments on Azure ("A retryable error occurred.")"
**Describe the bug**
There is often an issue with Azure cluster deployment due to a terraform error saying "A retryable error occurred."

**To Reproduce**
Steps to reproduce the behavior:
1. execute `epicli apply -f test.yml` (configuration given below)

**Expected behavior**
The cluster has been deployed successfully.

**Config files**
[code]
**OS (please complete the following information):**
 -

[2020-07-29 16:33] to-bar opened #1510 "Upgrade Kubernetes Dashboard to v2.0.3"
**Is your feature request related to a problem? Please describe.**
We have K8s Dashboard in version 2.0.0-beta8 (from Dec 6, 2019) which according to documentation may be incompatible with K8s v1.18.6. See [Compatibility table](https://github.com/kubernetes/dashboard/releases/tag/v2.0.0-beta8).

We have also a non-deterministic issue related to K8s Dashboard, see [#1394](https://github.com/epiphan

[2020-07-30 06:05] seriva commented on #1414
So for on a new cluster we have not seen this issue. All clusters reporting this had a bunch of topics/streams running on them. The fact that no data is ingested or moved does not mean Kafka will sit idle. Various processes like transactions, data replication, overhead from subscribed consumers and producers might cause overhead. For now I suggest to close this.

[2020-07-30 07:42] toszo commented on #1324
Consider upgrading OpenDistro first: #1140, in newer version Kibana has a reporting module that can be useful.

[2020-07-30 08:20] mum0l commented on #802
Changelog has been updated.

[2020-07-30 08:21] rpudlowski93 commented on #1440
Configuration almost done using Terraform scripts.
Features done:
- different operating systems
- different virtual machines specification (disk size,
- different cluster specification (size, location, name, public ip, k8s version, name)
- different network drivers (basic/advance)
- different resource groups
- possibility to create new network or use existing network

The topic is very interesting

[2020-07-30 13:03] mkyc commented on #1462
While waiting for some more reviews of modularisation approaches comparison, I will focus on dependencies topic.

[2020-07-30 14:16] mum0l opened #1511 "[spike] EKS - diffrent network drivers setup"
**Is your feature request related to a problem? Please describe.**
So far, the EKS cluster scripts have been created (PR 1489). Different network drivers require more time spend on it, so we decide to spit it into separate task. Current investigations with different drivers:

1. **Calico** - It's possible to implement, but cluster needs to be created with ekscli, and there is no support for terraf

[2020-07-30 14:41] ghost opened #1512 "[spike] EKS on different operating systems"
**Is your feature request related to a problem? Please describe.**
In Epiphany we used different operating systems do preform complete deployment of kubernetes cluster. EKS and terraform repo comes with Amazon Linux 2 by default. Currently I don't see any options to use it in terraform scripts - still looking for a solution.

**Describe the solution you'd like**
More research required.

**Describe

[2020-07-30 14:45] przemyslavic commented on #1495
Offline installation on CentOS was tested. Everything was fine. The issue no longer exists.

[2020-07-30 14:48] mum0l opened #1513 "[spike] EKS joining diffrent VPC"
**Is your feature request related to a problem? Please describe.**
Currently, terraform scripts prepared via #1442 creates new VPC each time the new cluster is set. We need to adjust this configuration, so we can easily join cluster to existing VPCs in AWS.

**Describe the solution you'd like**
Optionally create a VPC

- https://medium.com/datamindedbe/how-to-conditionally-disable-modules-in-terra

[2020-07-31 08:06] sk4zuzu commented on #1504
@mkyc I've noticed the source repo does not contain a license, is that OK to move something without a license there? Otherwise looks great. :+1:

[2020-07-31 08:10] rpudlowski93 commented on #1075
I would recommend here to check once again if the problem still appears since the ticket was created already a few month ago. Moreover maybe somewhere there should me used time pause (60sec) or conditional in ansible because maybe some tasks run too fast or in wrong order.

[2020-07-31 08:12] mkyc commented on #1504
@sk4zuzu you are completely right, it should be also included in this task.

[2020-07-31 08:25] plirglo commented on #1502
- Create automation for unit tests (VSTS, run every command and compare results with expected state)

- Create automation for end-to-end tests (VSTS, build clusters for every platform, check state with serverspec, and compare with desired state)

[2020-07-31 08:39] mkyc commented on #1502
@plirglo first point is ok, but second is not :) If you watched demo I've been doing yesterday we do not have epiphany itself moved to docker components so I cannot test it. It is also not interest of that wrapper if docker container it started can do its job correctly or not. This wrapper only focuses on running containers in the way they should be started and react on their exit codes.

[2020-07-31 08:46] mum0l commented on #1324
**Goal:**
This ticket is to add functionality of exporting logs from Kibana into any format (can be json, csv, xml etc).

**Reason:**
Sometimes our customers needs to export logs from their private clusters (which are not connected to internet / or simply we don't have access to), so whenever they need to give us some logs for investigation from their platform, they are sending us... screenshots,

[2020-07-31 09:46] mkyc commented on #1462
# Dependencies problem statement

When thinking about dependencies in case of epiphany components there is few things to think about:
* Those are not runtime dependencies, rather pre-requisites,
* Component can have some strong requirement ie.: grafana v0.1.0 requires Prometheus > v0.2.0,
* Component can have loose requirement ie.: postgresql v0.1.0 requires any type of cloud native storage to cre

[2020-07-31 10:08] plirglo commented on #1502
So end-to-end test should contains: running container and check if exit code meets expected one, correct?

[2020-07-31 10:27] mkyc commented on #1502
Yeah. Something like this.

[2020-07-31 11:42] to-bar commented on #1072
Upgrade K8s to v1.18.6 fixed the issue.

[2020-07-31 11:45] rafzei commented on #1394
I've removed dependency due to new findings on this topic. The Dashboard working well within the Pod. Looks like it's related to manage flannel.1 interface by NetworkManager. The issue seems to be reproducible right now. I'm going to test a fix for that.

[2020-07-31 12:00] przemyslavic commented on #1075
Now this has been tested with the latest develop code with Kubernetes 1.18.6 and I haven't been able to reproduce the problem yet.
More testing still underway.

[2020-07-31 14:06] przemyslavic commented on #1336
After the fix, the hostname is set correctly as configured in the yaml file.

[2020-08-02 12:12] ar3ndt commented on #1449
Rook ceph cluster can be easily deployed using example default definitions from GH repo:
`git clone --single-branch --branch release-1.3 https://github.com/rook/rook.git`
open location:
`rook/cluster/examples/kubernetes/ceph `

and list examples:

After creating basic setup (`common.yaml, operator.yaml, cluster.yaml`) install toolbox as well for checking the ceph cluster status.

**IMPORTANT:** en

[2020-08-03 08:03] sk4zuzu commented on #1075
It seems after upgrading to newer Kubernetes 1.18 we don't really see that problem anymore. But it's still there in 0.6, which is impacting upgrade testing. I'll take a look if it's possible to fix it in 0.6. :+1:

[2020-08-03 14:50] przemyslavic commented on #1510
The latest version of the Kubernetes dashboard `v2.0.3` has been tested (both deploying a new cluster and upgrading the existing one from `0.4.4`, `0.5.4` and `0.6.0`). It seems to be working fine.

[2020-08-03 23:23] ks4225 opened #1520 "[BUG] Kubectl client outside of HA/multi-master Epiphany cluster fails to connect to server with invalid certificate"
**Describe the bug**
On a HA / multi-master, issuing `kubectl` commands from a machine outside the cluster (e.g. CI agent) will sometime fail with a certificate error. The thought is that the HAProxy on the k8s master machines ends up routing the `kubectl` in a way that mismatches with the config on the external machine.

**To Reproduce**
Steps to reproduce the behavior:
1. Build an Epiphany clust

[2020-08-03 23:25] ks4225 commented on #1520
Example error message is:
`Unable to connect to the server: x509: certificate is valid for ###, ###, not ###` (where ### are IPs)

[2020-08-04 01:31] sunshine69 opened #1522 "Postgres Replication Unreliable"
**Describe the bug**
Around 20% of the time building epiphany cluster return postreg error. See error message details below.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a cluster with postgres cluster of 2 nodes

[code]

Full cluster yaml available on request.

Usually it runs fine. However there is a 20% chance the run failed at deploying postgres. The error is below:

[code]

*

[2020-08-04 01:48] sunshine69 commented on #1522
I think I found the reason.

The password I generate contain the special `:` which was not escaped.

I need to prove it before closing this ticket though.

[2020-08-04 02:13] #1522 closed

[2020-08-04 08:30] mkyc commented on #1462
@seriva could you add description of what you did with those containers?

[2020-08-04 08:49] rpudlowski93 commented on #1499
@mkyc As I understand, We would like to use these commands: [here](https://github.com/mkyc/epiphany-wrapper-poc/releases/tag/0.0.1 ) and additionally we would like to be able pass stdin there? Could You provide here any example in order to explain usages?

[2020-08-04 09:07] #1336 closed

[2020-08-04 09:09] #1414 closed

[2020-08-04 09:09] sk4zuzu commented on #1347
I tested the changes during code review and after code review, I can confirm it was working fine for me. :+1:

[2020-08-04 09:12] #1471 closed

[2020-08-04 09:13] #802 closed

[2020-08-04 09:16] #1413 closed

[2020-08-04 09:18] #1412 closed

[2020-08-04 09:20] #1398 closed

[2020-08-04 09:22] #1408 closed

[2020-08-04 09:25] mkyc commented on #1491
@przemyslavic there are such clusters.

[2020-08-04 09:26] #1474 closed

[2020-08-04 09:31] rafzei commented on #1347
Here is link to doc with how to start a Kibana for opendistro: https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/DATABASES.md#how-to-start-working-with-opendistro-for-elasticsearch

[2020-08-04 09:48] #1347 closed

[2020-08-04 09:51] toszo commented on #1510
@rafzei please add Dashboard row in COMPONENTS.md file.

[2020-08-04 09:52] #1479 closed

[2020-08-04 09:54] #1495 closed

[2020-08-04 09:55] #1072 closed

[2020-08-04 09:59] mkyc commented on #922
@przemyslavic can you groom this a bit?

[2020-08-04 10:05] mkyc commented on #1499
Yeah. So for example if you run `terraform apply` you can pass `-auto-approve` parameter and then you **do not need** stdin. But if you do not want to auto approve this, you would need to connect to container stdin and pass your keyboard bytes to it.

[2020-08-04 10:40] sk4zuzu commented on #1520
Thank you for reporting the issue, @ks4225 !

I've checked that indeed in non-HA and HA clusters the kubeconfig handling differ.

I believe, two things need to be done to fix the problem:
1. In new clusters - during the `kubeadm init` run we need to provide addtional cert SANs in the kubeadm config file/map.
2. In exsting clusters that aleady have this issue - we need to modify the config map and

[2020-08-04 14:29] TolikT commented on #1513
@mkyc please look at [Additional context] part. When it's clarified, we can move this task further. Described solutions seems to be applicable, but it needs to be verified.

[2020-08-05 06:08] seriva opened #1526 "[SPIKE] Research additional Kafka monitoring/metric solutions."
**Is your feature request related to a problem? Please describe.**
Currently the solution we have for monitoring and getting metrics from Kafka are based one:

- [Kafka Exporter](https://github.com/danielqsj/kafka_exporter)
- [JMX Exporter](https://github.com/prometheus/jmx_exporter)
- [Prometheus](https://prometheus.io/)
- [Grafana](https://grafana.com/)

While these tools work OK in most situati

[2020-08-05 07:39] mkyc commented on #1513
All clear :)

[2020-08-05 08:44] mum0l opened #1527 "Checkout possibility of tfvars file usage when deploying EKS"
This task is to checkout possibility of using tfvars file instead of regular ones.

[2020-08-05 11:23] rpudlowski93 commented on #1440
AKS cluster setup using terraform scripts done in PR #1517. Design Doc done. Need to be tested by someone else and will be ready to DoD.

[2020-08-05 12:07] seriva commented on #1462
Yes here you can find a simple prototype for a simplified approach for structuring the container interface that the E cli tool would interact with:

https://github.com/seriva/component-cli

Some more research about how this interface should look still needs to be done + some research on how to properly layer the containers to minimize the container download size should still be done.

[2020-08-05 12:29] mkyc commented on #1440
@mum0l can you test this?

[2020-08-05 12:30] mkyc commented on #1442
@rpudlowski93 can you test this?

[2020-08-05 12:32] mkyc commented on #1462
so for first mentioned topic is #1475 and for second is #1478

[2020-08-05 13:42] TolikT commented on #1462
@mkyc for me this approach is clear, but implementation details aren't. Dokerized components solution seems to be applicable, but one question about config:
Why you use `version-kubernetes` instead of just a `version` and want to create some convention for this?
[code]

[2020-08-05 14:03] mkyc commented on #1462
@TolikT Basically there will be need to rely on version of software some module provides. So as described in example, let’s assume that there would be 3 modules providing Kubernetes.

First one - AKS - would be described in with labels:
[code]

Second would be EKS described somehow like:
[code]

And third would be our on-prem module with following labels:

[code]

Now let’s assume that I need to u

[2020-08-05 14:10] TolikT commented on #1462
@mkyc did you consider usage of a `version(s)` dictionary instead? With existing of some default versions and defined list of possible software for each component.

[2020-08-05 14:17] mkyc commented on #1462
@TolikT Nope, because I was afraid that we would end up with something like:

[code]

But in fact I'm very open for suggestions. I would like to avoid convention in here, so if you have some good idea please share.

[2020-08-05 14:26] TolikT commented on #1462
@mkyc Yes, I would like to suggest define each possible field and check yaml field types (scalar, seq, map) in config processing to avoid wrong syntax. This way you will not allow specifying a list of different versions.

[2020-08-05 14:51] mkyc commented on #1462
@TolikT I agree that this is bit more readable. How would `labels` section in module definition look like?

[2020-08-06 06:09] mum0l commented on #1440
Tested. All components works as expected. All good.

[2020-08-06 07:24] przemyslavic commented on #922
@mkyc just updated.

[2020-08-06 07:45] przemyslavic commented on #1394
The fix seems to have resolved the issue as I am no longer able to reproduce it.

[2020-08-06 08:07] #1394 closed

[2020-08-06 08:11] #1440 closed

[2020-08-06 09:59] mkyc commented on #1449
@ar3ndt regarding task scope it task description there are example points:

I understand you did 1'st point, but what about others? What kind of tests did you perform?

[2020-08-06 12:35] ar3ndt commented on #1395
main reason why sometimes rabbitmq fails to start is problem with connecting to `kubernetes.default.svc.cluster.local`. Looks like a dns issue but have not found a root cause yet. New task will be created to have it in a backlog (meanwhile version will be bumped and workaround for upgrade procedure will be added)

[2020-08-06 12:38] ar3ndt opened #1530 "[BUG] The RabbitMQ deployment - problem with dns"
**Describe the bug**
There is an issue with cluster formation.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the cluster with the RabbitMQ application
2. Run `kubectl exec -it -n=queue rabbitmq-cluster-0 -- rabbitmqctl cluster_status` and `kubectl exec -it -n=queue rabbitmq-cluster-1 -- rabbitmqctl cluster_status`

**Expected behavior**
The RabbitMQ deployment is clustered.
The comm

[2020-08-06 12:39] ar3ndt commented on #1530
Some analysis are available in already closed issue:
https://github.com/epiphany-platform/epiphany/issues/1395

[2020-08-07 07:44] toszo commented on #1302
Consider to backport it to 0.5.x branch

[2020-08-07 07:56] #1329 closed

[2020-08-07 08:25] TolikT commented on #1176
@rafzei It also can be configured via [pre-commit](https://docs.ansible.com/ansible-lint/configuring/configuring.html#pre-commit-setup) git hooks.

[2020-08-07 08:48] rpudlowski93 commented on #739
As Tomasz already said, it is a topic to discuss, I'm not sure if we should allow here setting static IPs in order to access services. In my opinion it should be done by for example using dns.

[2020-08-07 09:04] mum0l commented on #1504
Looks good, I will add point about detailed validation steps before merging. Another person should perform all those tests.

[2020-08-07 12:57] plirglo commented on #1232
Cert-manager might be deployed from standard manifest fire or from Helm chart (Since we've got Helm we should consider second option)

- [kubernetes documentation](https://cert-manager.io/docs/installation/kubernetes/)
- [interesting Medium introduction](https://itnext.io/automated-tls-with-cert-manager-and-letsencrypt-for-kubernetes-7daaa5e0cae4)

[2020-08-07 16:01] mkyc commented on #1504
AFAIK @seriva already initialised process of licences validation by legal department

[2020-08-10 08:51] przemyslavic opened #1537 "Fix RabbitMQ tests to work with version 3.8.3"
Due to the update of RabbitMQ to version 3.8.3, the tests should be adjusted to make them work with the current version (both for deployment and vm installation).

[2020-08-10 09:19] mkyc commented on #1502
PR in remote repo created: https://github.com/mkyc/epiphany-wrapper-poc/pull/1

[2020-08-10 09:44] erzetpe commented on #1511
Because of the statement in the official AWS documentation:

I am closing this issue as we cannot provide a setup without support of AWS or Azure. More information accessible at:
https://docs.aws.amazon.com/eks/latest/userguide/alternate-cni-plugins.html

[2020-08-10 09:44] #1511 closed

[2020-08-10 10:10] erzetpe opened #1538 "[Spike] AKS - Research on Azure Kubernetes Network Policies"
**Is your feature request related to a problem? Please describe.**
We don't have any information about Azure AKS network policies but we want to have knowledge about this prior to implementation of Azure Kubernetes Network Policies feature.

**Describe the solution you'd like**
We want to have some design doc that shows how to use Network Policies in AKS and configure them as close as it possible

[2020-08-10 10:13] erzetpe opened #1539 "[Spike] EKS - Research on Kubernetes Network Policies"
**Is your feature request related to a problem? Please describe.**
We don't have any information about EKS network policies but we want to have knowledge about this prior to implementation of EKS Network Policies feature.

**Describe the solution you'd like**
We want to have some design doc that shows how to use Network Policies in EKS and configure them as close as it possible to the solution tha

[2020-08-10 11:06] rpudlowski93 commented on #1442
Tests done:
- 12.2.0 version of aks module require at least 0.12.9 version of terraform, in our case terraform in version 0.12.6 works fine with 7.0.0 module of aks - tested.
- cluster creation works fine on Linux OS but there is a issue when You want to run the cluster creation process on Windows OS - it looks like a bug reported here: https://github.com/terraform-aws-modules/terraform-aws-eks/is

[2020-08-10 11:53] mkyc commented on #1462
We were talking with @TolikT and we understand it similarly. There are small questions about how exactly do those `labels` and `requires` sections should look like but I believe they should be answered in #1475 with some simple PoC (couple mocked modules).

[2020-08-10 12:43] mkyc commented on #1503
@seriva please check what I did in https://github.com/mkyc/epiphany-wrapper-poc/pull/1

There are:
* LICENSE file copied from main epiphany-platform/epiphany repository
* `make licenses` task (you have to do `cd /tmp && go get github.com/google/go-licenses && cd -` first) to generate nice report and download all licences to ./output/licences directory

[2020-08-10 12:49] mkyc commented on #1504
Licensing topics covered in #1503

[2020-08-10 13:00] mkyc commented on #1504
Also [this modules repository](https://github.com/mkyc/epiphany-wrapper-poc-repo) should be migrated as well.

[2020-08-10 13:37] ar3ndt commented on #1449
- Observe where files are located on nodes
Configuration data is stored in location: `/var/lib/ceph`
Storage data is located on dedicated devices which are connected via OSD pods.

- Check how replicas are distributed
Replication: Like Ceph Clients, Ceph OSD Daemons use the CRUSH algorithm, but the Ceph OSD Daemon uses it to compute where replicas of objects should be stored (and for rebalancing).

[2020-08-10 15:33] rpudlowski93 commented on #1441
Autoscaling tests done. In order to reproduce manual load test execute the following points:

1. Create cluster AKS with enabled option: **enable_auto_scaling = true** with min and max count of nodes and some custom parameters.
2. Apply deployment with simple php-apache image:
`kubectl apply -f https://k8s.io/examples/application/php-apache.yaml`
3. Create horizontal pod autoscale based on CPU/Mem

[2020-08-11 07:19] #1537 closed

[2020-08-11 07:23] przemyslavic commented on #1395
The deployment of version 3.8.3 has been tested. Automatic tests have been adjusted to the new version.

[2020-08-11 08:09] mkyc opened #1541 "[BUG] make download requirements more stable"
**Describe the bug**

I have hit a situation (many times when re-run from the current system) that this role failed because the script
core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/ubuntu-18.04/download-requirements.sh

this part

[code]

It comes to the the part `/etc/apt/sources.list seems missing, you either know what you're doing or you need to fix

[2020-08-11 08:13] mkyc opened #1542 "[FEATURE REQUEST] Implement ansible role postgres-exporter"
**Is your feature request related to a problem? Please describe.**
Missing PostgreSQL metrics for Prometheus

**Describe the solution you'd like**
Ansible role to provide PostgreSQL metrics service

**Additional context**
This task is to manage already existing PR #1518

[2020-08-11 08:19] mkyc opened #1543 "[FEATURE REQUEST] Add support for Azure availability sets"
**Is your feature request related to a problem? Please describe.**
We would like to have possibility to create availability-set for Azure using Epiphany in order to have a group with two or more virtual machines in the same Data Center. This ensures that at least one of the virtual machines hosted on Azure will be available if something happens. This configuration offers 99.95% SLA.

**Describe th

[2020-08-11 08:21] mum0l commented on #1298
Looks like ticket [#1233 ](https://app.zenhub.com/workspace/o/epiphany-platform/epiphany/issues/1233)is on hold, so we're not sure if this task is mandatory.. if is.. than we need to put more explanations regarding current work:
- What was done?
- What works?
- What not?
- What are the issues?

[2020-08-11 08:23] mkyc opened #1544 "[FEATURE REQUEST] Existing network support in Azure"
TODO

**Is your feature request related to a problem? Please describe.**
When creating an Epiphany Cluster, we may want to integrate the cluster with existing network resources.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've

[2020-08-11 08:27] rpudlowski93 commented on #1153
This task i duplicated here: #1316

[2020-08-11 08:28] #1153 closed

[2020-08-11 08:48] mkyc opened #1545 "[EPIC] Backup/Restore"
This epic groups all tasks related to Backup/Restore feature.

[2020-08-11 09:04] TolikT commented on #1520
Hello @ks4225,
There is a simple workaround to use kubectl with `--insecure-skip-tls-verify`, for example `kubectl --insecure-skip-tls-verify get nodes`.
I will continue work on final solution.

[2020-08-11 09:07] #1442 closed

[2020-08-11 09:12] #1395 closed

[2020-08-11 09:17] #1510 closed

[2020-08-11 09:19] #896 closed

[2020-08-11 09:21] #1462 closed

[2020-08-11 09:42] mkyc opened #1548 "[Epic] Y20Q3 Upgrades"

[2020-08-11 09:56] mkyc commented on #1298
#1233 will be probably closed without resolution after we finish #1455 epic. So question is rather do we need NTP?

[2020-08-11 10:41] mkyc opened #1550 "[Epic] Vault"

[2020-08-11 12:53] mkyc commented on #1497
related to #1051

[2020-08-12 06:45] TolikT commented on #1322
Defaults:

- https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/aws/defaults/infrastructure/virtual-machine.yml
- https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/azure/defaults/infrastructure/virtual-machine.yml

Documentation should display with examples how to override/change these settings.

[2020-08-13 04:01] ks4225 commented on #1520
Thank you for the update @TolikT.

We have actually been using `--insecure-skip-tls-verify` already. Good to hear it's the recommended workaround.

[2020-08-18 07:15] przemyslavic commented on #1506
The changes have been tested. The fix works fine.

[2020-08-18 07:15] przemyslavic commented on #1505
The changes have been tested. The fix works fine.

[2020-08-18 08:48] przemyslavic commented on #1507
The changes have been tested. The fix works fine.

[2020-08-18 09:05] #1507 closed

[2020-08-18 09:05] #1506 closed

[2020-08-18 09:06] sk4zuzu commented on #1541
I looked at the code and PR and I think the solution presented there is not correct. 🤔 Please take a look at my review comment https://github.com/epiphany-platform/epiphany/pull/1521#discussion_r472028545.

[2020-08-18 09:09] mkyc commented on #1449
Some code related to testing of this task: https://github.com/mkyc/k8s-rook-ceph

[2020-08-19 08:14] rpudlowski93 commented on #1543
Pull Request is already done for the task #1411 and reviewed by @mkyc and @seriva. There are some valuable comments which should be taken into account and maybe added to code. The task must be taken care of by someone and finished based on the review.

[2020-08-19 13:22] mkyc opened #1559 "e-wrapper - consider renaming commands"
writing `components` or `environments` is annoying, I think those should have some short forms like `env` or `com`. Also having autocompletion in zsh/bash would be amazing. 👍

[See point 3 here](https://github.com/mkyc/epiphany-wrapper-poc/pull/1#pullrequestreview-470307883)

[2020-08-19 13:25] mkyc opened #1560 "e-wrapper - help messages"
help  screens seem to be incomplete, for example:

[code]

it does not say what arguments should be provided.

[See point 4 here](https://github.com/mkyc/epiphany-wrapper-poc/pull/1#pullrequestreview-470307883)

[2020-08-19 13:31] mkyc opened #1561 "e-wrapper - state stored in database not in flat yaml files"
consider state management in any kind of local embedded database instead of flat files in ~/.e/ directory

[2020-08-19 13:34] mkyc opened #1562 "e-wrapper - delete environment"
introduce command to delete environment in command line

[2020-08-19 13:35] mkyc opened #1563 "e-wrapper - delete component"
introduce command to delete component from environment

[2020-08-19 13:49] mkyc opened #1564 "e-wrapper - refresh repository state"
add ability to refresh local repository cache every some time or force refresh

[See point 9 here](https://github.com/mkyc/epiphany-wrapper-poc/pull/1#pullrequestreview-470307883)

[2020-08-19 14:28] mkyc opened #1565 "e-wrapper - docker run does not disconnect sometimes"
Sometimes (on Linux only?) it happens that docker command does not disconnect correctly:

[code]

you need to manually `ctrl-C` it to finish. It's not deterministic.

[2020-08-19 14:45] mkyc commented on #1504
Moved to: https://github.com/epiphany-platform/epiphany-wrapper

[2020-08-19 14:49] mkyc commented on #1504
Moving of [modules repository](https://github.com/mkyc/epiphany-wrapper-poc-repo) should be done separately.

[2020-08-19 14:51] mkyc opened #1567 "e-wrapper - move or create new modules repository"
There is hardcoded repository url in cli code: https://github.com/epiphany-platform/cli/blob/master/pkg/util/util.go#L20 and currently repo is located here: https://github.com/mkyc/epiphany-wrapper-poc-repo . We need to move repo to epiphany-platform organisation and fix hardcoded address.

This is followup to #1504

[2020-08-19 15:45] sk4zuzu commented on #1075
Problem still exists, no real progress here. It's reporducible in AWS / Azure while using Azure DevOps, it takes couple of retries to reproduce. Since deployment of a cluster takes 1+ hour it's really annoying to work on.

[2020-08-19 15:45] rpudlowski93 commented on #1449
Choosing **Block Storage** which allows a single pod to mount storage, be aware that if one node where Your application is hosted will crash, all the pods located on the crashed node will go into terminating state and application will be unavailable since terminating pods blocking access to ReadWriteOnce volume and new pod can't create. You have to manually delete volume attachment or use CephFS i

[2020-08-19 18:47] to-bar opened #1569 "[BUG] Azure unmanaged disks not suppored by Epiphany but there is misleading setting in the default configuration"
**Describe the bug**
The default specification for Azure VM contains the following setting:
[code]
This setting suggests that by default Epiphany will create unmanaged disk but managed disk is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Azure cluster using the default configuration.
2. Check terraform.tfstate file, it will contain a value for `managed_disk_id`.

**Expecte

[2020-08-20 07:22] przemyslavic commented on #1239
Vault integration with Kubernetes was tested manually according to the [scenario](https://github.com/epiphany-platform/epiphany/issues/1338#issuecomment-651687655).
We can consider adding automated tests here (deploying a test application and checking the possibility of secret injection).

[2020-08-20 07:25] plirglo commented on #739
- Clue of this request is to standardize ip addresses in clusters

- If create two clusters from almost identical yaml config file machines get diffrent ips for the same vm role, for example:

Cluster1  - kubernetes-master: 10.0.0.1
Cluster2 -  kubernetes-master: 10.0.0.4

Customers need every time check last octet when connecting to cluster

- Downscale - upscale scenario (to confirm):

When down

[2020-08-20 09:29] seriva commented on #1503
Yes this should be everything we need from a BDS perspective.

[2020-08-20 10:51] to-bar opened #1570 "[BUG] Azure network security groups: eplicli apply makes changes when configuration file is not changed"
**Describe the bug**
`epicli apply` is not idempotent on Azure. Odd runs attach network security groups to subnets and even runs detach.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare minimalistic config file (use defaults)
2. Execute `epicli apply -f az_nsg_association_bug.yml`
3. Check network security group association in Azure Portal (e.g. Home | repro-nsg-association-bug-kubern

[2020-08-20 11:40] mkyc opened #1571 "Test CephFS usage"
TODO

look [here](https://github.com/epiphany-platform/epiphany/issues/1449#issuecomment-676505931)

[2020-08-20 12:15] rpudlowski93 commented on #1450
Rook Ceph upgrade can be done very easily using official documentation : https://rook.io/docs/rook/v1.4/ceph-upgrade.html
Be aware that upgrade for each version could be slightly different. In case of upgrade rook ceph (operator and cluster) from version 1.3 to version 1.4 it is enough to run the following commands but before it, please make sure that Your cluster and operator are in [healthy stat

[2020-08-20 12:17] mkyc commented on #1502
FYI, repo is moved to [epiphany organisation](https://github.com/epiphany-platform/cli) and that means that it will not build until naming is fixed there.

[2020-08-20 12:28] mkyc opened #1572 "e-wrapper - fix dependencies inside moved repository"
after repository was moved in task #1504 its dependencies definitions are broken

[2020-08-20 12:57] seriva commented on #1570
There was a minor difference between VM templates when rerunning Epicli which was fixed with this pullrequest:

https://github.com/epiphany-platform/epiphany/pull/1573

However with identical templates this issue still exists. Seems to me like Terraform bug. I checked their issue backlog but cannot find anything describing this.

[2020-08-20 13:07] TolikT commented on #1497
Results are described in the next comment

[2020-08-20 13:10] TolikT commented on #1497
# Scaling status

This document describes results of upscale/downscale processes for main Epiphany components.

## Prerequisites

- HEAD is `379fb2c6b2b826db047339e6107edb16e07bfa78`
- Azure platform

## Kubernetes master

### Upscale

Supported.

### Downscale

Not supported with a log entry:

[code]

### Summary

Need to add support for downscale.

*Tested scheme: 1->3*.

## Kubernetes node

###

[2020-08-21 06:38] atsikham opened #1574 "[BUG] Disks are not removed after downscale of any Epiphany component (Azure)"
**Describe the bug**
This bug is the result of #1497 spike and repeats for all Epiphany components in Azure. In addition the same should be checked for other providers.

**To Reproduce**
Steps to reproduce the behavior:
1. create a few instances of any component in Azure, for example `monitoring`
2. edit config file to have lesser number of instances than before, for example `count: 0`
3. apply ch

[2020-08-21 06:57] atsikham opened #1575 "[BUG][Logging] Frequent fails of 'kibana : Wait for kibana to be ready' step"
**Describe the bug**
This bug is the result of #1497 spike.
According to [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/DATABASES.md#how-to-start-working-with-opendistro-for-elasticsearch) and feature-mapping `kibana` role can be used in `logging` and `opendistro_for_elasticsearch` components. Usually It's ok to deploy 1-2 instances of these components w

[2020-08-21 07:18] atsikham opened #1576 "[BUG][Kafka] Incorrect number of brokers/queues available after scaling up/down"
**Describe the bug**
This bug is the result of #1497 spike.
After scaling up/down, numbers of Kafka brokers and queues are incorrect.

**To Reproduce**
Steps to reproduce the behavior (see `More information` part for some useful commands):
1. deploy 1 kafka instance
2. scale up to 3 instances
3. check the number of brokers - there is only 2 available
4. create 10 queues
5. scale kafka down to 2 in

[2020-08-21 07:20] przemyslavic commented on #1441
Autoscaling has been tested. The number of pods and nodes varied depending on the load.

[2020-08-21 08:10] atsikham opened #1577 "[BUG] Incorrect number of cluster instances when scaling up/down"
**Describe the bug**
This bug is the result of #1497 spike. There is an incorrect number of postgresql cluster instances when scaling up/down.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy 1 node of PostgreSQL
2. edit config file (see `Config files` part) to enable replication
3. scale up to 3 nodes (`count: 3`)
1 node is not joined to the cluster:

[code]
4. Scale down to 2 nodes,

[2020-08-21 08:43] atsikham opened #1578 "[BUG] Update of 1 node with no replication to a few replicated nodes leads to data loss"
**Describe the bug**
This bug is the result of #1497 spike.
Update of 1 node with no replication to a few replicated nodes leads to data loss. Also no `rabbitmqctl forget_cluster_node <node>` executed during downscale, so it leads to some issues, such of removed node disk presence in cluster information.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy 1 rabbitmq node with disabled clu

[2020-08-21 08:48] TolikT commented on #1496
Should be updated with an information from #1497

[2020-08-21 08:49] ar3ndt commented on #1449
Mandatory change in kubelet:
`enable-controller-attach-detach` set to `true`

In epiphany this parameter is set to false. Ceph requires its value to be set to true.

[2020-08-21 09:19] atsikham opened #1579 "[FEATURE REQUEST] Implement control plane downscale"
**Is your feature request related to a problem? Please describe.**
This request is the result of #1497 spike. At the moment Epiphany has no ability to scale down control plane nodes, this ability should be added.

**Describe the solution you'd like**
When `count` of k8s control plane nodes is decreased in config file and new configuration applied, all necessary work, such as `kubeadm reset` should

[2020-08-21 09:24] atsikham opened #1580 "[FEATURE REQUEST] Implement worker nodes downscale"
**Is your feature request related to a problem? Please describe.**
This request is the result of #1497 spike. At the moment Epiphany has no ability to scale down worker nodes correctly, this ability should be added. Such task existed previously - #1202, that work should be continued.

**Describe the solution you'd like**
When `count` of k8s worker nodes is decreased in config file and new configur

[2020-08-24 09:20] mkyc commented on #1564
`v1.yaml` is kind of local cache of file in repository. We don't need any kind of timestamp or other id. We need to implement way to refresh (it means download again) this file every (let's say) hour. So if I use wrapper it will download file at first, and then every some time, just to ensure that local cache is what we have in repository. We do not care if it's one hour old, but for "development

[2020-08-25 08:07] mum0l commented on #1300
Everything looks reasonable from my point of view.

One thing which wonders me, is do we really need to enable verbose mode? Our logs might be super huge after that option and less readable.. I understood enabling this option for particular issue investigation, but setting it globally is a bit of over-productive and useless.

[2020-08-25 08:53] mkyc commented on #1450
As there is no separate PR in this task, I will push it to next phase.

[2020-08-25 09:07] #1503 closed

[2020-08-25 09:11] #1441 closed

[2020-08-25 09:40] erzetpe commented on #1139
Waiting for more information from interested sides.

[2020-08-25 10:53] atsikham commented on #1302
As another task requires a hotfix, this one is on hold.

[2020-08-25 11:19] mkyc commented on #1520
@przemyslavic @atsikham why is it back in pipeline? Can you leave any comment?

[2020-08-25 11:33] przemyslavic commented on #1520
I did some testing by following the instructions posted here to reproduce the issue. I deployed an HA cluster with public IP addresses on Azure, then logged into one machine (other than the master/node), copied admin.conf from one of the masters, replaced `localhost` with the private IP address of the master node, and now try to run `kubectl`. I am getting the same error that is described in this

[2020-08-25 13:09] rafzei commented on #1324
Currently, Kibana-reporting plugin for ODFE is [scheduled as `Next, Next Release`](https://github.com/opendistro-for-elasticsearch/kibana-reports/issues/2) so it should be released in version after 1.10.0. I cannot see any time estimates for this release.

[2020-08-26 07:38] przemyslavic commented on #1541
The fix has been tested. If there is an issue downloading the image, a second attempt is made.

[2020-08-26 11:15] przemyslavic opened #1587 "[BUG] Duplicated SANs for K8s apiserver certificate"
**Describe the bug**
There are duplicate SAN entries for K8s apiserver certificate.

**To Reproduce**
Steps to reproduce the bug:
1. Deploy a new cluster from develop branch with at least one K8s master node.
2. Execute `openssl x509 -in /etc/kubernetes/pki/apiserver.crt -text -noout | grep DNS` on the master node to get the Subject Alternative Names (SAN) for a certificate.

**Expected behavior**

[2020-08-26 11:17] przemyslavic commented on #1520
Reported an issue [[BUG] Duplicated SANs for K8s apiserver certificate #1587](https://github.com/epiphany-platform/epiphany/issues/1587)

[2020-08-26 11:22] atsikham commented on #1587
IMO if we use kubeadm, it should be implemented there to keep kubeadm control plane config in sync with kubeadm configmap. Let's wait for some result in kubeadm [issue](https://github.com/kubernetes/kubeadm/issues/2260) and decide what to do next.

[2020-08-26 13:13] atsikham commented on #1587
Should be fixed in kubeadm v1.19 - https://github.com/kubernetes/kubernetes/pull/92753

[2020-08-26 13:27] mkyc opened #1588 "[EPIC] Components scalability"
This is epic created to track components scalability issues.

# Scaling status

This document describes results of upscale/downscale processes for main Epiphany components.

## Prerequisites

- HEAD is `379fb2c6b2b826db047339e6107edb16e07bfa78`
- Azure platform

## Kubernetes master

### Upscale

Supported.

### Downscale

Not supported with a log entry:

[code]

### Summary

Need to add support f

[2020-08-26 13:35] mkyc commented on #1051
@rafzei I don't think label grooming-needed should be removed. I agree with comment from @erzetpe that we need to divide this task into list of smaller one for each component.

[2020-08-26 13:37] mkyc commented on #1177
Should we rename it to something about Ansible lint?

[2020-08-26 13:43] mkyc commented on #849
@przemyslavic can you add any context if that still exists?

[2020-08-26 14:15] #1505 closed

[2020-08-26 14:25] przemyslavic commented on #1520
The fix has been tested. Now there should be no issues with running `kubectl` commands on an HA cluster.

[2020-08-26 15:44] przemyslavic commented on #1491
The fix has been tested. The error described above no longer occurs.

[2020-08-26 17:29] to-bar commented on #1177
IMHO the name is fine but it could be easier to do this task after #1176.

[2020-08-26 21:14] rpudlowski93 commented on #1451
In case of rook ceph cluster will crash, we would like to have data backup of our application/database which use pvc, completely independent from the ceph cluster. After a deep research and tests, I have to confirm that it is **no possible** to do it using [volume snapshots](https://kubernetes.io/docs/concepts/storage/volume-snapshots/) in kubernetes.

Rook Ceph support only two CSI Drivers: RBD C

[2020-08-27 06:39] rafzei commented on #1324
Logstash approach works only with provided ssl cert, logstash-input-elasticsearch

[2020-08-27 06:44] mum0l commented on #1527
This was already implemented during the auto-scaling ticket #1568.

https://github.com/epiphany-platform/epiphany/pull/1568/files#diff-8d041ca9b2317841030bdc9984748b37

[2020-08-27 07:08] ar3ndt commented on #1451
Backup/Restore is possible using RBD kind of storageclass that PVC uses.
Once this is satisfied we need to do the following steps:

- Create toolbox pod with rbd tools installed (example yaml file it is located in rook repo examples)
- Make some changes on the pod you want to backup (within the mounted pvc location)
- Connect `rook-ceph-tools` container
- Check poolname that was created for the st

[2020-08-27 07:49] mkyc commented on #1527
If that was already done, I'm closing it.

[2020-08-27 07:49] #1527 closed

[2020-08-27 08:00] #1491 closed

[2020-08-27 08:03] #1496 closed

[2020-08-27 08:03] #1497 closed

[2020-08-27 08:06] #1520 closed

[2020-08-27 08:08] #1541 closed

[2020-08-27 08:11] #1449 closed

[2020-08-27 09:09] mkyc commented on #1225
Split it to reel and ubuntu related ones.

[2020-08-27 09:13] mkyc commented on #1322
We should add task (or check if there is one already) to adjust current defaults.

[2020-08-27 11:47] erzetpe opened #1589 "Create guide for applying OS patches to machines running Epiphany on Ubuntu"
**Is your feature request related to a problem? Please describe.**
We need to provide a guide how to apply OS patches on machines where Epiphany is installed on Ubuntu and running.

**Describe the solution you'd like**
We need to provide the guide how to install updates with package manager to Ubuntu OS and not break working components from Epiphany platform.

**Describe alternatives you've consid

[2020-08-28 07:29] atsikham commented on #1302
Certificates settings in epiphany's config were refactored and extended, example:
[code]

Cases need to be tested 'at least':
* deployment, applying configuration with different OS on different cloud providers, as new ansible module was used
* single-master and HA installations, including promotion to HA, as update certificates process a bit different in that cases
* `update: true` and `update:fal

[2020-08-28 08:10] rpudlowski93 commented on #1575
The same problem has been observed here: [link](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/1497)

[2020-08-28 08:24] sk4zuzu opened #1590 "[Spike] Verify if "disks are not removed during downscale" for AWS as well"
Please take a look at #1574. We need to verify if the problem exists in AWS as well and create proper bug report when needed. :+1:

[2020-08-28 12:34] przemyslavic commented on #1443
I'm having problems deploying a cluster.
Looks like an issue installing chart.
[code]

[2020-08-28 14:00] atsikham commented on #1051
@mkyc so in the scope of this task grooming we need to create new ones and close this one?

[2020-08-28 14:05] rpudlowski93 commented on #1571
As the description says, **Block Storage** allows a single pod to mount storage in RWO mode and when there will be a crash for example node will break or will be unavailable (shutdown) the pod will go into terminating state and application will be unavailable :

Error:
`Unable to attach or mount volumes: unmounted volumes=[wordpress-persistent-storage], unattached volumes=[wordpress-persistent-sto

[2020-08-28 14:09] atsikham opened #1593 "[SPIKE] Use python 3 across all distributions"
**Is your feature request related to a problem? Please describe.**
Currently we use an outdated python2 version that is not supported. Moreover, python versions across supported OS distributions are different. As a result some ansible modules cannot be used as it's not possible to install necessary dist packages. Probably it will cause other issues in future.
Example: `python-cryptography` require

[2020-08-28 14:16] atsikham commented on #1302
Blocked by #1593. It's not possible to use ansible `openssl_*` modules across all supported OS distributions.
Draft [PR](https://github.com/epiphany-platform/epiphany/pull/1591) with changes that can be merged only if `python-cryptography` is installed on target hosts.

These changes can be modified to work without `openssl_*` modules, with `shell`, but it's better to upgrade to python3 and use th

[2020-08-28 14:19] atsikham commented on #1593
The question is what kind of tests should be performed after python version upgrade.

[2020-08-28 14:21] atsikham commented on #1575
@rpudlowski93 Azure, this information is already in description.

[2020-08-28 14:38] mkyc commented on #1051
Yeah, or reshape this one to one of subtasks you'd create.

[2020-08-31 07:55] atsikham opened #1596 "[FEATURE REQUEST] CI pipelines: scaling up and down Kafka"
**Is your feature request related to a problem? Please describe.**
Original task is #1051. We don't test scaling up/down components in our pipelines.
Scalability status is described in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components).

**Describe the solution you'd like**
Create new pipelines with scaling up/d

[2020-08-31 08:02] atsikham opened #1597 "[FEATURE REQUEST] CI pipelines: scaling up and down RabbitMQ"
**Is your feature request related to a problem? Please describe.**
The original task is #1051. We don't test scaling up/down components in our pipelines.
Scalability status is described in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components).

**Describe the solution you'd like**
Create new pipelines with scaling

[2020-08-31 08:03] atsikham opened #1598 "[FEATURE REQUEST] CI pipelines: scaling up and down opendistro/logging"
**Is your feature request related to a problem? Please describe.**
The original task is #1051. We don't test scaling up/down components in our pipelines.
Scalability status is described in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components).

**Describe the solution you'd like**
Create new pipelines with scaling

[2020-08-31 08:04] atsikham opened #1599 "[FEATURE REQUEST] CI pipelines: scaling up and down load balancer"
**Is your feature request related to a problem? Please describe.**
We don't test scaling up/down components in our pipelines.

**Describe the solution you'd like**
Create new pipelines with scaling up/down Epiphany components in Azure.

**Describe alternatives you've considered**
None.

**Additional context**
Original task is #1051. Scalability status is described in [documentation](https://github

[2020-08-31 08:05] atsikham opened #1600 "[FEATURE REQUEST] CI pipelines: scaling up and down monitoring"
**Is your feature request related to a problem? Please describe.**
Original task is #1051. We don't test scaling up/down components in our pipelines.
Scalability status is described in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components).

**Describe the solution you'd like**
Create new pipelines with scaling up/d

[2020-08-31 08:07] atsikham opened #1601 "[FEATURE REQUEST] CI pipelines: scaling up and down k8s control plane nodes"
**Is your feature request related to a problem? Please describe.**
Original task is #1051. We don't test scaling up/down components in our pipelines. This task consider scaling control plane nodes - master nodes.
We should create here pipelines for scaling up master nodes since scaling down feature is not impletented yet - [PR](https://github.com/epiphany-platform/epiphany/issues/1579). Scalabilit

[2020-08-31 08:08] atsikham opened #1602 "[FEATURE REQUEST] CI pipelines: scaling up and down k8s worker nodes"
**Is your feature request related to a problem? Please describe.**
Original task is #1051. We don't test scaling up/down components in our pipelines.
Scalability status is described in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components).

**Describe the solution you'd like**
Create new pipelines with scaling up/d

[2020-08-31 08:09] atsikham opened #1603 "[FEATURE REQUEST] CI pipelines: scaling up and down ignite"
**Is your feature request related to a problem? Please describe.**
Original task is #1051. We don't test scaling up/down components in our pipelines.
Scalability status is described in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components).

**Describe the solution you'd like**
Create new pipelines with scaling up/d

[2020-08-31 08:12] atsikham opened #1604 "[FEATURE REQUEST] CI pipelines: scaling up and down PostgreSQL"
**Is your feature request related to a problem? Please describe.**
Original task is #1051. We don't test scaling up/down components in our pipelines.
Scalability status is described in [documentation](https://github.com/epiphany-platform/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-scale-or-cluster-components).

**Describe the solution you'd like**
Create new pipelines with scaling up/d

[2020-08-31 08:32] atsikham commented on #1051
New tasks are created under 'Components Scalability' epic. Opendistro and logging components are combined into one task as it's almost the same.
#1596 #1597 #1598 #1599 #1600 #1601 #1602 #1603 #1604

[2020-08-31 08:37] #1051 closed

[2020-08-31 10:44] atsikham opened #1605 "[FEATURE REQUEST] Use ansible openssl_* modules to regenerate k8s certificates"
**Is your feature request related to a problem? Please describe.**
Currently `shell` module with `openssl` used to regenerate k8s control plane certificates with necessary date.

**Describe the solution you'd like**
As an improvement `openssl_*` ansible modules can be used for this task, but only after switching to Python3 - #1593 and installation of python-cryptography dist package.

**Describe a

[2020-09-01 07:53] ar3ndt commented on #1451
Export / Import tested and seems to be working fine.
Created ceph cluster on 2 separate environments: AWS and AZURE.

Exported changed data in postgresql pod using PVC with Ceph block storage class.
Imported the data on the other cluster and observed successfully changed data on the other cluster.

[2020-09-01 08:00] sk4zuzu commented on #166
@erzetpe was this about high-availability so each of the components of a PostgreSQL cluster get different availability zone in the cloud case (in AWS or Azure)? 🤔

[2020-09-01 09:11] #1450 closed

[2020-09-01 13:38] atsikham commented on #88
Contacted @mmakow in Slack if it's still necessary to do, waiting for response.

[2020-09-02 08:06] mkyc commented on #1444
What we discuss so far is:
 * if we go with classic epiphany model we need to think of:
   * specification part inside epiphany configuration
   * also offline-related sections should be optimised
   * verify if AKS-related terraform code can be downgraded to Epiphany terraform version
 * if we go with modularised way we need to think of:
   * `--external-kubernetes=/shared/kubeconf` switch
   * p

[2020-09-02 09:29] mkyc opened #1607 "[Spike] Autoscaled AKS Prometheus monitoring"
**Is your feature request related to a problem?**
We need to check how to monitor scalable AKS cluster with prometheus. We already have prometheus in epiphany but it is implemented as a system service and the solution won't work in AKS autoscaling.

**Describe the solution you'd like:**
We would like to monitor our nodes/pods metrics in external/epiphany prometheus server.

**Describe alternatives

[2020-09-02 09:37] mkyc opened #1608 "[spike] exporting logs from Autoscaled AKS"
**Is your feature request related to a problem?:**
We need to know how to export logs from AKS nodes to our ElasticSearch. We need some solution which will be working with autoscaling cluster. All the services should be deployed as for example DaemonSets, since we don't want to install each service manually after scale up.

**Describe the solution you'd like:**
We would like to use our currect Fil

[2020-09-02 09:48] to-bar opened #1609 "[FEATURE REQUEST] Build epicli image using Dockerfile only (without shell script)"
**Is your feature request related to a problem? Please describe.**
To build `epicli` Docker image we use the `build-docker.sh` shell script. It builds `epicli` wheel  file (distribution package) which is used (copied) in the Dockerfile. The build script has no support for any `docker build` parameters (like tags or labels) and always creates the `epicli` image tagged as `latest`. This requires ano

[2020-09-02 10:02] mkyc opened #1610 "add go-junit-report xml export to e wrapper test targets"

[2020-09-02 10:25] mkyc commented on #1502
Testing depends on #1572

[2020-09-02 10:26] mkyc commented on #1504
Testing depends on #1572

[2020-09-02 10:36] mkyc commented on #1444
This diagram shows what would be order of modules execution in modularisation approach:

![AKS-modules-order.png](https://images.zenhubusercontent.com/5ef4ad9f4408ae79e992e8d6/973357d3-0f4e-4971-b62d-cf407f44ed25)

[2020-09-02 10:49] mkyc commented on #1609
Please remember also about:
 * documentation update
 * after finish implementation create back port tasks

[2020-09-02 13:00] przemyslavic commented on #1572
fixed in [Fix module names #2](https://github.com/epiphany-platform/cli/pull/2)

[2020-09-02 13:04] przemyslavic commented on #1502
There are 77 test cases prepared.
To execute the tests, run the command `make test`
The tests have been integrated into the CI/CD pipeline and are triggered by PRs.

[2020-09-02 13:05] atsikham opened #1612 "[FEATURE REQUEST] Automate security rules creation"
**Is your feature request related to a problem? Please describe.**
For specified custom subnet `10.1.8.0/24`

[code]

Following security group is created and does not contain necessary inbound rule:

[code]

As a result ks cluster deployment with a few nodes fails because of k8s apiserver unavailability.

**Describe the solution you'd like**
Automatically generate necessary security rules that mat

[2020-09-02 13:05] przemyslavic commented on #1504
Moved to: https://github.com/epiphany-platform/cli

[2020-09-02 14:06] mkyc commented on #1560
Autocompletion should be handled with [this description](https://github.com/spf13/cobra/blob/master/shell_completions.md) as well.

[2020-09-02 14:19] mkyc commented on #1559
If autocompletion will be possible (like described in comment in #1560) then we do not need to shorten commands heavily. On the other hand we should rethink naming once again.

[2020-09-02 14:35] rpudlowski93 commented on #1607
Small update:
- It is possible to run Node Exporters as DaemonSets what is nice for autoscaling in our case. It looks easy do to it using Helm: https://hub.helm.sh/charts/bitnami/node-exporter  what is recommended. As We already know, we don't have access to master node in AKS so we have to run helm locally, the same as kubectl. We have to add the helm and kubectl to our devcontainer.

It is possi

[2020-09-02 15:07] mkyc commented on #1567
repo was moved to https://github.com/epiphany-platform/modules and code was updated in related PR.

[2020-09-02 15:09] mkyc commented on #1564
Downloading via GitHub API was already fixed in PR related to #1567

[2020-09-03 06:56] rpudlowski93 commented on #1451
Nothin to do here more, tomorrow demo will be presented.

[2020-09-03 06:56] rpudlowski93 commented on #1571
Nothing to do here more, tomorrow demo will be presented

[2020-09-03 08:07] #1504 closed

[2020-09-03 08:07] #1572 closed

[2020-09-03 08:07] #1502 closed

[2020-09-03 08:15] #1451 closed

[2020-09-03 08:33] mum0l commented on #1443
@przemyslavic  - I am working on that.. Looks like there is an issue when deploying 2 clusters.
Simplest solution which is working properly is to re-use the "cluster-autoscaler" role for other deployments, but @pyrkamarcin  mention that this solution might be not secure, so I am looking for other possibilities to run multiply roles  - one per cluster. Sadly its quite tought

[2020-09-03 11:37] mkyc opened #1615 "[FEATURE REQUEST] Obtain kubeconfig file from Kubernetes master to Epiphany container"
**Is your feature request related to a problem? Please describe.**
Currently to interact with Kubernetes we ssh to master and run `kubectl` from master node.

**Describe the solution you'd like**
We need to have option to interact with Kubernetes cluster without need to ssh to master. Due to this we need to obtain kubeconfig file from master to local place where `epicli` is running from (`devconta

[2020-09-03 11:51] atsikham commented on #1500
Can be reproduced in `0.7.0` with listed configurations, but not with `develop` branch.

`develop` results (HEAD is `f4f2e5dc6f2926e54da38ca97cb7613cac9596af`)

[code]

![image.png](https://images.zenhubusercontent.com/5f29188b6ef7c40936a17a24/c64eb60b-449b-4713-9f0c-eabc9d1f98cc)

`0.7.0`

![image.png](https://images.zenhubusercontent.com/5f29188b6ef7c40936a17a24/8abb0faa-3a59-4f1a-88aa-c8b58520a

[2020-09-03 11:59] mkyc opened #1616 "[FEATURE REQUEST] update network security rule to open port 6443"
**Is your feature request related to a problem? Please describe.**
Currently even with obtained locally kubeconf file we are unable to access kubernetes cluster because there is no access to port 6443 on master node

**Describe the solution you'd like**
We need to open port 6443 to access Kubernetes API.

**Describe alternatives you've considered**
SSH tunnelling would be another option to conside

[2020-09-03 12:05] mkyc opened #1617 "[FEATURE REQUEST] interact with Kubernetes API using kubeconfig in container"
**Is your feature request related to a problem? Please describe.**
Current code in Epiphany roles usually:
 * copy yaml file to master (if there is a file to be used)
 * ssh to master
 * run `kubectl` on master

That is not a common way of interacting with Kubernetes API.

**Describe the solution you'd like**
We need to change code to run `kubectl` (and possibly `helm`) from local `epicli` (and de

[2020-09-03 12:07] mkyc opened #1618 "[FEATURE REQUEST] Add kubectl and Helm to epicli and devcontainer images"
**Is your feature request related to a problem? Please describe.**
There is no kubectl and helm binaries present in devcontainer and epicli containers.

**Describe the solution you'd like**
We need those two binaries in order to start interact with Kubernetes API from machine with epicli.

**Describe alternatives you've considered**
no alternatives.

**Additional context**
This is required to star

[2020-09-03 13:27] to-bar commented on #1609
Decided with @przemyslavic to not backport this feature to support branches.

[2020-09-03 18:01] to-bar commented on #1615
@mkyc Edited description, added the note about `certSANs`, so I will keep `status/grooming-needed` to confirm the proposed solution with someone else.

[2020-09-03 21:24] mkyc commented on #1480
Usefull [article](https://medium.com/better-programming/build-an-rsa-asymmetric-cryptography-generator-in-go-d202b18bcfd0) about this topic.

[2020-09-04 07:15] przemyslavic commented on #1543
The ability to create availability sets was tested. Individual components (virtual machines) can be assigned to the appropriate availability sets.  VMs are effectively distributed across fault domains and update domains.

[2020-09-04 07:53] przemyslavic commented on #26
Support for Azure availability sets was added in [#1411](https://github.com/epiphany-platform/epiphany/pull/1411).
We should consider autoscaling Azure virtual machines via virtual machine scale sets.
https://docs.microsoft.com/pl-pl/azure/architecture/best-practices/auto-scaling
https://docs.microsoft.com/pl-pl/azure/virtual-machine-scale-sets/overview

[2020-09-04 08:09] mum0l commented on #1596
Please put a comment how exactly this cluster is deployed (config?).
Is the issue simply related to the kafka pods number change, or sth else is changed as too?

[2020-09-04 08:10] erzetpe commented on #166
No, we wanted to have something simiar to this what Microsoft on Azure SQL offers - active geo replication.

More information about this feature is accessible under link:
https://docs.microsoft.com/pl-pl/azure/azure-sql/database/active-geo-replication-overview

[2020-09-04 08:16] erzetpe commented on #166
This should be implemented in all providers, but I guess that this story is not important right now or in the nearest future.

[2020-09-04 08:45] mkyc commented on #1617
Consider opening port 6443 just for short period of time when we are interacting with Kubernetes API.

[2020-09-04 08:45] mkyc commented on #1616
Consider opening port 6443 just for short period of time when we are interacting with Kubernetes API.

[2020-09-04 09:38] atsikham commented on #1596
@mum0l this is a feature request, not a bug, so the way how to test Kafka scalability should be identified in the scope of this task. There is a link to documentation in description where the process is described.

[2020-09-04 10:48] mkyc opened #1622 "Prepare AzureBasicInfrastructure module"
We need new module to enclose existing Epiphany infrastructure terraform code. As far as I understand that means:
 * create new git repo for the module
 * implement required methods (as described [here](https://github.com/epiphany-platform/epiphany/blob/develop/docs/design-docs/modular-cli/component-provider-template.md#required-methods)) For starters: Init, Plan, Apply, Audit.
 * develop test sce

[2020-09-04 11:37] mum0l commented on #1443
Just make a new PR: https://github.com/epiphany-platform/epiphany/pull/1623 - please review

[2020-09-04 12:12] przemyslavic commented on #1609
Changes have been tested. The docker image is built correctly both locally and in the CI pipeline. The devcontainer was also rebuilt and no problems were encountered. It was decided not to backport this as it is more of an improvement/feature than a critical fix.

[2020-09-04 13:56] rpudlowski93 commented on #1607
Regarding to unknowns in prometheus section:
- DaemonSets of Node Exporter is possible. The best option is to use helm chart for that - it will be possible if the task will be done #1618
- How to inform prometheus about new nodes? By default prometheus works as pull style monitoring so it could be problematic in case of autoscaling in AKS when new nodes appear, but we can configure prometheus serv

[2020-09-04 14:02] rpudlowski93 commented on #1608
- We can't totally change hostname of AKS nodes. We can setup our custom "prefix" in the full hostname, for example in hostname aks-linux-24481073-vmss we can only change the "linux" part.

[2020-09-04 14:45] przemyslavic commented on #1500
I confirm, there is no issue anymore on the current develop version. The changes made to version 0.7.1 fixed the problem.

[2020-09-04 15:12] sk4zuzu commented on #1622
Existing set of makefiles from https://github.com/epiphany-platform/epiphany/tree/develop/docs/design-docs/modular-cli/cpt-tests can be used as a template.
Here is an example of a working modle https://github.com/seriva/component-cli
:+1:

[2020-09-04 15:32] sk4zuzu opened #1624 "Prepare AzureAKS module"
After the https://github.com/epiphany-platform/epiphany/issues/1622 AzureBasicInfra module is ready we can start working on deploying AKS on top of it. It should have similar structure to the AzureBasicInfra module.

We need to do:
* create new git repo for the module
* implement required methods, for starters: Init, Plan, Apply, Audit.
* develop test scenarios
* implement tests

Existing set of m

[2020-09-07 09:33] rpudlowski93 commented on #1608
- The same as with prometheus, It is recommened to install filebeat as DaemonSets using Helm - [link] (https://hub.helm.sh/charts/elastic/filebeat) to ensure there’s a running instance on each node of the cluster. It is also possible to install filebeat using manilfest files, but I can't recommend it - [link](https://raw.githubusercontent.com/elastic/beats/master/deploy/kubernetes/filebeat-kuberne

[2020-09-07 12:46] rpudlowski93 commented on #1616
In case of AKS which is managed service, developer doesn't have access to any master node and only API server is exposed by default by Azure for communication with cluster.

In order to be more secure we can limit access to cluster using authorized IP ranges, enable Role-Based Access Control or create private cluster and grant access to the private cluster using for example bastion host.

Moreover

[2020-09-08 08:04] rpudlowski93 commented on #1601
We don't have the feature with scaling down the control plane nodes so I think the task should consider only scaling up.

When increased this will setup additional control plane nodes, but in the case of non-ha k8s cluster, existing control plane node must be promoted first. At the moment there is no ability to downscal

[2020-09-08 09:04] #1500 closed

[2020-09-08 09:06] #1609 closed

[2020-09-08 09:08] #1543 closed

[2020-09-08 09:10] #1475 closed

[2020-09-08 09:50] mum0l commented on #1081
We should consider upgrading this tool to the latest 5.10 version. This version is fully supported with our postgresql 10.

What needs to be checked during the task implementation:
1. Which repositories are used to deploy repmanager? They should contain the 5.1.0 version of repmanager.
2. Are there any deprecated objects? See https://repmgr.org/docs/repmgr.html#APPENDIX-RELEASE-NOTES

[2020-09-08 11:27] atsikham commented on #1601
@rpudlowski93 this is why feature request was created. We need to have the ability for upscale/downscale.

[2020-09-08 13:12] atsikham commented on #1115
Systemd service template should be processed and based on both configurations - manifest and role's defaults. It will be possible to do after #1619 is merged, so this task is moved to blocked.

[2020-09-08 14:01] mkyc opened #1630 "[FEATURE REQUEST] e-wrapper implement "az login"-like feature with SP creation"
**Is your feature request related to a problem? Please describe.**
In modules related to azure infrastructure there would be requirement to create service provider to operate on azure in automated way.

**Describe the solution you'd like**
It would be great to have possibility to do something `e az create-sp` or `e az login` and `e az create-sp`.

**Describe alternatives you've considered**
Possib

[2020-09-09 07:14] rafzei commented on #1596
The bug regarding scaling up/down Kafka: https://github.com/epiphany-platform/epiphany/issues/1576
This FR is about creating a new pipeline like: 1- deploy Kafka , 2- scaling up, 3- do some checks, 4-scale down, 3- do some checks, 4- remove Kafka.

[2020-09-09 09:18] mum0l commented on #1443
I already test the autoscaling feature, but it will be good if someone else will check it.
Some docs, which I did recently:
https://github.com/mum0l/epiphany/blob/feature/eks_autoscaler_fix/docs/design-docs/eks/README.md#testing-the-autoscaling-feature

[2020-09-09 10:53] przemyslavic commented on #1300
Tested configurations:

- Azure/AWS x Ubuntu/RedHat

- on-prem CentOS

No issues found.

[2020-09-09 13:03] ar3ndt commented on #1453
Test results look like the following:

WRITE NO PVC CURRENT SETUP:
`transaction type: <builtin: simple update>
scaling factor: 1
query mode: simple
number of clients: 100
number of threads: 1
duration: 300 s
number of transactions actually processed: 1198256
latency average = 25.052 ms
tps = 3991.660980 (including connections establishing)
tps = 3991.698811 (excluding connections establishing)`

W

[2020-09-09 14:03] seriva commented on #1616
Instead of opening 6443 for opening  managing "standard" kubernetes cluster lets use an SSH tunnel forwarding 6443 to the master machine because:

1: Security, opening 6443 might not be the best since we need to manage the security for these K8s clusters ourselves unlike the AKS etc.
2: The kubeconf generate by our "standard" kubernetes only works for the private IPs or localhost so to use a secur

[2020-09-09 14:38] przemyslavic opened #1632 "[BUG] Logstash installation fails on Azure RedHat environments"
**Describe the bug**
Logstash installation error occured in task `logstash : Ensure Logstash is disabled` on Azure RedHat environments.
Logstash service could not be found.

**To Reproduce**
Steps to reproduce the bug:
1. Deploy a new cluster from develop branch with at least 1 logging vm enabled (configuration given below):  `epicli apply -f test.yml`

**Config files**

[code]

**Expected behavio

[2020-09-09 14:40] przemyslavic commented on #1324
There is a bug to be fixed [[BUG] Logstash installation fails on Azure RedHat environments #1632](https://github.com/epiphany-platform/epiphany/issues/1632)

[2020-09-10 07:19] to-bar opened #1635 "[BUG] epicli upgrade fails when upgrading Kibana"
**Describe the bug**
There is a fatal error when upgrading Kibana:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create cluster using epicli 0.6
2. run `epicli upgrade` using a build from develop branch

**Additional context**
It looks like defaults from `core\src\epicli\data\common\ansible\playbooks\roles\kibana\defaults\main.yml` are not loaded and `specification.versions[ansible_

[2020-09-10 07:43] rpudlowski93 commented on #1618
I already tested kubectl locally from devcontainer and it works fine.

[2020-09-10 07:45] rpudlowski93 commented on #1615
Public IP added to SAN, kubeconf obtained to local directory of cluster, Private IP replaced to Public IP in case of use_public_ips: true.

[2020-09-10 09:12] mkyc opened #1636 "[FEATURE REQUEST] Prepare EKS module"
After the https://github.com/epiphany-platform/epiphany/issues/1637 AWS Basic Infrastructure module is ready we can start working on deploying EKS on top of it. It should have similar structure to the AKS Module.

We need to do:
* create new git repo for the module
* implement required methods, for starters: Metadata, Init, Plan, Apply, Audit.
* Tests will be implemented in #1676 and #1677

Existi

[2020-09-10 09:32] mkyc opened #1637 "[FEATURE REQUEST] Prepare AWS Basic Infrastructure module"
We need a new module to enclose existing Epiphany infrastructure terraform code. As far as I understand that means:
 * create new git repo for the module
 * implement required methods (as described [here](https://github.com/epiphany-platform/epiphany/blob/develop/docs/design-docs/modular-cli/component-provider-template.md#required-methods)) For starters: Metadata, Init, Plan, Apply, Audit.
 * deve

[2020-09-10 09:35] atsikham commented on #1616
I'm thinking about stability and persistence of ssh port forwarding for long running processes, probably in future we will have to handle related edge cases. IMO opening a port for a while is better, but it definitely should be closed after deployment if not required to be open.

[2020-09-10 10:17] mkyc opened #1638 "[FEATURE REQUEST] Ansible role to wrap Kubectl command"
**Is your feature request related to a problem? Please describe.**
To be able to manage a k8s cluster connection via kubectl in one place, it's suggested to use a separate ansible role and include this role in all necessary places with a fact that defines, should it be executed on k8s master as before or locally.
If there is some place, when connection from a container cannot be used (localhost de

[2020-09-10 10:19] mkyc opened #1639 "[FEATURE REQUEST] Use local kubectl in 'prometheus' role"
**Is your feature request related to a problem? Please describe.**
This is a second part of work started in #1638
To be able to manage a k8s cluster connection via kubectl in one place, it's suggested to use a separate ansible role and include this role in all necessary places with a fact that defines, should it be executed on k8s master as before or locally.
If there is some place, when connectio

[2020-09-10 10:22] mkyc commented on #1638
Consider helm as well.

[2020-09-10 10:24] mkyc commented on #1617
Don't do this task, for now we should try to implement it in tasks #1638 and #1639

[2020-09-10 10:28] mkyc opened #1640 "[FEATURE REQUEST] Separate repository machine"
We need it because we no longer have guaranteed that there will be kubernetes master machine.

**Is your feature request related to a problem? Please describe.**
- AKS/EKS offline deployment

**Describe the solution you'd like**
- Create repository machine
- Configure repository machine
- Validate networking/connections/apps if we need anything more.
- Adjust epiphany scripts, so they can be used

[2020-09-10 10:28] mkyc commented on #1640
@toszo we need your confirmation here.

[2020-09-10 10:34] mkyc commented on #1639
After someone starts this task it should be assessed fast if we need to split it into smaller.

[2020-09-10 10:52] mkyc opened #1641 "[FEATURE REQUEST] Create pipelines for releasing Epiphany modules"
**Is your feature request related to a problem? Please describe.**
We need pipelines to run unit tests, build Docker image and push it to Azure Container Registry (development) and Docker Hub (releases).

**Describe the solution you'd like**
Similar solution like we have for epiphany repo.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
No context.

[2020-09-10 10:54] mkyc opened #1642 "Pipeline to test AzKS module"
**Is your feature request related to a problem? Please describe.**
Create pipeline to run tests on PR merge
**Describe the solution you'd like**
Pipeline should invoke tests already prepared in #1675
**Describe alternatives you've considered**
No.
**Additional context**
Check #1641 for information how t was done for AZBI module.

[2020-09-10 10:55] mkyc opened #1643 "Pipeline to test AwsKS module"
**Is your feature request related to a problem? Please describe.**
Create pipeline to run tests on PR merge
**Describe the solution you'd like**
Pipeline should invoke tests prepared in #1677
**Describe alternatives you've considered**
No.
**Additional context**
Check #1641 for information how t was done for AZBI module.

[2020-09-10 10:56] mkyc opened #1644 "[FEATURE REQUEST] Pipeline to test Epiphany using Azure infrastructure modules"
**Is your feature request related to a problem? Please describe.**
Create pipeline to verify modules installation and configuration made by Epiphany

**Describe the solution you'd like**
Maybe this might be done using server spec tests, verify and/or find any other solution

[2020-09-10 10:56] mkyc opened #1645 "[FEATURE REQUEST] Pipeline to test Epiphany using AWS infrastructure modules"
**Is your feature request related to a problem? Please describe.**
This is to create a release pipeline on Azure DevOps to enable automatic cluster deployment on AWS using modularized Epiphany and testing it.

**Describe the solution you'd like**
1. Create a pipeline on AzureDevOps to deploy a cluster
2. Run unit tests / serverspec tests.

[2020-09-10 11:12] seriva commented on #1616
@atsikham Opening and closing this port before and after Ansible run is an option. Preferably using AzureCLI and Boto would be the easiest option from Python code:

https://docs.microsoft.com/en-us/cli/azure/network/nsg/rule?view=azure-cli-latest
https://boto3.amazonaws.com/v1/documentation/api/1.9.42/guide/ec2-example-security-group.html

Terraform would be another option but that will be more co

[2020-09-10 11:12] toszo commented on #1453
@ar3ndt  can you create table with comparison "Rook (Ceph) | VM"?

[2020-09-10 11:16] sk4zuzu commented on #1616
IMO I think using ssh tunnels or vpns do not add any significant security value. Kubernetes authentication is client-certificate based, that means that you need to have a specific private key to access the API and this is fundamentally just the same mechanism ssh uses in key based authentication. The great example of this is for example in GKE or AKS, they expose the port and then you have to get

[2020-09-10 11:40] to-bar commented on #1616
I'm not a fun of this command:
[code]
it could kill too much.
I would prefer more robust solution, maybe with named sockets: https://mpharrigan.com/2016/05/17/background-ssh.html

However, I'm afraid of scenario when network connection was interrupted, then the tunnel probably would be closed (didn't test) and we would lose the `retry` Ansible's functionality. Second thing is that from developer (

[2020-09-10 12:12] mkyc commented on #1616
I vote for port opening.

[2020-09-10 12:14] toszo commented on #1640
I'm fine with detaching repository role from K8s Master machine.

[2020-09-10 12:24] seriva commented on #1616
Just additional comment, temporary port opening will be adding and removing that rule before and running the Terraform command before and after Ansible run. Doing that with AzureCLI/Boto messes up state.

[2020-09-10 12:35] mkyc commented on #1638
Prepare example at the end of this task.

[2020-09-10 12:50] sk4zuzu commented on #1640
Please take a look at configuration example that can be used https://github.com/epiphany-platform/epiphany/issues/1349#issuecomment-649405873 :+1:

[2020-09-10 12:52] mkyc commented on #1640
Put it in SG of kubernetes master node.

[2020-09-10 14:37] toszo commented on #1616
@seriva, @mkyc, @to-bar The only scenario where I'm fine with opening the port is that **we have only public IPs**, meaning clusters peered (that use private ips) will not create public IP and expose 6443.

[2020-09-10 14:40] mkyc commented on #1616
That is also my understanding. If we can communicate with Kubernetes API over secured channel, we are not going to open port to the world.

[2020-09-11 07:25] to-bar opened #1647 "[BUG] epicli upgrade fails when upgrading Open Distro for Elasticsearch"
**Describe the bug**
There is a fatal error when upgrading Open Distro for Elasticsearch:
[code]

On host:
[code]

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create cluster using epicli 0.6
2. run `epicli upgrade` using a build from develop branch

**OS (please complete the following information):**
 - OS: RHEL7 & Ubuntu 18.04

**Cloud Environment (please complete the fol

[2020-09-11 08:39] atsikham commented on #1638
Creation of this role seems to be not reasonable, as we are going to wrap with this role just one `shell` task and limit task usage flexibility with our role. Moreover, I looked briefly through tasks that contain `kubectl` execution, and some of them use `loop` with parametrized kubectl arguments, that is difficult to handle including the role. For example, https://github.com/epiphany-platform/epi

[2020-09-11 09:33] sk4zuzu commented on #1610
@mkyc is this for CI/CD purposes? 🤔

[2020-09-11 10:07] to-bar commented on #1638
Agree with @atsikham.
My ideas:
1) As an alternative to `~/.kube/config` (if different location would be required), use KUBECONFIG env at play level, like:
[code]
2) To not repeat parameters like:
[code]
use `module defaults` feature: https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html

3) Spike Ansible k8s module: https://docs.ansible.com/ansible/latest/modules/k8s_m

[2020-09-11 10:19] atsikham commented on #1638
@to-bar
1-2. First 2 points are clear for me and we use the first one in current configuration, so I agree.
3. there are some additional dependencies required to install, such as `openshift` python lib, agree that it can be checked, but see no reason to use it if `kubectl` is ok for us to use without any dependencies.
4. Again, any Ansible's wrapper for a config that is possible to write with just

[2020-09-11 10:38] seriva commented on #1616
Small improvement over the tunnel approach we might consider instead of the port opening. Usage of small utility to called [autossh](https://linux.die.net/man/1/autossh) which we need to add to the Epicli container. This will basically monitor an SSH connection and re-establish in case of issues or dropped connections. With a simple additional script it allows us to kill only the SSH connection sp

[2020-09-11 10:47] seriva commented on #1638
I would lean towards @atsikham. Not the biggest Ansible guy but do we really need to have a wrapper like that for something simple like this?

[2020-09-11 10:56] mkyc commented on #1610
Yes. @przemyslavic made it manually right now in pipelines but IMHO it would be good to add that part to new make target.

[2020-09-11 11:01] mkyc commented on #1638
@atsikham can you start #1639 and verify your claim? Then I think we close this task if everyone is cool with some draft PR for that second task.

[2020-09-11 11:04] to-bar commented on #1638
I should have added, these ideas are sorted in order - let's try 1 & 2 first. If they are enough, 3 & 4 are not needed. 4 is meant for scenario when we would need to cover/wrap different connection methods for self-hosted K8s than cloud managed service.

[2020-09-11 11:07] atsikham commented on #1616
Agree with @seriva that approach with `autossh` can be used, especially if there is some drawbacks with opening a port.

[2020-09-11 11:10] atsikham commented on #1638
@mkyc I can start with #1639 after having a kubeconfig in a container (#1615 task).

[2020-09-11 15:10] rpudlowski93 opened #1650 "[FEATURE REQUEST] Create build location variable for ansible roles"
**Is your feature request related to a problem? Please describe.**
We would like to have seperated variable in ansible which should indicate to cluster's build directory in order to store there some files such as kubeconfig etc.. Right now, we have to use location_vault variable what is not so good in some cases.

**Describe the solution you'd like**
We would like to have  build_location variable

[2020-09-11 18:24] to-bar commented on #1647
I was able to start elasticsearch service after replacing jvm.options:
`cp -a /etc/elasticsearch/jvm.options.dpkg-dist /etc/elasticsearch/jvm.options`

See https://github.com/elastic/elasticsearch/issues/36828

[2020-09-13 23:30] atsikham commented on #1307
Seems to be not a task, but an epic with undefined design, implementation, documentation parts. So my proposal to discuss it together as a team and not make a grooming by only one person.

[2020-09-14 07:34] mum0l commented on #1218
The problem is quite weird, as upgrade process hangs on the first node, during the ansible part. After mentioned timeouts, pgpool pods cannot be started, as they continuously looping with CrashLoopBackOff. The CrashLoopBackOff means, that there is some issue running the pod, but when checked the Readiness and Liveness probes during the manual run, it looks properly, so pods should be spined up, bu

[2020-09-14 08:03] przemyslavic commented on #1632
After increasing the size of the logging vm to Standard_DS2_v2, the Logstash installation works fine on Azure.

[2020-09-14 08:14] przemyslavic commented on #1324
Fixed in [#1648](https://github.com/epiphany-platform/epiphany/pull/1648)

[2020-09-14 11:07] mkyc commented on #1607
All clear for me. Moving it to DoD Check.

[2020-09-14 11:10] mkyc commented on #1608
All as expected. Moving to DoD Check now.

[2020-09-14 11:15] rpudlowski93 commented on #1650
variable inventory_dir is enough ;)

[2020-09-14 11:22] mkyc commented on #1616
@seriva does it mean that we need to add `autossh` to containers? What is final decision? Can you prepare some summary here?

[2020-09-14 11:32] ar3ndt commented on #1453
|   | write tps  | read tps  | replicas  | vm/k8s  |
|---|---|---|---|---|
| NO PVC  | 4200  | 18402 | 2  | vm  |
| NO PVC | 3991 | 17188 | 1 | k8s  |
| PVC WITH CEPH  |  3052  | 15827 | 1  | k8s  |
| PVC WITH CEPH & PGO   | 2469  | 13311  | 1  | k8s  |
| PVC WITH CEPH & PGO   | 2382  | 12720  | 3 | k8s  |

[2020-09-14 12:06] mkyc commented on #1453
LGTM. Results in table are clear. Moving to DoD Check.

[2020-09-14 12:45] atsikham opened #1654 "[FEATURE REQUEST] Use local kubectl for 'applications' part"
**Is your feature request related to a problem? Please describe.**
This task is a part of work that is started in #1639. We have no access to managed cluster nodes, so local `kubectl` should be used to deploy applications. See application [tasks](https://github.com/epiphany-platform/epiphany/tree/develop/core/src/epicli/data/common/ansible/playbooks/roles/applications).

**Describe the solution yo

[2020-09-15 08:23] sk4zuzu commented on #1318
Looks like a great idea, let's do the spike! \:D/

[2020-09-15 08:24] to-bar commented on #1417
We need to check if having ES always in K8s is acceptable (performance tests) in order to use Ceph for shared storage (will be available in K8s cluster) or implement NFS, which seems to be ok just for backup purposes.

[2020-09-15 09:09] #1324 closed

[2020-09-15 09:12] #1632 closed

[2020-09-15 09:15] #1225 closed

[2020-09-15 09:21] #1300 closed

[2020-09-15 09:26] #1618 closed

[2020-09-15 09:28] #1607 closed

[2020-09-15 09:29] #1608 closed

[2020-09-15 09:53] #1453 closed

[2020-09-15 10:22] atsikham opened #1656 "[FEATURE REQUEST] Run Helm tasks from Epiphany container"
**Is your feature request related to a problem? Please describe.**
In #1638 it was decided not to wrap `kubectl` to execute locally and example provided how to change configuration in #1639.
This task requires investigation what needs to be changed for helm part of that work.

**Describe the solution you'd like**
 Investigate and apply what needs to be changed for helm part of execution in the loc

[2020-09-15 10:45] atsikham commented on #1638
Here is an example - https://github.com/epiphany-platform/epiphany/pull/1653.

[2020-09-15 10:46] atsikham commented on #1115
Implemented with updated doc.

[2020-09-15 12:31] to-bar commented on #1453
Notes for the future:

With `pgbench` you may test at the 3 levels of performance related to disk: in buffer, mostly in cache, and all on disk. You manipulate this by changing the scale factor, see [Memory_vs._Disk_Performance](https://wiki.postgresql.org/wiki/Pgbenchtesting#Memory_vs._Disk_Performance).

While running read-only test cases (with the `-S` option), it's good practice to measure the

[2020-09-15 13:05] mum0l commented on #1512
It is possible to deploy **Ubuntu** EC2 instances with EKS, but only with kubernetes 1.16 and autoscaler 1.16. Tested and works properly. Full list of available Ubuntu images can be found under following url: https://cloud-images.ubuntu.com/aws-eks/

[2020-09-15 14:39] to-bar opened #1657 "[FEATURE REQUEST] Adjust automated tests to Filebeat v7.8.1"
**Is your feature request related to a problem? Please describe.**
Starting with 7.0, the fields exported by Beats conform to the Elastic Common Schema (ECS). Many of the exported fields have been renamed. See [Breaking changes in 7.0](https://www.elastic.co/guide/en/beats/libbeat/7.8/breaking-changes-7.0.html) for the full list of changed names.

After implementing #846 automated tests fail due t

[2020-09-15 14:43] to-bar commented on #846
We need to adjust automated tests (issue #1657).

[2020-09-16 06:20] atsikham opened #1659 "[BUG] Upgrade process fails on Ubuntu with package downgrade"
**Describe the bug**
Upgrade fails on Ubuntu. Related log part:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a k8s cluster from `develop`
2. Upgrade a k8s cluster with `develop` version
3. Check results

**Expected behavior**
Successful upgrade.

**Config files**

[code]

**OS (please complete the following information):**
 - OS: Ubuntu

**Cloud Environment (please complete

[2020-09-16 10:25] przemyslavic commented on #1302
- single machine, single-master and HA installations have been tested
- tested parameter values: `renew: true`, `renew: false` with different periods, including default
- new installations have been tested as well as running `epicli apply` for the second time after changing parameters

[2020-09-16 12:04] przemyslavic opened #1661 "[BUG] Changing the default Kubernetes certificate location results in a cluster deployment error"
**Describe the bug**
Changing the default Kubernetes certificate location results in a cluster deployment error - the installations fails trying to initialize the cluster while the kubelet service is not running.

**To Reproduce**
Steps to reproduce the bug:
1. Deploy a new cluster from develop branch with the configuration given below (changing the default certificate location `/etc/kubernetes/pk

[2020-09-16 12:50] mum0l commented on #1512
Still working on RedHat EC2 machine preparation.
So far, after adjusting and building an RH image, and deployment, it hangs on _coredns_, and no nodes are available via kubectl.

[2020-09-16 18:28] atsikham opened #1664 "[BUG] Unable to perform HA cluster backup"
**Describe the bug**
HA cluster backup fails with following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy HA k8s cluster
2. Try to execute `epicli backup -f backup.yml -b <build_dir>`

**Expected behavior**
Backup is completed successfully.

**Config files**
backup.yml:

[code]

**OS (please complete the following information):**
 - OS: Ubuntu

**Cloud Environment (ple

[2020-09-17 07:46] to-bar opened #1668 "[FEATURE REQUEST] Update kubernetes-cni package to v0.8.7"
**Is your feature request related to a problem? Please describe.**
We use older version (0.8.6) of `kubernetes-cni` package than the default for K8s v1.18.6.
Till Epiphany v0.8.0 we installed the latest but introduced setting to managed it (see PR #1666).
This task is also meant to prevent downgrading the package - if cluster was created by Epiphany in version < 0.8 then upgraded using Epiphany v0

[2020-09-17 08:07] #1302 closed

[2020-09-17 08:46] przemyslavic opened #1669 "[BUG] Filebeat multiline support - truncated single quotes in the regular expression pattern"
**Describe the bug**
Epiphany truncates single quotes from the regular expression pattern for multiline support, which can lead to incorrect log aggregation.

**To Reproduce**
Steps to reproduce the bug:
1. Deploy a new cluster from develop branch with the configuration given below: `epicli apply -f test.yml`

**Config files**

[code]

**Expected behavior**
The file `/etc/filebeat/filebeat.yml` co

[2020-09-17 09:04] mkyc opened #1670 "[FEATURE REQUEST] Filebeat DaemonSet"
**Is your feature request related to a problem? Please describe.**
We need to be able to start Filebeat as DaemonSet to gather logs from machines on managed Kubernetes services.

**Describe the solution you'd like**
We would like to install it using helm locally from our container.
This task should be implementation of findings in task #1608 tested with AKS and (if possible) EKS.

**Describe alter

[2020-09-17 09:08] przemyslavic commented on #765
There is a bug to be fixed: [[BUG] Filebeat multiline support - truncated single quotes in the regular expression pattern](https://github.com/epiphany-platform/epiphany/issues/1669)

[2020-09-17 09:09] rpudlowski93 commented on #1513
Done :) PR created #1671

[2020-09-17 09:36] mkyc commented on #1642
Create separate task to implement tests.

[2020-09-17 09:52] atsikham opened #1672 "[Spike] Check and modify Vault deployment for local kubectl usage"
**Is your feature request related to a problem? Please describe.**
We want to check and modify if needed existing vault role to use local kubectl to Kubernetes clusters not using AKS/EKS.

**Describe the solution you'd like**
Working deployment of Vault on Kubernetes clusters not using AKS/EKS if needed adapted to use local kubectl and helm deployed to Epiphany container.

**Describe alternatives

[2020-09-17 10:00] mkyc opened #1673 "[FEATURE REQUEST] Prometheus and Node Exporters as DaemonSet"
**Is your feature request related to a problem? Please describe.**
We need to be able to connect Prometheus to managed Kubernetes services (AKS and EKS) with Autoscaling to gather metrics..

**Describe the solution you'd like**
We would like to install node exporter as DaemonSets using helm locally from our container (now, node exporter run as system service). We should use here our seperated repo

[2020-09-17 10:11] mkyc opened #1674 "[FEATURE REQUEST] Tests for Azure Basic Infrastructure module"
**Is your feature request related to a problem? Please describe.**

We need to have first tests implemented in AZBI module implemented in #1622

**Describe the solution you'd like**

AFAICT we should implement integration tests for now.

**Describe alternatives you've considered**

No.

**Additional context**

If possible, tests results should be readable for Azure DevOps.

[2020-09-17 10:13] mkyc opened #1675 "[FEATURE REQUEST] Tests for Azure AKS module"
**Is your feature request related to a problem? Please describe.**

We need to have first tests implemented in AzAKS module implemented in #1624

**Describe the solution you'd like**

AFAICT we should implement integration tests for now.

**Describe alternatives you've considered**

No.

**Additional context**

If possible, tests results should be readable for Azure DevOps.

[2020-09-17 10:16] mkyc opened #1676 "[FEATURE REQUEST] Tests for AWS Basic Infrastructure module"
**Is your feature request related to a problem? Please describe.**

We need to have first tests implemented in AwsBI module implemented in #1637

**Describe the solution you'd like**

AFAICT we should implement integration tests for now.

**Describe alternatives you've considered**

No.

**Additional context**

If possible, tests results should be readable for Azure DevOps.

[2020-09-17 10:18] mkyc opened #1677 "[FEATURE REQUEST] Tests for AWS EKS Module"
**Is your feature request related to a problem? Please describe.**

We need to have first tests implemented in AWSEKS module implemented in #1636

**Describe the solution you'd like**

AFAICT we should implement integration tests for now.

**Describe alternatives you've considered**

No.

**Additional context**

If possible, tests results should be readable for Azure DevOps.

[2020-09-17 10:25] mkyc opened #1678 "[BACKPORT] Ability to use "long lasting" Kubernetes certificates - 0.5.x backport"
**Is your feature request related to a problem?**
By design Kubernetes assumes all newly created certificates have expiration time set to 1 year. There is really no automatic way to overcome that and modify expiration time.

**Describe the solution you'd like**
This issue is already fixed and implemented in task #1302 and we would like to backport it to 0.5.x and test it.

[code]

Recommended test

[2020-09-17 10:34] mkyc opened #1679 "[BACKPORT] Ability to use "long lasting" Kubernetes certificates - 0.6.x backport"
**Is your feature request related to a problem?**
By design Kubernetes assumes all newly created certificates have expiration time set to 1 year. There is really no automatic way to overcome that and modify expiration time.

**Describe the solution you'd like**
This issue is already fixed and implemented in task #1302 and we would like to backport it to 0.6.x and test it.

[code]

Recommended test

[2020-09-17 10:41] mkyc opened #1680 "[BACKPORT] Ability to use "long lasting" Kubernetes certificates - 0.7.x backport"
**Is your feature request related to a problem?**
By design Kubernetes assumes all newly created certificates have expiration time set to 1 year. There is really no automatic way to overcome that and modify expiration time.

**Describe the solution you'd like**
This issue is already fixed and implemented in task #1302 and we would like to backport it to 0.7.x and test it.

[code]

Recommended test

[2020-09-17 13:03] mkyc commented on #1642
This goes back to TODO as was decided that testing itself will be done in #1674 and #1675

[2020-09-17 13:28] mum0l commented on #1512
By default, EKS installs the official fully supported and maintained image of Amazon Linux 2. In this ticket we want to setup RedHat or Ubuntu, as a worker for K8S.

So far it’s only possible to deploy k8s v1.16 max using official Ubuntu image, but we need also 1.17 which doesn't exist..

Regarding RedHat, it’s required to build own image, and customize it. I start working on that, but looks like

[2020-09-17 13:45] rpudlowski93 commented on #1512
In AKS case the situation is a bit similar, there is only option to have Linux (Ubuntu) and Windows, nothing more. I would prefere to stick the images which Azure/AWS offer by default. I can approve using only Amazon Linux 2 in this case.

[2020-09-17 13:53] gj25 commented on #1137
@toszo Is the Kafka upgrade, preferably to to the latest version (2.6.0), scheduled for 0.8?

[2020-09-17 14:04] przemyslavic opened #1681 "[BUG] Node exporter does not work after the upgrade - unknown long flag '--collector.netdev.ignored-devices'"
**Describe the bug**
1. Node exporter service is not working after running the upgrade command. It looks like an old systemd service configuration has been applied.
2. To check the installed version the command `/opt/node_exporter/node_exporter --version` is called which returns too much information when called directly on the vm and in the case of Ansible it shows nothing:
[code]

[code]
3. When

[2020-09-17 14:06] przemyslavic commented on #1115
There is a bug to be fixed: [[BUG] Node exporter does not work after the upgrade - unknown long flag '--collector.netdev.ignored-devices'](https://github.com/epiphany-platform/epiphany/issues/1681).

[2020-09-17 14:06] usshmah commented on #1137
Comment from Steve Kieu in #prod-de-devops channel

Our Kafka version used by epiphany 0.6.0 is 2.3.1 with zookeeper 3.4.12

There are these issues have been logged and resolved with latest version 2.6.0

https://issues.apache.org/jira/browse/KAFKA-7925 - CPU consumption

https://issues.apache.org/jira/browse/KAFKA-10254 - CPU consumption when broker lost connection

https://issues.apache.org/jira

[2020-09-17 15:34] mum0l commented on #1203
Looks like there is official documentation how to setup remote state in vault: https://learn.hashicorp.com/tutorials/terraform/aws-remote

The only issue which we might face is that this require Terraform Cloud, but free version limits number of users to 5... https://www.hashicorp.com/products/terraform/pricing - is that something we want to go with or not?

[2020-09-17 17:11] mkyc commented on #1203
I believe not. We are going to try to be as far from being locked in terraform state as possible. If we want to store state somewhere, it should be our own implementation to allow storage of all kinds of files, not only terraform state. BTW: terraform state is going to be less and less issue in modularised approach.

[2020-09-18 06:45] mum0l commented on #1203
Make sense. than we need to prepare our own implementation than.

[2020-09-18 07:10] atsikham commented on #1639
Results:
PR - https://github.com/epiphany-platform/epiphany/pull/1655
Extracted 3 additional tasks: #1654, #1656, #1672
Found 2 bugs: #1659, #1664

[2020-09-18 07:46] rafzei commented on #1140
@to-bar shouldn't this be in 'on hold' instead of 'to-do' ?

[2020-09-18 08:10] mkyc commented on #1137
@gj25 It's not.

[2020-09-18 08:20] to-bar commented on #1140
Yep, moving.

[2020-09-18 08:23] mum0l commented on #1443
@przemyslavic could you test it again?

[2020-09-18 08:41] toszo commented on #1203
@mum0l please take work that was groomed and planned for the current sprint and not take additional things while work in the sprint has not finished.

[2020-09-18 08:55] mum0l commented on #1203
Already do that, thanks!

[2020-09-18 13:26] plirglo commented on #1542
PR: https://github.com/epiphany-platform/epiphany/pull/1684

[2020-09-18 14:56] mum0l commented on #1590
Tested on 2 different deployments (ubuntu+redhat) in AWS, and this issue doesn't exist - disks are properly removed. Taking this into account, I suggest we can close this issue.

[2020-09-21 07:18] ar3ndt commented on #1640
looks good, no additional configuration was required

[2020-09-22 07:19] przemyslavic commented on #1443
Autoscaling has been tested in the same way as for the AKS cluster (according to the scenario described [here](https://github.com/epiphany-platform/epiphany/blob/feature/eks-cluster-creation/docs/design-docs/eks/README.md#testing-the-autoscaling-feature)). The number of pods and nodes varied depending on the load. Seems to be working properly.

[2020-09-22 07:39] seriva commented on #1616
Yes, for the current Epicli containers it does since this is needed now for any kubectl and also helm commands we want to run locally from the container against our own cluster.

[2020-09-22 07:55] seriva commented on #1656
Using helm locally to deploy charts to a K8s cluster can be done with the changes already made for #1616:

- Local kube.conf which points to localhost:6443
- Setting of KUBECONF env variable to point to that local kube.conf
- SSH tunnel passing through port 6443 to our K8s master

Only thing missing is adding our own Helm repository which we can do by using the same SSH tunnel trick we use for loc

[2020-09-22 08:09] sk4zuzu commented on #1675
I believe implementation should be similar to https://github.com/epiphany-platform/m-azure-basic-infrastructure/pull/11 from the basic infastructure module. :+1:

[2020-09-22 08:29] mum0l commented on #1238
We need to go thru the deployment process, and check all points one-by-one, if they're deployed properly. For sure as author mention we need to check if ports are listening, TLS certificate works properly, namespace is set, vault seal/unseal process works correctly. I'm not sure what else is there, but those should be the basics, but in-deep verification should be performed as I mention point-by-p

[2020-09-22 09:11] #1443 closed

[2020-09-22 09:12] #1638 closed

[2020-09-22 09:14] #1657 closed

[2020-09-22 09:18] #1589 closed

[2020-09-22 10:02] ar3ndt commented on #1640
Helm needs to be included in local container with tunnelling

[2020-09-22 12:52] atsikham commented on #1676
@mkyc could you add some examples of tests in other modules, if they exist?

[2020-09-22 15:55] mkyc commented on #1676
Yeah, [here is PR with tests](https://github.com/epiphany-platform/m-azure-basic-infrastructure/pull/11) in Azure Basic Infrastructure module.

[2020-09-22 16:38] przemyslavic commented on #1659
After applying the fix, the upgrade process works fine. Now the specific version of kubernetes-cni package is installed according to the provided configuration.

[2020-09-22 16:47] przemyslavic commented on #1115
After applying the fix, the node exporter works fine.
Cluster upgrade from version 0.5 and 0.7 to develop was tested as well as the deployment of a new cluster from the develop branch.

[2020-09-23 09:21] to-bar commented on #1650
We have a case where `inventory_dir` fact cannot be used. In PR #1683.
Documentation (https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html) states:

[2020-09-23 11:50] ar3ndt commented on #1640
Tunnell tested manually and it works. Switch to review.

[2020-09-23 14:59] rpudlowski93 commented on #1670
Filebeat as DaemonSet added to Epiphany code but still it needs to be tested using helm locally. Blocked by #1640.

[2020-09-23 19:50] to-bar opened #1691 "[FEATURE REQUEST] Run HAProxy using dedicated user instead of root"
**Is your feature request related to a problem? Please describe.**
Before changes from #1586 we had HAProxy installed as OS package (deb/rpm). The package automatically created OS user and group `haproxy`.

We had automated tests to check the following:

- User "haproxy" is expected to exist
- User "haproxy" is expected to have login shell "/usr/sbin/nologin" or have login shell "/sbin/nologin"
-

[2020-09-24 07:30] przemyslavic commented on #1681
Node Exporter upgrade works fine after applying the fix.

[2020-09-24 07:44] to-bar commented on #1316
Created related issue #1691.

[2020-09-24 08:06] #1659 closed

[2020-09-24 08:08] #1681 closed

[2020-09-24 08:08] #1115 closed

[2020-09-24 09:45] mkyc commented on #1647
It's possible that it also appears in other versions.

[2020-09-24 12:23] mkyc commented on #1617
Closing this task due to work being done in another ones.

[2020-09-24 12:23] #1617 closed

[2020-09-24 12:26] mkyc commented on #1444
As is was decided we are not going to include any managed kubernetes clusters configuration inside epiphany, but we will release AKS as separate module already [done here](https://github.com/epiphany-platform/m-azure-basic-infrastructure).

[2020-09-24 12:26] #1444 closed

[2020-09-24 12:28] mkyc commented on #1445
As is was decided we are not going to include any managed kubernetes clusters configuration inside epiphany, but we will release EKS as separate module. Work defined in #1636

[2020-09-24 12:28] #1445 closed

[2020-09-24 12:46] mkyc opened #1694 "[FEATURE REQUEST] Test Epiphany installation on top of AzBI module"
**Is your feature request related to a problem? Please describe.**

We need to test that installation of Epiphany with "any" provider on top of Azure Basic Infrastructure module.

**Describe the solution you'd like**

Option basic:
 * run AzBI module to create machines
 * manually create cluster.yml configuration file for epicli
 * run epicli in several configurations

**Describe alternatives you'

[2020-09-24 12:50] mkyc opened #1695 "[FEATURE REQUEST] test Epiphany installation on top of AzBI and AzAKS modules"
**Is your feature request related to a problem? Please describe.**

We need to test that installation of Epiphany with "any" provider and usage of external K8S cluster on top of Azure Basic Infrastructure module and Azure AKS module is working.

**Describe the solution you'd like**

Option basic:
 * run AzBI module to create machines
 * run AzAKS module to create AKS cluster
 * manually create clu

[2020-09-24 12:54] sk4zuzu commented on #1694
@mkyc this config example may help a lot :+1:
[code]

[2020-09-24 12:55] mkyc opened #1696 "[FEATURE REQUEST] Document installation of Epiphany using AzBI and AzAKS modules"
**Is your feature request related to a problem? Please describe.**

We need to document how to install Epiphany using modules. It could be nice to have some document design with architecture diagram in order to explain how everything works, and show all necessary logical connections. The documentation should consider: **AzBI** module, **AzAKS** module, **Epiphany** module.

**Describe the solution

[2020-09-24 12:56] sk4zuzu commented on #1694
Also copying `kubeconfig` to `build/aks-test/` location is required. :+1:

[2020-09-24 13:04] sk4zuzu commented on #1694
I'd suggest deploying `basic-infra` with public ips enabled for the purpose of this test. :+1:

[2020-09-24 13:56] sk4zuzu commented on #1695
This config example may help a lot :+1:
[code]

[2020-09-25 07:43] erzetpe commented on #1672
We need to discuss this as this is more than planned MVP scope. In our MVP scope we only have planned to deploy vault on one master server with local connection to Kubernetes API server.

[2020-09-25 08:08] sk4zuzu commented on #1664
This is low priority task. We don't support recovery, users have to do it themselves. :)

[2020-09-25 10:20] erzetpe opened #1697 "Modify Vault to work with EKS"
**Is your feature request related to a problem? Please describe.**
We don't have integration with Vault and EKS service.

**Describe the solution you'd like**
We won't ability to integrate Vault with EKS service.

**Describe alternatives you've considered**
None.

**Additional context**
No.

[2020-09-25 10:20] erzetpe opened #1698 "Modify Vault to work with AKS"
**Is your feature request related to a problem? Please describe.**
We don't have integration with Vault and AKS service.

**Describe the solution you'd like**
We won't ability to integrate Vault with AKS service.

**Describe alternatives you've considered**
None.

**Additional context**
No.

[2020-09-25 11:36] erzetpe opened #1699 "Modify Vault to work with remote Kubernetes cluster."
**Is your feature request related to a problem? Please describe.**
We don't have integration with Vault and remote Kubernetes cluster (not AKS/EKS).

**Describe the solution you'd like**
We want ability to integrate Vault with remote Kubernetes cluster (not AKS/EKS).

**Describe alternatives you've considered**
None.

**Additional context**
No.

[2020-09-25 12:03] mkyc opened #1700 "decide if build and test processes of modules should be OS independent"
It has to be a new issue/spike how we should deal with it.

_Originally posted by @rafzei in https://github.com/epiphany-platform/m-aws-basic-infrastructure/pull/1#issuecomment-698857681_

[2020-09-25 12:10] przemyslavic commented on #1639
What has been tested here:
- single master + monitoring
- multi master (HA) + monitoring
- monitoring (no k8s)

No issues found after refactoring.

[2020-09-25 12:41] sunshine69 opened #1702 "[BUG] Reruning epicli may fail for clustered Postgres"
**Describe the bug**
 Re run the deployment causing fail in postgres roles

See it in version 0.6.0. and expect same behaviour in 0.7.0 because that postgres role does not change.

**To Reproduce**
Steps to reproduce the behavior:

Build a cluster with postgres with two nodes

Observe that vm-1 is set as primary and vm-0 is hot standby

Re run the deployment with nothing changes

epcli run failed

[2020-09-25 17:37] sk4zuzu commented on #1694
Test results:
![](https://i.imgur.com/thmRKJi.png)
![](https://i.imgur.com/bKuDG47.png)
:+1:😍

[2020-09-26 01:22] sunshine69 commented on #1702
Below log is an example of azure cli command return not consistently in order

[code]

As you can see order is not.
However try to get the id only now and see it seems to be in order

[code]
And if you re-run the first command again you get the correct order

[code]

Alas we depends on the function `get_ips_for_feature` in APIProxy.py to return the list and append it to form the groups.

[2020-09-26 02:34] sunshine69 commented on #1702
Lets try to sort it and see if resolved problem for me, any comments are welcome

APIProxy.py

[code]

[2020-09-26 11:58] mkyc commented on #1694
Is it tested with latest develop commits in epiphany repo?

[2020-09-26 13:39] to-bar opened #1705 "[RHEL/CentOS] epicli fails on downloading requirements - Docker CE repo not available"
**Describe the bug**
Docker CE CentOS repository is not available at official URL at least since Sep 24.

Issue reported on Docker community forum at: https://forums.docker.com/t/docker-ce-stable-x86-64-repo-not-available-https-error-404-not-found-https-download-docker-com-linux-centos-7server-x86-64-stable-repodata-repomd-xml/98965

The error message:
`https://download.docker.com/linux/centos/7Se

[2020-09-26 16:02] sk4zuzu commented on #1694
66a450fb6effa223b855a2864b9fbbb6735c5ee0 this one was used, the latest one was failing.

[2020-09-28 08:44] sk4zuzu commented on #1694
It was failing because in my IDE I used older devcontainer image. After rebuild it seems to be working fine. :+1:

[2020-09-28 10:46] sk4zuzu commented on #1695
I've discovered we cannot provide custom dns names for vms, because AKS it has no knowledge about them :thinking: :
[code]
and
[code]
Retrying with real vm names in next attempt :+1:

[2020-09-28 11:09] sk4zuzu commented on #1695
I've discovered we don't support private DNS names in basic infrastructure module :-1: That makes AKS and Epiphany integration quite diffucult. Also we need to add pull secret AKS to be able to pull images from Epiphany repo. :-1:

[2020-09-28 11:29] przemyslavic commented on #1615
The changes have been tested. Now the kubeconfig file is created in the container and then removed when the specified tasks are completed.

[2020-09-28 12:09] erzetpe commented on #1672
After analysis of the code and brief testing it seems that no changes are required at the moment.

[2020-09-28 12:57] erzetpe commented on #1388
We shouldn't solve this issue but add to our documentation information that -  static and transient names consists only of 7 bit ASCII lower-case characters, no spaces or dots, and limits itself to the format allowed for DNS domain name labels.

This is very similar to information available at the site: https://www.freedesktop.org/software/systemd/man/hostname.html

Some legacy apps may have probl

[2020-09-28 13:51] przemyslavic commented on #1705
The fix works fine. Tested on RedHat.

[2020-09-28 13:57] mum0l commented on #1322
Please note, that I stuck with this topic.

Cannot set the additional security rules in AWS, as none of configs provided by colleagues is working. If I need to document the procedure, first I need to have working solution (working yaml deployment file). Without that, it might be really hard to document, something what is not working

[2020-09-28 14:12] sk4zuzu commented on #1695
Further investigation showed, it's just enough to use vm names as hostnames in configs. :+1:
The other problem with repository pull secret manifests itself like this :-1:
[code]

[2020-09-28 14:31] sk4zuzu commented on #1695
Setting `use_local_image_registry` to `false` gives good results! :+1:
[code]

[2020-09-28 14:56] sk4zuzu opened #1707 "[BUG][Modules] Epiphany's image-registry does not use HTTPS"
**Describe the bug**
Communication with Epiphany's image-registry is insecure.

We use this setting on all Epiphany hosts everywhere where docker runs:
[code]
This is the config of docker registry we use on repository hosts (it uses plain HTTP):
[code]

**To Reproduce**
When AKS tries to pull images from the image-registry, this happens:
[code]
In particular `http: server gave HTTP response to HTT

[2020-09-28 15:42] przemyslavic commented on #1615
There is an issue with deploying a cluster without kubernetes node component. The applications role fails with missing kubeconfig.
[code]

From what I can see many tasks have been skipped.

[code]
After adding one node, the kubeconfig file appears in the container and the installation goes without errors.

To reproduce:
Deploy a cluster with 1 master vm:
[code]

[2020-09-29 07:23] atsikham commented on #1702
The same behavior in #1577.

[2020-09-29 07:42] seriva commented on #1702
Outstanding pull for his suggestion: https://github.com/epiphany-platform/epiphany/pull/1706 I think this should work but we need to test it.

[2020-09-29 07:43] to-bar commented on #846
Testing upgrades is blocked by #1647.

[2020-09-29 07:49] sk4zuzu commented on #1702
I'm afraid that sorting hostnames in AWS is not a complete solution. It will work only with the assumption nobody will add new or remove old nodes from the cluster. It should be rather sorted using timestamp when VM was created or something similar, but not the hostname :thinking:

[2020-09-29 08:17] atsikham commented on #1577
Primary/standby switching should be resolved in the scope of #1702. If it's not supposed to have more than 2 instances, it should be added to documentation (CLUSTER.md).

[2020-09-29 08:50] przemyslavic commented on #1654
There is an issue with deploying a cluster without kubernetes node component. The applications role fails with missing kubeconfig.
[code]

From what I can see many tasks have been skipped.

[code]
After adding one node, the kubeconfig file appears in the container and the installation goes without errors.

To reproduce:
Deploy a cluster with 1 master vm:
[code]

[2020-09-29 08:52] przemyslavic commented on #1615
The changes have been tested. Now the kubeconfig file is created in the container and then removed when the specified tasks are completed.
Checked:
- `epicli apply` - there is an issue with the applications playbook - reported in [#1654](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/1654)
- `epicli upgrade` - works the old way with a

[2020-09-29 09:09] #1615 closed

[2020-09-29 09:12] #1705 closed

[2020-09-29 09:16] #1639 closed

[2020-09-29 09:45] erzetpe opened #1708 "[SPIKE] Installation of single instance of Druid on Kubernetes using helm"
**Is your feature request related to a problem? Please describe.**
We want to install automatically non-clustered single Druid instance on Kubernetes.

**Describe the solution you'd like**
Prior to automatic installation we want to create plan, configuration and documentation of Druid deployment on Kubernetes using helm.

**Describe alternatives you've considered**
Installation of  non-clustered s

[2020-09-29 10:20] rafzei opened #1709 "[SPIKE] Check if epicli parsing quotes correctly in configuration manifest"
**Describe the spike**
We had an [issue](#1669) where the parsed initial configuration manifest (apply/init) treats single quotes in a different way.

This spike is to check and verify if we are using [pyyaml](https://pypi.org/project/PyYAML/) (parser lib) in the correct way.
Maybe it's just the specification of this lib and we should keep one standard to use quotes.

[here](https://github.com/epi

[2020-09-29 10:47] mkyc commented on #1707
We should deactivate local docker registry usage by applications for now if we use external kubernetes.

[2020-09-29 11:37] sk4zuzu commented on #1707
Yes, I completely agree. If we wanted to make this registry work with a managed k8s cluster of some kind with enabled autoscaling, that would mean we'd have to modify OS image of the node and add an exception for the private registry to each and every docker daemon runnning there. Epiphany repo would get up AFTER the managed cluster was created, this would mean that such modification would be very

[2020-09-29 11:40] przemyslavic commented on #1654
The same problem exists for the single machine installation.

[2020-09-29 12:19] rafzei commented on #1707
Agree.
Nothing to-do in this issue, just we wont use local docker registry in aks/eks.

[2020-09-29 12:38] mkyc commented on #1707
Shouldn't we add shared config value "uses_external_kubernetes" and then use it in applications templates? Without this kind of change we would still have problem with places like this: https://github.com/epiphany-platform/epiphany/blob/develop/core/src/epicli/data/common/ansible/playbooks/roles/applications/templates/rabbitmq/03-rabbitmq.yml.j2#L87-L91

[2020-09-29 13:21] mkyc commented on #1700
We might run build / test / whatever [inside docker container](https://itnext.io/docker-in-docker-521958d34efd).

[2020-09-29 13:23] to-bar opened #1710 "[FEATURE REQUEST] Add/extend retry functionality for all network related commands in download-requirements.sh"
**Is your feature request related to a problem? Please describe.**
Occasionally download-requirements.sh script fails with such error:

`Downloading image: k8s.gcr.io/kube-apiserver:v1.17.4", "Skopeo command is: ./skopeo_linux --insecure-policy copy docker://k8s.gcr.io/kube-apiserver:v1.17.4 docker-archive:/var/www/html/epirepo/images/kube-apiserver-v1.17.4.tar:k8s.gcr.io/kube-apiserver:v1.17.4",

[2020-09-29 13:27] mkyc commented on #1695
Related bug regarding usage of internal docker registry: #1707

[2020-09-29 14:21] przemyslavic commented on #1616
The SSH tunnel is established in the preflight to allow kubectl and helm commands to be run locally and then it is closed in the postflight.

Tested:
- single master
- multi master
- promote to HA
- upgrade from 0.7.1

[2020-09-29 14:37] przemyslavic opened #1711 "[BUG] No local kubeconfig available for the applications playbook in a single machine/master only installation"
**Describe the bug**
There is an issue with deploying a cluster without kubernetes node component. The applications role fails with missing kubeconfig.

**To Reproduce**
Deploy a cluster with 1 master vm:
[code]
or single machine

[code]

**Expected behavior**
The cluster has been deployed successfully.

**OS (please complete the following information):**
 - OS: [all]

**Cloud Environment (please

[2020-09-29 14:40] przemyslavic commented on #1654
There is an issue with deploying a single machine/master only cluster (without kubernetes node component). The applications role fails with missing kubeconfig.

Blocked by [[BUG] No local kubeconfig available for the applications playbook in a single machine/master only installation #1711](https://github.com/epiphany-platform/epiphany/issues/1711)

[2020-09-29 15:19] sk4zuzu commented on #1711
After so initial investigation I concluded that issue is not related to applications, but much before to tasks inside kubernetes_master role. Order of task executions seems to be inversed.

[2020-09-29 22:37] sunshine69 commented on #1702
I already thought about that but I decided to use hostname for readability over odd cases and try declare odd cases as non supported activities.

We should aim for a naming consistent when creating vm and discourage user handle a mixture of manually / automation.

I will look into the AWS hostname creation pattern again soon and see if we can impose the rules (use tag maybe) by the time stamp.

IM

[2020-09-29 23:31] sk4zuzu commented on #1702
OK, to be completely transparent. We faced this issue already when implementing Kubernetes HA code.

Epiphany uses in AWS autoscaling groups to create virtual machines. Terraform AWS provider does not control
specific vms inside the ASG, what we can only do with it is to increase or decrease the size of the ASG. In other
words we have no control over ordering of the vms inside the ASG.

So let's s

[2020-09-30 06:57] przemyslavic commented on #1656
It has been tested together with the task [[FEATURE REQUEST] update network security rule to open port 6443 #1616](https://app.zenhub.com/workspaces/epiphany-platform-5ef9d3c749afc20019782391/issues/epiphany-platform/epiphany/1616).

[2020-09-30 10:59] mkyc opened #1715 "[FEATURE REQUEST] Epiphany on AKS module MVP"
**Is your feature request related to a problem? Please describe.**

There is need to prepare simplest possible Epiphany module to be able to install epiphany on top of AzBI and AzAKS modules.

**Describe the solution you'd like**

[code]

assumption in upper code is that default cluster configuration templated by `epi` module has zeros for all machines and 1 on repository machine. It means that by

[2020-09-30 11:01] mkyc commented on #1715
This task implies that there will be 3 modules eventually:
 * m-classic-epiphany-on-aks (this task)
 * m-classic-epiphany-on-eks
 * m-classic-epiphany-on-prem

[2020-09-30 11:19] to-bar commented on #1669
Fix tested, single quotes are preserved. The default configuration (`specification.postgresql_input`) works fine.

I recommend adding schema validation for `configuration/filebeat` kind in the future to ensure `multiline.pattern` is always quoted, like:
[code]

[2020-09-30 11:34] seriva commented on #1322
Reviewed provided configuration: Azure was fine, AWS had port assigned to wrong field. Outstanding pull request to simplify the defaults and make them less confusing: #1714

[2020-09-30 12:07] mkyc commented on #1707
[This](https://github.com/epiphany-platform/epiphany/pull/1713/files#diff-159f36a47f14363d0d5c1a05e2504f9cR124) variable should be used after #1713 is merged.

[2020-09-30 12:41] toszo opened #1716 "[FEATURE REQUEST][0.5.x] Back-merge "long lasting certs for Kubernetes" (#1302)"
**Is your feature request related to a problem? Please describe.**
Clients use version 0.5.x with product version certified on this version, and would like to update and extend certs validity.

**Describe the solution you'd like**
Back merge and verify feature that was done in #1302 to 0.5.x branch.

**Describe alternatives you've considered**
Documentation can be a poor alternative.

**Additional

[2020-09-30 17:27] to-bar commented on #765
Tested as part of #1669.

[2020-10-01 07:41] przemyslavic commented on #1711
The bug has been fixed.

Tested:
- single machine
- master only (no nodes)
- master + nodes
- multi master + nodes

[2020-10-01 08:02] #1711 closed

[2020-10-01 08:06] #1616 closed

[2020-10-01 08:06] mkyc commented on #1616
@seriva please add information to change log

[2020-10-01 08:10] #1656 closed

[2020-10-01 08:15] #765 closed

[2020-10-01 08:16] #1669 closed

[2020-10-01 08:40] mkyc commented on #1641
We should test it also on new testing nodes pool.

[2020-10-01 09:42] plirglo commented on #1641
Build module pipelines are ready and located under url: https://abb-epiphany.visualstudio.com/epiphany/_build?definitionScope=%5CModules

Modules release pipelines are located under url: https://abb-epiphany.visualstudio.com/epiphany/_release?_a=releases&view=all&path=%5CModules

We faced issue with running tests on existing agents infrastructure. We need to reconfigure a bit agents configuration

[2020-10-01 10:47] przemyslavic commented on #1654
Tested:
- single machine
- single master + nodes
- multi master + nodes

on:
- Ubuntu/RHEL x AWS/Azure

Deployed applications:
- RabbitMQ
- Ignite
- Auth Service
- PgBouncer
- Pgpool

[2020-10-01 11:10] to-bar commented on #1140
During testing I found [this regression bug in Elasticsearch v7.8.0](https://github.com/elastic/kibana/issues/69545). It was fixed in ES 7.8.1, see [PR](https://github.com/elastic/elasticsearch/pull/58418).

It's not possible to upgrade only Elasticsearch without Open Distro for Elasticsearch, for example:

[code]

ODFE just released new version (1.10.1), see [here](https://github.com/opendistro-f

[2020-10-01 11:51] rafzei opened #1719 "[BUG] Upgrade elasticsearch-oss to 7.9.1 & ODFE to the latest version (1.10.1)"
**Describe the bug**
During testing I found [this regression bug in Elasticsearch v7.8.0](https://github.com/elastic/kibana/issues/69545). It was fixed in ES 7.8.1, see [PR](https://github.com/elastic/elasticsearch/pull/58418).

**To Reproduce**
Steps to reproduce the behavior:
It's not possible to upgrade only Elasticsearch without Open Distro for Elasticsearch, for example:

[code]
**Expected be

[2020-10-01 15:28] to-bar opened #1721 "[BACKPORT] [RHEL/CentOS] epicli fails on downloading requirements - Docker CE repo not available - 0.4.x backport"
We need to backport task #1705 to version 0.4.x

[2020-10-01 15:36] to-bar opened #1722 "[BACKPORT] [RHEL/CentOS] epicli fails on downloading requirements - Docker CE repo not available - 0.5.x backport"
We need to backport task #1705 to version 0.5.x

[2020-10-01 15:38] to-bar opened #1723 "[BACKPORT] [RHEL/CentOS] epicli fails on downloading requirements - Docker CE repo not available - 0.6.x backport"
We need to backport task #1705 to version 0.6.x

[2020-10-01 15:43] to-bar opened #1724 "[BACKPORT] [RHEL/CentOS] epicli fails on downloading requirements - Docker CE repo not available - 0.7.x backport"
We need to backport task #1705 to version 0.7.x